<div class="row">
	<div class="col-md-2 offset-5" *ngIf="isLoading">
		<app-loading-spinner></app-loading-spinner>
	</div>
</div>

<div class="row mb-2">
	<div class="col-md-3">
		<label for="">Select List</label>
		<ng-select placeholder="Select Grade " [searchable]="true" [clearable]="true" bindLabel="name" bindValue="id"
			[items]="status" [(ngModel)]="listStatus" (ngModelChange)="filterList()">
		</ng-select>
	</div>
</div>

<div class="row" *ngIf="!isLoading">
	<div class="col-md-12">
		<p-table #dt [value]="paymentReqList" styleClass="ui-table-payment-req-list" [rowHover]="true" [rows]="100"
			[showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100,150,200]" [loading]="isLoading"
			[paginator]="true" [autoLayout]="true" [scrollable]="true" scrollHeight="400px"
			(onFilter)="onFilter($event, dt)"
			currentPageReportTemplate="Total Records : &#123;&#123;paymentReqList.length&#125;&#125; " [filterDelay]="0"
			[globalFilterFields]="['org_emp_name','category','record_id']">

			<ng-template pTemplate="caption">
				<div class="row">
					<div class="col-md-3">
						<input type="text" class="form-control"
							(input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
					</div>


				</div>

			</ng-template>

			<ng-template pTemplate="header">
				<tr>
					<th [style.width]="col.width" pSortableColumn="{{col.field}}" *ngFor="let col of cols">
						{{col.header}}</th>
				</tr>
				<tr>

					<th></th>
					<th>
						<div *ngIf="companyDistinctArr.length > 0 ">
							<p-multiSelect [options]="companyDistinctArr" placeholder="All"
								(onChange)="onchange($event,'company_name')" styleClass="ui-column-filter"
								optionLabel="company_name" appendTo="body">
								<ng-template let-opt pTemplate="item">

									<span>{{opt.label}}</span>

								</ng-template>
							</p-multiSelect>
						</div>
					</th>
					<th></th>
					<th>
						<div *ngIf="catArr.length > 0 ">
							<p-multiSelect [options]="catArr" placeholder="All" (onChange)="onchange($event,'category')"
								styleClass="ui-column-filter" optionLabel="category" appendTo="body">
								<ng-template let-opt pTemplate="item">

									<span>{{opt.label}}</span>

								</ng-template>
							</p-multiSelect>
						</div>
					</th>
					<th>
						<div *ngIf="orgEmpDistinct.length > 0 ">
							<p-multiSelect [options]="orgEmpDistinct" placeholder="All"
								(onChange)="onchange($event,'org_emp_name')" styleClass="ui-column-filter"
								optionLabel="org_emp_name" appendTo="body">
								<ng-template let-opt pTemplate="item">

									<span>{{opt.label}}</span>

								</ng-template>
							</p-multiSelect>
						</div>
					</th>
					<th colspan="5">
					</th>

					<th>
						<div *ngIf="request_by.length">
							<p-multiSelect [options]="request_by" placeholder="All" appendTo="body"
								(onChange)="onchange($event,'added_by_name')" optionLabel="added_by_name">
								<ng-template let-option pTemplate="item">

									<span>&#123;&#123;option.label&#125;&#125;</span>

								</ng-template>
							</p-multiSelect>
						</div>
					</th>
					<th colspan="5"></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-payableRequest let-index="rowIndex">
				<tr class="ui-selectable-row">
					<td style="width: 100px;">
						<span class="ui-column-title">Req.No.</span>
						{{payableRequest.id}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Company Name</span>
						{{getcompany(payableRequest.company_id)}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Reference ID</span>
						{{payableRequest.record_id ? payableRequest.record_id : ''}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Req. Category</span>
						{{payableRequest.category}}
					</td>

					<td style="width: 100px;">
						<span class="ui-column-title">Beneficiary</span>
						{{payableRequest.org_emp_name}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Amount</span>
						{{payableRequest.req_amount | currencyInr}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Advanced/Against Bill</span>
						{{getRequestText(payableRequest.advanced_agnst_bill)}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Advanced/Against Bill</span>
						{{getPriorityText(payableRequest.normal_priority)}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Remark</span>
						{{payableRequest.remark}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Approve Date</span>
						{{payableRequest.added_date | date:'dd/MM/yyyy h:mm:ss a'}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Approve By</span>
						{{payableRequest.added_by_name}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Added Date</span>
						{{payableRequest.approved_date | date:'dd/MM/yyyy h:mm:ss a'}}
					</td>
					<td style="width: 100px;">
						<span class="ui-column-title">Request By</span>
						{{payableRequest.approved_by_name}}
					</td>
					<td style="width: 200px;">
						<span class="ui-column-title">Bank</span>
						<select class="form-control" #bankref
							[disabled]="payableRequest.spipl_bank_id == 24 || payableRequest.spipl_bank_id == 28 || payableRequest.spipl_bank_id == 19"
							(change)="updateList(payableRequest,'spipl_bank_id',bankref.value, index, $event)">
							<option>Select Bank</option>
							<option *ngFor="let bank of spiplBankList" value="{{bank.id}}"
								[selected]="bank.id === payableRequest.spipl_bank_id">{{bank.bank_name}}
							</option>
						</select>
					</td>
					<td style="width: 200px;">
						<span class="ui-column-title">Paying Amount</span>
						<input type="text" #paid_amount numbersOnly class="form-control"
							(keyup)="updateList(payableRequest,'paid_amount',paid_amount.value, index)"
							value="{{payableRequest.paid_amount}}">
					</td>

					<td style="width: 100px;">
						<span class="ui-column-title">Application Status</span>
						<select #application
							(change)="updateList(payableRequest,'application_status',application.value, index, $event)"
							class="form-control">

							<option value="0" [selected]="payableRequest.application_status == 0">Not Required</option>
							<option value="1" [selected]="payableRequest.application_status == 1">Required</option>

						</select>
					</td>

				</tr>
			</ng-template>
			<ng-template pTemplate="footer">
				<tr>
					<td colspan="3" style="text-align: right;"> Total Amount: </td>
					<td>{{totalAmount | currencyInr}}</td>
					<td colspan="9"></td>
				</tr>

			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>

					<td colspan="14" style="text-align:left">No Records found.</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-4">
		<div *ngFor="let object of paymentReqList | goupbysum:'spiplbank':'paid_amount'">
			<p *ngIf="object['sum']!= '0' && object['sum']"> <strong> {{object['key']}} </strong> : {{object['sum'] |
				currencyInr}} </p>
		</div>
		<hr>
	</div>

	<div class="col-md-4">
		<div *ngFor="let object of paymentReqList | goupbysum:'org_emp_name':'paid_amount'">
			<p *ngIf="object['sum']!= '0' && object['sum']"> <strong> {{object['key']}} </strong> : {{object['sum'] |
				currencyInr}} </p>
		</div>
		<hr>
	</div>
	<div class="col-md-4">
		<div *ngFor="let object of paymentReqList | goupbysum:'category':'paid_amount'">
			<p *ngIf="object['sum']!= '0' && object['sum']"> <strong> {{object['key']}} </strong> : {{object['sum'] |
				currencyInr}} </p>
		</div>
		<hr>
	</div>
</div>
<button class="btn btn-primary" (click)="updateAll()">Submit</button>
<!-- <button type="button" class="btn btn-primary mr-1" (click)="updateAll()" mat-button matStepperNext>Update & Next</button>
 -->
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>