<!-- <div class="animated fadeIn">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-plus"></i> Add Rent Type Master
				</div>
				<div class="card-body">

					<!- - <form [formGroup]="chargesHeadsForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
						<div class="form-group">
							<label class="col-form-label" for="stage_id">Stage</label>
							<ng-select id="stage_id" formControlName="stage_id" placeholder="Select Stage"
								[searchable]="true" [clearable]="false" bindLabel="name" bindValue="id"
								[items]="stageList" required>
							</ng-select>
						</div>
						<div class="form-group">
							<label class="col-form-label" for="name">Name</label>
							<input class="form-control" id="name" type="text" formControlName="name"
								placeholder="Enter Head Name" required />
						</div>
						<div class="form-group">
							<button class="btn btn-primary mr-1" type="submit"
								[disabled]="chargesHeadsForm.pristine || chargesHeadsForm.invalid">Submit</button>
							<button class="btn btn-danger" type="reset"
								[disabled]="chargesHeadsForm.pristine && chargesHeadsForm.invalid">Reset</button>
						</div>
					</form> - ->
                    <form [formGroup]="rentTypeMasterForm" novalidate  (ngSubmit)="onSubmit()" class="needs-validation">
						<!- - <div class="form-group">
							<label class="col-form-label" for="stage_id">Stage</label>
							<ng-select id="stage_id" formControlName="stage_id" placeholder="Select Stage"
								[searchable]="true" [clearable]="false" bindLabel="name" bindValue="id"
								[items]="stageList" required>
							</ng-select>
						</div> - ->
						<div class="form-group">
							<label class="col-form-label" for="name">Type</label>
							<input class="form-control" id="type" type="text" formControlName="type"
								placeholder="Rent Type" required />
						</div>
                        <!- - <div class="form-group">
							<label class="col-form-label" for="name">Value</label>
							<input class="form-control" id="value" type="text" formControlName="value"
								placeholder="Packaging Value" required /><br>
							<span *ngIf="rentTypeMasterForm.errors" class="pt-1 form-control alert alert-danger">Enter Valid Value</span>
							</div>	 - ->
						<div class="form-group">
							<button class="btn btn-primary mr-1" type="submit"
								[disabled]="rentTypeMasterForm.pristine || rentTypeMasterForm.invalid">Submit</button>
							<button class="btn btn-danger" type="reset"
								[disabled]="rentTypeMasterForm.pristine && rentTypeMasterForm.invalid">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-eye"></i> View Rent Type Master
				</div>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-md-4 offset-md-8">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-search"></i></span>
								</div>
								<input type="text" class="form-control" [(ngModel)]="filterQuery"
									placeholder="Search by name" />
							</div>
						</div>
					</div>
					<div *ngIf="isLoading" style="text-align: center;">
						<app-loading-spinner></app-loading-spinner>
					</div>
					<table class="table table-striped table-hover table-responsive-lg"
						[mfData]="data | tableFilter : filterQuery:filterArray" #mf="mfDataTable" [mfRowsOnPage]="5"
						*ngIf="!isLoading">                     

                        
						<thead>
							<tr>
								<th>
									<mfDefaultSorter by="sr_no">#</mfDefaultSorter>
								</th>
								<th>Type</th>
								<!- - <th>Value</th> - ->
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i" [attr.id]="item.id">
								<td>{{i+1}}</td>
								<td>{{item.type}}</td>
								<!- - <td>{{item.value}}</td> - ->
								<td>
									<a style="cursor: pointer;" class="text-primary" (click)="onEdit(item.id)">
										<i class="fa fa-pencil p-1"></i>
									</a>
									<a style="cursor: pointer;" class="text-danger" mwlConfirmationPopover
										[popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
										[confirmText]="confirmText" [cancelText]="cancelText" [placement]="placement"
										[closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
										cancelButtonType="success" (confirm)="onDelete(item.id)"
										(cancel)="cancelClicked = true"><i class="fa fa-trash p-1"></i></a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6">
									<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]"></mfBootstrapPaginator>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- <toaster-container [toasterconfig]="toasterconfig"></toaster-container> -->


<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-4" *ngIf="add_opt">
        <div class="card">
          <div class="card-header">
            <i class="icon-user"></i> Rent Type Master
          </div>
          <div class="card-body"><!-- Angular Form Validation
            <hr> -->
            <div class="row">
              <div class="col-md-8">
                <form [formGroup]="qualificationForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                  <div class="form-group">
                    <label class="col-form-label" for="name">Rent Type</label>
                    <input class="form-control"
                           id="name"
                           type="text"
                           formControlName="type"
                           placeholder="Enter rent type"
                           autocomplete="given-name"
                           required
                           autofocus
                           [ngClass]="{ 'is-invalid': submitted && f.type.errors ,'is-valid': f.type.touched && !f.type.errors}" />
  
                           <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
                      <div *ngIf="f['type'].errors.required">Qualification is required</div>
                    </div>
                  </div>

                  <!--  [ngClass]="{ 'is-invalid': submitted && f.name.errors, 'is-valid': f.name.touched && !f.name.errors } -->
  
                  <div class="form-group">
                    <button class="btn btn-primary mr-1" type="submit" [disabled]="qualificationForm.pristine || qualificationForm.invalid">Submit</button>
                    <!-- <button class="btn btn-success mr-1" type="submit" [disabled]="qualificationForm.valid">Validate</button> -->
                    <button class="btn btn-danger" type="reset" [disabled]="qualificationForm.pristine && !submitted" (click)="onReset()">Reset</button>
                  </div>
                </form>
              </div>
             <!--  <div class="col-md-6">
                <div class="card bg-secondary" [ngClass]="{ 'bg-info' : qualificationForm.valid }">
                  <div class="card-body">
                    <pre>Value: <code>{{ qualificationForm.value | json }}</code></pre>
                    <p>
                      Status: {{ qualificationForm.status }}
                    </p>
                    <p>
                      Errors: {{ qualificationForm.errors | json }}
                    </p>
                  </div>
                </div>
               </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8" *ngIf="view_opt">
      <div class="card">
        <div class="card-header">
          <i class="icon-user"></i>  Rent Type List
        </div>
  
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4 offset-md-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
              </div>
            </div>
          </div>
          <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <table class="table table-striped table-hover table-responsive-lg"
          [mfData]="data | tableFilter : filterQuery:filterArray"
          #mf="mfDataTable"
          [mfRowsOnPage]="5"
          *ngIf="!error && !isLoading"
          >
            <thead>
              <tr>
                <th style="width: 8%">
                  <mfDefaultSorter by="name">Sr.No.</mfDefaultSorter>
                </th>
                <th style="width: 25%">
                  <mfDefaultSorter by="name">Type</mfDefaultSorter>
                </th>
                <th style="width: 10%" *ngIf="edit_opt">
                  <mfDefaultSorter by="edit">Edit</mfDefaultSorter>
                </th>
                <th style="width: 10%" *ngIf="del_opt">
                  <mfDefaultSorter by="delete">Delete</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i" [attr.id]="item.id">
                <td>{{i+1}}</td>
                <td>{{item.type}}</td>
                <td *ngIf="edit_opt"><a style="cursor: pointer;" (click)="onEdit(item.id)"><i class="fa fa-pencil"></i></a></td>
                <td *ngIf="del_opt"><a style="cursor: pointer;"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  [confirmText]="confirmText"
                  [cancelText]="cancelText"
                  [placement]="placement"
                  [closeOnOutsideClick]="closeOnOutsideClick"
                  confirmButtonType="danger"
                  cancelButtonType="success"
                  (confirm)="onDelete(item.id)"
                  (cancel)="cancelClicked = true"
                  ><i class="fa fa-trash"></i></a></td>
  
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        </div>
      </div>
    </div>
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  </div>
  <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="rentTypeUpdateForm" novalidate (ngSubmit)="onUpdate()" class="needs-validation">
        <div class="modal-header">
          <h4 class="modal-title">Update Rent Type</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-8">
              <div class="form-group">
                <label class="col-form-label" for="update_type">Rent Type</label>
                <input class="form-control"
                id="update_type"
                type="text"
                formControlName="update_type"
                placeholder="Enter Rent Type"
                autocomplete="given-name"
                required
                autofocus
                />
                <div *ngIf="updated && g['update_type'].errors" class="invalid-feedback">
                    <div *ngIf="g['update_type'].errors.required">Rent Type is required</div>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  