<div class="row" *ngIf="!isLoading">
  <div class="col-md-12" *ngIf="processPaymentList">
    <p-table #dt [value]="processPaymentList" styleClass="ui-table-payment-req-list" [rowHover]="true" [rows]="10"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100,150,200]" [loading]="isLoading"
      [paginator]="true" [autoLayout]="true" (onFilter)="onFilter($event, dt)" (onLazyLoad)="onFilter($event, dt)"
      currentPageReportTemplate="Total Records : &#123;&#123;processPaymentList.length&#125;&#125; "
      [columns] = "selected_cols"
      [globalFilterFields]="['company_id','org_emp_name','spiplbank','invoice_no','record_id']" *ngIf="processPaymentList">
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="col-md-7">
            <div class="form-inline">
              <div class="form-group mb-1 mr-2">
                <input pInputText [(ngModel)]="selected_date_range" (ngModelChange)="clearDropdown(); getData()"
                  [bsConfig]="datePickerConfig" #dp="bsDaterangepicker" bsDaterangepicker
                  placeholder="Choose Date Range" class="form-control page-filter" [disabled]="role_id != 1" />
                <app-dropdown-daterange class="ml-4" (dateEvent)="receiveDate($event)" *ngIf="role_id == 1"
                  [uploadSuccess]="uploadSuccess"></app-dropdown-daterange>
              </div>

            </div>
          </div>
          <div class="col-md-2">
            <button *ngIf="checkedList.length" class="btn btn-sm btn-primary" (click)="download()">Download Application
            </button>
          </div>
                    
          <div class="col-md-3">
            <input pInputText class='form-control' type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
          </div>
          
        </div>

      </ng-template>
      
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="{{col.field}}" *ngFor="let col of cols"
            [style.width]='col.style'>
            {{col.header}}
            <p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns">
            <p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
              defaultLabel="All"
              (onChange)="customFilter($event.value, col.field, 'in')">
            </p-multiSelect>
          </th>       
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-processPaymentList let-index="rowIndex">
        <tr class="ui-selectable-row">
          <td>
            <input type="checkbox" [value]="processPaymentList"
              *ngIf="processPaymentList.application_status == 1 && processPaymentList.paid_date!=null && processPaymentList.account_type!=null && processPaymentList.cheque_no!=null"
              #inputs #checkboxes (click)="onChange(checkboxes.checked,processPaymentList)">
          </td>

          <td>
            <span class="ui-column-title">Company</span>
            {{processPaymentList.company_id}}
          </td>
          <td>
            <span class="ui-column-title"> Req. Date</span>
            {{processPaymentList.req_date}}
          </td>
          <td>
            <span class="ui-column-title">Beneficiary</span>
            {{processPaymentList.org_emp_name}}
          </td>
          <td>
            <span class="ui-column-title">Bank</span>
            {{processPaymentList.spiplbank}}
          </td>
          <td>
            <span class="ui-column-title">Invoice No.</span>
            {{processPaymentList.invoice_no}}
          </td>
          <td>
            <span class="ui-column-title">Reference ID</span>
            {{processPaymentList.record_id}}
          </td>
          <td>
            <span class="ui-column-title">Paying Amount</span>
            {{ processPaymentList.paidAmount | currency: 'INR' }}
          </td>          
          <td>
            <span class="ui-column-title">Action</span>
            <button *ngIf="processPaymentList.application_status == 1" class="btn btn-sm btn-primary"
              (click)="createApp(processPaymentList)">Create Application </button>

            <a *ngIf="processPaymentList.request_status == 1 && !processPaymentList.utr_no || !processPaymentList.paidAmount" class="btn btn-outline-danger btn-sm action-btn mr-1 mb-1"
              data-toggle="tooltip" data-placement="top" title="Reject Request" mwlConfirmationPopover
              [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" [confirmText]="confirmText"
              [cancelText]="cancelText" [placement]="placement" closeOnOutsideClick="true" confirmButtonType="success"
              cancelButtonType="danger" (confirm)="onAction(processPaymentList, 'Reject')" (cancel)="cancelClicked = true">
              <i class="fa fa-remove"></i>
            </a>

            <a *ngIf="processPaymentList.request_status == 1" class="btn btn-outline-info btn-sm action-btn mr-1 mb-1" data-toggle="tooltip" data-placement="top"
              title="Edit Order" (click)="onAction(processPaymentList, 'Edit')">
              <i class="fa fa-pencil"></i>
            </a>
          </td>
          <td>
            <span class="ui-column-title">UTR NO.</span>
            {{processPaymentList.utr_no}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total: {{ totalPaid | currency: 'INR' }}</td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" style="text-align:left">No Records found.</td>
        </tr>
      </ng-template>
    </p-table>



    <div class="row mt-5">
      <div class="col-md-4">
        <div *ngFor="let object of processPaymentList | goupbysum:'spipl_bank.bank_name':'paidAmount'">
          <p *ngIf="object['sum']!= '0' && object['sum']"> <strong> {{object['key']}} </strong> : {{object['sum'] |
            currencyInr}} </p>
        </div>
        <hr>
      </div>


    </div>
  </div>
</div>
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop:'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="addBankDetailsForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">Create Application </h4>
          <button type="button" class="close" (click)=" oncloseModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="paid_date" class="col-form-label">Paid Date</label>
                <input type="text" id="paid_date" formControlName="paid_date" class="form-control" [minDate]="minDate"
                  [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                  #dp="bsDatepicker" bsDatepicker readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="ref_no" class="col-form-label">Reference No.</label>
                <input type="text" id="ref_no" formControlName="ref_no" class="form-control">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="ref_no" class="col-form-label">Category</label>
                <select class="form-control" formControlName="neft_rtgs">
                  <option value="">Select Category</option>
                  <option value="1">NEFT</option>
                  <option value="2">RTGS</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="ref_no" class="col-form-label">Account Type</label>
                <select class="form-control" formControlName="account_type">
                  <option value="">Select Account</option>
                  <option value="1">CASH CREDIT</option>
                  <option value="2">CURRENT</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="ref_no" class="col-form-label">Cheque No.</label>
                <input type="text" formControlName="cheque_no" class="form-control">
              </div>
            </div>


            <div class="col-md-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Beneficiary</th>
                    <th>Bank Name</th>
                    <th>Branch Name</th>
                    <th>Account No.</th>
                    <th>IFSC Code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of bank_list; let indexOfelement=index;">
                    <td>
                      <input type="radio" name="selected_bank" (change)="onBankSelect(item)"
                        [checked]="checkPastSelected(item)">
                    </td>
                    <td>{{item.beneficiary_name}}</td>
                    <td>{{item.bank_name}}</td>
                    <td>{{item.bank_branch_name}}</td>
                    <td>{{item.bank_account_no}}</td>
                    <td>{{item.ifsc_code}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary mr-1" type="submit"
            [disabled]="addBankDetailsForm.pristine || addBankDetailsForm.invalid">
            <i class="fa fa-dot-circle-o"></i>Submit</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #updateRecordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop:'static'}">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <form [formGroup]="updateUtrAmount" novalidate (ngSubmit)="update()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">Update Payment</h4>
          <button type="button" class="close" (click)=" oncloseModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="amount" class="col-form-label">Paid Amount</label>
                <input type="number" id="amount" formControlName="amount" class="form-control" [readonly]="utr_no != null">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="utr_no" class="col-form-label">UTR No.</label>
                <input type="text" id="utr_no" formControlName="utr_no" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary mr-1" type="submit"
            [disabled]="updateUtrAmount.pristine || updateUtrAmount.invalid">Update</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>