<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-4" *ngIf="add_opt">
			<div class="card">
				<div class="card-header">
					<i class="icon-list"></i> Courier Master {{mode}}
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-8">
							<form [formGroup]="courierForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation"
								autocomplete="off">
								<div class="form-group">
									<label class="col-form-label" for="name">Courier Name</label>
									<input class="form-control" id="name" type="text" formControlName="name"
										placeholder="Enter Courier Name" />
								</div>
								<div class="form-group">
									<button class="btn btn-primary mr-1" type="submit"
										[disabled]="courierForm.pristine || courierForm.invalid">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8" *ngIf="view_opt">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-eye"></i> Couriers List
				</div>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-md-4 offset-md-8">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-search"></i></span>
								</div>
								<input type="text" class="form-control" [(ngModel)]="filterQuery"
									placeholder="Search by name" />
							</div>
						</div>
					</div>
					<div *ngIf="isLoading" style="text-align: center;">
						<app-loading-spinner></app-loading-spinner>
					</div>
					<table class="table table-striped table-hover table-responsive-lg"
						[mfData]="courier | tableFilter : filterQuery:filterArray" #mf="mfDataTable" [mfRowsOnPage]="5"
						*ngIf="!isLoading">
						<thead>
							<tr>
								<th>
									<mfDefaultSorter by="sr_no">Sr. No.</mfDefaultSorter>
								</th>
								<th>
									<mfDefaultSorter by="name">Name</mfDefaultSorter>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i" [attr.id]="item.id">
								<td>{{i+1}}</td>
								<td>{{item.name}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6">
									<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]"></mfBootstrapPaginator>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>


	</div>
</div>