<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-inr"></i> <b>{{card_title}}</b>
        </div>
        <form [formGroup]="addExpenseForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="expense_date" class="col-form-label"><b>Expense Date</b></label>
                  <i class="fa fa-calendar"></i>
                  <input type="text" id="expense_date" formControlName="expense_date" class="form-control"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                    bsDatepicker readonly>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="category_id"><b>Select Category</b></label>
                  <ng-select id="category_id" formControlName="category_id" placeholder="Select Category"
                    [searchable]="true" [clearable]="true" bindLabel="category" bindValue="id" [items]="category">
                  </ng-select>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="amount"><b>Amount</b></label>
                  <i class="fa fa-inr"></i>
                  <input class="form-control" id="amount" formControlName="amount" type="text"
                    placeholder="Enter Amount" required autofocus>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="service_provider"><b>Service Provider</b></label>
                  <input class="form-control" id="service_provider" formControlName="service_provider" type="text"
                    placeholder="Enter Service Provider" autofocus>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="company_id"><b>Select Organization</b></label>
                  <ng-select id="company_id" formControlName="company_id" placeholder="Select Organisation"
                    [searchable]="true" [clearable]="true" bindLabel="sub_org_name" bindValue="sub_org_id"
                    [items]="sub_organisation">
                  </ng-select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="emp_id"><b>Select Employee</b></label>
                  <ng-select id="emp_id" formControlName="emp_id" class="bootstrap" placeholder="Select Employees"
                    bindLabel="first_name" bindValue="id" [multiple]="true" [items]="empData">
                  </ng-select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="trip_id"><b>Select Trip</b></label>
                  <ng-select id="trip_id" formControlName="trip_id" placeholder="Select Trip" [searchable]="true"
                    [clearable]="true" bindLabel="trip_name" bindValue="id" [items]="tripData">
                  </ng-select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="status"><b>Status</b></label>
                  <select class="form-control" id="status" name="status" formControlName="status" disabled>
                    <option value="0">Pending</option>
                    <option value="1">Approved</option>
                    <option value="2">Rejected</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="invoice_no"><b>Invoice Number</b></label>
                  <input class="form-control" id="invoice_no" formControlName="invoice_no" type="text"
                  placeholder="Enter Invoice No." required>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="status"><b>Division </b></label>
                  <ng-select placeholder="Select " [searchable]="true" [clearable]="true" bindLabel="value"
                    bindValue="id" [items]="companyList" formControlName="division_type">
                  </ng-select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="status"><b>Import/Local </b></label>
                  <ng-select placeholder="Select " [searchable]="true" [clearable]="true" bindLabel="value"
                    bindValue="id" [items]="importLocalList" formControlName="import_local_flag">
                  </ng-select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="expense_copy"><b>Expense Copies</b></label>
                  <input type="file" multiple id="expense_copy" name="expense_copy" formControlName="expense_copy"
                    (change)="fileChangeEvent($event,'expense_copy')">
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-grou">
                  <label for="description"><b>Description</b></label>
                  <textarea formControlName="description" id="description" rows="2" class="form-control"
                    placeholder="Enter Description" required></textarea>
                </div>
              </div>
              
          
            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn-primary mr-1" type="submit" [disabled]="addExpenseForm.invalid">
              <i class="fa fa-dot-circle-o"></i>Submit</button>

            <button class="btn btn-danger" type="reset" [disabled]="addExpenseForm.pristine && !submitted"
              (click)="onReset()" [hidden]="editMode"><i class="fa fa-ban"></i>Reset</button>
            <button class="btn btn-primary" type="button" (click)="onBack()"><i class="fa fa-undo"></i>Back</button>
          </div>

        </form>


      </div>

    </div>
  </div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>