<div class="animated fadeIn custom_body">
    <div class="row">
        <div class="col-md-12 p-0" *ngIf="view_opt">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fa fa-list"></i> {{ page_title }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p-table #dt dataKey="id" styleClass="im_l_request_table" [value]="data" [rows]="10"
                                [showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
                                [loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
                                [globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
                                (onLazyLoad)="onFilter($event, dt)"
                                currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-inline">
                                                <a class="btn btn-success text-white mb-1 mr-2"
                                                    (click)="exportData('Excel')" data-toggle="tooltip"
                                                    data-placement="top" title="Excel">
                                                    <i class="fa fa-file-excel-o"></i>
                                                    <span class="export-text d-none">Excel</span>
                                                </a>
                                                <a class="btn btn-danger text-white mb-1 mr-2"
                                                    (click)="exportData('PDF')" data-toggle="tooltip"
                                                    data-placement="top" title="PDF">
                                                    <i class="fa fa-file-pdf-o"></i>
                                                    <span class="export-text d-none">PDF</span>
                                                </a>
                                                <div class="form-group mb-1 mr-1">
                                                    <input pInputText [(ngModel)]="selected_date_range"
                                                        (ngModelChange)="getCols()" [bsConfig]="datePickerConfig"
                                                        #dp="bsDaterangepicker" [maxDate]="maxDate" bsDaterangepicker
                                                        placeholder="Choose Date Range" class="form-control page-filter"
                                                        readonly/>
                                                        <app-dropdown-daterange class="ml-4" (dateEvent)="receiveDate($event)" [uploadSuccess] = "uploadSuccess" ></app-dropdown-daterange>
                                                </div>
                                                <div class="form-group mb-1 mr-1">
                                                    <p-dropdown [options]="statusList" [(ngModel)]="selected_status"
                                                        optionLabel="name" (onChange)="onChangeStatus($event)">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="w-100 mt-1 pull-right">
                                                <input pInputText type="text" class="form-control"
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Global Search" />
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th class="text-center">Id</th>
                                        <th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
                                            <div class="flex justify-content-between align-items-center">
                                                <div>
                                                    <p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
                                                    {{col.header}}
                                                </div>
                                            </div>
                                        </th>
                                        <th class="text-center" *ngIf="selected_status.id == 0">SO Details</th>
                                        <th class="text-center" *ngIf="selected_status.id == 1">Action</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th *ngFor="let col of columns">
                                            <p-multiSelect *ngIf=" col.filter" [options]="col.dropdown"
                                                placeholder=" Any"
                                                (onChange)="customFilter($event.value, col.field, 'in')"
                                                [style]="{'width': '100%'}">
                                            </p-multiSelect>
                                        </th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                    <tr *ngIf="selected_status.id == 0">
                                        <td class="text-center">{{rowIndex + 1}}</td>
                                        <td>{{rowData.pi_id}}</td>
                                        <td>{{rowData.supplier_name}}</td>
                                        <td>{{rowData.pi_no}}</td>
                                        <td>{{rowData.port_name}}</td>
                                        <td>{{rowData.grade_name}}</td>
                                        <td>{{rowData.po_quantity}}</td>
                                        <td>{{rowData.po_link_bal_qty}}</td>
                                        <td class="text-center">

                                            <button
                                                *ngIf="rowData.sales_details.length > 0 && rowData.po_link_bal_qty > 0"
                                                type="button" class="btn btn-primary"
                                                (click)="onAction(rowData, 'View', null)" pTooltip="View Sales List">
                                                <i class="pi pi-eye"></i> SO Link
                                            </button>
                                            <span
                                                *ngIf="rowData.sales_details.length == 0 ||rowData.po_link_bal_qty == 0"
                                                class="text-pink-500">No SO
                                                Found</span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="selected_status.id == 1">
                                        <td class="text-center">{{rowData.id}}</td>
                                        <td>{{rowData.p_id}}</td>
                                        <td>{{rowData.supplier_name}}</td>
                                        <td>{{rowData.so_no}}</td>
                                        <td>{{rowData.buyer_name}}</td>
                                        <td>{{rowData.proform_invoice_no}}</td>
                                        <td>{{rowData.port_name}}</td>
                                        <td>{{rowData.grade_name}}</td>
                                        <td>{{rowData.so_link_qty}} </td>
                                        <td class="text-center">
                                            <a class="btn btn-outline-danger custom-action-btn" data-toggle="tooltip"
                                                data-placement="left" title="Delete" mwlConfirmationPopover
                                                [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                                                [confirmText]="confirmText" [cancelText]="cancelText"
                                                [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                                                cancelButtonType="success"
                                                (confirm)="onAction(rowData, 'Delete_Link', $event)"
                                                (cancel)="cancelClicked = true"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer" let-columns>
                                    <tr>
                                        <td></td>
                                        <td *ngFor="let col of columns">
                                            <strong *ngIf="col.type == 'Quantity'">
                                                Total: {{ col.total | number }} MT
                                            </strong>
                                            <strong *ngIf="col.type == 'Amount'">
                                                Total: {{ col.total | currency:'USD' }}
                                            </strong>
                                        </td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="cols.length + 1" class="text-center">
                                            No Data Found
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div bsModal #showSalesLinkingModel="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="View Deal" aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-eye"></i> Sales Purchase Linking
                </h4>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p-table #dt2 [value]="so_details" dataKey="id" styleClass="p-datatable-gridlines" [rowHover]="true"
                [rows]="10" [rowsPerPageOptions]="[10,25,50,100]" [loading]="isLoading" [paginator]="true"
                [filterDelay]="0" [globalFilterFields]="filter">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between table-header">
                        <div>
                            <!--  -->
                        </div>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search Keyword" class="p-inputtext p-component p-element w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="text-center">#</th>
                        <th>SO Number</th>
                        <th>Buyer</th>
                        <th>Pi Number</th>
                        <th>SO Quantity</th>
                        <th>Grade</th>
                        <th>Port Name</th>
                        <th>SO Balance Quantity</th>
                        <th class="text-center">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td class="text-center">{{rowIndex + 1}}</td>
                        <td>{{rowData.so_no}}</td>
                        <td>{{rowData.buyer_name}}</td>
                        <td>{{po_details.pi_no}}</td>
                        <td>{{rowData.so_quantity}}</td>
                        <td>{{rowData.grade_name}}</td>
                        <td>{{rowData.port_name}}</td>
                        <td>{{rowData.so_link_bal_qty}}</td>
                        <td class="text-center">
                            <button class="btn btn-primary custom-action-btn" data-toggle="tooltip"
                                data-placement="left" title="SO Link" mwlConfirmationPopover
                                [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageSoLink"
                                [confirmText]="confirmText" [cancelText]="cancelText"
                                [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="success"
                                cancelButtonType="danger" (confirm)="onAction(rowData, 'Sales_Order', null)"
                                (cancel)="cancelClicked = true"><i class="pi pi-eye"></i> Link</button>
                            <!-- <button *ngIf="po_details.po_link_bal_qty >= rowData.so_link_bal_qty" type="button"
                                class="btn btn-primary" (click)="onAction(rowData, 'Sales_Order', null)"
                                pTooltip="Link Sales Order">
                                <i class="pi pi-link"></i> Link
                            </button> -->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="5" class="text-center">
                            No Data Found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>





<toaster-container [toasterconfig]="toasterconfig"></toaster-container>