.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    text-align: left !important;
}

.custom_body .ui-dropdown {
    margin-left: 8px !important;
}

.custom_body .ui-dropdown .ui-dropdown-label {
    padding: 4px !important;
    text-align: left !important;
}