<div class="animated fadeIn">
	<form [formGroup]="ruleForm" novalidate (ngSubmit)="onSubmit()" [hidden]="!formView">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<i class="icon-clock"></i> {{mode}} {{box_title}}
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-4 col-md-3">
								<div class="form-group">
									<label for="emp_type" class="col-form-label">Employee Type</label>
									<select class="form-control" id="emp_type" name="emp_type"
										formControlName="emp_type">
										<option *ngFor="let type of employee_type" [value]="type.id" >{{type.name}}</option>
										<!-- <option value="">Select Type</option>
										<option value="1">Employee</option>
										<option value="2">Office Boy</option>
										<option value="3">Maid-1</option>
										<option value="4">Maid-2</option>
										<option value="5">Godown Keeper</option> -->
									</select>
								</div>
							</div>
							<div class="col-4 col-md-2">
								<div class="form-group">
									<label class="col-form-label" for="financial_year">Year</label>
									<input type="text" class="form-control" id="financial_year" formControlName="financial_year" y placeholder="Enter Year"
									[(ngModel)]="curr_year" numbersOnly>
								</div>
							</div>
							<div class="col-4 col-md-2">
								<div class="form-group">
									<label class="col-form-label" for="yearly_leaves">Leaves</label>
									<input type="text" class="form-control" id="yearly_leaves"
										formControlName="yearly_leaves" placeholder="Enter Yearly Leaves" numbersOnly>
								</div>
							</div>
							<div class="col-4 col-md-2">
								<div class="form-group">
									<label class="col-form-label" for="yearly_late">Late Marks</label>
									<input type="text" class="form-control" id="yearly_late"
										formControlName="yearly_late" placeholder="Yearly Late Mark" numbersOnly>
								</div>
							</div>
							<div class="col-4 col-md-2">
								<div class="form-group">
									<label class="col-form-label" for="yearly_early">Early</label>
									<input type="text" class="form-control" id="yearly_early"
										formControlName="yearly_early" placeholder="Enter Yearly Early " numbersOnly>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-md-2">
								<div class="form-group">
									<label class="col-form-label" for="">In Time</label>
									<timepicker [(ngModel)]="intime" formControlName="in_time"></timepicker>
								</div>
							</div>
							<div class="col-6 col-md-2">
								<div class="form-group">
									<label class="col-form-label" for="">Out Time</label>
									<timepicker [(ngModel)]="outtime" formControlName="out_time"></timepicker>
								</div>
							</div>
							<div class="col-6 col-md-2">
								<div class="form-group">
									<label class="col-form-label" for="">Late Time</label>
									<timepicker [(ngModel)]="late_mark" formControlName="late_mark"></timepicker>
								</div>
							</div>
							<div class="col-6 col-md-2">
								<div class="form-group">
									<label class="col-form-label" for="">Early Time</label>
									<timepicker [(ngModel)]="early_mark" formControlName="early_mark"></timepicker>
								</div>
							</div>
							<div class="col-6 col-md-2">
								<div class="form-group">
									<label class="col-form-label" for="">First Half Day</label>
									<timepicker [(ngModel)]="first_half_day" formControlName="first_half_day"></timepicker>
								</div>
							</div>
							<div class="col-6 col-md-2">
								<div class="form-group">
									<label class="col-form-label" for="">Second Half Day</label>
									<timepicker [(ngModel)]="second_half_day" formControlName="second_half_day"></timepicker>
								</div>
							</div>
						</div>
					</div>

					<div class="card-footer">
						<button class="btn btn-primary mr-1" type="submit"
							[disabled]="ruleForm.pristine || ruleForm.invalid">
							<i class="fa fa-dot-circle-o"></i>Submit</button>

						<button class="btn btn-danger" type="reset" *ngIf="!editMode"><i
								class="fa fa-ban"></i>Reset</button>
						<button class="btn btn-primary" type="button" (click)="onBack()"><i
								class="fa fa-undo"></i>Back</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="row" [hidden]="!viewForm">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<i class="icon-clock"></i>Attendance Rules
					<button class="btn btn-outline-primary active pull-right" (click)="onAdd()" *ngIf="add_opt"> + Add
						Rule</button>
				</div>
				<div class="card-body">
					<p-table #dt [value]="rulesList" (onFilter)="onFilter($event, dt)" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
						[rowsPerPageOptions]="[10,25,50]" [loading]="isLoading" [paginator]="true" [autoLayout]="true"
						[resizableColumns]="true"
						currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries"
						[filterDelay]="0"
						[globalFilterFields]="['id','empType','financial_year','in_time','out_time','late_mark','early_mark','first_half_day','second_half_day','yearly_leaves','yearly_late','yearly_early']">
						<ng-template pTemplate="caption">
							<div class="ui-table-globalfilter-container">
								<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
									placeholder="Search" />
							</div>
							<div class="ui-helper-clearfix" style="text-align: left">
								<button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
									(click)="exportExcel()" style="margin-right: 0.5em;"
									class="ui-button-success"></button>
								<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF"
									(click)="exportPdf()" class="ui-button-warning"></button>
							</div>
						</ng-template>
						<ng-template pTemplate="header">
							<tr>
								<th pResizableColumn pSortableColumn="{{col.field}}" *ngFor="let col of cols">
									{{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
								</th>
								<th pResizableColumn *ngIf="edit_opt"> Edit</th>
								<th pResizableColumn *ngIf="del_opt"> Delete</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rulesList>
							<tr class="ui-selectable-row">
								<td class="ui-resizable-column">
									<span class="ui-column-title">Sr. No.:</span>
									{{rulesList.id}}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">Emp. Type:</span>
									{{ rulesList.empType }}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">Year:</span>
									{{rulesList.financial_year}}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">In time:</span>
									{{rulesList.in_time}}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">Out time: </span>
									{{rulesList.out_time}}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">Late time: </span>
									{{rulesList.late_mark}}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">Early time: </span>
									{{rulesList.early_mark}}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">First HF Day: </span>
									{{rulesList.first_half_day}}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">Second HF Day: </span>
									{{rulesList.second_half_day}}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">Leaves: </span>
									{{rulesList.yearly_leaves}}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">Late: </span>
									{{rulesList.yearly_late}}
								</td>
								<td class="ui-resizable-column">
									<span class="ui-column-title">Early: </span>
									{{rulesList.yearly_early}}
								</td>
								<td *ngIf="edit_opt">
									<span class="ui-column-title">&nbsp;&nbsp;&nbsp;</span>
									<button pButton pRipple icon="pi pi-pencil"
										class="p-button-rounded p-button-success p-mr-2"
										(click)="onEdit(rulesList.id)"></button>
								</td>
								<td *ngIf="del_opt">
									<span class="ui-column-title">&nbsp;&nbsp;&nbsp;</span>
									<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
										mwlConfirmationPopover [popoverTitle]="popoverTitle"
										[popoverMessage]="popoverMessage" [confirmText]="confirmText"
										[cancelText]="cancelText" [placement]="placement"
										[closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
										cancelButtonType="success" (confirm)="onDelete(rulesList.id)"
										(cancel)="cancelClicked = true"></button>
								</td>

							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td colspan="8" style="text-align:left">No Records found.</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>


</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>