
<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					<i class="icon-user"></i>Petrochemical Manufacture and Supply Destination Master
				</div>
				<div class="card-body">
					<div class="row" *ngIf="add_opt">
						<div class="col-md-12">
							<form [formGroup]="manuSupplyStationForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation"
								autocomplete="off">
								<div class="row">
                                    <div class="col-md-12">
										<div class="form-group">
											<label class="col-form-label" for="org_id">PetroChemical Manufacturer</label>
											<ng-select id="org_id" formControlName="org_id" bindLabel="org_name"
												bindValue="org_id" placeholder="Select" [items]="petroChemicalManufature"
												[clearable]="true" [searchable]="true">
											</ng-select>
										</div>
									</div>
                                    <div class="col-md-12">
										<div class="form-group">
											<label class="col-form-label" for="city_id">City</label>
											<ng-select id="city_id" formControlName="city_id" bindLabel="city_name"
												bindValue="city_id" placeholder="Select" [items]="allIndiaCities"
												[clearable]="true" [searchable]="true">
											</ng-select>
										</div>
									</div>
									

                                   
									
									<div class="col-md-12">
										<div class="form-group">
											<button class="btn btn-primary mr-1" type="submit"
												[disabled]="manuSupplyStationForm.pristine || manuSupplyStationForm.invalid">Submit</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		 <div class="col-md-8" *ngIf="view_opt">
			<div class="card">
				<div class="card-header">
					<i class="icon-user"></i> Manufacture Supply Station
				</div>
				<div class="card-body">
					<div class="row mb-3">
						
						<div class="col-md-4 offset-md-4">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-search"></i></span>
								</div>
								<input type="text" class="form-control" [(ngModel)]="filterQuery"
									placeholder="Search by name" />
							</div>
						</div>
					</div>
					<div *ngIf="isLoading" style="text-align: center;">
						<app-loading-spinner></app-loading-spinner>
					</div>
					<table class="table table-striped table-hover table-responsive-lg"
						[mfData]="data | tableFilter : filterQuery:filterArray" #mf="mfDataTable" [mfRowsOnPage]="5"
						*ngIf=" !isLoading">
						<thead>
							<tr>
								<th style="width: 8%">
									<mfDefaultSorter>Sr.No.</mfDefaultSorter>
								</th>
								<th style="width: 25%">
									<mfDefaultSorter by="main_org">Manufacture</mfDefaultSorter>
								</th>

								<th style="width: 25%">
									<mfDefaultSorter by="city_name">Destination</mfDefaultSorter>
								</th>
								<th style="width: 25%">
									<mfDefaultSorter by="state_name">State</mfDefaultSorter>
								</th>
								<th style="width: 10%" *ngIf="edit_opt">
									<mfDefaultSorter by="edit">Edit</mfDefaultSorter>
								</th>
								<th style="width: 10%" *ngIf="del_opt">
									<mfDefaultSorter by="delete">Delete</mfDefaultSorter>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i" [attr.id]="item.id">
								<td>{{i+1}}</td>
								<td>{{item.org_name}}</td>
                                <td>{{item.city_name}} </td>
                                <td>{{item.state_name}}</td>
								
								<td *ngIf="edit_opt"><a style="cursor: pointer;" (click)="onEdit(item)"><i
											class="fa fa-pencil"></i></a></td>
								<td *ngIf="del_opt"><a style="cursor: pointer;" mwlConfirmationPopover
										[popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
										[confirmText]="confirmText" [cancelText]="cancelText" [placement]="placement"
										[closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
										cancelButtonType="success" (confirm)="onDelete(item.id)"
										(cancel)="cancelClicked = true"><i class="fa fa-trash"></i></a></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5">
									<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]"></mfBootstrapPaginator>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div> 
	</div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>