<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">

            <div class="card-header">
              <i class="fa fa-compass  fa-2x"></i> <b>{{card_title}}</b>
            </div>

            <form [formGroup]="addTripForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                            <label for="trip_name" class="col-form-label"><b>Trip name</b></label>
                            <input class="form-control"
                            id="trip_name"
                            formControlName="trip_name"
                            type="text"
                            placeholder="Enter Trip Name"
                            required
                            autofocus>
                            </div>
                        </div>


                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="agend_id"><b>Select Company</b></label>
                              <ng-select
                              id="agend_id"
                              formControlName="agend_id"
                              placeholder="Select Agent"
                              [searchable]="true"
                              [clearable]="true"
                              bindLabel="sub_org_name"
                              bindValue="sub_org_id"
                              [items]="sub_organisation"
                              >
                              </ng-select>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="status"><b>Status</b></label>
                              <select
                                class="form-control"
                                id="status"
                                name="status"
                                formControlName="status">
                                <option value="0">Pending</option>
                                <option value="1">Completed</option>
                                <option value="2">Cancelled</option>
                                </select>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-grou">
                              <label for="description"><b>Description</b></label>
                              <textarea
                              formControlName="description"
                              id="description"
                              rows="2"
                              class="form-control"
                              placeholder="Enter Description"></textarea>
                            </div>
                          </div>



                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="credit_note"><b>Credit Note</b></label>
                              <input type="file"
                              id="credit_note"
                              name="credit_note"
                              formControlName="credit_note"
                              (change)="fileChangeEvent($event)"
                              multiple>
                            </div>
                          </div>

                    </div>
                </div>

                <div class="card-footer">

                <button class="btn btn-primary mr-1" type="submit"  [disabled]="addTripForm.invalid">
                  <i class="fa fa-dot-circle-o"></i>Submit</button>
                   <button class="btn btn-danger" type="reset"
                   [disabled]="addTripForm.pristine && !submitted"
                   (click)="onReset()"
                   [hidden]="editMode" ><i class="fa fa-ban"></i>Reset</button>
                  <button class="btn btn-primary" type="button"
                   (click)="onBack()"
                   ><i class="fa fa-undo"></i>Back</button>
                </div>

            </form>


        </div>

        </div>
    </div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
