.org-table {
	padding: 3px 6px !important;
	// width: 50% !important;
}
.org_data_list {
	padding-left: 18px !important;
	margin-bottom: 0 !important;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
.contact_list li {
	padding: 0 3px !important;
}
.action-btn {
	padding: 0px 5px !important;
}