<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>
						<div class="col-md-6 text-right">
							<!-- <p-multiSelect [options]="orgCategories" [(ngModel)]="selectedOrgCategories"
								optionLabel="cont_type" (onChange)="onAction(null, 'Org_Category', $event)">
							</p-multiSelect> -->
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt dataKey="id" styleClass="wa_broadcast_table" [value]="data" [rows]="10"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								[globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
								(onLazyLoad)="onFilter($event, dt)"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">								
												<div class="form-group mb-1">
													<p-multiSelect [options]="orgCategories" [(ngModel)]="selectedOrgCategories"
														optionLabel="cont_type" (onChange)="onAction(null, 'Org_Category', $event)">
													</p-multiSelect>
												</div>
												<div class="form-group mb-1">
													<p-dropdown [options]="companyList" [(ngModel)]="division_ids"
													optionLabel="name" defaultLabel="All"
													(onChange)="onAction(null, 'Org_Division', $event)"></p-dropdown>
												</div>&nbsp;
												<a *ngIf="checked.length > 0"
													class="btn btn-success text-white mb-1 mr-2"
													(click)="onAction(null, 'Transfer', null)" data-toggle="tooltip"
													data-placement="top" title="Transfer">
													<i class="fa fa-whatsapp"></i>
													<span class="export-text">Send WhatsApp</span>
												</a>
											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											<div *ngIf="col.type == null">
												{{col.header}}
												<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
											</div>
											<div *ngIf="col.type == 'Check'" class="text-center">
												<p-tableHeaderCheckbox (click)="onAction(null, 'Check_All', a.checked)"
													#a></p-tableHeaderCheckbox>
											</div>
										</th>
									</tr>
									<tr>
										<th *ngFor="let col of columns">
											<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
												defaultLabel="All"
												(onChange)="customFilter($event.value, col.field, 'in')">
											</p-multiSelect>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData>
									<tr class="ui-selectable-row">
										<td *ngFor="let col of cols" width="col.width">
											<div *ngIf="col.field != 'action'">
												<span class="ui-column-title">{{ col.header }}: </span>
												<div *ngIf="col.type == null">
													<div *ngIf="col.field != 'is_transfered_status'">
														{{ rowData[col.field] }}
													</div>
													<div *ngIf="col.field == 'is_transfered_status'">
														<button *ngIf="rowData.is_transfered == 1"
															class="btn btn-success btn-sm custom-badge-new">
															Sent
														</button>
														<button *ngIf="rowData.is_transfered == 0"
															class="btn btn-warning btn-sm custom-badge-new">
															Pending
														</button>
													</div>
												</div>
												<div *ngIf="col.type == 'Check'" class="text-center">
													<p-checkbox *ngIf="rowData.is_transfered == 0" value="rowData"
														[value]="rowData" [inputId]="rowData.id" [(ngModel)]="checked"
														(ngModelChange)="onAction(rowData, 'Check', $event)">
													</p-checkbox>
												</div>
											</div>
											<div *ngIf="col.field == 'action'">
												<a class="btn btn-outline-dark btn-sm action-btn mb-2 mr-1"
													data-toggle="tooltip" data-placement="top" title="View"
													(click)="onAction(rowData, 'View', null)">
													<i class="fa fa-eye"></i>
												</a>
											</div>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- TRANSFER MODAL -->
<div bsModal #transferModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Change Organization" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="transferForm" novalidate (ngSubmit)="submitTransferForm()" class="needs-validation"
				autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-refresh"></i> Select Message Type</h4>
					<button type="button" class="close" (click)="transferModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<label for="type">
								Type <sup class="text-danger"><strong>*</strong></sup>
							</label>
							<ng-select 
								id="type" 
								formControlName="type" 
								placeholder="Select Message Type"
								[clearable]="true" 
								bindLabel="template_name" 
								bindValue="id" 
								[items]="templates">
								
								<!-- (change)="getTemplate()" -->
							</ng-select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"
						[disabled]="transferForm.pristine || transferForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>