<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4><em class="fa fa-file"></em> List of LC </h4>
				</div>
				<div class="card-body">
					<div class="row mb-4">
						<div class="col-md-3">
							<label for="">PI Date Range</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-calendar"></i></span>
								</div>
								<input type="text" class="form-control " bsDaterangepicker [(ngModel)]="bsRangeValue"
									placeholder="Booking Date" (ngModelChange)="onDateChange($event)">
							</div>
						</div>
					</div>

					sen
					<div class="row">
						<div class="col-md-12">

							<p-table #dt [value]="list" dataKey="id" styleClass="ui-table-customers" [rowHover]="true"
								[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
								[paginator]="true"
								currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries"
								[filterDelay]="0"
								[globalFilterFields]="['letter_of_credit.bank_lc_no' , 'port_master.port_name','proform_invoice_no']"
								[resizableColumns]="true">


								<ng-template pTemplate="caption">

									<div class="row">
										<div style="text-align: right" class="col-md-6">
											<input pInputText type="text"
												(input)="dt.filterGlobal($event.target.value, 'contains')"
												class="form-control col-md-3" placeholder="Global Search" />



										</div>


										<div class=" col-md-3" *ngIf="port_list">

											<div class="form-group">
												<ng-select placeholder="Select Port " [searchable]="true"
													[clearable]="true" bindLabel="port_name" bindValue="id"
													[items]="port_list" (ngModelChange)="onSelectPort($event)"
													[(ngModel)]="port" style="font-size: 11px;">
												</ng-select>
											</div>

										</div>



										<div style="text-align: left" class="col-md-2">

											<button type="button" pButton icon="pi pi-envelope" iconPos="left"
												label="SEND MAIL" (click)="sendMail()" style="margin-right: 0.5em;"
												class="ui-button-success"></button>
										</div>
									</div>





								</ng-template>

								<ng-template pTemplate="header">
									<tr>
										<th style="width: 3rem">
											<p-tableHeaderCheckbox (click)="onCheckAll(a.checked)"
												#a></p-tableHeaderCheckbox>
										</th>
										<th [style.width.px]="col.style" pSortableColumn="{{col.field}}"
											*ngFor="let col of cols" pResizableColumn> {{col.header}} <p-sortIcon
												field="{{col.field}}"></p-sortIcon>
										</th>

									</tr>

								</ng-template>
								<ng-template pTemplate="body" let-item let-index="rowIndex">
									<tr class="ui-selectable-row">

										<td>
											<input type="checkbox" [value]="item" #inputs #checkboxes
												(click)="onChange(checkboxes.checked,item)">
										</td>
										<td>{{item.id}}</td>

										<td class="ui-resizable-column">
											<span class="ui-column-title">Port Master</span>
											{{item.port_master.port_name}}


										</td>

										<td class="ui-resizable-column">
											<span class="ui-column-title">PI Date</span>
											{{item.proform_invoice_date | date: 'dd/MM/yyyy'}}
										</td>

										<td class="ui-resizable-column">
											<span class="ui-column-title">LC Number</span>
											{{item.letter_of_credit.bank_lc_no }}

											<span *ngIf="item.letter_of_credit.lc_copy_path">
												<span *ngFor="let doc  of docArray(item.letter_of_credit.lc_copy_path)">
													<a href="{{doc}}"><em class="fa fa-file"></em>&nbsp;</a>
												</span>
											</span>


										</td>

										<td class="ui-resizable-column">
											<span class="ui-column-title">Proforma invoice Ref No</span>
											{{item.proform_invoice_no}}
										</td>




									</tr>
								</ng-template>

								<ng-template pTemplate="emptymessage">
									<tr>
										<td colspan="6" style="text-align:left">Not Found any data</td>
									</tr>
								</ng-template>
							</p-table>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div bsModal #sendMailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">


			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-envolope"></i> Send Mail</h4>
				<button type="button" class="close" (click)="closeModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="roW">
					<div *ngIf="isLoaderEmail" style="text-align: center;">
						<app-loading-spinner></app-loading-spinner>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div *ngIf="mailList.length>0">
							<p style="color: crimson;">Put Additional Email comma (,) seperated</p>
							<div class="row">

								<div class="col-md-6">

									<p> <strong>To</strong> : <span *ngFor="let mail of email"><input type="checkbox"
												(click)="mailto(a.checked,mail)" #a> {{mail}} </span></p>
									<p><textarea class="form-control" cols="6" [(ngModel)]="tomailtext "
											(change)='tomailvalue($event)'></textarea></p>
								</div>
								<div class="col-md-6">
									<p> <strong>Cc</strong> : <span *ngFor="let cc of email"><input type="checkbox"
												(click)="ccmail(e.checked,cc)" #e> {{cc}} </span></p>
									<p><textarea class="form-control" cols="6" [(ngModel)]="ccmailtext "
											(change)='ccmailvalue($event)'></textarea></p>

								</div>
							</div>



						</div>
						<p>Dear Sir / Madam,</p>
						<p> Good Day. </p>
						<p>Kindly find enclosed herewith the LC Copies for your records</p>


						<p>Request you to kindly note and update the same at your end .</p>

						<p>Thank you for your kind cooperation.</p>

						<div *ngFor="let item of   this.mailList ">
							<div *ngIf="item.letter_of_credit.lc_copy_path">
								<div *ngFor="let doc  of docArray(item.letter_of_credit.lc_copy_path)">
									<a href="{{doc}}"><em class="fa fa-file"></em>&nbsp; <span>{{doc |
											fileName}}</span></a>
								</div>
							</div>
							<a></a>
						</div>
					</div>



				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
					<button type="button" class="btn btn-primary" (click)="compose_mail()">Send Mail</button>
				</div>

			</div>
		</div>
	</div>
</div>



<toaster-container [toasterconfig]="toasterconfig"></toaster-container>