<div class="animated fadeIn custom_body">
    <div class="row">
        <div class="col-md-12 p-0" >
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <i class="fa fa-list"></i> {{ page_title }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5><i class="fa fa-file-pdf-o " style="color:red"></i>  Inventory CRON :</h5>
                            <span *ngFor="let item of inventory">
                                <button type="button" class="btn btn-success mt-2 mr-3"  mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" [confirmText]="confirmText" [cancelText]="cancelText"
                                [placement]="placement" [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                                cancelButtonType="success" (confirm)="onSubmit(item.link)" (cancel)="cancelClicked = true">{{item.name}}</button> 
                            </span>
                        </div>
                          <div style="border: 1px solid red;"></div>
                        <div class="col-md-12 mt-3">
                            <h5><i class="fa fa-file-pdf-o " style="color:red"></i>  Purchase CRON :</h5>
                            <span *ngFor="let item of purchaseCron">
                                <button type="button" class="btn btn-success  mt-2 mr-3"  mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" [confirmText]="confirmText" [cancelText]="cancelText"
                                [placement]="placement" [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                                cancelButtonType="success" (confirm)="onSubmit(item.link)" (cancel)="cancelClicked = true">{{item.name}}</button> 
                            </span>
                        </div>
                        <div class="col-md-12 mt-3">
                            <h5><i class="fa fa-file-pdf-o " style="color:red"></i>  Dispatch CRON :</h5>
                            <span *ngFor="let item of dispatchCron">
                                <button type="button" class="btn btn-success  mt-2 mr-3"  mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" [confirmText]="confirmText" [cancelText]="cancelText"
                                [placement]="placement" [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                                cancelButtonType="success" (confirm)="onSubmit(item.link)" (cancel)="cancelClicked = true">{{item.name}}</button> 
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>