<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fa fa-file"></i> Bill Of Entry List

                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            
						<div class="col-md-3 mb-3">
							<label for="">BE Date</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-calendar"></i></span>
								</div>
								<input type="text" class="form-control " bsDaterangepicker [(ngModel)]="bsRangeValue"
									(ngModelChange)="onSelect($event)" placeholder="">
							</div>
						</div>
                        </div>
                    </div>
                    <div class="row">
                        
              <p-table #dt [value]="be_list" dataKey="id" styleClass="ui-table-non " [rowHover]="true" [rows]="5"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true" [columns]="cols"
              currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries"
              [filterDelay]="0" [globalFilterFields]="[]">


              <ng-template pTemplate="header" let-columns>
                <tr>

                 
                  <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" [style.width.px]='col.style'>
                    {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                  </th>
              

                </tr>

              </ng-template>
              <ng-template pTemplate="body"  let-item let-columns>
                <tr class="ui-selectable-row">

               
                  
                  <td >
                    <span class="ui-column-title">BE Number</span>
                    {{item.be_no}}
                  </td>

                  <td >
                    <span class="ui-column-title">BE Date</span>
                    {{item.be_dt | date: 'dd-MM-yyyy'}}


                  </td>

                  <td >
                    <span class="ui-column-title">Duty Amount</span>
                   Duty Amount :  {{item.custom_duty_amt}} <br>
                   License Amount : {{item.bcd_license_val}}<br>
                   Total : {{item.custom_duty_amt + item.bcd_license_val}}

                  </td>


                  <td >
                    <span class="ui-column-title">Import Invoice No</span>
                    {{item.non_negotiable.invoice_no}}
                  </td> 
                   <td >
                    <span class="ui-column-title">Load Charge</span>
                    USD : {{item.load_charge }} <br>
                    INR : {{item.load_charge * item.exchange_rate}}
                  </td>




                </tr>
              </ng-template>

              
								<ng-template pTemplate="footer">
									<tr>
										<td >Total</td>
										<td > </td>
										<td> {{total_duty}}</td>
                                        <td></td>
										<td> USD : {{total_usd}}<br>
                                             INR : {{total_inr}}
                                        </td>
								
									</tr>

								</ng-template>

           

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6" style="text-align:left">No Data found.</td>
                </tr>
              </ng-template>
            </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>