<div class="animated fadeIn">
    <form [formGroup]="taxComplianceDetailsForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row">


            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <h3>Tax Compliance Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- *ngIf="taxComplianceMasterDet.state_flag==1" -->
                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="state_id">State</label>
                                    <ng-select id="state_id" formControlName="state_id" placeholder="Select State"
                                        [searchable]="true" [clearable]="true" bindLabel="name" bindValue="id"
                                        [items]="state_list">
                                    </ng-select>
                                </div>
                            </div>

                            <!-- *ngIf="taxComplianceMasterDet.state_flag==2" -->
                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="sub_org_id">Company</label>
                                    <ng-select id="sub_org_id" formControlName="sub_org_id" placeholder="Select Company"
                                        [searchable]="true" [clearable]="true" bindLabel="sub_org_name"
                                        bindValue="sub_org_id" [items]="company_list">
                                    </ng-select>
                                </div>
                            </div>

                            <!-- *ngIf="taxComplianceMasterDet.state_flag==3" -->
                            <div class="col-6 col-md-3" *ngIf="taxComplianceMasterDet.state_flag==3">
                                <div class="form-group">
                                    <label class="col-form-label" for="emp_id">Employee</label>
                                    <ng-select id="emp_id" formControlName="emp_id" placeholder="Select Employee"
                                        [searchable]="true" [clearable]="true" bindLabel="emp_name" bindValue="id"
                                        [items]="employee_list">
                                    </ng-select>
                                </div>
                            </div>



                            <div class="col-md-2" *ngIf="taxComplianceMasterDet.month_year_flag==1">
                                <div class="form-group">
                                    <label class="col-form-label" for="submitted_dt">Return Month</label>
                                    <input type="text" class="form-control" [(ngModel)]="return_month"
                                        formControlName="return_month" [bsConfig]="monthPickerConfig" #dp="bsDatepicker"
                                        bsDatepicker (onShown)="onOpenCalendar($event)" placeholder="Select Month"
                                        readonly>
                                </div>
                            </div>



                            <div class="col-6 col-md-2" *ngIf="taxComplianceMasterDet.month_year_flag!=1">
                                <div class="form-group">
                                    <label class="col-form-label" for="return_from_dt">Return Year From Date</label>
                                    <i class="fa fa-calendar"></i>
                                    <input type="text" class="form-control" id="return_from_dt"
                                        [(ngModel)]="return_from_dt" formControlName="return_from_dt"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                        #dp="bsDatepicker" bsDatepicker placeholder="Enter Date ">
                                </div>
                            </div>



                            <div class="col-6 col-md-2" *ngIf="taxComplianceMasterDet.month_year_flag!=1">
                                <div class="form-group">
                                    <label class="col-form-label" for="return_to_date">Return Year To Date</label>
                                    <i class="fa fa-calendar"></i>
                                    <input type="text" class="form-control" id="return_to_date"
                                        [(ngModel)]="return_to_date" formControlName="return_to_date"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                        #dp="bsDatepicker" bsDatepicker placeholder="Enter Date ">
                                </div>
                            </div>

                            <div class="col-6 col-md-2">
                                <div class="form-group">
                                    <label class="col-form-label" for="submitted_dt">Submitted Date</label>
                                    <i class="fa fa-calendar"></i>
                                    <input type="text" class="form-control" id="submitted_dt"
                                        formControlName="submitted_dt"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                        #dp="bsDatepicker" bsDatepicker placeholder="Enter Date ">
                                </div>
                            </div>


                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="amount">Amount
                                    </label>
                                    <input type="text" class="form-control" id="amount" formControlName="amount"
                                        placeholder="Enter Amount ">
                                </div>
                            </div>

                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="interest">Interest
                                    </label>
                                    <input type="text" class="form-control" id="interest" formControlName="interest"
                                        placeholder="Enter Amount ">
                                </div>
                            </div>


                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="remark">Remark
                                    </label>
                                    <textarea class="form-control" id="remark" formControlName="remark"
                                        placeholder="Enter Remark "></textarea>
                                </div>
                            </div>

                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="interest">File Uplaod
                                    </label>

                                    <input type="file" class="form-control" formControlName='file_upload'
                                        (change)="fileCopy($event)" [multiple]=true>

                                </div>
                            </div>








                        </div>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary mr-1" type="submit"
                            [disabled]="taxComplianceDetailsForm.pristine || taxComplianceDetailsForm.invalid">
                            <i class="fa fa-dot-circle-o"></i>Submit</button>

                        <button class="btn btn-primary" type="button" (click)="onBack()"><i
                                class="fa fa-undo"></i>Back</button>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>