  <div class="panel" style="margin-top: 2%;" [hidden]="showTable">
    <div class="panel-default panel-heading">
        <h4> Yearly Salary
          <button
          class="btn btn-outline-primary active pull-right"
          (click)="onAdd()"
          *ngIf="add_yearly_ctc"> + Add New</button>
        </h4>
    </div>
    <div class="panel-body">

      <p-table #dt [value]="ctcList"
      dataKey="id"
      styleClass="ui-table-salary_details"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]"
      [loading]="isLoading"
      [paginator]="true"
      currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries"
      [filterDelay]="0" >
      <!--  <ng-template pTemplate="caption">
            <div class="ui-table-globalfilter-container">
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
            </div>
      </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
          <th  pResizableColumn pSortableColumn="{{col.field}}" *ngFor="let col of cols"> {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon></th>
          <th  pResizableColumn *ngIf="show_salary_breakup_pdf"> View</th>
          <th  pResizableColumn *ngIf="send_breakup_on_mail"> Send</th>
          <th  pResizableColumn  *ngIf="edit_yearly_ctc"> Edit</th>
          <th  pResizableColumn  *ngIf="delete_yearly_ctc"> Delete</th>
      </tr>
    </ng-template>
        <ng-template pTemplate="body" let-ctcList let-index="rowIndex">
            <tr class="ui-selectable-row">

                <td class="ui-resizable-column">
                  <span class="ui-column-title">Financial Year:</span>
                {{ ctcList.from_date}} -  {{ ctcList.to_date}}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">CTC:</span>
                {{ ctcList.yearly_ctc | currencyInr}}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">Basic:</span>
                {{ ctcList.basic | currencyInr }}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">DA: </span>
                {{ ctcList.da | currencyInr }}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">HRA: </span>
                {{ ctcList.hra | currencyInr }}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">LTA: </span>
                {{ ctcList.lta | currencyInr }}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">Child Edu. Allowance: </span>
                {{ ctcList.child_edu_allowance | currencyInr }}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">Special Allowance: </span>
                {{ ctcList.special_allowance | currencyInr }}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">Incentive: </span>
                {{ ctcList.incentive | currencyInr }}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">Employee PF: </span>
                {{ ctcList.yearly_pf | currencyInr }}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">Employer PF: </span>
                {{ ctcList.employer_pf | currencyInr }}
                </td>
                <td class="ui-resizable-column">
                  <span class="ui-column-title">PT: </span>
                {{ ctcList.yearly_pt | currencyInr }}
                </td>
                <td *ngIf="show_salary_breakup_pdf">
                  <button (click)="generatePdf(index,1)" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i></button>
                </td>
                <td *ngIf="send_breakup_on_mail">
                  <span class="ui-column-title">&nbsp;&nbsp;&nbsp;</span>
                  <button
                  class="btn btn-primary"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessageSend"
                  [confirmText]="confirmText"
                  [cancelText]="cancelText"
                  [placement]="placement"
                  [closeOnOutsideClick]="closeOnOutsideClick"
                  confirmButtonType="danger"
                  cancelButtonType="success"
                  (confirm)="generatePdf(index,2)"
                  (cancel)="cancelClicked = true"> <i class="fa fa-send-o"></i></button>
                </td>
                <td *ngIf="edit_yearly_ctc">
                  <span class="ui-column-title">&nbsp;&nbsp;&nbsp;</span>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="onEdit(ctcList.id)"></button>
                </td>
                <td *ngIf="delete_yearly_ctc">
                  <span class="ui-column-title">&nbsp;&nbsp;&nbsp;</span>
                  <button pButton pRipple icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  [confirmText]="confirmText"
                  [cancelText]="cancelText"
                  [placement]="placement"
                  [closeOnOutsideClick]="closeOnOutsideClick"
                  confirmButtonType="danger"
                  cancelButtonType="success"
                  (confirm)="onDelete(ctcList.id)"
                  (cancel)="cancelClicked = true"></button>
              </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="16" style="text-align:left">No Records found.</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="panel" style="margin-top: 2%;" [hidden]="!showTable">
    <div class="panel-default panel-heading">
        <h4> {{modalTitle}}
          <button
          class="btn btn-outline-primary active pull-right"
          (click)="onBack()">
          <i class="fa fa-undo"></i> Back</button>
        </h4>
    </div>
    <hr>
    <form [formGroup]="salaryForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
      <div class="row">
        <!-- <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="financial_year" class="col-form-label">Financial Year</label>
          <input type="text"
          formControlName="financial_year"
          class="form-control"
          [textMask]="{mask: yearMask}"
          placeholder="2019-2020"
          [(ngModel)]="financial_year"
          [readOnly]="isDisabled">
          </div>
        </div> -->

         <div class="col-md-4 col-6">
          <div >
          <label class="col-form-label">Financial Year</label>
          <input type="text" class="form-control " formControlName="financial_year"  bsDaterangepicker [(ngModel)]="bsRangeValue" placeholder="From Date - To Date" >
          </div>
        </div>


        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="yearly_ctc" class="col-form-label">Yearly CTC</label>
          <input type="text"
          formControlName="yearly_ctc"
          (keyup)="calculateSal()"
          class="form-control"
          [(ngModel)]="yearly_ctc"
          numbersOnly>
          </div>
        </div>

        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="basic" class="col-form-label">Basic</label>
          <input type="text"
          formControlName="basic"
          class="form-control"
          [(ngModel)]="basic"
          numbersOnly
          readonly>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="da" class="col-form-label">DA</label>
          <input type="text"
          formControlName="da"
          class="form-control"
          [(ngModel)]="da"
          numbersOnly
          readonly>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="hra" class="col-form-label">HRA</label>
          <input type="text"
          formControlName="hra"
          [(ngModel)]="hra"
          class="form-control"
          numbersOnly
          readonly>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="lta" class="col-form-label">LTA</label>
          <input type="text"
          formControlName="lta"
          class="form-control"
          [(ngModel)]="lta"
          numbersOnly
          readonly>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="child_edu_allowance" class="col-form-label">Child Education Allowance</label>
          <input type="text"
          formControlName="child_edu_allowance"
          class="form-control"
          [(ngModel)]="child_edu_allowance"
          numbersOnly
          readonly>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="special_allowance" class="col-form-label">Special Allowance</label>
          <input type="text"
          formControlName="special_allowance"
          class="form-control"
          [(ngModel)]="special_allowance"
          numbersOnly
          readonly>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="incentive" class="col-form-label">Incentive</label>
          <input type="text"
          formControlName="incentive"
          class="form-control"
          [(ngModel)]="incentive"
          numbersOnly>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="yearly_pf" class="col-form-label">Employee PF</label>
          <input type="text"
          formControlName="yearly_pf"
          class="form-control"
          [(ngModel)]="yearly_pf"
          numbersOnly
          readonly>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="employer_pf" class="col-form-label">Employer PF</label>
          <input type="text"
          formControlName="employer_pf"
          class="form-control"
          [(ngModel)]="employer_pf"
          numbersOnly
          readonly>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="yearly_pt" class="col-form-label">Yearly PT</label>
          <input type="text"
          formControlName="yearly_pt"
          class="form-control"
          [(ngModel)]="yearly_pt"
          numbersOnly
          >
          </div>
        </div>

        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="pt_feb" class="col-form-label">PT For Feb</label>
          <input type="text"
          formControlName="pt_feb"
          class="form-control"
          [(ngModel)]="pt_feb"
          numbersOnly
          >
          </div>
        </div>

        <div class="col-md-3 col-6">
          <div class="form-group">
          <label for="pt_other_month" class="col-form-label">PT for other month</label>
          <input type="text"
          formControlName="pt_other_month"
          class="form-control"
          [(ngModel)]="pt_other_month"
          numbersOnly
          >
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary"
        (click)="onBack()"><i class="fa fa-undo"></i> Back</button> &nbsp;&nbsp;
        <button type="submit" [disabled]="salaryForm.invalid"
        class="btn btn-primary"> <i class="fa fa-dot-circle-o"></i>Submit</button>
      </div>
    </form>
  </div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
