
<div class="row">
    <div class="col-md-12">
  
  
  
      <!-- background: rgb(225,235,238);
  background: radial-gradient(circle, rgba(225,235,238,1) 0%, rgba(140,196,192,1) 84%, rgba(18,140,126,1) 99%); -->
  
      <!-- style="border-radius: 20px; background: rgb(224,255,255);
            background: radial-gradient(circle, rgba(224,255,255,1) 0%, rgba(148,187,233,0.9839286056219363) 100%); "  -->
      <div class="card" id="chat3" style="border-radius: 20px;  background: rgb(255,255,255);
              background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(215,246,244,1) 99%);">
  
  
        <div class="card-body">
  
          <div class="row">
  
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0"
              style="background-color: #075E54; color: white;border-radius: 20px;">
              <div [ngClass]="addclass ? 'chatHeads' : ''">
                <div class="p-3">
  <!-- 
                  <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                      aria-describedby="search-addon" [(ngModel)]="filterQuery" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fa fa-search"></i>
                    </span>
                  </div> -->
  
                  
                  <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                      aria-describedby="search-addon" (keyup)="searchHead($event.target.value)"/>
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
  
  
                  <div style="position: relative; height: 500px ; overflow-y: scroll;" #scrollHeads
                    (scroll)="onScrollHeads()">
                    <ul class="list-unstyled mb-0" *ngFor="let item of heads |  tableFilter : filterQuery:filterArray">
                      <li class="p-2 border-bottom" [ngClass]="{activeitem: isActive(item.chat_key)}">
                        <a (click)="getChatDetails(item)" class="d-flex justify-content-between"
                          style="font-size: 12px ; color:white ; cursor: pointer;">
                          <div class="d-flex flex-row">
                            <div>
                              <i class="fa fa-user" style="color:white; width: 20px;"></i>
  
                              <span class="badge bg-success badge-dot"></span>
                            </div>
                            <div class="pt-1">
                              <strong class="fw-bold mb-0">{{item.header}}</strong>
  
                            </div>
                          </div>
                          <div class="pt-1">
                            <p class="small text-muted mb-1"><b>{{item.time}}</b></p>
                            <!-- <span class="badge bg-danger rounded-pill float-end">3</span> -->
                          </div>
                        </a>
                      </li>
  
                    </ul>
  
                  </div>
  
                  <div class="mt-3"> 
                    <small><b>Total Chats : {{count}}</b></small>/
                    <small><b>Load Chats : {{heads?.length}}</b></small>
                  </div>
  
                </div>
  
              </div>
  
  
            </div>
  
            <div class="col-md-4 col-lg-7 col-xl-8" [ngClass]="addclassDet ? 'chatdet' : ''">
  
  
              <span class=" back" (click)="backToHeads()"><i class="fa fa-arrow-left "></i></span>
  
              <span class="align-middle" *ngIf="contact_name"><b>{{contact_name}} : {{contact_number}}</b></span>
  
  
              <hr>
  
              <div class="pt-3 pe-3" style="position: relative; height: 500px; overflow-y: scroll;" #scrollMe
                (scroll)="onScroll()">
  
  
                <div class="row text-center">
                  <div class="col-md-2 offset-5" *ngIf="isLoading">
                    <app-loading-spinner></app-loading-spinner>
                  </div>
                </div>
                <div *ngIf="!isLoading">
                  <div *ngFor="let detail of detailChat">
  
  
  
                    <div class="d-flex flex-row justify-content-end"
                      *ngIf="detail.message_type == 1 && detail.template_name=='quick_button_image' "
                      [id]="detail.message_id">
  
                      <i class="fa fa-user" style="color: rgb(7, 7, 84); width: 20px;"></i>
  
                      <div class="template">
                        <a target="_blank" [href]="detail.attachment[0]">
                          <img [src]="detail.attachment[0]" style=" width: 100%; height: 100px;" alt="avatar 1">
                        </a>
                        <p class="small p-2 ms-3 mb-1 rounded-3"
                          style="background-color:  #d9f1ff;border-radius: 0px 0px 15px 20px; box-shadow: 0px 10px 5px lightblue;">
                          <b>Dear {{detail.contact_name}}</b>
                          <br>Kindly note the below Grade Stock available at our nearest warehouse to you.Please contact
                          concerned Marketing Executive for booking your required quantitites
                          <br>Thanks & Regards
                          <br><small>Sushila Parmar International Pvt Ltd</small>
                          <br><button class="btn btn-primary btn-sm rounded-pill mt-2">Order Enquiry</button>
                          <br><button class="btn btn-primary btn-sm rounded-pill mt-2">Request Call Back</button>
                          <br><button class="btn btn-primary btn-sm rounded-pill mt-2">Need Different Grade</button>
                        </p>
                        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">{{detail.time}}
                          <span class="badge badge-success">{{detail.status}}</span>
                        </p>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row justify-content-end" [id]="detail.message_id"
                      *ngIf="detail.message_type ==1 && detail.templateBody">
  
                      <i class="fa fa-user" style="color: rgb(7, 7, 84); width: 20px;"></i>
  
                      <div class="template">
  
                        <!-- <div  *ngIf="detail.attachment">
                                <iframe [src]="transform(detail.attachment[0])" frameborder="0"  height="100" width="300" *ngIf="detail.attachment"  scrolling="seamless" style="cursor: pointer;"></iframe>
                                <a variant="brand" label="Download" title="Primary action" onclick="" class="slds-m-left_x-small"></a>
                              </div>  -->
  
                        <div id="parent" *ngIf="detail.attachment">
                          <iframe [src]="transform(detail.attachment[0])" frameborder="0" scrolling="no"></iframe>
                          <a [href]="detail.attachment[0]" target="_blank" type="button" class="btn btn-sm btn-danger"><i
                              class="fa fa-download"></i></a>
                        </div>
  
  
  
  
  
                        <p class="small p-2 ms-3 mb-1 rounded-3"
                          style="background-color:  #d9f1ff;border-radius: 0px 0px 15px 20px; box-shadow: 0px 10px 5px lightblue;"
                          [innerHTML]="detail.templateBody">
                        </p>
  
                        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">{{detail.time}}
                          <span [class]="detail.statusColorClass">{{detail.status}}</span>
                        </p>
  
  
                      </div>
  
                    </div>
  
                    <div class="d-flex flex-row justify-content-end" [id]="detail.message_id"
                      *ngIf="detail.message_type ==1 && detail.template_name == null">
  
                      <i class="fa fa-user" style="color: rgb(7, 7, 84); width: 20px;"></i>
  
                      <div class="template">
  
  
                        <p class="small p-2 ms-3 mb-1 rounded-3"
                          style="background-color:  #d9f1ff;border-radius: 0px 0px 15px 20px; box-shadow: 0px 10px 5px lightblue;"
                          [innerHTML]="detail.message">
                        </p>
                        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">{{detail.time}}
                          <span class="badge badge-success">{{detail.status}}</span>
                        </p>
  
                      </div>
  
                    </div>
  
                    <div class="d-flex flex-row justify-content-start" *ngIf="detail.message_type ==2 "
                      [id]="detail.message_id">
  
                      <i class="fa fa-user" style="color: rgb(7, 7, 84); width: 20px;"></i>
  
                      <div class="template2">
                        <a target="_blank" [href]="detail.media_url+'?apikey=TS7sJumLKVd1v7pKFITevCrPXEWzx8UV'"
                          *ngIf="detail.media_url != null">
                          <img [src]="detail.media_url+'?apikey=TS7sJumLKVd1v7pKFITevCrPXEWzx8UV'"
                            style=" width: 100%; height: 120px; border: 2px solid #555;" alt="avatar 1">
                        </a>
  
  
  
                        <p class="small p-2 ms-3 mb-1 rounded-3"
                          style="background-color:  #F5F5DC;border-radius: 0px 0px 15px 20px; box-shadow: 0px 10px 5px lightblue;"
                          [innerHTML]="detail.message">
  
  
  
                        </p>
                        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">{{detail.time}}
                          <span class="badge badge-success">{{detail.status}}</span>
                        </p>
  
                      </div>
                      <a class="fa fa-reply" style="color: blue; width:20px; cursor: pointer;"
                        *ngIf="detail.button_type"></a>
  
                    </div>
  
                  </div>
  
  
                </div>
  
  
  
  
              </div>
  
              <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-2">
                <i class="fa fa-user" style="color: rgb(7, 7, 84); width: 20px;"></i>
                <input type="text" class="form-control col-md-10" placeholder="Type message" [(ngModel)]="message"
                  (keydown.enter)="sendMsg()">
                <a class="ms-3" style="cursor: pointer; color: rgb(6, 6, 52);" (click)="sendMsg()"><i
                    class="fa fa-paper-plane"></i></a>
              </div>
  
  
  
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>
  
  <!-- </div>
    </section> -->