
.sales_orders_table {
	.ui-table-tbody>tr>td {
		border: 0 none;
		cursor: auto;

		&:first-child {
			text-align: center;
		}

		&:nth-child(2) {
			text-align: center;
		}

		&:last-child {
			width: 11em;
		}
	}
}

.custom-badge {
	font-size: 12px !important;
	padding: 4px 7px;
}

.custome-expand-btn {
	line-height: 0 !important;
	padding: 4px !important;
	font-size: 11px !important;
}

.custome-expand-btn:focus {
	box-shadow: none !important;
}

.round-badge {
	border-radius: 50% !important;
	padding: 9px 0px !important;
	font-size: 13px !important;
	font-weight: 600 !important;
	width: 30px !important;
	height: 30px !important;
	text-align: center !important;
}

.page-filter {
	font-size: 14px !important;
	font-weight: normal !important;
}

.custom_body .sales_orders_table .ui-table-caption {
	background: #495057 !important;
}

.card-body {
	padding: 0.75rem !important;
}

.custom_body .ui-multiselect {
	top: 3px !important;
	margin-right: 8px !important;
	padding: 1px !important;
	background: #fff !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
	text-align: left !important;
}

.custom_body .ui-dropdown {
	margin-left: 8px !important;
}

.custom_body .ui-dropdown .ui-dropdown-label {
	padding: 4px !important;
	text-align: left !important;
}

.action-btn {
	padding: 0px 5px !important;
}

.approve_btn {
	display: none !important;
}

@media screen and (max-width: 64em) {
	.custom_body .sales_orders_table .ui-table-caption {
		padding: 12px !important;
	}

	.custom_body .sales_orders_table .ui-table-tbody>tr>td {
		padding: 0.3em 0.5em !important;
	}

	.expand-btn,
	.expanded_row {
		display: none !important;
	}

	.approve_btn {
		display: inline-block !important;
	}

	// .sales_orders_table {
	// 	.ui-table-tbody > tr > td {
	// 		&:first-child {
	// 			text-align: left;
	// 		}
	// 	}
	// }
	.form-inline {
		display: block !important;
	}

	.custom_body .ui-dropdown {
		width: 100% !important;
		margin-top: 4px !important;
		margin-left: 0px !important;
	}

	.custom_body .ui-multiselect {
		width: 100% !important;
	}

	.export-text {
		display: inline-block !important;
	}

	.check {
		display: none !important;
	}
}

.scrollvertical {

    height: 680px;
    overflow: auto;
  }
  
  .activeitem {background-color:rgb(221, 243, 233);}
  
  .headRow {background-color:rgb(221, 243, 233); padding-bottom: 10px;padding-bottom: 10px;}
  
  .email-app nav {
    flex: 0 0 400px;
    padding: 1rem;
    border-right: 1px solid #c8ced3;
  }

  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    // height: 0;
    height: 0px !important; 
    min-height: 0px !important;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
    overflow-wrap: break-word;
  }
  
  .example-element-detail {
    overflow: hidden;
    // display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    // height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
.captionTopDiv2 {
    display: flex;
    justify-content: space-between;
}

.over-flow-wrap-break-word td{
    overflow-wrap: break-word;
}

.margin-right-20{
  margin-right: 20px;
}