<div class="email-app">
	<nav class="scrollvertical">
		<!--     <div class="row mb-4" *ngIf="salaryDetailsData">
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="Search " [(ngModel)]="filterQuery" >
        </div>
      </div> -->
		<!-- |  tableFilter : filterQuery:filterArray -->
		<ul class="nav">
			<li class="nav-item">
				<a style="cursor: pointer;" [ngClass]="{activeitem:!activeObject}" class="nav-link"
					(click)="showInstruction()">
					<h4><u><i>Instructions</i></u></h4>
				</a>
			</li>

			<li class="nav-item" *ngIf="salaryDetailsData.length > 0">
				<ng-container *ngFor="let item of salaryDetailsData; let i =index">

					<a style="cursor: pointer;" class="nav-link" (click)="getDetails(item.id, i)"
						[ngClass]="{activeitem: isActive(item.id)}">
						<strong> Form No:</strong> {{item.id}} ,
						<strong>Financial Year:</strong> {{item.financial_year}}
						<br>
						<strong>Budgted<div [innerHTML]=getStatus(item.budgeted_details)></div></strong>
						<strong>Actual<div [innerHTML]=getStatus(item.actual_details)></div></strong>




						<!-- 
            <p *ngIf="formOpenFlag===1" [innerHTML]=getStatus(item.budgeted_details)></p>
            <p *ngIf="formOpenFlag===2" [innerHTML]=getStatus(item.actual_details)></p>
            <p *ngIf="formOpenFlag===3" [innerHTML]=getStatus(item.budgeted_details)></p> -->
					</a>

				</ng-container>

			</li>
		</ul>
		<!--  <pre>{{activeObject | json}}</pre> -->
	</nav>
	<main>
		<div *ngIf="activeObject">
			<form [formGroup]="investmentForm" (ngSubmit)="onSubmit()" novalidate>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="6" style="text-align: center;">
								FOR FINANCIAL YEAR {{activeObject.financial_year}}
								<input type="button" value="{{currentMode}}" (click)="changeMode()"
									class="btn btn-danger pull-right">
							</th>
						</tr>
						<tr>
							<th>Sr.No.</th>
							<th>Description </th>
							<th>Budget Amount</th>
							<th>Attachments</th>
							<th>Actual Amount</th>
							<th>Attachments</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1.</td>
							<!--  [attr.disabled]="isBudgetedDisabled" -->
							<td>Life Insurance Premium (LIC)</td>
							<td>
								<input type="text" class="form-control" numbersOnly formControlName="b_lic_amt"
									[readonly]="isBudgetedDisabled">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">

									<div *ngIf="budgetedDetails.lic_file!== null"
										[innerHTML]="getFileView(budgetedDetails.lic_file)">
									</div>


								</ng-container>
								<input type="file" class="form-control" multiple [readonly]="isBudgetedDisabled"
									(change)="fileChangeEvent($event,'lic_file')" formControlName="b_lic_file"
									[hidden]="mode">
							</td>

							<td>
								<!--   [attr.disabled]="isActualDisabled"  -->
								<input type="text" class="form-control" formControlName="a_lic_amt" numbersOnly
									[readonly]="isActualDisabled">


							</td>
							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.lic_file!== null"
										[innerHTML]="getFileView(actualDetails.lic_file)">
									</div>
								</ng-container>
								<input type="file" class="form-control" multiple [readonly]="isActualDisabled"
									(change)="fileChangeEvent($event,'lic_file')" formControlName="a_lic_file"
									[hidden]="mode">
							</td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Public Provident Fund (PPF)</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_ppf_amt"></td>

							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.ppf_file!== null"
										[innerHTML]="getFileView(budgetedDetails.ppf_file)">
									</div>
								</ng-container>
								<input type="file" class="form-control" multiple [readonly]="isBudgetedDisabled"
									formControlName="b_ppf_file" (change)="fileChangeEvent($event,'ppf_file')"
									[hidden]="mode">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_ppf_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.ppf_file!== null"
										[innerHTML]="getFileView(actualDetails.ppf_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_ppf_file"
									(change)="fileChangeEvent($event,'ppf_file')">
							</td>

						</tr>
						<tr>
							<td>3.</td>
							<td>N.S.C. (New Purchase)</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_nsc_amt"></td>

							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.nsc_file!== null"
										[innerHTML]="getFileView(budgetedDetails.nsc_file)">
									</div>
								</ng-container>

								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_nsc_file"
									(change)="fileChangeEvent($event,'nsc_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_nsc_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.nsc_file!== null"
										[innerHTML]="getFileView(actualDetails.nsc_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_nsc_file"
									(change)="fileChangeEvent($event,'nsc_file')">
							</td>

						</tr>
						<tr>
							<td>4.</td>
							<td>UTI/ ULIP Pension </td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_pension_amt"></td>

							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.pension_file!== null"
										[innerHTML]="getFileView(budgetedDetails.pension_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_pension_file"
									(change)="fileChangeEvent($event,'pension_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_pension_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.pension_file!== null"
										[innerHTML]="getFileView(actualDetails.pension_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_pension_file"
									(change)="fileChangeEvent($event,'pension_file')">
							</td>

						</tr>
						<tr>
							<td>5.</td>
							<td>Tax Saving Mutual Fund</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_tax_saving_mutual_fund_amt">
							</td>

							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.tax_saving_mutual_fund_file!== null"
										[innerHTML]="getFileView(budgetedDetails.tax_saving_mutual_fund_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_tax_saving_mutual_fund_file"
									(change)="fileChangeEvent($event,'tax_saving_mutual_fund_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_tax_saving_mutual_fund_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.tax_saving_mutual_fund_file!== null"
										[innerHTML]="getFileView(actualDetails.tax_saving_mutual_fund_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_tax_saving_mutual_fund_file"
									(change)="fileChangeEvent($event,'tax_saving_mutual_fund_file')">
							</td>

						</tr>

						<tr>
							<td>6.</td>
							<td>Education Expenses First Child <i class="fa fa-info-circle fa-lg mt-4" tooltip="Tuition Fees only for max. 2 Children.
                Note:-Only Tution Fees component, not Term fees or any other fees" placement="right"></i></td>

							<td>
								<input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_edu_expense_first_child_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.edu_expense_first_child_file!== null"
										[innerHTML]="getFileView(budgetedDetails.edu_expense_first_child_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_edu_expense_first_child_file"
									(change)="fileChangeEvent($event,'edu_expense_first_child_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_edu_expense_first_child_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.edu_expense_first_child_file!== null"
										[innerHTML]="getFileView(actualDetails.edu_expense_first_child_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_edu_expense_first_child_file"
									(change)="fileChangeEvent($event,'edu_expense_first_child_file')">
							</td>

						</tr>
						<tr>
							<td></td>
							<td>Second Child <i class="fa fa-info-circle fa-lg mt-4" tooltip="Tuition Fees only for max. 2 Children.
                Note:-Only Tution Fees component, not Term fees or any other fees" placement="right"></i></td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_edu_expense_secnd_child_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.edu_expense_secnd_child_file!== null"
										[innerHTML]="getFileView(budgetedDetails.edu_expense_secnd_child_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_edu_expense_secnd_child_file"
									(change)="fileChangeEvent($event,'edu_expense_secnd_child_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_edu_expense_secnd_child_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.edu_expense_secnd_child_file!== null"
										[innerHTML]="getFileView(actualDetails.edu_expense_secnd_child_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_edu_expense_secnd_child_file"
									(change)="fileChangeEvent($event,'edu_expense_secnd_child_file')">
							</td>

						</tr>
						<tr>
							<td>7.</td>
							<td>Fixed Deposit <i class="fa fa-info-circle fa-lg mt-4"
									tooltip="With Banks allowed under 80C (Max. 5 Years)" placement="right"></i></td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_fixed_deposite_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.fixed_deposite_file!== null"
										[innerHTML]="getFileView(budgetedDetails.fixed_deposite_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_fixed_deposite_file"
									(change)="fileChangeEvent($event,'fixed_deposite_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_fixed_deposite_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.fixed_deposite_file!== null"
										[innerHTML]="getFileView(actualDetails.fixed_deposite_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_fixed_deposite_file"
									(change)="fileChangeEvent($event,'fixed_deposite_file')">
							</td>

						</tr>
						<tr>
							<td>8.</td>
							<td>Sukanya Samriddhi Scheme</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_sukanya_schme_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.sukanya_schme_file!== null"
										[innerHTML]="getFileView(budgetedDetails.sukanya_schme_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_sukanya_schme_file"
									(change)="fileChangeEvent($event,'sukanya_schme_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_sukanya_schme_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.sukanya_schme_file!== null"
										[innerHTML]="getFileView(actualDetails.sukanya_schme_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_sukanya_schme_file"
									(change)="fileChangeEvent($event,'sukanya_schme_file')">
							</td>

						</tr>

						<tr>
							<td>9.</td>
							<td>Housing Loan Repayment <i class="fa fa-info-circle fa-lg mt-4"
									tooltip="(Principle Amount) - Self occupied only" placement="right"></i>
							</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_housing_loan_principle_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.housing_loan_principle_file!== null"
										[innerHTML]="getFileView(budgetedDetails.housing_loan_principle_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_housing_loan_principle_file"
									(change)="fileChangeEvent($event,'housing_loan_principle_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_housing_loan_principle_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.housing_loan_principle_file!== null"
										[innerHTML]="getFileView(actualDetails.housing_loan_principle_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_housing_loan_principle_file"
									(change)="fileChangeEvent($event,'housing_loan_principle_file')">
							</td>

						</tr>
						<tr>
							<td></td>
							<td>Housing Loan Interest <i class="fa fa-info-circle fa-lg mt-4"
									tooltip="Please attach Completion Certificate / House Tax Recelpt / Possession Letter & attach Provisional Cetififcate indicating total Principal & Interest separately for FY {{activeObject.financial_year}}"
									placement="right"></i>
							</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_housing_loan_interest_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.housing_loan_interest_file!== null"
										[innerHTML]="getFileView(budgetedDetails.housing_loan_interest_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_housing_loan_interest_file"
									(change)="fileChangeEvent($event,'housing_loan_interest_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_housing_loan_interest_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.housing_loan_interest_file!== null"
										[innerHTML]="getFileView(actualDetails.housing_loan_interest_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_housing_loan_interest_file"
									(change)="fileChangeEvent($event,'housing_loan_interest_file')">
							</td>

						</tr>
						<tr>
							<td>10.</td>
							<td>Medical insurance Self, Spouse & Dependent Children<i
									class="fa fa-info-circle fa-lg mt-4" tooltip="Premium (80D) (upto 25K)"
									placement="right"></i>
							</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_medical_insurance_self_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.medical_insurance_self_file!== null"
										[innerHTML]="getFileView(budgetedDetails.medical_insurance_self_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_medical_insurance_self_file"
									(change)="fileChangeEvent($event,'medical_insurance_self_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_medical_insurance_self_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.medical_insurance_self_file!== null"
										[innerHTML]="getFileView(actualDetails.medical_insurance_self_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_medical_insurance_self_file"
									(change)="fileChangeEvent($event,'medical_insurance_self_file')">
							</td>

						</tr>
						<tr>
							<td></td>
							<td>Medical insurance Parent<i class="fa fa-info-circle fa-lg mt-4"
									tooltip="(whether dependent or not)" placement="right"></i>
							</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_medical_insurance_parent_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.medical_insurance_parent_file!== null"
										[innerHTML]="getFileView(budgetedDetails.medical_insurance_parent_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_medical_insurance_parent_file"
									(change)="fileChangeEvent($event,'medical_insurance_parent_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_medical_insurance_parent_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.medical_insurance_parent_file!== null"
										[innerHTML]="getFileView(actualDetails.medical_insurance_parent_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_medical_insurance_parent_file"
									(change)="fileChangeEvent($event,'medical_insurance_parent_file')">
							</td>

						</tr>

						<tr>
							<td>11.</td>
							<td>Payment of Self / Children Education Loan interest <i
									class="fa fa-info-circle fa-lg mt-4" tooltip="(80E)" placement="right"></i>
							</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_self_child_edu_loan_interest_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.self_child_edu_loan_interest_file!== null"
										[innerHTML]="getFileView(budgetedDetails.self_child_edu_loan_interest_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled"
									formControlName="b_self_child_edu_loan_interest_file"
									(change)="fileChangeEvent($event,'self_child_edu_loan_interest_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_self_child_edu_loan_interest_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.self_child_edu_loan_interest_file!== null"
										[innerHTML]="getFileView(actualDetails.self_child_edu_loan_interest_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_self_child_edu_loan_interest_file"
									(change)="fileChangeEvent($event,'self_child_edu_loan_interest_file')">
							</td>

						</tr>
						<tr>
							<td>12.</td>
							<td>Rent Paid <i class="fa fa-info-circle fa-lg mt-4"
									tooltip="If living in Rented House & wish to claim HRA deduction,
                pls specify Rent per month. Submission of Notarised Rent Agreement covering period of relevant fin. Year, is mandatory." placement="right"></i>
							</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_hra_deduction_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.hra_deduction_file!== null"
										[innerHTML]="getFileView(budgetedDetails.hra_deduction_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_hra_deduction_file"
									(change)="fileChangeEvent($event,'hra_deduction_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_hra_deduction_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.hra_deduction_file!== null"
										[innerHTML]="getFileView(actualDetails.hra_deduction_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_hra_deduction_file"
									(change)="fileChangeEvent($event,'hra_deduction_file')">
							</td>

						</tr>
						<tr>
							<td>13.</td>
							<td>Medical Expenditure</td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_medical_expenditure_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.medical_expenditure_file!== null"
										[innerHTML]="getFileView(budgetedDetails.medical_expenditure_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_medical_expenditure_file"
									(change)="fileChangeEvent($event,'medical_expenditure_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_medical_expenditure_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.medical_expenditure_file!== null"
										[innerHTML]="getFileView(actualDetails.medical_expenditure_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_medical_expenditure_file"
									(change)="fileChangeEvent($event,'medical_expenditure_file')">
							</td>

						</tr>
						<tr>
							<td>14.</td>
							<td>Any other Investment </td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_other_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.other_file!== null"
										[innerHTML]="getFileView(budgetedDetails.other_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_other_file"
									(change)="fileChangeEvent($event,'other_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_other_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.other_file!== null"
										[innerHTML]="getFileView(actualDetails.other_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_other_file"
									(change)="fileChangeEvent($event,'other_file')">
							</td>

						</tr>
						<tr>
							<td>15.</td>
							<td>Any other Investment under Chapter-V1-A </td>

							<td><input type="text" class="form-control" numbersOnly [readonly]="isBudgetedDisabled"
									formControlName="b_other_payment_v1_a_amt">
							</td>
							<td>
								<ng-container *ngIf="budgetedDetails!== null && mode">
									<div *ngIf="budgetedDetails.other_payment_v1_a_file!== null"
										[innerHTML]="getFileView(budgetedDetails.other_payment_v1_a_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isBudgetedDisabled" formControlName="b_other_payment_v1_a_file"
									(change)="fileChangeEvent($event,'other_payment_v1_a_file')">
							</td>
							<td><input type="text" class="form-control" numbersOnly [readonly]="isActualDisabled"
									formControlName="a_other_payment_v1_a_amt"></td>

							<td>
								<ng-container *ngIf="actualDetails!== null && mode">
									<div *ngIf="actualDetails.other_payment_v1_a_file!== null"
										[innerHTML]="getFileView(actualDetails.other_payment_v1_a_file)">
									</div>
								</ng-container>
								<input type="file" [hidden]="mode" class="form-control" multiple
									[readonly]="isActualDisabled" formControlName="a_other_payment_v1_a_file"
									(change)="fileChangeEvent($event,'other_payment_v1_a_file')">
							</td>

						</tr>
						<tr *ngIf="investmentStatusApproval">
							<td colspan="3">
								Budgted Status :
								<ng-container *ngIf="budgetedDetails!== null">
									<button type="button" class="btn btn-outline-warning"
										[ngClass]="{'active': budgetedDetails.status === 'Pending'}"
										(click)="updateStatus(1,'Pending')">Pending</button>
									<button type="button" class="btn btn-outline-danger"
										[ngClass]="{'active': budgetedDetails.status === 'Rejected'}"
										(click)="updateStatus(1,'Rejected')">
										<font color='black'>Rejected</font>
									</button>

									<button type="button" class="btn btn-outline-success"
										[ngClass]="{'active': budgetedDetails.status === 'Verified'}"
										(click)="updateStatus(1,'Verified')">
										<font color='black'>Verified</font>
									</button>

								</ng-container>
								<ng-container *ngIf="budgetedDetails== null">
									<button type="button" class="btn btn-outline-dark">Not Filled</button>
								</ng-container>
							</td>
							<td colspan="3">
								Actual Status :
								<ng-container *ngIf="actualDetails!== null">
									<button type="button" class="btn btn-outline-warning"
										[ngClass]="{'active': actualDetails.status === 'Pending'}"
										(click)="updateStatus(2,'Pending')">Pending</button>
									<button type="button" class="btn btn-outline-danger"
										[ngClass]="{'active': actualDetails.status === 'Rejected'}"
										(click)="updateStatus(2,'Rejected')">
										<font color='black'>Rejected</font>
									</button>
									<button type="button" class="btn btn-outline-success"
										[ngClass]="{'active': actualDetails.status === 'Verified'}"
										(click)="updateStatus(2,'Verified')">
										<font color='black'>Verified</font>
									</button>
								</ng-container>
								<ng-container *ngIf="actualDetails== null">
									<button type="button" class="btn btn-outline-dark">Not Filled</button>
								</ng-container>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class="btn btn-primary"><i class="fa fa-save "></i> Save</button>
			</form>
			<!-- {{ budgetedDetails.lic_file | json }} -->
			<!--   <hr>
        <div class="col-md-12">
          <table class="table table-bordered">
              <thead>
                <tr>
                    <th>Sr No</th>
                    <th>File</th>
                    <th>Budget Files</th>
                    <th>Actual Files</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>LIC Files</td>
                  <td>
                    <ng-container *ngIf="budgetedDetails">
                      <ng-container *ngFor="let item of budgetedDetails.lic.filePath">
                        <a href="{{serverUrl + item}}" target="_blank" class="btn btn-primary">View Doc</a>
                      </ng-container>
                    </ng-container>
                  </td>
                  <td>
                    <ng-container *ngIf="actualDetails">
                      <ng-container *ngFor="let item of actualDetails.lic.filePath">
                        <a href="{{serverUrl + item}}" target="_blank" class="btn btn-primary">View Doc</a>
                      </ng-container>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
          </table>
        </div> -->
		</div>

		<div *ngIf="!activeObject">
			<h3 style="text-align: center;">
				SAVING QUALIFYING FOR DEDUCTION UNDER PROVISIONS OF INCOME TAX ACT 1961
			</h3>
			<p> <u>Please read carefully guideline give below before filling up this form as incomplete / Incorrect
					forms will
					get rejected.</u></p>
			<u><b>Declaration :-</b></u><br>
			<p>1. If documents submitted by me are not genuine &amp; not valid as per Income Tax Act, then I do not have
				any
				objection if co. deduct heavy TDS in any of the month.</p>
			<p>2. I hereby declare that the particulars given are true and correct to the best of my knowledge and
				belief. I
				confirm that I have all the original documents in support of the declaration and I shall produce the
				same
				anytime on demand.</p>
			<p>3. I confirm that the Housing Loan principal and interest repayment amount declared by me is towards the
				loan
				taken for the house occupied by me. I further confirm that Completion Certificate for same is available
				with me.
			</p>
			<p>4. I undertake &amp; agree with M/s. SUSHILA PARMAR INTERNATIONAL PVT. LTD. to deduct applicable TDS as
				per
				Income Tax Act in absence of valid supporting documents.</p>
			<u><b>Guidelines for filling up the form</b></u><br>
			<ul>
				<li>Attach Xerox copies of all relevant documents to this Declaration, Do not attach any original
					documents.
				</li>
				<li>For declaration of housing loan and interest, please attach Completion Certificate issued by
					Corporation / Panchayat / Municipal Tax receipt / Possession Letter and Certificate issued by
					lending
					institution like HDFC / ICICI / IDBI Banks/or any other Fin Institute.</li>
				<li><b>Note - in absence of valid supporting Declaration will not be accepted &amp; applicable TDS will
						be
						deducted till the receipt of valid supporting.</b></li>
				In case LIC or any other premiums for which frequency is monthly/quarterly/yearly, you can provide the
				same
				whenever payment done, but for this initially you can provide the test year's statement giving written
				instruction that the same investment amount will be continued for current FY also.
			</ul>
		</div>
	</main>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>