<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0" *ngIf="view_opt">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt dataKey="id" styleClass="inventory_movement_table" [value]="data" [rows]="50"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								[globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
								(onLazyLoad)="onFilter($event, dt)"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">
												<a class="btn btn-success text-white mb-1 mr-2"
													(click)="exportData('Excel')" data-toggle="tooltip"
													data-placement="top" title="Excel">
													<i class="fa fa-file-excel-o"></i>
													<span class="export-text d-none">Excel</span>
												</a>
												<a class="btn btn-danger text-white mb-1 mr-2"
													(click)="exportData('PDF')" data-toggle="tooltip"
													data-placement="top" title="PDF">
													<i class="fa fa-file-pdf-o"></i>
													<span class="export-text d-none">PDF</span>
												</a>
												<!-- "{{selected_date_range |  date : "dd-MM-yyyy"}}" 
												value="{{datePickerConfig| date: 'DD-MM-yyyy'}}"
												-->
												<!-- [bsConfig]="datePickerConfig" -->
												<div class="form-group mb-1 mr-1">
													<input pInputText [(ngModel)]="selected_date_range"
														(ngModelChange)="clearDropdown (); getData()"
														[bsConfig]="datePickerConfig" #dp="bsDaterangepicker"
														[maxDate]="maxDate" bsDaterangepicker
														placeholder="Choose Date Range" class="form-control page-filter"
														readonly />&nbsp;
													<app-dropdown-daterange (dateEvent)="receiveDate($event)"
														[uploadSuccess]="uploadSuccess"></app-dropdown-daterange>
												</div>
											</div>
										</div>
										<!-- {{bsDaterangepicker}} -->
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											{{col.header}}
											<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
										</th>
									</tr>
									<tr>
										<th *ngFor="let col of columns">
											<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
												defaultLabel="All"
												(onChange)="customFilter($event.value, col.field, 'in')">
											</p-multiSelect>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData let-expanded="expanded"
									let-rowIndex="rowIndex">
									<tr class="ui-selectable-row">
										<td *ngFor="let col of cols">
											<div *ngIf="col.field != 'action'">
												<span class="ui-column-title">{{ col.header }}: </span>
												<!-- <div *ngIf="col.type == 'index'" class="text-success">
													{{ rowIndex + 1 }}
												</div> -->
												<!-- <div *ngIf="col.type == 'REMARK'">
													<span *ngIf="rowData[col.field]!= null">
														{{ rowData[col.field] }}
														<button *ngIf="rowData[col.field]!= null"
															class="btn btn-sm btn-warning"
															(click)="onAction(rowData,'Edit_Remark')">Edit</button>

													</span>
													<button *ngIf="rowData[col.field] == null" class="btn btn-success"
														(click)="onAction(rowData,'REMARK')">Add</button>

												</div> -->
												<!-- <div *ngIf="col.type == 'created_at'" class="text-success">
													{{ rowData[col.field] | date:'short' }}
												</div> -->
												<div *ngIf="col.type == null">
													{{ rowData[col.field] }}
												</div>
												<!-- <div *ngIf="col.type == 'Avg'">
													{{ rowData[col.field] | currency:'INR'}}
												</div> -->
												<div *ngIf="col.type == 'Quantity'">
													{{ rowData[col.field] }}
												</div>
												<div *ngIf="col.type == 'Amount'">
													{{ rowData[col.field] | currency:'INR' }}
												</div>
												<div *ngIf="col.type == 'Date'">
													{{ rowData[col.field] | date:'dd-MMM-yyyy hh:mm a' }}
												</div>

												<!-- <div *ngIf="col.type == 'Date_Time'">
													{{ rowData[col.field] | date:'dd-MMM-yyyy hh:mm a' }}
												</div> -->
												<!-- <div *ngIf="col.field == 'invoice_no'">
													{{ rowData[col.field] }}
													<a *ngIf="rowData.invoice_copy != null"
														class="btn btn-outline-success btn-sm action-btn mb-2 mr-1"
														data-toggle="tooltip" data-placement="top"
														title="Download Invoice"
														(click)="onAction(rowData.invoice_copy, 'Download_Invoice')">
														<i class="fa fa-download"></i>
													</a>
												</div> -->
											</div>
											<div *ngIf="col.field == 'action' && inventory_movement_actions">
												<!-- <a class="btn btn-outline-dark btn-sm action-btn mr-1 mb-1"
													data-toggle="tooltip" data-placement="top" title="Change changeLocalImportFlag"
													(click)="onAction(rowData, 'changeLocalImportFlag')" disabled>
													<i class="fa fa-pencil text-danger">&nbsp; Change Flag</i>
												</a> -->

												<!-- <a type="button" class="btn btn-outline-dark btn-sm action-btn mr-1 mb-1" [disabled]="rowData.surisha_stock_flag==0"
												data-toggle="tooltip" data-placement="top" title="View Order"
												(click)="onAction(rowData, 'changeSurishaFlag')">
												<i class="fa fa-pencil bg-warning">&nbsp; Remove Surisha</i>
												</a> -->

												<button type="submit"
													class="btn btn-outline-dark btn-sm action-btn mr-1 mb-1"
													(click)="onAction(rowData, 'changeLocalImportFlag')"><i
														class="fa fa-pencil text-danger">&nbsp; Change Flag</i></button>

												<button type="submit" class="btn btn-outline-dark btn-sm action-btn mr-1 mb-1"
													[ngClass]="rowData.surisha_stock_flag == 1 ? 'btn-danger': 'btn-primary'"
													(click)="onAction(rowData, 'changeSurishaFlag')">
													<i class="fa fa-pencil">&nbsp;{{rowData.surisha_stock_flag == 1 ?'Remove Surisha':'Move to Surisha' }} </i></button>

												<button type="submit"
													class="btn btn-outline-dark btn-sm action-btn mr-1 mb-1 btn btn-secondary"
													(click)="onAction(rowData, 'changeGodownFlag')">
													<i class="fa fa-pencil">&nbsp; Change Godown</i>
												</button>

												<button type="submit"
													class="btn btn-outline-dark btn-sm action-btn mr-1 mb-1 btn btn-secondary"
													(click)="onAction(rowData, 'splitStockFlag')">
													<i class="fa fa-pencil">&nbsp; Split Stock</i>
												</button>

												<button type="submit"
													class="btn btn-outline-dark btn-sm action-btn mr-1 mb-1 btn btn-secondary"
													(click)="onAction(rowData, 'changeGradeFlag')">
													<i class="fa fa-pencil">&nbsp; Change Grade</i>
												</button>

												<button type="submit" class="btn btn-outline-dark btn-sm action-btn mr-1 mb-1 btn btn-secondary" mwlConfirmationPopover
													[popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" [confirmText]="confirmText"
													[cancelText]="cancelText" [placement]="placement" [closeOnOutsideClick]="closeOnOutsideClick"
													confirmButtonType="danger" cancelButtonType="success" (confirm)="onDelete(rowData)" (cancel)="cancelClicked = true">
													<i class="fa fa-trash text-danger">&nbsp; Delete</i>
												</button>

											</div>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="footer" let-columns>
									<tr>
										<td *ngFor="let col of columns">
											<strong *ngIf="col.type == 'Quantity'">
												Total: {{ col.total }} MT
											</strong>
											<strong *ngIf="col.type == 'Amount'">
												Total: {{ col.total | currency:'INR' }}
											</strong>
											<strong *ngIf="col.type == 'Avg'">
												Avg.Rate: {{ col.total | currency:'INR' }}
											</strong>
											<strong *ngIf="col.type == 'action'">
												Quantity : {{ tot_qty }} MT
											</strong>
											<!-- class="badge text-success" -->

										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- REMARK ADDED -->
<div bsModal #remarkModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form [formGroup]="remarkForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">Godown Change</h4>
					<button type="button" class="close" (click)=" oncloseModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<label for="godown" class="col-form-label"><b>Godown</b></label>
							<ng-select id="godown" placeholder="Select Godown" [searchable]="true"
								formControlName="godown_id" [clearable]="true" bindLabel="godown_name" bindValue="id"
								[items]="godownList">
							</ng-select>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary mr-1" type="submit" [disabled]="remarkForm.invalid">
						<i class="fa fa-dot-circle-o"></i>Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<!-- Split Quantiry modal -->
<div bsModal #splitStockModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">

		<div class="modal-content">
			<form [formGroup]="splitQtyForm" novalidate (ngSubmit)="onSplitSubmit()" autocomplete="off">
				<div class="modal-header">
						<h4>Split {{splitHeader}} stock</h4>
						<button type="button" class="close" (click)="splitStock()" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<label for="godown" class="col-form-label"><b>Quantity</b></label>
							<input type="text" class="form-control" id="quantity" formControlName="quantity"
								placeholder="Enter Quantiry to Split" (keyup)="validateQty($event)" numbersOnly>
							<p style="color: red;" *ngIf="!allowedLimit">Please Enter Quantity in the valid Range to Split</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary mr-1" type="submit" (click)="splitStock()" [disabled]="!allowedLimit">
						<i class="fa fa-dot-circle-o"></i>Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- GRADE CHANGE -->
<div bsModal #gradeModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form [formGroup]="gradeForm" novalidate (ngSubmit)="onSubmitGrade()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">Grade Change</h4>
					<button type="button" class="close" (click)=" oncloseModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<label for="grade" class="col-form-label"><b>Grade</b></label>
							<ng-select id="grade" placeholder="Select Grade" [searchable]="true"
								formControlName="grade_id" [clearable]="true" bindLabel="grade_name" bindValue="grade_id"
								[items]="gradeList">
							</ng-select>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary mr-1" type="submit" [disabled]="gradeForm.invalid">
						<i class="fa fa-dot-circle-o"></i>Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>