<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-inr"></i> Salary Sheet
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <div class="input-group margin bottom">
                            <input type="text" class="form-control"
                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue" readonly>
                            &nbsp;
                            <span class="input-group-append">
                                <button type="button" class="btn btn-primary active inbox_search_height m-t-10"
                                    (click)="onValueChange(2,0)"
                                    tooltip="Display previously calculated Attendance & Salary."
                                    [disabled]='isDisabled'>View</button> &nbsp;
                                <button type="button" class="btn btn-primary active inbox_search_height m-t-10"
                                    (click)="exportExcelVerify()" tooltip=" Mail to BOB verification">Verify
                                    Mail</button> &nbsp;


                                <button type="button" class="btn btn-primary active inbox_search_height m-t-10"
                                    (click)="exportExcel()" tooltip="Send Mail to BOB All Salary Sheet">SEND MAIL TO
                                    BOB</button> &nbsp;


                                <button type="button" class="btn btn-primary active inbox_search_height m-t-10"
                                    (click)="sendWhatsApp()" tooltip="Send Whatsapp to all Employees">Whatsapp</button>
                                &nbsp;

                                <p-dropdown [options]="statusList" [(ngModel)]="selected_status" optionLabel="name"
                                    defaultLabel="All" (onChange)="onChangeStatus($event)">
                                </p-dropdown>


                            </span>


                        </div>
                    </div>
                </div>
            </div>

            <tabset>
                <tab heading="Bank of Baroda">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h4>{{month_year}}</h4>
                        </div>
                    </div>





                    <div class="row">
                        <div class="col-md-2 offset-5" *ngIf="isLoading">
                            <app-loading-spinner></app-loading-spinner>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <p-table #dt [value]="salaryResult" dataKey="id" styleClass="ui-table-customers"
                            [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [autoLayout]="true"
                            [filterDelay]="0" [globalFilterFields]="['emp_name','tds','incentive','bonus']">
                            <ng-template pTemplate="caption">



                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>

                                    <th pSortableColumn="{{col.field}}" *ngFor="let col of cols1"> {{col.header}}
                                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-searchResult let-index="rowIndex">
                                <tr class="ui-selectable-row">
                                    <td>
                                        {{index + 1}}
                                    </td>

                                    <td>
                                        {{bank_acc_no}}
                                    </td>

                                    <td>
                                        {{searchResult.emp_name}}

                                    </td>

                                    <td>
                                        {{searchResult.net_salary.toFixed(2)}}

                                    </td>

                                    <td>
                                        {{searchResult.ifsc_code}}

                                    </td>

                                    <td>
                                        {{searchResult.bank_account_no}}

                                    </td>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td colspan="3" style="text-align:left">Total</td>
                                    <td style="text-align:left">{{total1}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="17" style="text-align:left">No Records found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>



                </tab>
                <tab heading="NEFT">

                    <div class="row text-center">
                        <div class="col-md-12">
                            <h4>{{month_year}}</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 offset-5" *ngIf="isLoading">
                            <app-loading-spinner></app-loading-spinner>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <p-table #dt2 [value]="salaryResult2" dataKey="id" styleClass="ui-table-customers"
                            [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [autoLayout]="true"
                            [filterDelay]="0" [globalFilterFields]="['emp_name','tds','incentive','bonus']">
                            <ng-template pTemplate="caption">


                                <div class="ui-helper-clearfix" style="text-align: left">

                                    <!-- <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                                        (click)="exportExcel()" style="margin-right: 0.5em;"
                                        class="ui-button-success"></button>  -->

                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>

                                    <th pSortableColumn="{{col.field}}" *ngFor="let col of cols2"> {{col.header}}
                                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-searchResult let-index="rowIndex">
                                <tr class="ui-selectable-row">
                                    <td>
                                        {{ (index + 1).toString().padStart(4, "0")}}
                                    </td>

                                    <td>
                                        {{bank_acc_no}}
                                    </td>

                                    <td>
                                        {{searchResult.net_salary.toFixed(2)}}


                                    </td>

                                    <td>
                                        {{searchResult.ifsc_code}}

                                    </td>


                                    <td>

                                        {{searchResult.bank_account_no}}
                                    </td>

                                    <td>
                                        {{searchResult.emp_name}}

                                    </td>

                                    <td>
                                        {{searchResult.acc_type_name}}

                                    </td>


                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td colspan="2" style="text-align:left">Total</td>
                                    <td style="text-align:left">{{total2}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="17" style="text-align:left">No Records found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>




                </tab>
            </tabset>


        </div>
    </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>