<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h4><i class="fa fa-list"></i> Lifting Detail List
                <span class="pull-right"> <button class="btn btn-primary" (click)="getLiftingList()"> <i
                      class="fa fa-refresh"></i></button></span>
              </h4>
            </div>

          </div>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-4">
              <div class="row ">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-4">
                      <label for=""><b>Lifting Date:</b></label>
                    </div>

                    <div class="col-md-8">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="text" class="form-control " bsDaterangepicker [(ngModel)]="bsRangeValue"
                          (ngModelChange)="onSelect($event , 1)" placeholder=" Lifting Date Range ">
                      </div>
                    </div>
                  </div>
                </div>



                <div class="col-md-3">
                  <label for=""><b>Short/ Damage Material List</b></label>
                  <span>
                    <input type="checkbox" [(ngModel)]="status_short_damage_mat"
                      (ngModelChange)="onSelectShortDamage($event)">
                  </span>
                </div>

              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2 offset-5" *ngIf="isLoading">
              <app-loading-spinner></app-loading-spinner>
            </div>
          </div>


          <div class="row" *ngIf="!isLoading">
            
            <div class="col-md-12">
              <p-table #dt [value]="lifitng_details" dataKey="id" styleClass="ui-table-customers  " [rowHover]="true"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading"
                [paginator]="false" [columns]="_selectedColumns" (onFilter)="onFilter($event, dt)" [scrollable]="true"
                [virtualRowHeight]="500" scrollHeight="400px" [virtualScroll]="true" 
                currentPageReportTemplate="Total Records : {{lifitng_details.length}}" [filterDelay]="0"
                [globalFilterFields]="['quantity','truck_no','grade_name','remark','purchase_invoice_no_dt','purchase_invoice_date','term','short_material_qty','damage_material_qty','subOrgName','orgAddress','material_received_date','godownName','marketingPerson','deliveryTerm','short_damage_remark','local_purchase_id','vendor_ref_number']">


                <ng-template pTemplate="caption">

                  <div class="row">


                    <div class="col-md-3">

                      <div class="ui-helper-clearfix" style="text-align: left">
                        <button *ngIf="excel_lift" type="button" pButton icon="pi pi-file-excel" iconPos="left"
                          label="EXCEL" (click)="exportExcelLifting()" style="margin-right: 0.5em;"
                          class="ui-button-success"></button>
                        <button *ngIf="pdf_lift" type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF"
                          (click)="exportPdfLifting()" class="ui-button-warning"></button>
                      </div>

                    </div>

                    <div class="col-md-3">
                      
                      <div class="col-md-5" style="text-align: left">
                        <p-multiSelect [options]="cols_lift" [(ngModel)]="selectedColumns" optionLabel="header"
                          selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                          defaultLabel="Choose Columns"></p-multiSelect>
                      </div>

                    </div>
                    <div class="col-md-2">

                      <ng-select placeholder="Company " [searchable]="true" [clearable]="true"
                        *ngIf="company_filter" bindLabel="label" bindValue="id" [items]="company"
                        [(ngModel)]="company_id" style="font-size: 10px;" (ngModelChange)="onSelect($event , 2)">
                      </ng-select>
                    </div>



                    <div class="col-md-3">

                      <input pInputText class='form-control' type="text"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />

                    </div>


                  </div>



                </ng-template>

                <ng-template pTemplate="header" let-columns>


                  <tr>

                    <th [style.width]="col.style" pSortableColumn="{{col.field}}" *ngFor="let col of columns">
                      {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
               

                  </tr>
                  <tr>
                    <th *ngIf="getColumnPresent('purchase_invoice_no_dt')"></th>

                    <th *ngIf="getColumnPresent('purchase_invoice_date')">
                      <input type="text" class="form-control" [(ngModel)]="purchase_invoice_date"
                        (ngModelChange)="onDateSelect($event,'purchase_invoice_date')"
                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                        bsDatepicker placeholder="Search by Date">
                    </th>

                    <th *ngIf="getColumnPresent('subOrgName')">
                      <div *ngIf="supplier_list.length > 0 ">
                        <p-multiSelect [options]="supplier_list" placeholder="All" appendTo="body"
                          (onChange)="onchange($event,'subOrgName')" styleClass="ui-column-filter"
                          optionLabel='subOrgName'>
                          <ng-template let-op pTemplate="item">

                            <span>&#123;&#123;op.label&#125;&#125;</span>

                          </ng-template>
                        </p-multiSelect>
                      </div>
                    </th>
                    <th *ngIf="getColumnPresent('orgAddress')"></th>

                    <th *ngIf="getColumnPresent('material_received_date')">
                      <input type="text" class="form-control" [(ngModel)]="material_received_date"
                        (ngModelChange)="onDateSelect($event,'material_received_date')"
                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                        bsDatepicker placeholder="Search by Date">
                    </th>

                    <th *ngIf="getColumnPresent('original_doc_recv_flag')"></th>

                    <th *ngIf="getColumnPresent('godownName')">
                      <div *ngIf="godown.length > 0">
                        <p-multiSelect [options]="godown" placeholder="All" appendTo="body"
                          (onChange)="onchange($event,'godownName')" styleClass="ui-column-filter"
                          optionLabel="godownName">
                          <ng-template let-opt pTemplate="item">


                            <span>{{opt.label}}</span>

                          </ng-template>
                        </p-multiSelect>
                      </div>
                    </th>

                    <th *ngIf="getColumnPresent('marketingPerson')">
                      <div *ngIf="zones.length > 0 ">
                        <p-multiSelect [options]="zones" placeholder="All" appendTo="body"
                          (onChange)="onchange($event,'marketingPerson')" styleClass="ui-column-filter"
                          optionLabel="marketingPerson">
                          <ng-template let-opt pTemplate="item">


                            <span>{{opt.label}}</span>

                          </ng-template>
                        </p-multiSelect>
                      </div>
                    </th>
                    <th *ngIf="getColumnPresent('truck_no')"></th>

                    <th *ngIf="getColumnPresent('mainGrade')">
                      <div *ngIf="main_grade.length > 0">
                        <p-multiSelect [options]="main_grade" placeholder="All" appendTo="body"
                          (onChange)="onchange($event,'mainGrade')" styleClass="ui-column-filter"
                          optionLabel="mainGrade">
                          <ng-template let-option pTemplate="item">


                            <span>&#123;&#123;option.label&#125;&#125;</span>

                          </ng-template>
                        </p-multiSelect>
                      </div>
                    </th>


                    <th *ngIf="getColumnPresent('grade_name')">
                      <div *ngIf="grade_type.length > 0">
                        <p-multiSelect [options]="grade_type" placeholder="All" appendTo="body"
                          (onChange)="onchange($event,'grade_name')" styleClass="ui-column-filter"
                          optionLabel="grade_name">
                          <ng-template let-option pTemplate="item">


                            <span>&#123;&#123;option.label&#125;&#125;</span>

                          </ng-template>
                        </p-multiSelect>
                      </div>
                    </th>

                    <th *ngIf="getColumnPresent('quantity')"></th>
                    <th *ngIf="getColumnPresent('Rate')"></th>
                    <th  *ngIf="getColumnPresent('purchase_rate')"></th>
                    <th *ngIf="getColumnPresent('deliveryTerm')">
                      <div *ngIf="delivery_terms.length > 0" >
                        <p-multiSelect [options]="delivery_terms" placeholder="All" appendTo="body"
                          (onChange)="onchange($event,'deliveryTerm')" styleClass="ui-column-filter"
                          optionLabel="deliveryTerm">
                          <ng-template let-option pTemplate="item">


                            <span>&#123;&#123;option.label&#125;&#125;</span>

                          </ng-template>
                        </p-multiSelect>
                      </div>
                    </th>

                    <th  *ngIf="getColumnPresent('remark')"></th>
                    <th *ngIf="getColumnPresent('damage_material_qty')"></th>
                    <th *ngIf="getColumnPresent('short_material_qty')"> </th>
                    <th *ngIf="getColumnPresent('damage_short_dr_cr_note')"></th>
                    <th  *ngIf="getColumnPresent('short_deb_credit_no')"></th>
                    <th  *ngIf="getColumnPresent('damage_deb_credit_no')"></th>
                    <th  *ngIf="getColumnPresent('invoice_copy')"></th>
                    <th  *ngIf="getColumnPresent('original_copy')"></th>
                  </tr>


                </ng-template>
                <ng-template pTemplate="body" let-item let-columns let-index="rowIndex">
                  <tr class="ui-selectable-row">
                    <!--
                            <td >
                              <input type="checkbox" [value]="item" #inputs #checkboxes
                              >
                          </td>
 -->

                    <td style="width: 150px;" *ngIf="getColumnPresent('purchase_invoice_no_dt')">
                      <span class="ui-column-title">Purchase Invoice Number</span>
                      {{item.purchase_invoice_no_dt}} <span *ngIf="item.purchase_invoice_copy">
                        <span *ngFor="let doc of getDocsArray(item.purchase_invoice_copy)">
                          <a href={{doc}} target="_blank"><i class="fa fa-file"></i></a>
                        </span>
                      </span>
                    </td>


                    <td style="width: 150px;" *ngIf="getColumnPresent('purchase_invoice_date')">
                      <span class="ui-column-title">Purchase Invoice Date</span>
                      {{item.purchase_invoice_date | date: 'dd/MM/yyyy'}}
                    </td>


                    <td style="width: 200px;" *ngIf="getColumnPresent('subOrgName')">
                      <span class="ui-column-title">Supplier</span>
                      {{item.subOrgName}} 
                      <div *ngIf="item.vendor_ref_number" style="color: green; font-size: 12px;">Ref No :{{item.vendor_ref_number}}</div>
                    </td>




                    <td style="width: 300px;" *ngIf="getColumnPresent('orgAddress')">
                      <span class="ui-column-title">Supplier Address</span>
                      {{item.orgAddress}}
                    </td>

                    <td pEditableColumn style="width: 150px;" *ngIf="getColumnPresent('material_received_date')">
                      <span class="ui-column-title">Material Received Date</span>
                      <p-cellEditor>
                        <ng-template pTemplate="input" *ngIf="material_date">
                          <input pInputText class="form-control" type="text" [(ngModel)]="item.material_received_date"
                            (ngModelChange)="updateMaterialReceivedDate(item.id,$event)"
                            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                            #dp="bsDatepicker" bsDatepicker readonly>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{item.material_received_date | date: 'dd/MM/yyyy'}}
                        </ng-template>
                      </p-cellEditor>

                    </td>

                    <td style="width: 100px;" *ngIf="getColumnPresent('original_doc_recv_flag')">
                      <span class="ui-column-title">Original Received</span>
                      <span class="badge badge-success" *ngIf="item.original_doc_recv_flag">Received</span>
                      <span class="badge badge-danger" *ngIf="!item.original_doc_recv_flag">Pending</span>
                      <div *ngIf="item.org_doc_invoice_copy != null">
                        <a href="{{doc}}" *ngFor="let doc of getDocsArray(item.org_doc_invoice_copy)" target="_blank">
                          <em class="fa fa-file"></em>
                        </a>
                      </div>
                      <div style="color: red; font-size: 10px;" *ngIf="item.pending_mail_sent_date != null"> Mail Sent
                        Pending:{{item.pending_mail_sent_date | date: 'dd/MM/yyyy'}}</div>

                    </td>



                    <td style="width: 180px;" *ngIf="getColumnPresent('godownName')">
                      <span class="ui-column-title">Godown</span>
                      {{item.godownName}}
                    </td>

                    <td style="width: 150px;" *ngIf="getColumnPresent('marketingPerson')">
                      <span class="ui-column-title">Zone</span>
                      {{item.marketingPerson}}
                    </td>


                    <td style="width: 100px;" *ngIf="getColumnPresent('truck_no')">
                      <span class="ui-column-title">Truck No</span>
                      {{item.truck_no}}
                    </td>
                    <td style="width: 150px;" *ngIf="getColumnPresent('mainGrade')">
                      <span class="ui-column-title">Grade</span>
                      {{item.mainGrade}}
                    </td>


                    <td style="width: 150px;" *ngIf="getColumnPresent('grade_name')">
                      <span class="ui-column-title">Grade</span>
                      {{item.grade_name}}
                    </td>



                    <td style="width: 100px;" *ngIf="getColumnPresent('quantity')">
                      <span class="ui-column-title"> Quantity</span>
                      {{item.quantity}} MT
                    </td>

                    <td style="width: 100px ;" *ngIf="getColumnPresent('Rate')">
                      <span class="ui-column-title">Deal Rate</span>
                      {{item.Rate}}
                    </td>
                    <td style="width: 100px;" pEditableColumn *ngIf="getColumnPresent('purchase_rate')">
                      <span class="ui-column-title">Lifting Rate</span>

                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText class="form-control" type="text" [(ngModel)]="item.purchase_rate"
                            (change)="update($event , item.id , 'purchase_rate' , item )"
                            (keydown.enter)="update($event , item.id , 'purchase_rate', item )">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{item.purchase_rate}}
                        </ng-template>
                      </p-cellEditor>
                    </td>


                    <td style="width: 180px;" *ngIf="getColumnPresent('deliveryTerm')">
                      <span class="ui-column-title"> Devivery Term</span>
                      {{item.deliveryTerm}}
                    </td>
                    <td style="width: 200px;" *ngIf="getColumnPresent('remark')">
                      <span class="ui-column-title"> Remark</span>
                      {{item.remark}}
                    </td>


                    <td pEditableColumn style="width: 150px;" *ngIf="getColumnPresent('damage_material_qty')">
                      <span class="ui-column-title"> Damage Material Quantity</span>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText class="form-control" type="text" [(ngModel)]="item.damage_material_qty"
                            (change)="update($event , item.id , 'damage_material_qty', item )"
                            (keydown.enter)="update($event , item.id , 'damage_material_qty', item )"
                            (change)="update($event , item.id , 'damage_material_qty', item )" numbersOnly>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{item.damage_material_qty * 1000}} KG ({{item.damage_material_qty}} MT )
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td pEditableColumn style="width: 150px;" *ngIf="getColumnPresent('short_material_qty')">
                      <span class="ui-column-title"> Short Material Quantity</span>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText class="form-control" type="text" [(ngModel)]="item.short_material_qty"
                            (change)="update($event , item.id , 'short_material_qty' , item )"
                            (keydown.enter)="update($event , item.id , 'short_material_qty' , item )"
                            (change)="update($event , item.id , 'short_material_qty' , item )" numbersOnly>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{item.short_material_qty * 1000}} kg ({{item.short_material_qty}} MT )
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td pEditableColumn style="width: 250px;" *ngIf="getColumnPresent('damage_short_dr_cr_note')">
                      <span class="ui-column-title"> Short/Damage Material Remark</span>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <textarea pInputText class="form-control" type="text"
                            [(ngModel)]="item.damage_short_dr_cr_note"
                            (change)="update($event , item.id , 'damage_short_dr_cr_note' , item )"
                            (keydown.enter)="update($event , item.id , 'damage_short_dr_cr_note', item )"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{item.damage_short_dr_cr_note}}
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td pEditableColumn style="width: 250px;" *ngIf="getColumnPresent('short_deb_credit_no')">
                      <span class="ui-column-title"> Short Debit/Credit Note No</span>
                      <p-cellEditor>
                        <ng-template pTemplate="input"
                          *ngIf="item.short_material_qty> 0 && item.short_material_qty!= null">
                          <input pInputText class="form-control" type="text" [(ngModel)]="item.short_deb_credit_no"
                            (change)="update($event , item.id , 'short_deb_credit_no',item )"
                            (keydown.enter)="update($event , item.id , 'short_deb_credit_no' , item )">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{item.short_deb_credit_no }}

                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td pEditableColumn style="width: 250px;" *ngIf="getColumnPresent('damage_deb_credit_no')">
                      <span class="ui-column-title"> Damage Debit/Credit Note No</span>
                      <p-cellEditor>
                        <ng-template pTemplate="input"
                          *ngIf="item.damage_material_qty  > 0 && item.damage_material_qty!= null">
                          <input pInputText class="form-control" type="text" [(ngModel)]="item.damage_deb_credit_no"
                            (change)="update($event , item.id , 'damage_deb_credit_no', item )"
                            (keydown.enter)="update($event , item.id , 'damage_deb_credit_no' , item)">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{item.damage_deb_credit_no}}
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td style="width: 100px;" *ngIf="getColumnPresent('invoice_copy')">
                      <span class="ui-column-title"> invoice copy</span>
                      {{item.invoice_copy}}
                    </td>

                    <td style="width: 100px;" *ngIf="getColumnPresent('original_copy')">
                      <span class="ui-column-title"> Original copy</span>
                      {{item.original_copy}}
                    </td>




                    <!-- <td ><a style="cursor: pointer;" (click)="onEdit(item, index)"><i class="fa fa-pencil"></i></a></td>
                            <td ><a style="cursor: pointer;"
                                      mwlConfirmationPopover
                                      [popoverTitle]="popoverTitle"
                                      [popoverMessage]="popoverMessage"
                                      [confirmText]="confirmText"
                                      [cancelText]="cancelText"
                                      [placement]="placement"
                                      [closeOnOutsideClick]="closeOnOutsideClick"
                                      confirmButtonType="danger"
                                      cancelButtonType="success"
                                      (confirm)="onDelete(item.id , index)"
                                      (cancel)="cancelClicked = true"
                                      ><i class="fa fa-trash"></i></a></td> -->
                  </tr>
                </ng-template>

                <ng-template pTemplate="footer">
                  <tr>

                    <td style="width: 150px;"  *ngIf="getColumnPresent('purchase_invoice_no_dt')"></td>
                    <td style="width: 150px;"  *ngIf="getColumnPresent('purchase_invoice_date')"></td>
                    <td style="width: 200px;"  *ngIf="getColumnPresent('subOrgName')"></td>
                    <td style="width: 300px;"  *ngIf="getColumnPresent('orgAddress')"></td>
                    <td style="width: 150px;"  *ngIf="getColumnPresent('material_received_date')"></td>
                    <td style="width: 100px;"  *ngIf="getColumnPresent('original_doc_recv_flag')"></td>
                    <td style="width: 180px;"  *ngIf="getColumnPresent('godownName')"></td>
                    <td style="width: 150px;"  *ngIf="getColumnPresent('marketingPerson')"></td>
                    <td style="width: 100px;"  *ngIf="getColumnPresent('truck_no')"></td>
                    <td style="width: 150px;"  *ngIf="getColumnPresent('mainGrade')"></td>
                    <td style="width: 150px;"  *ngIf="getColumnPresent('grade_name')"></td>
                    <td style="width: 100px;"  *ngIf="getColumnPresent('quantity')">Qty:{{total_qty.toFixed(3)}}</td>
                    <td style="width: 100px;"  *ngIf="getColumnPresent('Rate')">Rate: {{rate.toFixed(2)}}</td>
                    <td style="width: 100px;"  *ngIf="getColumnPresent('purchase_rate')"></td>
                    <td style="width: 180px;"  *ngIf="getColumnPresent('deliveryTerm')"></td>
                    <td style="width: 200px;"  *ngIf="getColumnPresent('remark')"></td>
                    <td style="width: 150px;"  *ngIf="getColumnPresent('damage_material_qty')">{{total_damage_qty.toFixed(2)}}</td>
                    <td style="width: 150px;"  *ngIf="getColumnPresent('short_material_qty')">{{total_short_qty.toFixed(2)}}</td>
                    <td style="width: 250px;"  *ngIf="getColumnPresent('damage_short_dr_cr_note')"></td>
                    <td style="width: 250px;"  *ngIf="getColumnPresent('short_deb_credit_no')"></td>
                    <td style="width: 250px;"  *ngIf="getColumnPresent('damage_deb_credit_no')"></td> 
                    <td style="width: 100px;"  *ngIf="getColumnPresent('invoice_copy')"></td> 
                    <td style="width: 100px;"  *ngIf="getColumnPresent('original_copy')"></td> 

                  </tr>
                  <tr>
                    <td colspan="10" style="text-align:left">Total Records: {{filteredValuess?.length}}</td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">

                  <tr>
                    <td colspan="10" style="text-align:left">No Data found.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<toaster-container [toasterconfig]="toasterconfig"></toaster-container>