<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><em class=" fa fa-rupee "></em> Add charges For {{sub_org_name}} , Port : {{port}}
<!-- 
                        <span class="pull-right">
                            <input type="checkbox" #e (click)="onSubmitFlag(e.checked)"
                                [checked]="charges_submited_flag"> All Charges Submited
                        </span> -->

                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12" >
                                 
                            <div class="card">
                                <div class="card-header">
                                    <h5>Transporter Charges<button type="button" class="btn btn-primary"
                                            (click)="addRow()" ><em
                                                class="fa fa-plus"></em></button></h5>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form [formGroup]="TransporterForm" autocomplete="off" (ngSubmit) ="submitTransporterCharges()">
                                                <div style="overflow: scroll">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th >Transporter</th>
                                                                <th >Amount</th>
                                                                <th >Bill No</th>
                                                                <th >Delete</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr formArrayName="TransporterArr"
                                                                *ngFor="let item of TransporterForm.get('TransporterArr')['controls'] ; let i = index">
                                                                <ng-container [formGroupName]=i>

                                                                  

                                                                    <td >
                                                                        <ng-select
                                                                        placeholder="Select Transporter "
                                                                        [searchable]="true"
                                                                        [clearable]="true"
                                                                        bindLabel="sub_org_name"
                                                                        bindValue="sub_org_id"
                                                                        formControlName="transporter_id"
                                                                        [items]="transporter"  appendTo="body"
                                                                       
                                                                        ></ng-select>
                                                                    </td>
                                                                    <td >
                                                                        <input class="form-control"
                                                                        formControlName="amount"
                                                                        type="text" numbersOnly>
                                                                    </td>
                                                                    <td >
                                                                        <input class="form-control"
                                                                        formControlName="bill_no"
                                                                        type="text" >
                                                                    </td>
                                                                    <td >
                                                                        <button class="btn btn-danger"
                                                                            (click)="delete(i)"><em
                                                                                class="fa fa-trash"></em></button>
                                                                    </td>

                                                                </ng-container>



                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    
                                            <!-- <div class="row">
                                                <div class="col-md-3">
                                                    <input type="file" class="form-control" placeholder="Document"
                                                    [multiple]=true (change)="documentUpload($event , 'Transporter_charges_doc','Transporter_doc','TransporterFile')">
                                                </div>

                                              
                                                    <div class="col-md-12" *ngFor="let doc of TransporterFile">
                                                           <a href="{{doc}}" target="_blank">{{doc | fileName}}</a> <span><i style="cursor: pointer;" class="fa fa-trash" (click)="deleteInvoice(TransporterFile,doc,'Transporter_doc')"></i></span>
                                                    </div>
                                               
                                              
                                            </div> -->






                                                    <div class="row mt-5">
                                                        <div class="col text-center">
                                                            <button class="btn btn-primary mr-1"
                                                                type="submit" [disabled]="TransporterForm.invalid">
                                                                <em
                                                                    class="fa fa-dot-circle-o"></em>Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                  
                    </div>


                    <div class="col-md-12" >
                                 
                        <div class="card">
                            <div class="card-header">
                                <h5>Storage Charges<button type="button" class="btn btn-primary"
                                        (click)="addRowStorage()" ><em
                                            class="fa fa-plus"></em></button></h5>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form [formGroup]="StorageForm" autocomplete="off" (ngSubmit) ="submitStorageCharges()">
                                            <div style="overflow: scroll">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th >Godown</th>
                                                            <th >From Date</th>
                                                            <th >To Date</th>
                                                            <th >Amount</th>
                                                            <th >Delete</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr formArrayName="StorageArr"
                                                            *ngFor="let item of StorageForm.get('StorageArr')['controls'] ; let i = index">
                                                            <ng-container [formGroupName]=i>

                                                              

                                                                <td >
                                                                    <ng-select
                                                                    placeholder="Select Storage "
                                                                    [searchable]="true"
                                                                    [clearable]="true"
                                                                    bindLabel="godown_name"
                                                                    bindValue="godown_id"
                                                                    formControlName="godown_id"
                                                                    [items]="godown" appendTo="body"
                                                                    (change) = "getGodownDetails($event , i)"
                                                                   
                                                                    ></ng-select>
                                                                </td>
                                                                <td >
                                                                    <input type="text"
                                                                        formControlName="from_date"
                                                                        class="form-control"
                                                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                                                        #dp="bsDatepicker" bsDatepicker
                                                                        placement="up"
                                                                        placeholder="From Date">
                                                                </td>

                                                                <td >
                                                                    <input type="text"
                                                                        formControlName="to_date"
                                                                        class="form-control"
                                                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                                                        #dp="bsDatepicker" bsDatepicker
                                                                        placement="up"
                                                                        placeholder="To Date" > 
                                                                        
                                                                </td>
                                                                <td >
                                                                    <input class="form-control"
                                                                    formControlName="amount"
                                                                    type="text" numbersOnly>
                                                                </td>
                                                               
                                                                <td >
                                                                    <button class="btn btn-danger"
                                                                        (click)="deleteStorage(i)"><em
                                                                            class="fa fa-trash"></em></button>
                                                                </td>

                                                            </ng-container>



                                                        </tr>
                                                    </tbody>
                                                </table>

                                                
                                        <!-- <div class="row">
                                            <div class="col-md-3">
                                                <input type="file" class="form-control" placeholder="Document"
                                                [multiple]=true (change)="documentUpload($event , 'Storage_charges_doc','Storage_doc','StorageFile')">
                                            </div>

                                          
                                                <div class="col-md-12" *ngFor="let doc of StorageFile">
                                                       <a href="{{doc}}" target="_blank">{{doc | fileName}}</a> <span><i style="cursor: pointer;" class="fa fa-trash" (click)="deleteInvoice(StorageFile,doc,'Storage_doc')"></i></span>
                                                </div>
                                           
                                          
                                        </div> -->






                                                <div class="row mt-5">
                                                    <div class="col text-center">
                                                        <button class="btn btn-primary mr-1"
                                                            type="submit" [disabled]="StorageForm.invalid">
                                                            <em
                                                                class="fa fa-dot-circle-o"></em>Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">

                            </div>
                        </div>
              
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
