<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12 p-0">
			<form [formGroup]="subOrgForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off"
				class="needs-validation">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-3 card-heading-left">
								<i class="fa fa-plus"></i> {{ page_title }}
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="org_id">Main Organization
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="sub_org_name">Sub-Organization Name
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="org_id">Unit Type
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Country
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">State
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">City
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Location
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Pincode
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-9">
								<div class="form-group">
									<label for="org_id">Address
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Sales Account Holder
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Purchase Account Holder
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Trader/Manufature
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Company
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-3 card-heading-left">
								<i class="fa fa-plus"></i> Add Details
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Category
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Product Tags
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Products
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">PAN Number
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">TAN Number
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">IEC
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">GST Number
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="org_id">Virtual Account Number
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="org_id">Base Limit
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="org_id">Adhoc Limit
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="org_id">Overdue Limit
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="org_id">Payment Term
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="org_id">Transit Days
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="org_id">BCD Licence %
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-3 card-heading-left">
								<i class="fa fa-plus"></i> Add Cheque Details
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="org_id">Cheque Status
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="org_id" formControlName="org_id" placeholder="Main Organization"
										[searchable]="true" [clearable]="true" bindLabel="org_name" bindValue="org_id"
										[items]="mainOrgList" #select (close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'main_org')">
									</ng-select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="sub_org_name">Cheque Number
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="sub_org_name">Cheque Amount
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="sub_org_name">Cheque Scan Copy
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="file" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="sub_org_name">Mail Scan Copy
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="file" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="sub_org_name">Note
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="sub_org_name"
										formControlName="sub_org_name" placeholder="Sub-Organization Name">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>