<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>
						<div class="col-md-6 text-right">
							<button *ngIf="add_opt" type="button" class="btn btn-primary"
								(click)="onAction(null, 'Add', null)">
								<i class="fa fa-plus"></i> Add Attendance Rule
							</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt dataKey="id" styleClass="attendance_rules_table" [value]="data" [rows]="10"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								[globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
								(onLazyLoad)="onFilter($event, dt)"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">
												<a class="btn btn-success text-white mb-1 mr-2"
													(click)="exportData('Excel')" data-toggle="tooltip"
													data-placement="top" title="Excel">
													<i class="fa fa-file-excel-o"></i>
													<span class="export-text d-none">Excel</span>
												</a>
												<a class="btn btn-danger text-white mb-1 mr-2"
													(click)="exportData('PDF')" data-toggle="tooltip"
													data-placement="top" title="PDF">
													<i class="fa fa-file-pdf-o"></i>
													<span class="export-text d-none">PDF</span>
												</a>
											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											{{col.header}}
											<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData>
									<tr class="ui-selectable-row">
										<td *ngFor="let col of cols">
											<div *ngIf="col.field != 'action'">
												<span class="ui-column-title">{{ col.header }}: </span>
												<div *ngIf="col.type == null">
													{{ rowData[col.field] }}
												</div>
												<div *ngIf="col.type == 'Time'">
													{{ rowData[col.field] | date:'dd-MMM-yyyy' }}
												</div>
											</div>
											<div *ngIf="col.field == 'action'" class="text-center">
												<button *ngIf="edit_opt" class="btn btn-primary btn-sm action-btn mb-2"
													(click)="onAction(rowData, 'Edit', null)">
													<i class="fa fa-pencil"></i>
												</button>
												<button *ngIf="del_opt"
													class="btn btn-danger btn-sm action-btn mx-2 mb-2"
													mwlConfirmationPopover [popoverTitle]="popoverTitle"
													[popoverMessage]="popoverMessage" [confirmText]="confirmText"
													[cancelText]="cancelText" [placement]="placement"
													[closeOnOutsideClick]="closeOnOutsideClick"
													confirmButtonType="success" cancelButtonType="danger"
													(confirm)="onAction(rowData, 'Delete', null)"
													(cancel)="cancelClicked = true">
													<i class="fa fa-trash text-white"></i>
												</button>
											</div>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #addAttendanceRuleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Add Attendance Rule" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<form [formGroup]="attendanceRuleForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off"
				class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title">Add Attendance Rule</h4>
					<button type="button" class="close" (click)="closeModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="emp_type" class="col-form-label">Employee Type <sup
										class="text-danger"><strong>*</strong></sup></label>
								<ng-select id="emp_type" formControlName="emp_type" bindLabel="name" bindValue="id"
									[items]="emp_type_list" placeholder="Select Employee Type" [clearable]="true">
								</ng-select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="col-form-label" for="financial_year">Year <sup
										class="text-danger"><strong>*</strong></sup></label>
								<input class="form-control" id="financial_year" formControlName="financial_year"
									type="text" placeholder="Enter Year" numbersOnly>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="col-form-label" for="yearly_leaves">Leaves <sup
										class="text-danger"><strong>*</strong></sup></label>
								<input class="form-control" id="yearly_leaves" formControlName="yearly_leaves"
									type="text" placeholder="Enter Yearly Leaves" numbersOnly>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="col-form-label" for="yearly_late">Late <sup
										class="text-danger"><strong>*</strong></sup></label>
								<input class="form-control" id="yearly_late" formControlName="yearly_late" type="text"
									placeholder="Enter Yearly Late" numbersOnly>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="col-form-label" for="yearly_early">Early <sup
										class="text-danger"><strong>*</strong></sup></label>
								<input class="form-control" id="yearly_early" formControlName="yearly_early" type="text"
									placeholder="Enter Yearly Early" numbersOnly>
							</div>
						</div>
					</div>
					<div class="row px-3">
						<div class="col-6 col-md-2 p-1">
							<div class="form-group time">
								<label class="col-form-label" for="in_time">In Time</label>
								<timepicker id="in_time" formControlName="in_time"></timepicker>
							</div>
						</div>
						<div class="col-6 col-md-2 p-1">
							<div class="form-group time">
								<label class="col-form-label" for="out_time">Out Time</label>
								<timepicker id="out_time" formControlName="out_time"></timepicker>
							</div>
						</div>
						<div class="col-6 col-md-2 p-1">
							<div class="form-group time">
								<label class="col-form-label" for="late_mark">Late Time</label>
								<timepicker id="late_mark" formControlName="late_mark"></timepicker>
							</div>
						</div>
						<div class="col-6 col-md-2 p-1">
							<div class="form-group time">
								<label class="col-form-label" for="early_mark">Early Time</label>
								<timepicker id="early_mark" formControlName="early_mark"></timepicker>
							</div>
						</div>
						<div class="col-6 col-md-2 p-1">
							<div class="form-group time">
								<label class="col-form-label" for="first_half_day">First Half Day</label>
								<timepicker id="first_half_day" formControlName="first_half_day"></timepicker>
							</div>
						</div>
						<div class="col-6 col-md-2 p-1">
							<div class="form-group time">
								<label class="col-form-label" for="second_half_day">Second Half Day</label>
								<timepicker id="second_half_day" formControlName="second_half_day">
								</timepicker>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"
						[disabled]="attendanceRuleForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>