<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4" *ngIf="add_opt">
      <div class="card">
        <div class="card-header">
          <i class="icon-home"></i> Port Master
        </div>
        <form [formGroup]="portForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
          <div class="card-body">

            <div class="row">

              <input class="form-control" id="id" type="hidden" formControlName="id" />
              <div class="col-md-5">
                <div class="form-group">
                  <label class="col-form-label" for="port_name">Port Name</label>
                  <input class="form-control" id="port_name" type="text" formControlName="port_name"
                    placeholder="Enter Port Name" autocomplete="given-name" />
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="col-form-label" for="gst_no">Gst Number</label>
                  <input class="form-control" id="gst_no" type="text" formControlName="gst_no"
                    placeholder="Enter Gst Number" autocomplete="given-name" />
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="col-form-label" for="port_full_name">Port Full Name</label>
                  <input class="form-control" id="port_full_name" type="text" formControlName="port_full_name"
                    placeholder="Enter Port Name" autocomplete="given-name" />
                </div>
              </div>

              <div class="col-md-5">
                <div class="form-group">
                  <label class="col-form-label" for="abbr">Abbrivation</label>
                  <input class="form-control" id="abbr" type="text" formControlName="abbr"
                    placeholder="Enter Abbrivation" autocomplete="given-name" />
                </div>
              </div>

              <div class="col-md-10">
                <div class="form-group">
                  <label class="col-form-label" for="email">Email</label>
                  <input class="form-control" id="abbr" type="text" formControlName="email"
                    placeholder="Enter Email With comma seperated" autocomplete="given-name" />
                </div>
              </div>

              <div class="col-md-10">
                <div class="form-group">
                  <label class="col-form-label" for="email_coa">COA Email </label>
                  <input class="form-control" id="email_coa" type="text" formControlName="email_coa"
                    placeholder="Enter Email With comma seperated" autocomplete="given-name" />
                </div>
              </div>

              <div class="col-md-10">
                <div class="form-group">
                  <label class="col-form-label" for="email_delivery">Delivery Email </label>
                  <input class="form-control" id="email_delivery" type="text" formControlName="email_delivery"
                    placeholder="Enter Email With comma seperated" autocomplete="given-name" />
                </div>
              </div>
              <div class="form-group col-md-10">
                <label for="">Select CHA Name </label>
                <ng-select formControlName='cha_id' placeholder="Select CHA" [searchable]="true" [clearable]="true"
                  bindLabel="sub_org_name" bindValue="sub_org_id" [items]="cha_list" [multiple]='true'>
                </ng-select>
              </div>

         

              <div class="col-md-10">
                <div class="form-group">
                  <label class="col-form-label" for="port_address">Port Address</label>
                  <textarea class="form-control" id="port_address" formControlName="port_address"
                    placeholder="Enter Port Address" autocomplete="given-name" rows="7"></textarea>
                </div>
              </div>
            </div>




          </div>
          <div class="card-footer">
            <div class="form-group">
              <button class="btn btn-primary mr-1" type="submit"
                [disabled]="portForm.pristine || portForm.invalid">Submit</button>

              <button class="btn btn-danger" type="reset" [disabled]="portForm.pristine && !submitted"
                (click)="onReset()">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="{{size}}" *ngIf="view_opt">
      <div class="card">
        <div class="card-header">
          <i class="icon-home"></i> Port Master List &nbsp; &nbsp;
          <i class="fa fas fa-expand" style="text-align-last: right;" (click)="viewfullscreen()"></i>
        </div>

        <div class="card-body" style="overflow: auto;">
          <div class="row mb-3">
            <div class="col-md-4 offset-md-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name" />
              </div>
            </div>
          </div>
          <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <table class="table table-striped table-hover table-responsive-lg"
            [mfData]="data | tableFilter : filterQuery:filterArray" #mf="mfDataTable" [mfRowsOnPage]="5"
            *ngIf="!isLoading">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="sr_no">Sr.No.</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="port_name">Port Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="port_full_name">Port Full Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="abbr">Abbrivation</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="port_address">Port Address</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="port_address">Gst Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="edit">Edit</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="delete">Delete</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i" [attr.id]="item.id">
                <td>{{i+1}}</td>
                <td>{{item.port_name}}</td>
                <td>{{item.port_full_name}}</td>
                <td>{{item.abbr}}</td>
                <td>{{item.port_address}}</td>
                <td>{{item.gst_no}}</td>
                <td *ngIf="edit_opt"><a style="cursor: pointer;" (click)="onEdit(item.id)"><i
                      class="fa fa-pencil"></i></a></td>
                <td *ngIf="del_opt"><a style="cursor: pointer;" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage" [confirmText]="confirmText" [cancelText]="cancelText"
                    [placement]="placement" [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                    cancelButtonType="success" (confirm)="onDelete(item.id)" (cancel)="cancelClicked = true"><i
                      class="fa fa-trash"></i></a></td>

              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

    </div>
  </div>
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
</div>