<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fa fa-user-plus"></i> {{ page_title }}
						</div>
						<div class="col-md-6 text-right">
							<button type="button" class="btn btn-primary" (click)="onAction(null, 'Back', null)">
								<i class="fa fa-arrow-left"></i> Back
							</button>
						</div>
					</div>
				</div>
				<div class="card-body p-0">
					<form [formGroup]="staffMemberForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
						<mat-horizontal-stepper #stepper>
							<mat-step>
								<ng-template matStepLabel>Personal Details</ng-template>
								<div class="card h-100">
									<div class="card-header">
										Personal Details
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="first_name">First Name <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="first_name"
														formControlName="first_name" type="text"
														placeholder="Enter First Name">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="middle_name">Middle Name</label>
													<input class="form-control" id="middle_name"
														formControlName="middle_name" type="text"
														placeholder="Enter Middle Name">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="last_name">Last Name <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="last_name"
														formControlName="last_name" type="text"
														placeholder="Enter Last Name">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="gender" class="col-form-label">Gender <sup
															class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="gender" formControlName="gender" bindLabel="name"
														bindValue="id" [items]="gender_list" placeholder="Select Gender"
														[clearable]="true">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="marital_status" class="col-form-label">Marital
														Status <sup class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="marital_status" formControlName="marital_status"
														bindLabel="name" bindValue="id" [items]="marital_status_list"
														placeholder="Select Marital Status" [clearable]="true">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="dob" class="col-form-label">Date of Birth <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input type="text" class="form-control" id="dob"
														formControlName="dob" [bsConfig]="datePickerConfig"
														#dp="bsDatepicker" bsDatepicker placeholder="Select Date"
														[maxDate]="maxDob" readonly>
												</div>
											</div>
											<!-- <div class="col-md-3">
												<div class="form-group">
													<label for="doa" class="col-form-label">Date of Anniversary</label>
													<input type="text" class="form-control" id="doa"
														formControlName="doa" [bsConfig]="datePickerConfig"
														#dp="bsDatepicker" bsDatepicker placeholder="Select Date"
														[maxDate]="maxDate" readonly>
												</div>
											</div> -->
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label"
														for="qualification_id">Qualification</label>
													<ng-select id="qualification_id" formControlName="qualification_id"
														placeholder="Select Qualification" [searchable]="true"
														[clearable]="true" bindLabel="name" bindValue="id"
														[items]="qualification_list">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="email">Email <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="email" formControlName="email"
														type="text" placeholder="Enter Email" email='true'
														(change)="onAction(null, 'Email', $event)">
													<div [innerHTML]="emailValidation" class="text-danger"></div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="mobile">Mobile No. <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="mobile" formControlName="mobile"
														type="text" placeholder="Enter Mobile No.">
													<div
														*ngIf="staffMemberForm.controls['mobile'].invalid && staffMemberForm.controls['mobile'].touched">
														<div *ngIf="staffMemberForm.controls['mobile'].errors.pattern"
															class="text-danger">
															Enter Valid Mobile Number
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="alter_mobile">Alternate Mobile
														No.</label>
													<input class="form-control" id="alter_mobile"
														formControlName="alter_mobile" type="text"
														placeholder="Enter Alternate Mobile No.">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="pan_no">PAN No. <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="pan_no" formControlName="pan_no"
														type="text" placeholder="Enter PAN No.">
												</div>
												<div
													*ngIf="staffMemberForm.controls['pan_no'].invalid && staffMemberForm.controls['pan_no'].touched">
													<div *ngIf="staffMemberForm.controls['pan_no'].errors.pattern"
														class="text-danger">
														Enter Valid PAN Number
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="uan_no">UAN No.</label>
													<input class="form-control" id="uan_no" formControlName="uan_no"
														type="text" placeholder="Enter UAN No.">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="city_id">City <sup
															class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="city_id" formControlName="city_id"
														placeholder="Select City" [searchable]="true" [clearable]="true"
														bindLabel="name" bindValue="id" [items]="city_list"
														(change)="onAction(null, 'City', $event)">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="blood_group">Blood Group <sup
															class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="blood_group" formControlName="blood_group"
														placeholder="Select Blood Group" [searchable]="true"
														[clearable]="true" bindLabel="label" bindValue="value"
														[items]="blood_group_list">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="emergeny_contact_number">Emergeny
														Contact Number <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="emergeny_contact_number"
														formControlName="emergeny_contact_number" type="text"
														placeholder="Enter Emergeny Contact Number">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="contact_person_name">Contact
														Person
														Name <sup class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="contact_person_name"
														formControlName="contact_person_name" type="text"
														placeholder="Enter Contact Person Name">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="local_address">Local Address <sup
															class="text-danger"><strong>*</strong></sup></label>
													<textarea formControlName="local_address" id="local_address"
														rows="2" class="form-control" placeholder="Enter Local Address"
														(change)="onAction(null, 'Local_Address', $event.target.value)"></textarea>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="permanant_address" class="col-md-12 p-0">
														<div class="row">
															<div class="col-md-6">
																Permanent Address <sup
																	class="text-danger"><strong>*</strong></sup>
															</div>
															<div class="col-md-6 text-right">
																<input type="checkbox" id="same_address"
																	[ngModelOptions]="{standalone: true}"
																	[ngModel]="same_address"
																	(ngModelChange)="onAction(null, 'Same_Address', $event)">
																Same
																As
																Local
															</div>
														</div>
													</label>
													<textarea id="permanant_address" formControlName="permanant_address"
														rows="2" class="form-control"
														placeholder="Enter Permanent address"
														[readonly]="same_address"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							</mat-step>
							<mat-step>
								<ng-template matStepLabel>Department Details</ng-template>
								<div class="card h-100">
									<div class="card-header">
										Department Details
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label for="appointment_date" class="col-form-label">Date of
														Appointment <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input type="text" class="form-control" id="appointment_date"
														formControlName="appointment_date" name="appointment_date"
														[maxDate]="maxDate" [bsConfig]="datePickerConfig"
														#dp="bsDatepicker" bsDatepicker placeholder="Select Date"
														readonly>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="company_id" class="col-form-label">Company <sup
															class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="company_id" formControlName="company_id"
														bindLabel="name" bindValue="id" [items]="company_list"
														placeholder="Select Company" [clearable]="true">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="employee_type_id" class="col-form-label">Employee
														Type <sup class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="employee_type_id" formControlName="employee_type_id"
														bindLabel="name" bindValue="id" [items]="employee_type_list"
														placeholder="Select Employee Type" [clearable]="true">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="department_id">Department <sup
															class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="department_id" formControlName="department_id"
														placeholder="Select Department" [searchable]="true"
														[clearable]="true" bindLabel="dept_name" bindValue="id"
														[items]="department_list">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3" *ngIf="role_id == 1">
												<div class="form-group">
													<label class="col-form-label" for="role_id">Role <sup
															class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="role_id" formControlName="role_id"
														placeholder="Select Role" [searchable]="true" [clearable]="true"
														bindLabel="role_name" bindValue="id" [items]="roles_list">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="job_profile_id">Job
														Profile <sup
															class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="job_profile_id" formControlName="job_profile_id"
														placeholder="Select Job Profile" [searchable]="true"
														[clearable]="true" bindLabel="profile_name" bindValue="id"
														[items]="job_profile_list">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="machine_id">Biometric ID</label>
													<input class="form-control" id="machine_id"
														formControlName="machine_id" type="text"
														placeholder="Biometric Machine ID"
														(change)="onAction(null, 'Machine_ID', $event)" numbersOnly>
													<div [innerHTML]="machineIdValidation" class="text-danger"></div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="telephone_extension">Telephone
														Extension</label>
													<input class="form-control" id="telephone_extension"
														formControlName="telephone_extension" type="text"
														placeholder="Telephone Extension">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="joining_ctc">Joining CTC
														(Annual) <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="joining_ctc"
														formControlName="joining_ctc" type="text"
														placeholder="Joining CTC" numbersOnly>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="medical_coverage">Medical
														Coverage <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="medical_coverage"
														formControlName="medical_coverage" type="text"
														placeholder="Medical Coverage" numbersOnly>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="notice_period">Notice
														Period <sup class="text-danger"><strong>*</strong></sup></label>
													<div class="input-group">
														<input type="text" class="form-control" id="notice_period"
															formControlName="notice_period" placeholder="Notice Period"
															numbersOnly>
														<div class="input-group-append">
															<span class="input-group-text">
																Days
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</mat-step>
							<mat-step>
								<ng-template matStepLabel>Bank Details</ng-template>
								<div class="card h-100">
									<div class="card-header">
										Bank Details
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="bank_id">Bank Name <sup
															class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="bank_id" formControlName="bank_id"
														placeholder="Select Bank" [searchable]="true" [clearable]="true"
														bindLabel="bank_name" bindValue="id" [items]="banks_list">
													</ng-select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="bank_branch_name">Bank Branch
														Name <sup class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="bank_branch_name"
														formControlName="bank_branch_name" type="text"
														placeholder="Enter Bank Branch Name">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="ifsc_code">IFSC Code <sup
															class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="ifsc_code"
														formControlName="ifsc_code" type="text"
														placeholder="Enter IFSC Code">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="bank_account_no">Account
														No. <sup class="text-danger"><strong>*</strong></sup></label>
													<input class="form-control" id="bank_account_no"
														formControlName="bank_account_no" type="text"
														placeholder="Enter Account No.">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="col-form-label" for="acc_type_name">Account
														Type <sup class="text-danger"><strong>*</strong></sup></label>
													<ng-select id="acc_type_name" formControlName="acc_type_name"
														placeholder="Select Bank" [searchable]="true" [clearable]="true"
														bindLabel="name" bindValue="id" [items]="account_type_list">
													</ng-select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</mat-step>
							<mat-step>
								<ng-template matStepLabel>Documents</ng-template>
								<div class="card h-100">
									<div class="card-header">
										Documents
									</div>
									<div class="card-body">
										<div class="row">

										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary mr-1" [disabled]="staffMemberForm.invalid"
									mat-button matStepperNext>
									Submit
								</button>
							</mat-step>
						</mat-horizontal-stepper>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>