.table-responsive{
    height:400px;  
    overflow:scroll;
  }
   thead tr:nth-child(1) th{
      background: #232B2B;
      position: sticky;
      top: 0;
      z-index: 10;
    }


    p {
      font-family: Lato;
    }
    #download {
      display: none;
    }

    #downloadDet {
      display: none;
    }