<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12 p-0">
			<form [formGroup]="salesOrderForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off"
				class="needs-validation">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-3 card-heading-left">
								<i class="fa fa-plus"></i> {{ page_title }}
							</div>
							<div class="col-md-9 card-heading-right">
								<strong>Booking Date: </strong>
								<i class="fa fa-calendar mx-1"></i>
								{{ salesOrderForm.controls.booking_date.value | date: 'dd-MMM-yyyy' }} &nbsp;
								<ng-select class="company-dropdown" formControlName="company_id" placeholder="Compamy"
									[searchable]="false" [clearable]="false" bindLabel="name" bindValue="id"
									[items]="companyList" (change)="onChangeValue($event, 'company')" [readonly]="true">
								</ng-select>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="sub_org_id">Customer
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="sub_org_id" formControlName="sub_org_id" placeholder="Customer"
										[searchable]="true" [clearable]="true" bindLabel="customer"
										bindValue="sub_org_id" [items]="customersList" #select
										(close)="select.blur(); select.focus()"
										(change)="onChangeValue($event, 'customer')" [readonly]="editMode">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="zone">Zone
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="zone_id" formControlName="zone_id" placeholder="Zone"
										[searchable]="false" [clearable]="false" bindLabel="name" bindValue="id"
										[items]="zonesList" (change)="onChangeValue($event, 'zone')" #selectZone
										(close)="selectZone.blur(); selectZone.focus()" [readonly]="editMode">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="godown_id">Godown
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="godown_id" formControlName="godown_id" placeholder="Godown"
										[searchable]="true" [clearable]="true" bindLabel="godown_name" bindValue="id"
										[items]="godownsList" (change)="onChangeValue($event, 'godown')" #selectGodown
										(close)="selectGodown.blur(); selectGodown.focus()"
										[readonly]="edit_pe_pp  || editMode">
									</ng-select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="offer_id">Offer Id</label>
									<ng-select id="offer_id" formControlName="offer_id" placeholder="Offer"
										[searchable]="true" [clearable]="true" bindLabel="offer_id" bindValue="id"
										[items]="offerList" [readonly]="editMode">
									</ng-select>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="grade_id">Grade
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="grade_id" formControlName="grade_id" placeholder="Grade"
										[searchable]="true" [clearable]="true" bindLabel="grade_name"
										bindValue="grade_id" [items]="gradesList"
										(change)="onChangeValue($event, 'grade')" #selectGrade
										(close)="selectGrade.blur(); selectGrade.focus()" [readonly]="editMode">
									</ng-select>
								</div>
							</div>
							<div class="col-md-2" *ngIf="company_id == 2">
								<div class="form-group">
									<label for="bill_rate">Bill Rate</label>
									<div class="input-group">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="fa fa-inr"></i>
											</span>
										</div>
										<input type="text" class="form-control rate_field" id="bill_rate"
											formControlName="bill_rate" placeholder="Bill Rate" numbersOnly readonly>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="deal_rate">Deal Rate
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<div class="input-group">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="fa fa-inr"></i>
											</span>
										</div>
										<input type="text" class="form-control rate_field" id="deal_rate"
											formControlName="deal_rate" placeholder="Deal Rate"
											(change)="onChangeValue($event.target.value, 'deal_rate')"
											[readonly]="edit_pe_pp" numbersOnly [readonly]="editMode">
									</div>
								</div>
							</div>
							<div class="col-md-4" *ngIf="company_id == 2 && !edit_pe_pp">
								<div class="form-group">
									<label for="is_rate_same" class="is_rate_same">Bill Rate / Deal Rate Same</label>
									<br>
									<p-inputSwitch id="is_rate_same" formControlName="is_rate_same"
										(onChange)="onChangeValue($event, 'is_rate_same')" onLabel="Yes" offLabel="No">
									</p-inputSwitch>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="quantity">Quantity
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<div class="input-group">
										<input type="text" class="form-control" id="quantity" formControlName="quantity"
											placeholder="Quantity"
											(change)="onChangeValue($event.target.value, 'quantity')" numbersOnly
											[readonly]="editMode">
										<div class="input-group-append">
											<span class="input-group-text">
												{{salesOrderForm.controls.unit_type.value}}
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="delivery_term_id">Delivery Term
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="delivery_term_id" formControlName="delivery_term_id"
										placeholder="Delivery Term" [searchable]="true" [clearable]="true"
										bindLabel="name" bindValue="id" [items]="deliveryTermsList"
										(change)="onChangeValue($event, 'delivery_term')" #selectDelivery
										(close)="selectDelivery.blur(); selectDelivery.focus()"
										[readonly]="edit_pe_pp  || editMode">
									</ng-select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="freight_rate">Freight Rate
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="freight_rate"
										formControlName="freight_rate" placeholder="Freight Rate"
										(change)="onChangeValue($event.target.value, 'freight_rate')" numbersOnly
										[readonly]="disableFreightRate || edit_pe_pp">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="payment_type">Payment Type
										<sup class="text-danger"><strong>*</strong></sup>
									</label>

									<ng-select class="payment-dropdown" formControlName="payment_type"
										placeholder="Payment Type" [searchable]="false" [clearable]="false"
										bindLabel="name" bindValue="id" [items]="paymentTypesList" #selectpaymentType
										(change)="onChangeValue($event.id, 'payment_type')" [readonly]="!editMode">
									</ng-select>


									<!-- <ng-select id="payment_type" formControlName="payment_type"
										(change)="onChangeValue($event.id, 'payment_type')" placeholder="Payment Type"
										bindLabel="name" bindValue="id" [searchable]="false" [clearable]="false"
										[items]="paymentTypesList" #selectpaymentType
										(close)="selectpaymentType.blur(); selectpaymentType.focus()" [readonly]="true">
									</ng-select> -->
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="advance_payment_term">Advance
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<div class="input-group">
										<input type="text" class="form-control" id="advance_payment_term"
											formControlName="advance_payment_term"
											placeholder="Enter Advance Payment Term" numbersOnly readonly>
										<div class="input-group-append">
											<span class="input-group-text">%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-2" *ngIf="showLcDays">
								<div class="form-group">
									<label for="lc_days">LC Days
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="lc_days" formControlName="lc_days" placeholder="LC Days"
										[searchable]="false" [clearable]="false" bindLabel="label" bindValue="value"
										[items]="lcDaysList">
									</ng-select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="shipment_from">Shipment Days
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<div class="input-group">
										<div class="input-group-append">
											<span class="input-group-text">From</span>
										</div>
										<input type="text" class="form-control" id="shipment_from"
											formControlName="shipment_from" placeholder="Days" numbersOnly
											[readonly]="editMode">
										<div class="input-group-append">
											<span class="input-group-text">To</span>
										</div>
										<input type="text" class="form-control" id="shipment_to"
											formControlName="shipment_to" placeholder="Days" numbersOnly
											[readonly]="editMode">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="packing">Packing
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="packing" formControlName="packing" placeholder="Packing"
										[searchable]="true" [clearable]="true" bindLabel="type" bindValue="type"
										[items]="material_packs" [readonly]="editMode">
									</ng-select>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-5">
								<div class="form-group">
									<label for="sub_org_id">Supplier
										<!-- <sup class="text-danger"><strong>*</strong></sup> -->
									</label>
									<ng-select id="supplier_id" formControlName="supplier_id" placeholder="Supplier"
										[searchable]="true" [clearable]="true" bindLabel="sub_org_name"
										bindValue="sub_org_id" [items]="supplierList" #select
										(close)="select.blur(); select.focus()" [readonly]="editMode">
									</ng-select>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label for="shipment_month">Shipment Month</label>
									<input type="text" id="shipment_month" formControlName="shipment_month"
										class="form-control" placeholder=" Add Shipment Month" [readonly]="editMode">
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="remark">Remark</label>
									<textarea class="form-control" id="remark" formControlName="remark"
										placeholder="Remark"></textarea>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="summary">Summary</label>
									<div class="summary">
										<div class="row">
											<div class="col-md-6">
												<p class="mb-1">
													<strong class="mr-1">Total Amount: </strong>
													{{salesOrderForm.controls.base_amount.value | currency:currency}}
												</p>
												<p class="mb-1">
													<strong class="mr-1">N.B.: </strong>
													{{salesOrderForm.controls.nb.value | currency:currency}}
												</p>
											</div>
											<div class="col-md-6">
												<p class="mb-1" *ngIf="company_id == 2">
													<strong class="mr-1">Credit Note: </strong>
													{{salesOrderForm.controls.credit_note.value | currency:currency}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="temp-contact" *ngIf="salesOrderForm.controls.sub_org_id.value">
							<div class="form-row">
								<div class="col-md-6">
									<form [formGroup]="newEmailForm" novalidate (ngSubmit)="onSubmitContact('email')"
										autocomplete="off">
										<div class="input-group mb-2">
											<input type="email" id="email" formControlName="email" class="form-control"
												placeholder=" Add New Email">
											<span class="input-group-append">
												<button type="submit" class="btn btn-primary"
													[disabled]="newEmailForm.pristine || newEmailForm.invalid">Add</button>
											</span>
										</div>
									</form>
								</div>
								<div class="col-md-6">
									<form [formGroup]="newMobileForm" novalidate (ngSubmit)="onSubmitContact('mobile')"
										autocomplete="off">
										<div class="input-group mb-2">
											<input type="number" id="mobile_no" formControlName="mobile_no"
												class="form-control" placeholder=" Add New Mobile Number">
											<span class="input-group-append">
												<button type="submit" class="btn btn-primary"
													[disabled]="newMobileForm.pristine || newMobileForm.invalid">Add</button>
											</span>
										</div>
									</form>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-6">
									<p-chips [(ngModel)]="tempEmailList" formControlName="temp_email"
										placeholder="Temporary Email Address" [addOnTab]="true" [addOnBlur]="true"
										separator=",">
									</p-chips>
								</div>
								<div class="col-md-6">
									<p-chips [(ngModel)]="tempMobileList" formControlName="temp_mobile"
										placeholder="Temporary Mobile Number" [addOnTab]="true" [addOnBlur]="true"
										separator=",">
									</p-chips>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<button type="submit" class="btn btn-primary mr-1"
							[disabled]="salesOrderForm.pristine || salesOrderForm.invalid || tempEmailList.length == 0">
							Submit
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div bsModal #summaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Summary"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-eye"></i> Summary</h4>
				<button type="button" class="close" (click)="summaryModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" *ngIf="summary != null">
				<div class="row">
					<div class="col-md-12">
						<p class="mb-1">
							<strong>Booking Date : </strong>
							{{summary.booking_date | date: 'dd-MMM-yyyy'}}
						</p>
						<p class="mb-1">
							<strong>Customer : </strong>
							{{summary.customer}}
						</p>
						<p class="mb-1">
							<strong>Zone : </strong>
							{{summary.zone}}
						</p>
						<p class="mb-1">
							<strong>Godown : </strong>
							{{summary.godown}}
						</p>
						<p class="mb-1">
							<strong>Grade Name : </strong>
							{{summary.grade}}
						</p>
						<p class="mb-1">
							<strong>Deal Rate : </strong>
							{{summary.deal_rate | currency:currency}}
						</p>
						<p class="mb-1">
							<strong>Quantity : </strong>
							{{summary.quantity}} {{summary.unit_type}}
						</p>
						<p class="mb-1">
							<strong>Base Amount : </strong>
							{{summary.base_amount | currency:currency}}
						</p>
						<p class="mb-1">
							<strong>Total Amount (Inc. Tax) : </strong>
							{{summary.total_amount | currency:currency}}
						</p>
						<p class="mb-1">
							<strong>Delivery Term : </strong>
							{{summary.delivery_term}}
						</p>
						<p class="mb-1">
							<strong>Freight Rate : </strong>
							{{summary.freight_rate | currency:currency}}
						</p>
						<p class="mb-1">
							<strong>N.B. : </strong>
							{{summary.nb | currency:currency}}
						</p>
						<p class="mb-1">
							<strong>Payment Term : </strong>
							{{summary.payment_term_label}}
						</p>
						<p class="mb-1">
							<strong>Temp Email : </strong>
							{{summary.temp_email}}
						</p>
						<p class="mb-1">
							<strong>Temp Mobile : </strong>
							{{summary.temp_mobile}}
						</p>
						<p class="mb-1">
							<strong>Shipment Month : </strong>
							{{summary.shipment_month}}
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="confirmSummary();"
					[disabled]="loadingBtn">Confirm <i class="fa fa-spinner fa-spin" *ngIf="loadingBtn"></i></button>
			</div>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>