.breadcrumb,
.card {
	margin-bottom: 1rem !important;
}

body .ui-chips>ul.ui-inputtext {
	display: block !important;
	margin-bottom: 8px;
}

.ui-chips-input-token,
.ui-chips-input-token input {
	width: 100% !important;
}

.ui-chips-token {
	margin: 0 0.286em 0.286em 0 !important;
}

.temp-contact {
	border: 1px solid #ddd;
	padding: 10px 10px 3px 10px !important;
}

.is_group_label {
	margin-bottom: 0.8rem !important;
}

.summary {
	padding: 3px 8px !important;
	background-color: #f0f3f5 !important;
}

.card-heading-left {
	text-align: left;
}

.card-heading-right {
	text-align: right;
}

.company-dropdown {
	top: 3px !important;
	width: 150px !important;
	display: inline-block !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
	text-align: left !important;
}

// .currency_field {
// 	.ng-select .ng-select-container {
// 		border-top-right-radius: 0 !important;
// 		border-bottom-right-radius: 0 !important;
// 		min-height: 35px !important;
// 		height: 35px !important;
// 		border: 1px solid #e4e7ea !important;
// 		border-right: none !important;
// 	}
// 	.ng-select.ng-select-disabled>.ng-select-container {
// 		background-color: #f0f3f5 !important;
// 	}
// }

.rate_field {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

@media screen and (max-width: 64em) {

	.card-heading-left,
	.card-heading-right {
		text-align: center !important;
	}

	.card-heading-right .btn {
		margin-top: 5px;
	}
}