<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-file"></i>  Send {{typeName}} Mail
  
          </div>
          <div class="card-body">
              
          <div class="row">

            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
              </div>

            
  
            <div class="col-md-12">
              <form [formGroup]="addForm" novalidate  class="needs-validation">
                <div class="row">
              
  
  
                    <div class="form-group col-6 col-md-4">
                      <label for="email" class="col-form-label">To</label>
                        <textarea type="text"
                        id="email"
                        placeholder="Email"
                        formControlName="emailto"
                        class="form-control"
                        
                        required
                        ></textarea>
                      </div>

                      <div class="form-group col-6 col-md-4">
                        <label for="email" class="col-form-label">CC</label>
                          <textarea type="text"
                          id="email"
                          placeholder="Email"
                          formControlName="emailcc"
                          class="form-control"
                          
                          
                          ></textarea>
                        </div>

                      <div class="form-group col-2 col-md-2 mt-4">
                  
                        <button class="btn btn-warning mr-1" type="button" (click)="sendMail()"
                        [disabled]="addForm.invalid">
                        <i class="fa fa-envelope"></i> Email</button>
      
                      
                    </div>
  
                </div>

                 <div class="col-md-6 mb-2">
                  <label>Upload Copy</label>
                  <input type="file" class="form-control" id="lc_insurance_copy"  formControlName="lc_insurance_copy"
                    (change)="addInsuranceDocs($event)" [multiple]=true>
                    <div class="progress col-md-3 mt-4" *ngIf="progress_bar">
                      <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
                    </div>
                </div> 

               
               
              </form>
            </div>
          </div>

          <div class="row" *ngIf="typeName == 'intimation'">
            <div class="col-md-12">
              <ul>
                <li *ngIf="non_copy.length ">NON COPY : <span *ngFor="let item of non_copy"><a href="{{item}}" target="_blank">{{item|fileName}}</a></span></li>
                <li *ngIf="non_revised_copy.length ">NON REVISED COPY : <span *ngFor="let item of non_revised_copy"><a href="{{item}}" target="_blank">{{item|fileName}}</a></span></li>
                <li  *ngIf="be_copy.length ">BE COPY : <span *ngFor="let item of be_copy"><a href="{{item}}" target="_blank">{{item|fileName}}</a></span></li>
                <li  *ngIf="container_doc.length ">DAMAGE COPY : <span *ngFor="let item of container_doc"><a href="{{item}}" target="_blank">{{item|fileName}}</a></span></li>
              </ul>
            </div>
          </div>

       

          <div class="row" >
            <div class="col-md-12">
              <div class="form-group has-feedback">
                <div >
                  <ck-editor name="editor" #myEditor [(ngModel)]="mycontent" [fullPage]="true" [config]="ckeConfig"></ck-editor>
                </div>
  
  
              </div>
            </div>
          </div>
  
         
  
          </div>
          </div>
  
        </div>
    </div>
  </div>
  
  
   <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
   