<div class="animated fadeIn">
    <div class="row mb-3">
		<div class="box-content">
			<div class="top-header" *ngIf="be_list">
				<div class="row mt-2">
					<div class="col-12">
						<table class="table table-bordered text-white">
							<thead>
								<tr>
									<th scope="col">BE No.</th>
									<th scope="col">BCD License Value</th>
									<th scope="col">Accessable value</th>
                                    <th scope="col"> Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of be_list">
									<td>{{item.be_no}}</td>
									<td>{{item.bcd_license_val}}</td>
									<td>{{item.accessable_val}}</td>
									<td>
                                        <button class="btn btn-primary" (click)="onAdd(item)"><em
                                        class="fa fa-plus"></em></button>
                                    </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><em class="fa fa-truck"></em>  Utilized License Against BE                    
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row" *ngIf="isLoading">
                        <div class="col-md-12">
                            <div style="text-align: center;">
                                <app-loading-spinner></app-loading-spinner>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="!isLoading">
                        <div class="col-md-12">
                            <p-table #dt [value]="utilize_list" dataKey="id" styleClass="ui-table-knovkof-list"
                                [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                                [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading" [paginator]="true"
                                [columns]="cols"
                                currentPageReportTemplate="Total Records : {{utilize_list?.length}}"
                                [filterDelay]="0" [globalFilterFields]="[]">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th id="" pSortableColumn="{{col.field}}" *ngFor="let col of columns"
                                            [style.width.px]='col.style'> {{col.header}} <p-sortIcon
                                                field="{{col.field}}"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px;">Action</th>
                                    </tr>

                                </ng-template>
                                <ng-template pTemplate="body" let-item let-columns>
                                    <tr class="ui-selectable-row">
                                        <td>{{item.id}}</td>
                                        <td>{{item.utilize_date}}</td>
                                        <td>{{item.vendor_name}}</td>
                                        <td><span *ngIf="item.license_master != null">{{item.license_master.lic_no}}</span></td>
                                        <td>{{item.amount_utilize | currencyInr}}</td>
                                        <td> 
                                            <div *ngIf="item.lic_file != null">
                                                <a [href]="item.lic_file" *ngFor="let file of item.lic_file"  target="_blank">
                                                    <button   class="btn btn-primary btn-sm mr-1"><em
                                                        class="fa fa-eye"></em></button>
                                                </a>
                                            </div>
                                          
                                        </td>
                                        <td>{{item.addedBy.first_name}} {{item.addedBy.last_name}}</td>
                                       
                                        <td>{{item.added_date |date: 'dd-MMM-yyyy hh:mm:ss'}}</td>
                                        <td>{{item.remark}}</td>
                                        <td><button class="btn btn-primary btn-sm"(click)="onEdit(item)"><em
                                                    class="fa fa-pencil"></em></button>

                                                    <a style="cursor: pointer;"
											mwlConfirmationPopover [popoverTitle]="popoverTitle"
											[popoverMessage]="popoverMessage" [confirmText]="confirmText"
											[cancelText]="cancelText" [placement]="placement"
											[closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
											cancelButtonType="success" (confirm)="onDelete(item)"
											(cancel)="cancelClicked = true" >
                                            <button class="btn btn-primary btn-sm"><em
                                                class="fa fa-trash"></em></button></a>
                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="footer" let-columns>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td>Total :{{footer_sum_utilize_val | currencyInr}}</td>
                                      
                                        <td colspan="9"></td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="13" style="text-align:left">No Data found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <span> License Knock Off </span></h4>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="utilizeForm" (ngSubmit)="addUtilization()" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label" for="lic_id"><Strong>Select License</Strong></label>
                                <ng-select id="lic_id" formControlName="lic_id" placeholder="Select license"
                                    [searchable]="true" [clearable]="false" bindLabel="licenceLeble" bindValue="id"
                                    [items]="license_list" [disabled]="license_disable"
                                    [ngClass]="{ 'is-invalid':f.lic_id.errors && f.lic_id.touched }" (change)="onChangeLicense($event)">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label"
                                    for="amount_utilize"><strong>Amount Utilize</strong></label>
                                <input class="form-control" id="amount_utilize" formControlName="amount_utilize"
                                    type="text" numbersOnly  [readOnly]="utilize_disable"
                                    [ngClass]="{ 'is-invalid':f.amount_utilize.errors && f.amount_utilize.touched }">
                                <div *ngIf="f.amount_utilize.errors && f.amount_utilize.touched"
                                    class="invalid-feedback">
                                    <div *ngIf="f.amount_utilize.errors.required"> Amount Utilize is required</div>
                                    <div *ngIf="f.amount_utilize.errors.pattern">Enter only number.</div>
                                    <div *ngIf="f.amount_utilize.errors.max">Error Value Excide.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                      


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="utilize_date" class="col-form-label"><strong>BE Utilize Date </strong></label>
                                <em class="fa fa-calendar"></em>
                                <input type="text" id="utilize_date" formControlName="utilize_date" class="form-control"
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                    #dp="bsDatepicker" bsDatepicker placement="right" 
                                    [ngClass]="{ 'is-invalid':f.utilize_date.errors && f.utilize_date.touched }">
                                <div *ngIf="f.utilize_date.errors && f.utilize_date.touched" class="invalid-feedback">
                                    <div *ngIf="f.utilize_date.errors.required">Utilize Date is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label" for="remark"><strong>Remark</strong></label>
                                <textarea class="form-control" id="remark" formControlName="remark"  cols="30" rows="3" [ngClass]="{ 'is-invalid':f.remark.errors && f.remark.touched }"></textarea>
                                <div *ngIf="f.remark.errors && f.remark.touched"  class="invalid-feedback">
                                     <div *ngIf="f.remark.errors.required">Remark is required</div>
                                 </div>
                            </div>
                        </div>



                      
                    </div>
                  
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-primary mr-1" type="submit" [disabled]="utilizeForm.invalid" >
                                <em class="fa fa-dot-circle-o"></em>Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="myModal.hide() ;utilizeForm.reset();">Close</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>