<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4><i class="fa fa-rupee"></i> Import Collection Statement

          </h4>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <div class="row">

                <div class="form-group col-6 col-md-4">
                  <div class="row">
                    <div class="col-md-3 mt-1"> <label for="" class="dateLabel">Paid Date</label></div>
                    <div class="col-md-9">

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="text" class="form-control " bsDaterangepicker [(ngModel)]="bsRangeValue"
                          (ngModelChange)="onSelect($event , 1)" placeholder="From Date - To Date" readonly>
                      </div>
                    </div>
                  </div>

                </div>
              </div>




              <div class="row">
                <div class="col-md-2 offset-5" *ngIf="isLoading2">
                  <app-loading-spinner></app-loading-spinner>
                </div>
              </div>

              <div class="row" *ngIf="!isLoading2">
                <div class="col-md-12">

                  <p-table #dt2 [value]="data" dataKey="id" styleClass="ui-table" [rowHover]="true" [rows]="10"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [paginator]="true"
                    [columns]="cols" (onFilter)="onFilter2($event, dt2)"  [globalFilterFields]="filter"
                    currentPageReportTemplate=" Total Records :{{filteredValuess2.length}}" [filterDelay]="0">

                    <ng-template pTemplate="caption">

                      <div class="row">

                        <div class="col-md-8">

                          <div class="ui-helper-clearfix" style="text-align: left">
                            <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                              (click)="exportExcelImport()" style="margin-right: 0.5em;"
                              class="ui-button-success"></button>
                            <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF"
                              (click)="exportPdfImport()" class="ui-button-warning"></button>


                          </div>

                        </div>

                        <div class="col-md-2">

                          <ng-select placeholder="Company " [searchable]="true" [clearable]="true" bindLabel="label"
                            bindValue="id" [items]="company" *ngIf="company_filter" [(ngModel)]="company_id"
                            style="font-size: 10px;" (ngModelChange)="onSelect($event,2)">
                          </ng-select>
                        </div>

                        <div class="col-md-2">
                          <input pInputText class='form-control' type="text"
                            (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                        </div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th [style.width]="col.style" pSortableColumn="{{col.field}}" *ngFor="let col of columns">
                          {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                        </th>
                      </tr>
                      <tr>
                        <th *ngFor="let col of cols" [style.width]='col.style'>
                          <p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
                            defaultLabel="All"
                            (onChange)="customFilter($event.value, col.field, 'in')">
                          </p-multiSelect>
                        </th>
                      <tr>
                      <tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-columns>
                      <tr class="ui-selectable-row">
                        <td>
                          <span class="ui-column-title">Date</span> {{item.date |date:'dd-MM-yyyy hh:mm:ss a'}}
                        </td>

                        <td>
                          <span class="ui-column-title">Amount</span> <em class="fa fa-rupee"></em>{{!item.amount ? '0.00' : item.amount
                          |currencyInr}}
                        </td>

                        <td>
                          <span class="ui-column-title">Credit</span> <span class="badge badge-success"
                            *ngIf="item.type == 'Credit'">{{item.type}}</span>
                        </td>
                        <td>
                          <span class="ui-column-title">Debit</span> <span class="badge badge-primary"
                            *ngIf="item.type == 'Debit'">{{item.type}}</span>
                        </td>
                        <td>
                          <span class="ui-column-title">Opening Balance</span> <em class="fa fa-rupee"></em>
                          {{!item.opening_balance ? '0.00' : item.opening_balance | currencyInr}}
                        </td>
                        <td>
                          <span class="ui-column-title">Customer</span> {{item.customer }}
                        </td>
                        <td>
                          <span class="ui-column-title">Virtual Id</span> {{item.virtual_id }}
                        </td>
                        <td>
                          <span class="ui-column-title">Bank Name</span> {{item.bank_name }}
                        </td>
                        <td>
                          <span class="ui-column-title">UTR NO</span> {{item.utr_no }}
                        </td>
                      </tr>

                    </ng-template>

                    <ng-template pTemplate="footer">
                      <tr>
                        <td *ngFor="let col of cols">
                          <span *ngIf="col.field == 'amount'">Available Balance :<em class="fa fa-rupee"></em>
                            {{totalAmtImport | currencyInr}}</span>
                          <span *ngIf="col.field != 'amount'"></span>
                        </td>

                      </tr>

                    </ng-template>
                    <ng-template pTemplate="emptymessage">

                      <tr>
                        <td colspan="5" style="text-align:left">No Data found.</td>
                      </tr>
                    </ng-template>
                  </p-table>



                </div>

                <div class="col-md-4 mt-4">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th>Total Credit</th>
                        <th><em class="fa fa-rupee"></em>{{totalCredit |currencyInr}}</th>
                      </tr>

                      <tr>
                        <th>Total Debit</th>
                        <th><em class="fa fa-rupee"></em>{{totalDebit |currencyInr}}</th>
                      </tr>
                      <tr>
                        <th>Available Balance</th>
                        <th><em class="fa fa-rupee"></em>{{totalAmtImport |currencyInr}}</th>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>