<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0" *ngIf="view_opt">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-3">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>

					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">

							<p-table #dt dataKey="id" styleClass="transnational_sales_lc" [value]="data" [rows]="10"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								[globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
								(onLazyLoad)="onFilter($event, dt)"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">

												<div class="form-group mb-1 mr-1">
													<input pInputText [(ngModel)]="selected_date_range"
														(ngModelChange)="getData()" [bsConfig]="datePickerConfig"
														#dp="bsDaterangepicker" [maxDate]="maxDate" bsDaterangepicker
														placeholder="Choose Date Range" class="form-control page-filter"
														readonly />
												</div>

											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											{{col.header}}
											<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
										</th>
									</tr>
									<tr>
										<th *ngFor="let col of columns">

											<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
												defaultLabel="All"
												(onChange)="customFilter($event.value, col.field, 'in')">
											</p-multiSelect>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData let-i="rowIndex">
									<tr class="ui-selectable-row">
										<td *ngFor="let col of cols">
											<div>
												<div *ngIf="col.field == 'id'" class="cell">

													<button class="btn btn-sm btn-success" *ngIf="rowData.lc_copy"
														(click)="addNon(rowData)"> <i class="fa fa-plus"></i> Add
														NON</button>

												</div>
												<div *ngIf="col.field != 'id' && col.field != 'action'">
													<span class="ui-column-title">{{ col.header }}: </span>


													<div *ngIf="col.type == 'Date'">
														{{ rowData[col.field] | date:'dd-MMM-yyyy' }}
													</div>
													<div *ngIf="col.type == 'doc'">
														{{ rowData[col.field] }}

														<span *ngIf="rowData.lc_copy">
															<a [href]="doc" *ngFor="let doc of rowData.lc_copy"
																target="_blank">
																<em class="fa fa-file"></em>
															</a><br>
															<span class="badge badge-primary"
																*ngIf="rowData.additional_set_doc">Addititional Doc
																Recv</span>
														</span>

													</div>
													<div *ngIf="col.type == null">
														{{ rowData[col.field] }}
													</div>
												</div>
												<div *ngIf="col.field == 'action'">

													<a *ngIf="edit_opt"
														class="btn btn-outline-info btn-sm action-btn mb-1 mr-1"
														data-toggle="tooltip" data-placement="top" title="Edit Order"
														(click)="onAction(rowData, 'Edit')">
														<i class="fa fa-pencil"></i>
													</a>
													<a *ngIf="delete_opt"
														class="btn btn-outline-danger btn-sm action-btn mb-1 mr-1"
														data-toggle="tooltip" data-placement="top" title="Delete Order"
														mwlConfirmationPopover [popoverTitle]="popoverTitle"
														[popoverMessage]="popoverMessage1" [confirmText]="confirmText"
														[cancelText]="cancelText" [placement]="placement"
														closeOnOutsideClick="true" confirmButtonType="success"
														cancelButtonType="danger"
														(confirm)="onAction(rowData, 'Delete')"
														(cancel)="cancelClicked = true">
														<i class="fa fa-trash"></i>
													</a>



												</div>
											</div>
										</td>
									</tr>
								</ng-template>

								<ng-template pTemplate="footer" let-columns>
									<tr>
										<td *ngFor="let col of columns">
											<strong *ngIf="col.type == 'Quantity'">
												Total: {{ col.total | number }} MT
											</strong>
											<strong *ngIf="col.type == 'Amount'">
												Total: {{ col.total | currency:'USD' }}
											</strong>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div bsModal #lcModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="LC Details"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form [formGroup]="lcForm" novalidate (ngSubmit)="onSubmitLc()" autocomplete="off" class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title">LC Details</h4>
					<button type="button" class="close" (click)="closeModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">


						<div class="col-md-3">
							<div class="form-group">
								<label for="lc_no">
									<strong>
										lc_no
									</strong>
								</label>
								<input type="text" class="form-control" id="lc_no" formControlName="lc_no"
									placeholder="lc_no">
							</div>
						</div>


						<div class="col-md-3">
							<div class="form-group">
								<label for="lc_date">
									<strong>
										LC Date
									</strong>
								</label>
								<input type="text" class="form-control" id="due_date" formControlName="lc_date"
									[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
									#dp="bsDatepicker" bsDatepicker readonly placeholder="Enter  Date "
									style="background-color: white;">
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label for="lc_date">
									<strong>
										LC Issue Bank
									</strong>
								</label>
								<ng-select placeholder="Bank " [searchable]="true" [clearable]="true"
									bindLabel="bank_name" bindValue="bank_id" [items]="bankList"
									formControlName="lc_issue_bank">
								</ng-select>

							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label for="tolerance">
									<strong>
										Tolerance
									</strong>
								</label>
								<input type="text" class="form-control" id="tolerance" formControlName="tolerance"
									placeholder="tolerance" numbersOnly>
							</div>
						</div>



						<div class="col-md-3">
							<div class="form-group">
								<label for="lc_copy">
									<strong>
										LC Copy
									</strong>
								</label>
								<input type="file" id="lc_copy" class="form-control form-control-file"
									formControlName="lc_copy" placeholder="Agreement Copy"
									(change)="onFileChange($event)">
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label for="additional_set_doc">
									<strong>
										Additional Set of Doc
									</strong>
								</label>
								<input type="checkbox" id="additional_set_doc" formControlName="additional_set_doc">
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-10">
							<table class="table table-bordered">

								<thead>
									<tr>
										<th>Customer</th>
										<th>Grade</th>
										<th>Qty</th>
										<th>Rate</th>
										<th>Total Amount</th>
									</tr>

								</thead>

								<tbody>
									<tr *ngFor="let item of dealList">
										<td>{{item.sub_org_master.sub_org_name}}</td>
										<td>{{item.grade_master.grade_name}}</td>
										<td>{{item.quantity}} {{item.unit_type}}</td>
										<td>{{item.rate}} {{item.currency}}</td>
										<td>{{(item.rate * item.quantity) }} {{item.currency}}</td>
									</tr>
								</tbody>

							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" [disabled]="lcForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>



<div bsModal #nonModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="NON Details"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">NON Details</h4>
				<button type="button" class="close" (click)="closeModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="nonForm" novalidate (ngSubmit)="onSubmitNon()" autocomplete="off"
					class="needs-validation">
					<div class="row">


						<div class="col-md-3">
							<div class="form-group">
								<label for="invoice_number">
									<strong>
										Invoice Number
									</strong>
								</label>
								<input type="text" class="form-control" id="invoice_number"
									formControlName="invoice_number" placeholder="Invoice Number">
							</div>
						</div>


						<div class="col-md-3">
							<div class="form-group">
								<label for="invoice_date">
									<strong>
										Invoice Date
									</strong>
								</label>
								<input type="text" class="form-control" id="due_date" formControlName="invoice_date"
									[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
									#dp="bsDatepicker" bsDatepicker readonly placeholder="Enter  Date "
									style="background-color: white;">
							</div>
						</div>


					</div>

					<div class="row">
						<div class="col-md-10">
							<table class="table table-bordered">

								<thead>
									<tr>
										<th>Customer</th>
										<th>Grade</th>
										<th>Qty</th>
										<th>Remaining Qty</th>
										<th>Rate</th>
										<th>Total Amount</th>
									</tr>

								</thead>

								<tbody>
									<tr formArrayName="dealArr"
										*ngFor="let item of nonForm.get('dealArr')['controls'] ; let i = index">
										<ng-container [formGroupName]=i>

											<td>{{customer.value}} <input type="hidden" #customer
													formControlName="customer"></td>
											<td>{{grade.value}} <input type="hidden" #grade
													formControlName="grade_name"></td>
											<td>{{qty.value}} <input type="hidden" #qty formControlName="quantity"></td>
											<td> <input type="text" formControlName="quantity_remain">
												{{item.unit_type}}
												<input type="hidden" formControlName="con_id">
												<input type="hidden" formControlName="lc_id">

											</td>
											<td>{{rate.value}} <input type="hidden" #rate formControlName="rate"></td>
											<td>{{total.value}} <input type="hidden" #total formControlName="total">
											</td>

										</ng-container>



									</tr>
								</tbody>

								<!-- <tbody>
									<tr *ngFor="let item of dealList">
										<td>{{item.sub_org_master.sub_org_name}}</td>
										<td>{{item.grade_master.grade_name}}</td>
										<td>{{item.quantity}} {{item.unit_type}}</td>
										<td>{{item.rate}} {{item.currency}}</td>
										<td>{{(item.rate * item.quantity) }} {{item.currency}}</td>
									</tr>
								</tbody> -->

							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary" [disabled]="nonForm.invalid">Submit</button>
						</div>

					</div>
				</form>

				<div class="card">
					<div class="card-header">
						<i class="fa fa-adjust"></i> <strong>NON LIST</strong>
					</div>
					<div class="card-body">
						<div class="row" *ngIf="non_list.length > 0" style="overflow-x: scroll;">
							<div class="col-md-12">
								<table class="table table-bordered table-striped table-hover table-responsive-lg"
									[mfData]="non_list" #mf="mfDataTable" [mfRowsOnPage]="5">
									<thead>
										<tr>
											<th>#</th>
											<th>Invoice Number.</th>
											<th>Invoice Date</th>
											<th>Quantity</th>
											<th>Amount</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<ng-container>
											<tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i">
												<td>{{i+1}}</td>
												<td>{{item.invoice_number}}</td>
												<td>{{item.invoice_date | date : 'dd-MM-y'}}</td>
												<td>{{item.quantity }}</td>
												<td>{{item.amount }}</td>

												<td>

												</td>
											</tr>
										</ng-container>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="10">
												<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]">
												</mfBootstrapPaginator>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">

			</div>

		</div>
	</div>
</div>









<toaster-container [toasterconfig]="toasterconfig"></toaster-container>