<div class="row" >
  <div class="col-md-12">
    <div class="card">
        <div class="card-header">
          <div class="row">

            <h4><i class = "fa fa-inr"></i> Fd Linking  <span style="font-size: 18px;">( FD No : {{FDarray.fd_no}} ,FD Amount : {{FDarray.fd_amt}} , FD Making Date : {{FDarray.fd_make_date}}, FD Maturity Date : {{FDarray.fd_maturity_date}} , Total Fd linked Amount : {{FDarray.fd_linking_amt}}) <span style="color: red;">Balance : {{FDarray.fd_amt - FDarray.fd_linking_amt}}</span></span></h4>

          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <form [formGroup]="newFdForm" novalidate (ngSubmit)="onSubmit()"  autocomplete="off">
            <div class="row">
               <div class="col-md-12">

                   <input type="radio" formControlName="type" [value]="1" (change) ="onTypeCheck()">&nbsp;&nbsp;LC Link  &nbsp;&nbsp;
                   <input type="radio" formControlName="type" [value]="2" (change) ="onTypeCheck()">&nbsp;&nbsp;Invoice Knock Off&nbsp;&nbsp;


               </div>

               <div class="col-md-12">
                 <div class="row">

                 <div class="col-md-3">
                    <div class="form-group">
                          <label class="col-form-label" for="">Type</label>
                          <ng-select
                          placeholder="Select Type "
                          [searchable]="true"
                          formControlName = "typeflp"
                          [clearable]="true"
                          bindLabel="value"
                          bindValue="id"
                          [items]="arrayType"
                          (change)= "getAllInvoices($event)"
                          >
                          </ng-select>
                    </div>
                   </div>


                  <div class="col-md-3">
                    <div class="form-group">
                          <label class="col-form-label" for="">Select Invoice</label>
                          <ng-select
                          placeholder="Select Invoice "
                          formControlName="invoice_id"
                          [searchable]="true"
                          [clearable]="true"
                          bindLabel="invoiceNo"
                          bindValue="id"
                          [items]="invoiceArr"
                          (change)= "onChangeInvoice($event)"


                          >
                          </ng-select>
                    </div>
                   </div>
                   <div class="col-md-3" *ngIf="enableField && rateCurrField">
                    <div class="form-group">
                      <label class="col-form-label" for="currency_rate">Rate</label>
                      <input type="text" formControlName="currency_rate"  class="form-control"  placeholder="Currency Rate " (keyup) = "calculateAmount()">
                    </div>
                  </div>

                   <div class="col-md-3" *ngIf="enableField && rateCurrField">
                    <div class="form-group">
                      <label class="col-form-label" for="amount_inr">Amount INR</label>
                      <input type="text" formControlName="amount_inr"  class="form-control"  placeholder="Amount INR " (keyup) = "calculateAmount()" >
                    </div>
                  </div>


                   <div class="col-md-3" *ngIf="enableField">
                    <div class="form-group">
                      <label class="col-form-label" for="currency_type_amount">Invoice Amount</label>
                      <input type="text" formControlName="currency_type_amount"  class="form-control"  placeholder="Currency Amount "  (keyup) = "calculateAmount()">
                    </div>
                  </div>

                   <div class="col-md-3" *ngIf="enableField && rateCurrField">
                    <div class="form-group">
                          <label class="col-form-label" for="">Currency</label>
                          <ng-select
                          placeholder="Select Currency "
                          [searchable]="true"
                          formControlName="currency_id"
                          [clearable]="true"
                          bindLabel="name"
                          bindValue="id"
                          [items]="currency"
                          readonly = true


                          >
                          </ng-select>
                    </div>
                   </div>


               


                

                  <div class="col-md-12">
                    <button class="btn btn-primary mr-1"
                    type="submit"  [disabled]="newFdForm.pristine || newFdForm.invalid"
                    >
                    <i class="fa fa-dot-circle-o"></i>Submit</button>

                    <button class="btn btn-primary mr-1"
                    type="submit"   (click)="onBack()"
                    >
                    <i></i>Back</button>
                  </div>
                 </div>
               </div>


            </div>
            </form>
            </div>
          </div>
         </div>
     </div>
   </div>
 </div>
 <toaster-container [toasterconfig]="toasterconfig"> </toaster-container>
