.custom-file-input {
	height: auto !important;
	opacity: 1;
	padding: 0px !important;
}
.custom-file-input::-webkit-file-upload-button {
	border: 1px solid #999;
	padding: 0.375rem 0.75rem;
	font-size: 0.875rem;
}
