<div class="animated fadeIn" *ngIf="!showPaymentList">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="icon-list"></i> Sub Org List
						</div>
						<div class="col-md-6 text-right" *ngIf="enable_buttons">
							<button class="btn btn-primary " (click)="onBackToList()">Main Org List</button>
							<button *ngIf="add_sub_org" class="btn btn-success" (click)="addNew()"> +
								Add New Organisation</button>
								

								
						</div>
					</div>
				</div>
				<div class="card-body">
					<div *ngIf="isLoading" style="text-align: center;">
						<app-loading-spinner></app-loading-spinner>
					</div>
					<p-table #dt dataKey="id" styleClass="ui-table-org" [value]="data" [rows]="10"
						[showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [loading]="isLoading"
						[autoLayout]="true" [columns]="cols" [paginator]="true"
						currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries"
						[globalFilterFields]="filter">
						<ng-template pTemplate="caption">
							<div class="ui-table-globalfilter-container">
								<input pInputText type="text" class="form-control"
									(input)="dt.filterGlobal($event.target.value, 'contains')"
									placeholder="Global Search" />
							</div>
							<div class="ui-helper-clearfix" style="text-align: left">
								<div class="row">
									<div class="col-md-2" *ngIf="show_both_company">
										<ng-select id="product_type" style="font-size: 12px;" placeholder="Select Company"
											[searchable]="true" [clearable]="true" bindLabel="name" bindValue="id"
											[items]="product_type_list" [(ngModel)]="company_id"
											(ngModelChange)="get_list()">
										</ng-select>
									</div>
								
										<div class="col-md-4">
										
										   <ng-select id="category_id" style="font-size: 12px;"  placeholder="Select Category" [searchable]="true" [clearable]="true"
											bindLabel="cont_type" bindValue="id" [items]="categories" [multiple]=true [(ngModel)]="categories_ids" (change) = "get_list()">
										  </ng-select> 

									
										</div>
										
								</div>
								
								
							</div>
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th>Action</th>
								<th pSortableColumn="sub_org_id">
									ID<p-sortIcon field="sub_org_id"></p-sortIcon>
								</th>
								<th pSortableColumn="sub_org_name">
									Customer Name <p-sortIcon field="sub_org_name"></p-sortIcon>
								</th>
								<th pSortableColumn="product_type">
									Company<p-sortIcon field="product_type"></p-sortIcon>
								</th>
								<th pSortableColumn="gst_no">
									GST No <p-sortIcon field="gst_no"></p-sortIcon>
								</th>
								<th pSortableColumn="virtual_acc_no">
									VA No <p-sortIcon field="virtual_acc_no"></p-sortIcon>
								</th>
								<th pSortableColumn="org_address">
									Address <p-sortIcon field="org_address"></p-sortIcon>
								</th>
								<th pSortableColumn="port_name">
									Port <p-sortIcon field="port_name"></p-sortIcon>
								</th>
								<th pSortableColumn="categories">
									Category <p-sortIcon field="categories"></p-sortIcon>
								</th>

								<th pSortableColumn="products">
									Product <p-sortIcon field="products"></p-sortIcon>
								</th>
								<th pSortableColumn="zone">
									Zone <p-sortIcon field="zone"></p-sortIcon>
								</th>
								<!-- <th pSortableColumn="extra">
									Extra <p-sortIcon field="extra"></p-sortIcon>
								</th> -->
								<th *ngIf="payment_req_vendor">Payment</th>
								<th *ngIf="bcd_percentage">BCD%</th>
								<th pSortableColumn="base_limit">
									Base Limit
									<p-sortIcon field="base_limit"></p-sortIcon>
								</th>
								<th pSortableColumn="payment_term">
									Payment Term
									<p-sortIcon field="payment_term"></p-sortIcon>
								</th>
								<th pSortableColumn="extra_local">
									Extra Local
									<p-sortIcon field="extra_local"></p-sortIcon>
								</th>
								<th pSortableColumn="extra_import">
									Extra Import
									<p-sortIcon field="extra_import"></p-sortIcon>
								</th>
								
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item>
							<tr class="ui-selectable-row">
								<td class="text-center">
									<a *ngIf="view_sub_org" class="mb-2" (click)="onDetail(item.sub_org_id)">
										<i class="fa fa-eye"></i>
									</a>
									<a *ngIf="edit_sub_org" class="mb-2 mx-2" (click)="onEdit(item.sub_org_id)">
										<i class="fa fa-pencil text-primary"></i>
									</a>
									<a *ngIf="delete_sub_org" class="mb-2 mr-2" mwlConfirmationPopover
										[popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
										[confirmText]="confirmText" [cancelText]="cancelText" [placement]="placement"
										[closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
										cancelButtonType="success" (confirm)="onDelete(item.sub_org_id)"
										(cancel)="cancelClicked = true">
										<i class="fa fa-trash text-danger"></i>
									</a>
									<span *ngIf="copy_sub_org" class="badge badge-dark" style="cursor: pointer;"
										(click)="copyData(item)">Copy</span>
									<div *ngIf="change_status">
										<a *ngIf="item.blacklist == 0" style="cursor: pointer;"
											(click)="onBlock(item.sub_org_id, 1)">
											<i class="fa fa-ban text-danger"></i>
										</a>
										<a *ngIf="item.blacklist == 1" style="cursor: pointer;"
											(click)="onBlock(item.sub_org_id, 0)">
											<i class="fa fa-check text-success"></i>
										</a>
									</div>

									<div *ngIf="virtual_acc_whatsapp && item.product_type == 3 && item.virtual_acc_no != null">
										
										<a style="cursor: pointer;"
											(click)="sendWhatsapp(item)">
											<i class="fa fa-whatsapp text-success"></i>
										</a>
									</div>


								</td>
								<td class="text-center">{{ item.sub_org_id }}</td>
								<td>{{ item.sub_org_name }} ({{ item.unit_type }})
									<br *ngIf="item.tds_tcs_label != null">
									<span *ngIf="item.tds_tcs_label != null" class="badge badge-success">
										{{item.tds_tcs_label}}
									</span>
									<br *ngIf="addDeclarationLink">
									<span *ngIf="addDeclarationLink && item.tds_tcs_label == null"
										class="badge badge-primary">
										<a style="cursor: pointer;" (click)="tdstcsdeclaration(item)">Add
											Declaration</a>
									</span>
									<br *ngIf="consumeCapacityLink && company_id == 2">
									<span *ngIf="consumeCapacityLink && company_id == 2" class="badge badge-dark mt-1">
										<a style="cursor: pointer;" (click)="openConsumeCapacity(item,'add')">Consume
											Capacity</a>
									</span>
								</td>
								<td>{{ getName(item.product_type) }}</td>
								<td>{{ item.gst_no }}</td>
								<td>{{ item.virtual_acc_no }}</td>
								<td>{{ item.org_address }}</td>
								<td>{{ item.port_name }}</td>
								<td>{{ item.categories }}</td>
								<td>{{ item.products }}</td>
								<td>{{ item.zone }}</td>
								<!-- <td>
									{{item.extra_payment}} &nbsp;
									<a *ngIf="extraPaymentLink" style="cursor: pointer;" class="text-primary"
										(click)="openExtraPaymentModal(item)">
										<i class="fa fa-pencil"></i>
									</a>
								</td> -->
								<td *ngIf="payment_req_vendor" class="text-center">
									<span class="badge badge-primary" style="cursor: pointer;" 
										(click)="selectType(item)">Payment</span> 
										
								</td>
								<td *ngIf="bcd_percentage" class="text-center">
									<span class="badge badge-primary" style="cursor: pointer;"
										(click)="bcdPercentage(item)">BCD %</span>
								</td>
								<td>{{ item.base_limit? item.base_limit:0 }}</td>
								<td>{{ item.payment_term }}</td>
								<td>{{ item.extra_local? item.extra_local : 0 }}</td>
								<td>{{ item.extra_import? item.extra_import : 0 }}</td>
								
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td colspan="15" class="text-center">No Data found.</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #extraPaymentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Add Extra Payment" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="addExtraPaymentForm" (ngSubmit)="addExtraPayment()" class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title">
						<i class="fa fa-plus text-success"></i> Add Extra Payment
					</h4>
					<button type="button" class="close" (click)="closeExtraPaymentModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="sub_org_id" formControlName="sub_org_id">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="extra_payment"><strong>New Amount</strong></label>
								<input type="text" class="form-control" id="extra_payment"
									formControlName="extra_payment" placeholder="Extra Payment" numbersOnly>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="closeExtraPaymentModal()">Close</button>
					<button type="submit" class="btn btn-primary"
						[disabled]="addExtraPaymentForm.pristine || addExtraPaymentForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div bsModal #advancePaymentLCModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Add Advance Payment (LC)" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="advancePaymentLCForm" (ngSubmit)="addAdvancePaymentLC()" class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title">
						<i class="fa fa-plus text-success"></i> Add Advance Payment (LC)
					</h4>
					<button type="button" class="close" (click)="closeAdvancePaymentLCModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="sub_org_id" formControlName="sub_org_id">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="advance_lc_payment"><strong>New Amount</strong></label>
								<input type="text" class="form-control" id="advance_lc_payment"
									formControlName="advance_lc_payment" placeholder="Advance Payment (LC)" numbersOnly>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						(click)="closeAdvancePaymentLCModal()">Close</button>
					<button type="submit" class="btn btn-primary"
						[disabled]="advancePaymentLCForm.pristine || advancePaymentLCForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div bsModal #consumeCapacity="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Add Consume Capacity" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="consumeCapacityForm" (ngSubmit)="addConsumeCapacity()" class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title">
						<i class="fa fa-plus text-success"></i> Add Consume Capacity
					</h4>
					<button type="button" class="close" (click)="consumeCapacityModelClose()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<input type="hidden" id="sub_org_id" formControlName="sub_org_id">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="consume_capacity"><strong>Consume Capacity</strong></label>
								<input type="text" class="form-control" id="consume_capacity"
									formControlName="consume_capacity" placeholder="Consume Capacity" numbersOnly>
							</div>
						</div>


						<div class="col-6">
							<div class="form-group">
								<label class="col-form-label" for="grade_id"><strong>Select Grade</strong></label>
								<ng-select id="grade_id" formControlName="grade_id" placeholder="Select Grade"
									[searchable]="true" [clearable]="true" bindLabel="grade_name" bindValue="grade_id"
									[items]="grade_arr">
								</ng-select>
							</div>
						</div>


					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="consumeCapacityModelClose()">Close</button>
					<button type="submit" class="btn btn-primary"
						[disabled]="consumeCapacityForm.pristine || consumeCapacityForm.invalid">Submit</button>
				</div>
			</form>

			<table class="table table-striped table-hover table-responsive-lg">
				<thead>
					<tr>
						<th scope="col">Grade Name</th>
						<th scope="col">Capacity</th>
						<th scope="col">edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let element of consumeGradeCapcityArr">
						<td>{{element.grade_master.grade_name}}</td>
						<td>{{element.consume_capacity}}</td>
						<td>
							<a style="cursor: pointer;" class="text-primary"
								(click)="openConsumeCapacity(element,'edit')">
								<i class="fa fa-pencil"></i>
							</a>
						</td>

						<td>
							<a style="cursor: pointer;" class="text-primary"
								(click)="deleteCosnumeCapacity(element.id)">
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>



<div bsModal #updateBcdLicenseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Update BCD License Percentage" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="updateBcdPercentage" (ngSubmit)="addbcdPercentage()" class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title">
						<i class="fa fa-plus text-success"></i> BCD License Percentage
					</h4>
					<button type="button" class="close" (click)="closeBCDLicenseModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="row">
						<input type="hidden" id="sub_org_id" formControlName="sub_org_id">
						<div class="col-md-12">
							<div class="form-group">
								<label for="bcd_lic_percent"><strong>BCD License Percentage</strong></label>
								<input type="text" class="form-control" id="bcd_lic_percent"
									formControlName="bcd_lic_percent" placeholder="BCD Percentage" numbersOnly>


							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="closeBCDLicenseModal()">Close</button>
					<button type="submit" class="btn btn-primary"
						[disabled]="updateBcdPercentage.pristine || updateBcdPercentage.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">


			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-envolope"></i>Payment Type</h4>
				<button type="button" class="close" (click)="closeModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">

				<div class="row">
					<div class="col-md-12">
						<span *ngFor="let item of type">
							<input type="radio" name="type" [(ngModel)]="typeId" [value]="item.id"> <span
								style="font-weight: 500;">{{item.name}}</span> &nbsp;
						</span>

					</div>

					<div class="col-md-12">
						<button type="button" class="btn btn-primary" (click)="paymentRequest()"
							[disabled]="!typeId"><em class="fa fa-arrow-right"></em> Proceed </button>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>



<div bsModal #producttypemodal="bs-modal" novalidate class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Product Type Modal" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-l" role="document">
		<div class="modal-content">
			<form [formGroup]="productTypeform" novalidate (ngSubmit)="typeSubmit()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">Product Type List</h4>
					<button type="button" class="close" (click)="onCloseTypeModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class=" col-md-4">
							<div class="form-group">
								<input type="radio" class="radioinputbox" id="pvc" value="1" formControlName="type" (click)="product_Type($event.target.value)">
								<label class="col-form-label" for="pvc">PVC</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="radio" class="radioinputbox" id="pe" value="2" formControlName="type" (click)="product_Type($event.target.value)">
								<label class="col-form-label" for="pe">PE & PP</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="radio" class="radioinputbox" id="surisha" value="3" formControlName="type" (click)="product_Type($event.target.value)">
								<label class="col-form-label" for="surisha">Surisha</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group" *ngIf="productType != this.value">
								<label class="col-form-label" for="main_org_id">Main Organization <sup class="text-danger"><strong>*</strong></sup></label>
								<ng-select id="main_org_id" formControlName="main_org_id"
									placeholder="Select Main Organization" [searchable]="true" [clearable]="true"
									bindLabel="org_name" bindValue="org_id" [items]="mainOrg">
								</ng-select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary mr-1"
						[disabled]="productTypeform.pristine || productTypeform.invalid">Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div bsModal #sendWhatsappModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Send whatsapp Virtual Account Update </h4>
				<button type="button" class="close" aria-label="Close" (click)="onCLoseWhatsapp()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				

				<div class="row">
					<div class="col-md-12">


						<div class="row m-1">

							<div class="col-12">
								<label class="col-form-label" for="">Contact Numbers</label>
								<p-chips [(ngModel)]="toMobileArr" separator=",">
								</p-chips>

							</div>
							<br>



                            <div class="col-12" [innerHTML]='whatsappData'></div> 

						

						</div>




					</div>

				</div>



			</div>



			<div class="modal-footer">
				<button class="btn btn-primary mr-1" type="button" (click)="sendMessage()"
					[disabled]="toMobileArr.length == 0 ">
					<i class="fa fa-dot-circle-o"></i>Send</button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<app-payable-request [initialPara]="initialPara" *ngIf="initialPara && showPaymentList "
	(payableBack)="backFromPayable($event)">
</app-payable-request>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>