<div class="row">
    <div class="col-md-2 offset-5" *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
</div>



<div class="row" *ngIf="!isLoading">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4><i class="fa fa-money"></i> Tax Compliance Details ( {{taxComplianceMasterDet.tax_type.type}} ,
                    {{taxComplianceMasterDet.return_type.name}} , {{ getStateName(taxComplianceMasterDet.state_flag)}} ,
                    {{getMonthYear(taxComplianceMasterDet.month_year_flag)}},
                    {{dayText}},{{taxComplianceMasterDet.date_of_year | date : 'EEEE, MMMM d, y'}})
                    <br>



                    <button class="btn btn-outline-primary active pull-right" (click)="addTaxComplianceDetails()">
                        +
                        Add New</button>
                    &nbsp;
                    <button class="btn btn-outline-primary active pull-right mr-1" (click)="onBack()"><i
                            class="fa fa-backward"></i> Back</button>
                </h4>

                <span *ngFor="let months of monthProgress">

                    <span class="btn btn-pill btn-sm btn-success" *ngIf="months.flag==1">{{months.label}} </span>
                    <span class="btn btn-pill btn-sm btn-secondary" *ngIf="months.flag==0">{{months.label}} </span>
                </span>


                <!-- <span class="btn btn-pill btn-sm btn-success" >JAN</span>
                <span class="btn btn-pill btn-sm btn-secondary" >FEB </span> -->
            </div>


            <div class="card-body">
                <br>
                <p-table #dt [value]="taxComplianceMasterDetails" styleClass="ui-table-tax-compliance-details-list"
                    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10,25,50,100,150,200]" [loading]="isLoading" [paginator]="true"
                    [columns]="selectedColumns" [autoLayout]="true" (onFilter)="onFilter($event, dt)"
                    currentPageReportTemplate="Total Records : &#123;&#123;taxComplianceMasterDetails.length&#125;&#125; "
                    [filterDelay]="0" [globalFilterFields]="['type','name','stateFlag','monthYearFlag']">
                    <ng-template pTemplate="header">


                        <tr>
                            <!-- <th pSortableColumn="{{col.field}}" *ngFor="let col of cols"> {{col.header}}</th> -->
                            <th pSortableColumn="sr_no">Details/Master ID</th>
                            <th pSortableColumn="state_name">State</th>  
                            <!-- *ngIf="taxComplianceMasterDet.state_flag==1" -->
                            <th pSortableColumn="emp_name" *ngIf="taxComplianceMasterDet.state_flag==3">Employee Name
                            </th>
                            <th pSortableColumn="company_name" *ngIf="taxComplianceMasterDet.state_flag==2">Company</th>
                            <th pSortableColumn="amount">Amount</th>
                            <th pSortableColumn="interest">Interest</th>
                            <th pSortableColumn="remark">Remark</th>
                            <th pSortableColumn="remark">Return Month/ Year</th>
                            <th pSortableColumn="submitted_dt">Submitted Date</th>
                            <th pSortableColumn="edit">Edit</th>
                        </tr>
                        <tr>

                            <th></th>
                            <th *ngIf="getColumnPresent('state_name')">
                                <div *ngIf="state_array.length > 0 ">
                                    <p-multiSelect [options]="state_array" placeholder="All"
                                        (onChange)="onchange($event,'state_name')" styleClass="ui-column-filter"
                                        optionLabel='state_name'>
                                        <ng-template let-op pTemplate="item">

                                            <span>&#123;&#123;op.label&#125;&#125;</span>

                                        </ng-template>
                                    </p-multiSelect>
                                </div>
                            </th>
                            <th *ngIf=" getColumnPresent('emp_name') && taxComplianceMasterDet.state_flag==3">
                                <div *ngIf="employee_array.length > 0 ">
                                    <p-multiSelect [options]="employee_array" placeholder="All"
                                        (onChange)="onchange($event,'emp_name')" styleClass="ui-column-filter"
                                        optionLabel='emp_name'>
                                        <ng-template let-op pTemplate="item">

                                            <span>&#123;&#123;op.label&#125;&#125;</span>

                                        </ng-template>
                                    </p-multiSelect>
                                </div>
                            </th>
                            <th *ngIf="getColumnPresent('company_name') && taxComplianceMasterDet.state_flag==2">
                                <div *ngIf="company_array.length > 0 ">
                                    <p-multiSelect [options]="company_array" placeholder="All"
                                        (onChange)="onchange($event,'company_name')" styleClass="ui-column-filter"
                                        optionLabel='company_name'>
                                        <ng-template let-op pTemplate="item">

                                            <span>&#123;&#123;op.label&#125;&#125;</span>

                                        </ng-template>
                                    </p-multiSelect>
                                </div>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th *ngIf="getColumnPresent('submitted_dt')">
                                <input type="text" class="form-control" [(ngModel)]="submitted_dt"
                                    (ngModelChange)="onDateSelect($event,'submitted_dt')"
                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                    #dp="bsDatepicker" bsDatepicker placeholder="Search by Date">
                            </th>
                            <th></th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-taxComplianceMasterDetails let-index="rowIndex">
                        <tr class="ui-selectable-row">

                            <td>
                                <span class="ui-column-title">Sr.No.</span>
                                {{taxComplianceMasterDetails.id}}/{{taxComplianceMasterDetails.tax_compliance_master_id}}
                                &nbsp;&nbsp;<span
                                    *ngFor="let val of getDocsArray(taxComplianceMasterDetails.file_upload)">
                                    <a href="{{val}}" target="_blank"><i class="fa fa-file-pdf-o"
                                            aria-hidden="true"></i></a>
                                </span>
                            </td>
                            <td>
                                <span class="ui-column-title">State</span>
                                {{taxComplianceMasterDetails.state_master ? taxComplianceMasterDetails.state_master.name
                                : ''}}
                            </td>

                            <td *ngIf="taxComplianceMasterDet.state_flag==3">
                                <span class="ui-column-title">Employee</span>
                                {{taxComplianceMasterDetails.taxCompDetEmp ?
                                taxComplianceMasterDetails.taxCompDetEmp.empName :''}}
                            </td>

                            <td *ngIf="taxComplianceMasterDet.state_flag==2">
                                <span class="ui-column-title">Company</span>
                                {{taxComplianceMasterDetails.sub_org_master ?
                                taxComplianceMasterDetails.sub_org_master.sub_org_name: ''}}
                            </td>

                            <td>
                                <span class="ui-column-title">Amount</span>
                                {{taxComplianceMasterDetails.amount}}
                            </td>

                            <td>
                                <span class="ui-column-title">Interest</span>
                                {{taxComplianceMasterDetails.interest}}
                            </td>

                            <td>
                                <span class="ui-column-title">Remark</span>
                                {{taxComplianceMasterDetails.remark}}
                            </td>

                            <td>
                                <span *ngIf="taxComplianceMasterDetails.return_month!=null">
                                    <b>{{taxComplianceMasterDetails.return_month
                                        | date :'MMM-yyyy' }}</b></span>

                                <span *ngIf="taxComplianceMasterDetails.return_from_dt!=null"> <b>From Date:
                                        {{taxComplianceMasterDetails.return_from_dt | date :'dd-MM-yyyy' }}

                                        To Date {{taxComplianceMasterDetails.return_to_date | date :'dd-MM-yyyy' }}
                                    </b>
                                </span>
                            </td>

                            <td>
                                <p [innerHTML]="checkDate(taxComplianceMasterDetails.submitted_dt,taxComplianceMasterDet.day_of_month,taxComplianceMasterDetails.return_month,taxComplianceMasterDetails.return_to_date)"></p>
                                <!-- <span class="badge badge-primary"> {{taxComplianceMasterDetails.submitted_dt | date : 'EEEE, MMMM d, y'}}</span> -->



                            </td>

                            <td>

                                <a class="btn btn-outline-info custom-action-btn" data-toggle="tooltip"
                                    data-placement="left" title="Edit" (click)="onEdit(taxComplianceMasterDetails.id)">
                                    <i class="fa fa-pencil"></i>
                                </a>

                                <a class="btn btn-outline-danger custom-action-btn" data-toggle="tooltip"
                                    data-placement="left" title="Delete" mwlConfirmationPopover
                                    [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                                    [confirmText]="confirmText" [cancelText]="cancelText" [placement]="placement"
                                    [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                                    cancelButtonType="success" (confirm)="onDelete(taxComplianceMasterDetails.id)"
                                    (cancel)="cancelClicked = true"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <!-- <td colspan="9" style="text-align: right;"></td> -->
                            <td></td>
                            <td ></td>
                            <!-- *ngIf="taxComplianceMasterDet.state_flag==1" -->
                            <td *ngIf="taxComplianceMasterDet.state_flag==3"></td>
                            <td *ngIf="taxComplianceMasterDet.state_flag==2"></td>
                            <td>{{totalAmount}}</td>
                            <td>{{totalInterest}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr>

                            <!-- <td colspan="9" style="text-align:left">No Records found.</td> -->
                            <td></td>
                            <td *ngIf="taxComplianceMasterDet.state_flag==1"></td>
                            <td *ngIf="taxComplianceMasterDet.state_flag==3"></td>
                            <td *ngIf="taxComplianceMasterDet.state_flag==2"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </div>



    </div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>