
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-list"></i> Sub Organiztion Update
                </div>

                <div *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div> 

                <div class="card-body">
                    <div class="row" *ngIf="!isLoading">
                        <div class="col-md-12">
                            <p-table #dt [value]="data" dataKey="id" styleClass="ui-table-sub-org-update"
                                [rowHover]="true"[showCurrentPageReport]="true"
                                 [loading]="isLoading" 
                                [columns]="cols" (onFilter)="onFilter($event, dt)"
                                currentPageReportTemplate="Total Records : {{data.length}}" [filterDelay]="0"
                                [globalFilterFields]="['sub_org_name']">

                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th pSortableColumn="{{col.field}}" *ngFor="let col of columns"
                                            [style.width.px]='col.style'>
                                            {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                        </th>
                                    </tr>

                                </ng-template>


                                <ng-template pTemplate="body" let-item let-columns let-index="rowIndex">
                                    <tr class="ui-selectable-row">
                                       
                                        <td>
                                            <span class="ui-column-title">Supplier</span>
                                            {{item.org_unit_master.unit_type}}
                                        </td>

                                        <td>
                                            <span class="ui-column-title">Supplier</span>
                                           {{item.sub_org_name}}
                                        </td>

                                        <td>
                                            <span class="ui-column-title">Supplier Address</span>
                                            {{item.org_address}}
                                        </td>

                                        <td>

                                            <span *ngFor=" let mkp of staff ">
                                                <!-- *ngIf="item.sales_acc_holder == mkp.id" -->
                                                <span >
                                                    <input #salesaccholderCheckBox type="checkbox" name="salesaccholder"
                                                        id="salesaccholderCheckBox" [checked]="item.sales_acc_holder === mkp.id"
                                                        
                                                        (change)="item.sales_acc_holder = mkp.id ; updateSalesHolder($event, mkp.id ,item.sub_org_id,salesaccholderCheckBox.checked)" />
                                                    {{ mkp.first_name }}

                                                </span>

                                                <!-- <span *ngIf="item.sales_acc_holder != mkp.id">
                                                    <input #salesaccholderCheckBox type="checkbox"
                                                        id="salesaccholderCheckBox" name="salesaccholder"
                                                        [checked]="item.sales_acc_holder === mkp.id"
                                                        (change)="item.sales_acc_holder == mkp.id"
                                                        (click)="updateSalesHolder($event, mkp.id ,item.sub_org_id,salesaccholderCheckBox.checked)" />
                                                    {{ mkp.first_name }}

                                                </span> -->

                                            </span>
                                        </td>

                                        <td>

                                            <span *ngFor=" let trade_manu of trade_manu_list ">

                                                <!-- *ngIf="item.trader_manufacture == trade_manu.id" -->
                                                <span>
                                                    <input #manuTraderCheckBox type="checkbox" id="manuTraderCheckBox"
                                                        name="manuTrader" [checked]="item.trader_manufacture === trade_manu.id"
                                                        (change)="item.trader_manufacture = trade_manu.id ;updateTraderManu($event, trade_manu.id ,item.sub_org_id,manuTraderCheckBox.checked)" />
                                                    {{trade_manu.name}}

                                                </span>

                                                <!-- <span *ngIf="item.trader_manufacture != trade_manu.id">
                                                    <input #manuTraderCheckBox type="checkbox" id="manuTraderCheckBox"
                                                        name="manuTrader"
                                                        (click)="updateTraderManu($event, trade_manu.id ,item.sub_org_id,manuTraderCheckBox.checked)" />
                                                    {{trade_manu.name}}
                                                </span> -->
                                            </span>

                                        </td>


                                    </tr>
                                </ng-template>



                                <!-- <ng-template pTemplate="emptymessage">

                                    <tr>
                                        <td colspan="10" style="text-align:left">No Data found.</td>
                                    </tr>
                                </ng-template> -->
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>