<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-file"></i> Send Appointment Letter

				</div>
				<div class="card-body">
					<div class="row" *ngIf="!editor">

						<div *ngIf="isLoading" style="text-align: center;">
							<app-loading-spinner></app-loading-spinner>
						</div>
						<div class="col-md-12">
							<form [formGroup]="addForm" novalidate class="needs-validation">
								<div class="row">
									<div class="form-group col-6 col-md-2">
										<label for="title" class="col-form-label">Title</label>
										<input type="text" id="title" placeholder="title" formControlName="title"
											class="form-control" required>
									</div>

									<div class="form-group col-6 col-md-3">
										<label for="first_name" class="col-form-label">First Name</label>
										<input type="text" id="first_name" placeholder="First Name"
											formControlName="first_name" class="form-control" required>
									</div>

									<div class="form-group col-6 col-md-3">
										<label for="last_name" class="col-form-label">Last Name</label>
										<input type="text" id="last_name" placeholder="Last Name"
											formControlName="last_name" class="form-control" required>
									</div>


									<div class="form-group col-6 col-md-4">
										<label for="email" class="col-form-label">Email</label>
										<input type="text" id="email" placeholder="Email" formControlName="email"
											class="form-control" [email]=true required>
									</div>



									<div class="form-group col-6 col-md-6">
										<label for="address" class="col-form-label">Address</label>
										<input type="text" id="address" formControlName="address" class="form-control"
											placeholder="Address" required>
									</div>




									<div class="form-group col-6 col-md-3">
										<label for="mob_no" class="col-form-label">Mobile</label>
										<input type="text" id="mob_no" formControlName="mob_no" class="form-control"
											placeholder="Mobile Number" required numbersOnly>
									</div>

									<div class="form-group col-6 col-md-3">
										<label for="yearly_ctc" class="col-form-label">Monthly CTC</label>
										<input type="text" id="yearly_ctc" formControlName="yearly_ctc"
											placeholder="Monthly CTC" class="form-control" required numbersOnly>
									</div>

									<div class="form-group col-6 col-md-3">
										<label for="joining_date" class="col-form-label">Joining Date</label>
										<input type="text" id="joining_date" formControlName="joining_date"
											[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
											#dp="bsDatepicker" bsDatepicker class="form-control"
											placeholder="Joining Date" required>
									</div>
									<div class="form-group col-6 col-md-3">
										<label for="interview_date" class="col-form-label">Interview Date</label>
										<input type="text" id="interview_date" formControlName="interview_date"
											[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
											#dp="bsDatepicker" bsDatepicker class="form-control"
											placeholder="Interview Date" required>
									</div>


									<div class="form-group col-6 col-md-3">
										<label for="post" class="col-form-label">Designation</label>
										<input type="text" id="post" formControlName="post" placeholder="Designation"
											class="form-control" required>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-danger mr-1" type="button" [disabled]="addForm.invalid"
											(click)="downloadLetter()">
											<i class="fa fa-arrow-down"></i>Download</button>
										<button class="btn btn-warning mr-1" type="button" [disabled]="addForm.invalid"
											(click)="sendMailAppointmentLetter()">
											<i class="fa fa-envelope"></i> Email</button>

										<button class="btn btn-primary mr-1" type="button" [disabled]="addForm.invalid"
											(click)="reset()">
											<i class="fa fa-dot-circle-o"></i>Reset</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="row" *ngIf="editor">
						<div class="col-md-12">
							<div class="form-group has-feedback">
								<div *ngIf="mycontent != ''">
									<ck-editor name="editor" #myEditor [(ngModel)]="mycontent" [fullPage]="true"
										[config]="ckeConfig"></ck-editor>
								</div>

								<br>
								<br><br>


								<button (click)="download()" class="btn btn-primary">Download</button>&nbsp;
								<button (click)="onBack()" class="btn btn-primary">Back</button>

							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>