<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fa fa-handshake-o"></i> Price/Freight List </h4>


                </div>



                <div class="card-body overflow-auto">
                    <div class="row" *ngIf="isLoading">
                        <div class="col-md-12">
                            <div style="text-align: center;">
                                <app-loading-spinner></app-loading-spinner>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="text-align: left; ">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="input-group">
                                    <mat-radio-button value="1" color="primary" (change)="onRadioChange($event)">
                                        <b>Freight List</b>
                                    </mat-radio-button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for=""></label>
                                <div class="input-group">
                                    <mat-radio-button value="2" color="primary" (change)="onRadioChange($event)">
                                        <b>Price List</b>
                                    </mat-radio-button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for=""><b>Manufacture Name</b></label>
                                <div class="input-group">
                                    <ng-select placeholder="Select Manufacture " [searchable]="true" [clearable]="true"
                                        bindLabel="org_name" bindValue="org_id" [items]="polymerManufacturer"
                                        (change)="onSelectManufacture($event)"    appendTo="body">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="selectFreightOrPrice==1">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><b>DownLoad Fright List</b></label>
                                    <div class="input-group">
                                        <button type="button" pButton icon="pi pi-file-excel" iconPos="left"
                                            label="FrieghtList DownLoad" (click)="exportExcelFrieght()"
                                            style="margin-right: 0.5em;" class="ui-button-success mb-2"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><b>Upload Frieght Sheet</b></label>
                                    <div class="input-group">
                                        <input type="file" name="files" class="form-control"
                                            (change)="uploadFileFrightList($event)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="selectFreightOrPrice==2">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><b>DownLoad Price List</b></label>
                                    <div class="input-group">
                                        <button type="button" pButton icon="pi pi-file-excel" iconPos="left"
                                            label="PriceList DownLoad" (click)="exportExcel()"
                                            style="margin-right: 0.5em;" class="ui-button-success mb-2"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><b>Upload Price Sheet</b></label>
                                    <div class="input-group">
                                        <input type="file" name="files" class="form-control"
                                            (change)="uploadFilePriceList($event)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <p-table *ngIf="uploadFreight && selectFreightOrPrice==1" #dt [value]="DataListFrieght" datakey="id"
                            styleClass="ui-table-cons" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading" [paginator]="true"
                            [columns]="colsFrirght" (onFilter)="onFilter($event, dt)"
                            currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries"
                            [filterDelay]="0" [globalFilterFields]="[]">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pSortableColumn="{{col.field}}" *ngFor="let col of columns"
                                        style="width: 150px;">
                                        {{col.header}} <p-sortIcon field="{{col.field}}">
                                        </p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-columns>
                                <tr class="ui-selectable-row">

                                    <td *ngFor="let elem_header of colsFrirght">

                                        <span class="ui-column-title"> {{elem_header.field}}</span>
                                        {{item[elem_header.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <p-table *ngIf="uploadPriceList && selectFreightOrPrice==2" #dt [value]="DataList" datakey="id" styleClass="ui-table-cons"
                            [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [columns]="cols"
                            currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries"
                            [filterDelay]="0" [globalFilterFields]="[]">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pSortableColumn="{{col.field}}" *ngFor="let col of columns"
                                        style="width: 150px;">
                                        {{col.header}} <p-sortIcon field="{{col.field}}">
                                        </p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-columns>
                                <tr class="ui-selectable-row">

                                    <td *ngFor="let elem_header of cols">

                                        <span class="ui-column-title"> {{elem_header.field}}</span>
                                        {{item[elem_header.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                    <div *ngIf="uploadPriceList && selectFreightOrPrice==2">
                        <div>
                            <h2>Price List Details</h2>
                        </div>
                        <form [formGroup]="addPriceListForm" novalidate (ngSubmit)="onSubmitPriceList()"
                            autocomplete="off">

                            <div class="row">

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="change_date">Date</label>
                                        <input type="text" class="form-control" id="change_date"
                                            formControlName="change_date"
                                            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                            #dp="bsDatepicker" bsDatepicker readonly placeholder="Enter Date "
                                            style="background-color: white;">
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="cash_discount">Cash Discount</label>
                                        <input type="text" class="form-control" id="cash_discount"
                                            formControlName="cash_discount" placeholder="Enter Cash Discount">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="other_discount">Other Discount</label>
                                        <input type="text" class="form-control" id="other_discount"
                                            formControlName="other_discount" placeholder="Enter Other Discount">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="bcd">BCD</label>
                                        <!-- <input type="text" class="form-control" id="bcd" formControlName="bcd"
                                            placeholder="Enter BCD"> -->
                                            <input type="checkbox" class="form-control" id="bcd" name="bcd" formControlName="bcd">
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="sws">SWS</label>
                                        <!-- <input type="text" class="form-control" id="sws" formControlName="sws"
                                            placeholder="Enter SWS"> -->

                                            <input type="checkbox" class="form-control" id="sws" name="sws" formControlName="sws">
                                    </div>
                                </div>

                            </div>


                            <div class="modal-footer">
                                <button class="btn btn-primary mr-1" type="submit"
                                    [disabled]="addPriceListForm.pristine || addPriceListForm.invalid">
                                    <i class="fa fa-dot-circle-o"></i>Submit
                                </button>
                            </div>
                        </form>
                    </div>

                    <div *ngIf="uploadFreight && selectFreightOrPrice==1 ">
                        <br>
                        <div>
                            <h2>Freight List Details</h2>
                        </div>
                        <form [formGroup]="addFreightListForm" novalidate (ngSubmit)="onSubmitFreightList()"
                            autocomplete="off">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label" for="change_date">Date</label>
                                            <input type="text" class="form-control" id="change_date"
                                                formControlName="change_date"
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                                #dp="bsDatepicker" bsDatepicker readonly placeholder="Enter Date "
                                                style="background-color: white;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary mr-1" type="submit"
                                    [disabled]="addFreightListForm.pristine || addFreightListForm.invalid">
                                    <i class="fa fa-dot-circle-o"></i>Submit
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>