<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-body">
					<div class="row mb-2">
						<div class="col-md-9">
							<h4 class="text-primary order-heading">
								{{salesOrder.customer}} ({{salesOrder.location_vilage ? salesOrder.location_vilage :
								''}}) &nbsp; | &nbsp;
								{{salesOrder.zone}}
							</h4>
						</div>
						<div class="col-md-3 text-right">
							<button *ngIf="fp_balance_quantity > 0" type="button" class="btn btn-success mr-2"
								(click)="onAction(null, 'Add')">
								<i class="fa fa-plus"></i> Add Finance Planning
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 table-responsive">
							<table class="table table-bordered mb-0">
								<thead>
									<tr>
										<th>Godown</th>
										<th>Grade</th>
										<th *ngIf="salesOrder.company_id == 2">Bill Rate</th>
										<th>Deal Rate</th>
										<th>Quantity</th>
										<th>Balance Quantity</th>
										<th>N.B.</th>
										<th>Payment Term</th>
										<th>Frieght</th>
										<th>Term</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{ salesOrder.godown_name }}</td>
										<td>{{ salesOrder.grade_name }}</td>
										<td *ngIf="salesOrder.company_id == 2">{{ salesOrder.final_rate | currency:
											'INR'
											}}</td>
										<td>{{ salesOrder.deal_rate | currency: 'INR' }}</td>
										<td>{{ salesOrder.quantity }} {{ salesOrder.unit_type }}</td>
										<td>{{ fp_balance_quantity | number :'1.2-3'}} {{ salesOrder.unit_type }}</td>
										<td>{{ salesOrder.nb | currency: 'INR' }}</td>
										<td>{{ getPaymentTerm(salesOrder.payment_type, salesOrder.payment_term,
											salesOrder.advance) }}</td>
										<td>{{ salesOrder.freight_rate | currency: 'INR' }}</td>
										<td>{{ salesOrder.delivery_term }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt dataKey="id" [value]="data" [rows]="10" [showCurrentPageReport]="true"
								[rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]" [loading]="isLoading"
								[autoLayout]="true" [paginator]="true" [columns]="cols" [globalFilterFields]="filter"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">
												<a class="btn btn-success text-white mb-1 mr-2" (click)="exportExcel()"
													data-toggle="tooltip" data-placement="top" title="Excel">
													<i class="fa fa-file-excel-o"></i>
													<span class="export-text">Excel</span>
												</a>
											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											{{col.header}}
											<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData>
									<tr class="ui-selectable-row">
										<td>
											<span class="ui-column-title">ID: </span>
											{{ rowData.id }}
										</td>
										<td>
											<span class="ui-column-title">Customer: </span>
											{{ rowData.customer }} ({{rowData.location_vilage ? rowData.location_vilage
											: ''}})
										</td>
										<td>
											<span class="ui-column-title">Plan Quantity: </span>
											{{ rowData.plan_quantity }} {{ rowData.unit_type }}
										</td>
										<td>
											<span class="ui-column-title">Cancel Quantity: </span>
											{{ rowData.cancel_quantity }} {{ rowData.unit_type }}
										</td>
										<td>
											<span class="ui-column-title">KnockDispatch Quantity </span>
											{{ rowData.dispatch_quantity }} {{ rowData.unit_type }}
										</td>
										<td>
											<span class="ui-column-title">Balance Quantity: </span>
											{{ rowData.balance_quantity | number :'1.2-3' }} {{ rowData.unit_type }}
										</td>
										<td>
											<span class="ui-column-title">Payment Term: </span>
											{{ rowData.payment_term }}
										</td>
										<td>
											<span class="ui-column-title">Plan Date: </span>
											{{ rowData.plan_date | date:'dd-MMM-yyyy' }}
										</td>
										<td>
											<span class="ui-column-title">Validity Date: </span>
											{{ rowData.validity_date | date:'dd-MMM-yyyy' }}
										</td>
										<td>
											<span class="ui-column-title">Cancel Date: </span>
											{{ rowData.cancel_date | date:'dd-MMM-yyyy' }}
										</td>
										<td class="text-left">
											<!-- <a class="btn btn-outline-dark btn-sm action-btn mb-1 mr-1"
												data-toggle="tooltip" data-placement="top" title="View Plan"
												(click)="onAction(rowData, 'View')">
												<i class="fa fa-eye"></i>
											</a> -->
											<a *ngIf="rowData.balance_quantity > 0"
												class="btn btn-outline-danger btn-sm action-btn mb-1 mr-1"
												data-toggle="tooltip" data-placement="top" title="Cancel Quantity"
												(click)="onAction(rowData, 'Cancel')">
												<i class="fa fa-remove"></i>
											</a>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="footer" let-columns>
									<tr>
										<td *ngFor="let col of columns">
											<strong
												*ngIf="col.footer && (col.field == 'plan_quantity' || col.field == 'cancel_quantity' || col.field == 'dispatch_quantity' || col.field == 'balance_quantity')">
												Total: {{ (col.total == 0 ? 0 : col.total) | number : '1.2-3'}} MT
											</strong>
											<strong *ngIf="col.footer && (col.field == 'final_rate')">
												Total: {{ col.total == 0 ? '0' : (col.total | currency:'INR') }}
											</strong>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #addFinancePlanningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Add Finance Planning" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<form [formGroup]="addFinanceForm" novalidate (ngSubmit)="submitAddFinanceForm()" autocomplete="off"
				class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-inr text-success"></i> Finance Planning
						&nbsp; | &nbsp;
						<span [ngClass]="(due_data.case_type == 'Regular') ? 'text-primary' : 'text-danger'">{{
							due_data.case_type }}</span>
						&nbsp; | &nbsp;
						<span>SO ID : {{dealId}}</span>
					</h4>
					<button type="button" class="close" (click)="addFinancePlanningModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="sub_org_id">
									<strong>
										Customer <sup class="text-danger">*</sup>
									</strong>
								</label>
								<ng-select id="sub_org_id" formControlName="sub_org_id" placeholder="Customer"
									[searchable]="true" [clearable]="true" bindLabel="customer" bindValue="sub_org_id"
									[items]="customersList" (change)="onChangeValue($event, 'customer')">
								</ng-select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="payment_type">
									<strong>
										Payment Type <sup class="text-danger">*</sup>
									</strong>
								</label>
								<ng-select id="payment_type" formControlName="payment_type"
									(change)="onChangeValue($event.id, 'payment_type')" placeholder="Payment Type"
									bindLabel="name" bindValue="id" [searchable]="false" [clearable]="false"
									[items]="paymentTypesList" [readonly]="disableCustomer">
								</ng-select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="payment_term">
									<strong>
										Payment Term <sup class="text-danger">*</sup>
									</strong>
								</label>
								<div class="input-group">
									<input type="text" class="form-control" id="payment_term"
										formControlName="payment_term" placeholder="Payment Term" numbersOnly
										[readonly]="disablePaymentTerm">
									<div class="input-group-append">
										<span class="input-group-text">Days</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="advance">
									<strong>Advance
										<sup class="text-danger">*</sup>
									</strong>
								</label>
								<div class="input-group">
									<input type="text" class="form-control" id="advance" formControlName="advance"
										placeholder="Advance" numbersOnly [readonly]="disableAdvance">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 table-responsive">
							<table class="table table-bordered mb-0">
								<thead *ngIf="salesOrder.company_id == 2 || (salesOrder.company_id == 1 && salesOrder.is_forward == 0)">
									<tr>
										<th>
											<div class="d-flex justify-content-between">
												<div>Extra Local</div>
												<div *ngIf="salesOrder.import_local_flag == 2">
													<i class="fa fa-check-circle fa-lg text-success"></i>
												</div>
											</div>
										</th>
										<th>
											<div class="d-flex justify-content-between">
												<div>Extra Import</div>
												<div *ngIf="salesOrder.import_local_flag == 1">
													<i class="fa fa-check-circle fa-lg text-success"></i>
												</div>
											</div>
										</th>
										<!-- 
											SPIPL-1138
											<th>
												<div class="d-flex justify-content-between">
													<div>Extra Suspense</div>
													<div *ngIf="salesOrder.import_local_flag == 0">
														<i class="fa fa-check-circle fa-lg text-success"></i>
													</div>
												</div>
											</th> 
										-->
									</tr>
								</thead>
								<tbody *ngIf="salesOrder.company_id == 2 || (salesOrder.company_id == 1 && salesOrder.is_forward == 0)">
									<tr>
										<td>{{ due_data.org_extra_local | currency: 'INR' }}</td>
										<td>{{ due_data.org_extra_import | currency: 'INR' }}</td>
										<!-- 
											SPIPL-1138
											<td>{{ due_data.org_extra_suspense | currency: 'INR' }}</td> 
										-->
									</tr>
								</tbody>
								<br *ngIf="salesOrder.company_id == 2 || (salesOrder.company_id == 1 && salesOrder.is_forward == 0)">
								<thead>
									<tr>
										<th>Base Limit</th>
										<th>Adhoc Limit</th>
										<th>Overdue Limit</th>
										<th>Total Outstanding</th>
										<th>Total Undispatch</th>
										<th>Payment Due</th>
										<th>Available Limit</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{ due_data.base_limit | currency: 'INR' }}</td>
										<td>{{ due_data.adhoc_limit | currency: 'INR' }}</td>
										<td>{{ due_data.overdue_limit | currency: 'INR' }}</td>
										<td>{{ due_data.total_outstanding | currency: 'INR' }}</td>
										<td>{{ due_data.total_undispatch | currency: 'INR' }}</td>
										<td>{{ due_data.total_payment_due | currency: 'INR' }}</td>
										<td class="">
											<p class="mb-1">
												{{ addFinanceForm.controls.available_limit.value | currency: 'INR' }}
											</p>
											<p class="mb-0">
												{{ addFinanceForm.controls.available_limit_quantity.value }} MT
											</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-3">
							<div class="form-group">
								<label for="plan_quantity">
									<strong>
										Plan Quantity <sup class="text-danger">*</sup>
									</strong>
								</label>
								<input type="text" id="plan_quantity" class="form-control"
									formControlName="plan_quantity" placeholder="Plan Quantity" numbersOnly>
							</div>
						</div>
						<div class="col-md-3" *ngIf="enableAdhocPower">
							<div class="form-group">
								<label for="adhoc_power" class="mb-0">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" id="use_adhoc_power"
											formControlName="use_adhoc_power"
											(change)="useAdhocPower($event.target.checked)">
										<label for="use_adhoc_power">
											<strong>Use Adhoc Power</strong>
										</label>
									</div>
								</label>
								<input type="text" class="form-control" id="adhoc_power" formControlName="adhoc_power"
									placeholder="Adhoc Power" readonly>
							</div>
						</div>
						<div class="col-md-3" *ngIf="enableLogisticPower">
							<div class="form-group">
								<label for="logistic_power" class="mb-0">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" id="use_logistic_power"
											formControlName="use_logistic_power"
											(change)="useLogisticPower($event.target.checked)">
										<label for="use_logistic_power">
											<strong>Use Logistic Power</strong>
										</label>
									</div>
								</label>
								<input type="text" class="form-control" id="logistic_power"
									formControlName="logistic_power" placeholder="Logistic Power" readonly>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="plan_date">
									<strong>
										Plan Date <sup class="text-danger">*</sup>
									</strong>
								</label>
								<input type="text" class="form-control" id="plan_date" formControlName="plan_date"
									placeholder="Select Plan Date" (ngModelChange)="onChangePlanDate($event)"
									[bsConfig]="datePickerConfig" [maxDate]="max_date" bsDatepicker readonly>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="validity_date">
									<strong>
										Validity Date <sup class="text-danger">*</sup>
									</strong>
								</label>
								<input type="text" class="form-control" id="validity_date"
									formControlName="validity_date" placeholder="Select Validity Date"
									[bsConfig]="datePickerConfig" [maxDate]="max_validity_date" bsDatepicker readonly>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="remark">
									<strong>Remark</strong>
								</label>
								<input type="text" id="remark" class="form-control" formControlName="remark"
									placeholder="Remark">
							</div>
						</div>
						<div class="col-md-2" *ngIf="salesOrder.company_id == 2 || (salesOrder.company_id == 1 && salesOrder.is_forward == 0)">
							<div class="form-group">
								<label for="use_extra_amount" class="use_extra_amount_label">
									<strong>Use Extra Amount</strong>
								</label>
								<br>
								<p-inputSwitch id="use_extra_amount" formControlName="use_extra_amount"
									(onChange)="useExtraAmount($event)" onLabel="Yes" offLabel="No">
								</p-inputSwitch>
							</div>
						</div>
						<div class="col-md-2"
							*ngIf="salesOrder.company_id == 1 && salesOrder.is_forward == 1 && salesOrder.advance_amount > 0">
							<div class="form-group">
								<label for="use_advance_amount" class="use_advance_amount_label">
									<strong>Use Advance Amount</strong>
								</label>
								<br>
								<p-inputSwitch id="use_advance_amount" formControlName="use_advance_amount"
									(onChange)="useAdvanceAmount($event)" onLabel="Yes" offLabel="No">
								</p-inputSwitch>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" [disabled]="addFinanceForm.invalid || loadingBtn">
						Submit <i class="fa fa-spinner fa-spin" *ngIf="loadingBtn"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>


<div bsModal #cancelFinancePlanningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Cancel Finance Planning" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<form [formGroup]="cancelFinanceForm" novalidate (ngSubmit)="submitCancelFinanceForm()" autocomplete="off"
				class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-inr text-success"></i> Cancel Finance Planning</h4>
					<button type="button" class="close" (click)="cancelFinancePlanningModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="cancel_quantity">
									<strong>
										Cancel Quantity <sup class="text-danger">*</sup>
									</strong>
								</label>
								<input type="text" id="cancel_quantity" class="form-control"
									formControlName="cancel_quantity" placeholder="Cancel Quantity" numbersOnly>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" [disabled]="cancelFinanceForm.invalid || loadingBtn">
						Submit <i class="fa fa-spinner fa-spin" *ngIf="loadingBtn"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div bsModal #viewFinancePlanningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Order Details" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<i class="fa fa-eye"></i> Order Details
				</h4>
				<button type="button" class="close" (click)="viewFinancePlanningModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>