<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-body">

            <form [formGroup]="addForm" novalidate (ngSubmit)="onSubmitLc()" autocomplete="off">

            <div class="row">
                <div class="col-md-12">

                    <table class="table table-bordered table-responsive">

                        <tbody>
                            <tr>
                                <!-- <td>LC Number : </td> -->
                                <input type="hidden"
                                class="form-control"
                                id="suppiler_id"
                                formControlName="suppiler_id"
                                [(ngModel)]="supplier_id"
                               >

                                <!-- <input type="hidden"
                                class="form-control"
                                id="spipl_bank_id"
                                formControlName="spipl_bank_id"
                                [(ngModel)]="spipl_bank_id"
                              > -->
                            </tr>
                            <tr><td><div class="row">
                                <div class="col-md-2">Date of Lc Application:</div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-5">
                                        <input type="text"
                                        class="form-control"
                                        id="lc_date"
                                        formControlName="lc_date"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                        #dp="bsDatepicker"
                                        bsDatepicker
                                        [maxDate]="today"
                                        
                                        placeholder="Enter Date " >
                                     </div>

                                </div>
                            </div> </td></tr>

                            <tr>
                                <td>To,<br>The Assistant General Manager,<br>{{buyerBankName}}<br>{{buyerBankAddress}}</td>
                            </tr>
                            <tr>
                               <td> Sub: - Request of LC Opening of {{suppierOrgName}} for {{currency}} {{totamount}}=00</td>
                            </tr>
                            <tr>
                                <td>
                                    Dear Sir,<br>
                                    <p>Please issue the letter of credit to following party.</p>

                                    <p>1) Benificiary (Name and Address):{{suppierOrgName}} {{suppierOrgAddress}}</p>
                                    <p>2) LC Amt :- {{totamount}}=00 {{currency}}</p>

                                    <div class="row">

                                      <div class="col-md-2">
                                       3) Applicants Bank :
                                     </div>
                                      <div class="form-group col-md-3">
                                        <!-- [readonly]="true" -->
                                        <ng-select
                                        id="spipl_bank_id"
                                        formControlName="spipl_bank_id"
                                        placeholder=" Bank"
                                        [searchable]="true"
                                        [clearable]="true"
                                        bindLabel="bank_name"
                                        bindValue="id"
                                        [items]="spipl_bank"
                                        
                                        >
                                        
                                        </ng-select>

                                     </div>
                                    </div>


                                     <div class="row">
                                            <div class="col-md-2">
                                               4) INCO Terms::
                                            </div>
                                             <div class="form-group col-md-3">
                                                <ng-select
                                                placeholder="Select Term "
                                                id="payment_term_id"
                                                formControlName="payment_term_id"
                                                [searchable]="true"
                                                [clearable]="true"
                                                bindLabel="pay_term"
                                                bindValue="pt_id"
                                                [items]="paymentTerm"
                                                (change)="onchange_payterm($event)"
                                                >
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                5) Latest Date of shipment:
                                             </div>
                                              <div class="form-group col-md-3">
                                                <input type="text"
                                                class="form-control"
                                                id="date_of_shipment"
                                                formControlName="date_of_shipment"
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                                #dp="bsDatepicker"
                                                bsDatepicker
                                                placeholder="Enter Date " [(ngModel)]="latest_date"  (ngModelChange)="lastDateCalculate(expiry,latest_date)">
                                             </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                6) Date and Place of expiry of this credit:
                                             </div>
                                               <div class="form-group col-md-2">
                                                <input type="number"
                                                class="form-control"
                                                id="expiry_count"
                                                formControlName="expiry_count"
                                                [(ngModel)]="expiry"
                                                (ngModelChange)="lastDateCalculate(expiry,latest_date)"
                                                >
                                             </div>
                                              <div class="form-group col-md-3">
                                                <input type="text"
                                                class="form-control"
                                                id="lc_expiry_date"
                                                formControlName="lc_expiry_date"
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                                #dp="bsDatepicker"
                                                bsDatepicker
                                                [maxDate]="today"
                                                [(ngModel)]="exp_date"
                                                 >
                                             </div>
                                        </div>
                                    </td>
                               </tr>
                                <tr>
                                    <td>Kindly issue the Draft of LC for Verification ,before sending Original LC to Beneficiary. We authorize you to debit LC issuing charges to our account no.2551261005273</td>
                                </tr>

                                <tr>
                                    <td>
                                        Thanking You,<br>
                                        {{buyerOrgName}}
                                        <br><br>
                                        <p>Authorized Signatory,</p>
                                    </td>
                                </tr>
                                <tr>
                                    <table class="table table-bordered table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>71D</td>
                                                <td>ADVISING BANK</td>
                                                <td>{{firstAdvBank}},<br>
                                                   {{firstAdvBankAddress}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>31D</td>
                                                <td>EXIPIRY DATE AND PLACE</td>
                                                <td>{{exp_date}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>50</td>
                                                <td>APPLICANT NAME AND ADDRESS</td>
                                                <td>{{firstAdvBank}},<br>
                                                    {{firstAdvBankAddress}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>51A</td>
                                                <td>APPLICANT BANK(ADDRESS)</td>
                                                <td>{{buyerBankName}},<br>
                                                     {{buyerBankAddress}}<br>
                                                    SWIFT CODE :-{{buyerBankSwiftCode}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>59</td>
                                                <td>BENEFICIARY NAME AND ADDRESS</td>
                                                <td>{{suppierOrgName}}<br><br>
                                                     {{suppierOrgAddress}}

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>32B</td>
                                                <td>CURRENCY /AMOUNT(LC VALUE)</td>
                                                <td>{{totamount}}=00 {{currency}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>39A</td>
                                                <td>TOLERANCE</td>
                                                <td> <div class="form-group col-md-4">
                                                    <ng-select
                                                    placeholder="Tolerance"
                                                    formControlName="tolerance"
                                                    id="tolerance"
                                                    [searchable]="true"
                                                    [clearable]="true"
                                                    bindLabel="name"
                                                    bindValue="id"
                                                    [items]="tolarance"

                                                    >
                                                    </ng-select>

                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>41D</td>
                                                <td>AVILABLE WITH /BY</td>
                                                <td><div class="form-group col-md-4">
                                                    <ng-select
                                                    placeholder="Available bank"
                                                    formControlName="available_with_by"
                                                    id="available_with_by"
                                                    [searchable]="true"
                                                    [clearable]="true"
                                                    bindLabel="bank_name"
                                                    bindValue="bank_id"
                                                    [items]="org_bank"
                                                    (change)="setSelectedStatus($event)"
                                                    >
                                                    </ng-select>

                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>42C</td>
                                                <td>DRAFT</td>
                                                <td>
                                                    <!-- {{payment_term}} -->
                                                    {{lcpaymentTerm}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>43T</td>
                                                <td>TRANSHIMENT</td>
                                                <td><div class="form-group col-md-4">
                                                    <ng-select
                                                    placeholder="transhipment"
                                                    formControlName="transhipment"
                                                    id="transhipment"
                                                    [searchable]="true"
                                                    [clearable]="true"
                                                    bindLabel="name"
                                                    bindValue="id"
                                                    [items]="transship"

                                                    >
                                                    </ng-select>

                                                </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>43P</td>
                                                <td>PARTIAL SHIPMENT</td>
                                                <td><div class="form-group col-md-4">
                                                    <ng-select
                                                    placeholder="Partial shipment"
                                                    formControlName="partial_shipment"
                                                    id="partial_shipment"
                                                    [searchable]="true"
                                                    [clearable]="true"
                                                    bindLabel="name"
                                                    bindValue="id"
                                                    [items]="transship"

                                                    >
                                                    </ng-select>

                                                </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>44E</td>
                                                <td>PORT OF SHIPMENT</td>
                                                <td>
                                                    <div *ngFor="let i of item">
                                                        {{i.material_load_port}},
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>44F</td>
                                                <td>PORT OF DISCHARGE</td>
                                                <td>
                                                <div *ngFor="let i of item">
                                                    {{i.destinationPort}},
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>44C</td>
                                                <td>LAST DATE OF SHIPMENT</td>
                                                <td>{{exp_date}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>45A</td>
                                                <td>DESCRIPTION OF ITEMS IMPORTED
                                                    AND TERMS OF SHIPMENT</td>
                                                <td>

                                                        <p *ngFor="let i of item">{{i.productName}} <br> Qty : {{i.pi_quantity}} {{i.unit}}, Grade :{{i.gradeName}} ,{{i.destinationPort}} Term {{i.piInsuranceType}}</p>

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>47A</td>
                                                <td>ADDITIONAL CONDITION</td>
                                                <td>
                                                   <ol>
                                                       <li>CONFIRM THE LC.</li>
                                                       <li>OUTSIDE INDIA CHARGES ARE FOR THE ACCOUNT OF BENEFICIARY.</li>
                                                       <li>INTEREST @ LIBOR +100 BPPA.FROM THE DATE OF NEGOTATION TO THE MATURITY DATE TO BE PAID BY THE APPLICANT.</li>
                                                       <li>CONFIRMATION CHARGES 100 BPPA FROM THE DATE OF LC ISSUANCE TILL THE NEGOTATION DATE, TO THE ACCOUNT OF APPLICANT.</li>
                                                       <li>THE DRAFT DRAWN AT 90 DAYS FROM BILL OF LADING, THE PAYMENT TO BENEFICIARY IS TO BE MADE AT SIGHT BASIS PROVIDED THAT ALL DOCUMENTS PRESENTED ARE COMPLIED WITH L/C TERMS AND CLAIM FROM US ON DATE ALONG WITH INTEREST OF USANCE PERIOD.</li>
                                                       <li>.DOCUMENTS PRESENTED WITH MISSPELLING OR TYPING ERRORS THAT DO NOT AFFECT THE MEANING OF A WORD OR SENTENCE IN WHICH THEY OCCUR,DO NOT MAKE A DOCUMENT DISCREPANT UNLESS SUCH ERRORS RELATED TO PRICES,QUANTITY,QUALITY,DESCRIPTION OF GOODS AND SO AFFECT THE MEANING.</li>
                                                       <li>THE DISCREPANCY WHICH DOESNOT AFFECT QUALITY, QUANTITY, DESCRIPTION OF GOODS AND PRICE OF THE L/C ARE ACCEPTABLE.</li>
                                                   </ol>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>71B</td>
                                                <td>BANK CHARGES(INSIDE/OUTSIDE)</td>
                                                <td>
                                                    ALL CHARGES OUTSIDE INDIA (EXCEPT DISCOUNT,INTEREST,AND CONFIRMATION CHARGES)
                                                    ARE INTO THE ACCOUNT OF BENEFICIARY
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>48</td>
                                                <td>SUBMISION OF DOCUMENTS(WITHIN DAYS FROM BL DATE)</td>
                                                <td>
                                                    WITHIN 21 DAY FROM SHIPMENT DATE
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>49</td>
                                                <td>CONFIRMATION (WITH OR WITHOUT)</td>
                                                <td >

                                                      <div class="form-group col-md-4"  style="padding-bottom: 50px;">
                                                        <ng-select
                                                        placeholder="confirmation"
                                                        formControlName="confirmation"
                                                        id="confirmation"
                                                        [searchable]="true"
                                                        [clearable]="true"
                                                        bindLabel="name"
                                                        bindValue="id"
                                                        [items]="confirm"

                                                        >
                                                        </ng-select>

                                                    </div>

                                                </td>
                                            </tr>
                                            <tr></tr>
                                        </tbody>
                                    </table>
                                </tr>
                                <tr>
                                    <td class="text-center"><h4>ANNEXURE</h4></td>
                                </tr>
                                <tr><td><h4>FOR LC OF {{suppierOrgName}} FOR {{currency}} {{totamount}}=00</h4></td></tr>
                                <tr><td>PLEASE NOTE THAT 1 COMPLETE SET OF DOCS WILL CARRY FOLLOWING DOCS:
                                </td></tr>
                                <tr><td>2) BILL OF LADING IN TRIPLICATE.
                                    <textarea formControlName="bl_description" id="bl_description" placeholder="Enter The Data" cols="20" class="form-control"></textarea>
                                </td></tr>
                                <tr><td>3) CLAUSE OF "14 DAYS FREE DETENTION AT THE PORT OF DISCHRAGE" SHOULD BE MENTIONED IN EACH BILL OF LADING.
                                </td></tr>
                                <tr><td>4) PORT OF DISCHARGE WILL BE AS BELOW : AS PER PROFORMA INVOICE DETAILS</td></tr>
                                <tr><td> <p *ngFor="let i of item">> FOR QTY {{i.pi_quantity}} MT (GRADE {{i.gradeName}}):- DISCHARGE PORT {{i.destinationPort}} AS PER PI REF. NO.{{i.proform_invoice_no}} DTD:{{i.tentitive_departure_date}}</p></td></tr>
                                <tr><td>5)PACKING LIST.:Packing should be in manufactureres printed bags and not in plain bags.
                                </td></tr>
                                <tr><td>6) CERTIFICATE OF ORIGIN, ISSUNED BY CHAMBER OF COMMEECE.
                                </td></tr>
                                <tr><td>7)CERTIFICATE OF QUALITY Mentioning This Material is " <span *ngFor="let i of item">{{i.productName}} /</span> ".
                                </td></tr>
                                <tr><td>8)INSURANCE COVER ORIGINAL DOCS. (INSURANCE ON "SELLERS WAREHOUSE TO BUYER WAREHOUSE" BASIS.)

                                </td></tr>
                                <tr><td>9)PCS/NSR/CIC/CSR/ISR/ISPS/EGSS/EIC/CTR/EOC/MUCI/ECRS/CON/TTCI/PSI/BRS NOT TO BE RECOVERED FROM APPLICANT / IMPORTER / CONSIGNEE BY THE SHIPPING COMPANY AND MESSAGE TO BE GIVEN TO SHIPPING COMPANY PRIOR TO SHIPMENT.
                                </td></tr>
                                <tr><td>10) {{payment_term}}.
                                </td></tr>
                                <tr><td>11) All Documents should be in the name of {{buyerOrgName}} {{buyerOrgAddress}}
                                </td></tr>
                                <tr><td>12] Beneficiary Certificate that they have e-mailed Applicant one set on Non Negotiable document within 8 working days from date of shipment, a copy of certificate to accompany with documents. Applicants email id: parmar@parmarglobal.com

                                </td></tr>
                                <tr><td>13] Invoice No.,Unit Price must not apper on Bills Of Lading & Certificate of Origin & Shipping Co Certificate.

                                </td></tr>
                                <tr><td>14] Certificate from Shipping Co OR their agent stating thet carring Vessel is registered with an approved classificatiob society as per the Institute classification Clause and Class maintained equivalent to the Lloyds 100 A1 and that vessel is sea worthy and not more than 20 years old.

                                </td></tr>
                                <tr><td>15] Bills of Lading to show full particulars of agent at discharge port, i.e. Name, Address, Telephone/Telex & Fax No.
                                </td></tr>
                                <tr><td>16] Documents presented with misspelling or typing error that do not affect the meaning of word or sentence in which they are occur,do not make a document discrepant unless such error related to prices,quantity,quality,description of goods and so affect the meaning.
                                </td></tr>
                                <tr><td>17] The discrepancy which does not affect quality,quantity,description of goods and price of the L/C are acceptable.
                                </td></tr>
                                <tr><td>18] LC NO, LC ISSUING BANK NAME, PAN AAFCP3570L SHOULD APPEAR ON ALL DOCUMENTS.
                                </td></tr>
                                <tr><td>19]<p *ngFor="let itm of item , let i = index" [attr.data-index]="i">{{i+1}} - PI No {{itm.proform_invoice_no}} KINDLY MENTION GSTIN NO- {{itm.gstNo}} ON THE BILL OF LADING FOR {{itm.destinationPort}} PORT. </p>
                                </td></tr>
                                <tr><td>20] BILL OF LADING TO MENTION IEC CODE -{{buyeriec}} AND EMAIL ID. PARMAR AT PARMARGLOBAL.COM.
                                </td></tr>
                                <tr><td>
                                    THANKS // REGARDS<br>
                                   {{buyerOrgName}}
                                    <br><br>
                                    <p>Authorized Signatory</p>

                                </td></tr>
                                     <!-- ANNEXURE iv -->

                                <tr>
                                    <td class="text-center"><h5>ANNEXURE - IV</h5></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-9"></div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-4">Place :</div>
                                                    <div class="col-md-8">Pune</div>
                                                    <div class="col-md-4">Date :</div>
                                                    <div class="col-md-8">
                                                         <div class="form-group">
                                                        <input type="text"
                                                        class="form-control"
                                                        id="annexe_6_date"
                                                        formControlName="annexe_6_date"
                                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                                        #dp="bsDatepicker"
                                                        bsDatepicker
                                                        [maxDate]="today"
                                                         >
                                                    </div>
                                                </div>
                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        To,<br>
                                        The Manager,<br>
                                        {{buyerBankName}}<br>
                                        {{buyerBankAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dear Sir,<br>
                                        Sub: - Our Import of {{suppierOrgName}} FOR {{currency}} {{totamount}}=00 (Currency & Amount) under free importability.</td>
                                </tr>
                                <tr>
                                    <td>
                                        Ref:
                                         <p>With reference to our above imports, we hereby declare that-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>i) The merchandise referred above can be imported freely as per the existing EXIM Policy; and</p>
                                        <p>ii) Te subject goods have not been restricted or canalised under ITC (HS) Classification of Export and Import Items.</p>

                                    </td>
                                </tr>
                                <tr>
                                    <td><p>I/We understand to submit to you the Exchange Control copy of Bill of entry for Home Consumption certified by the Customs / Customs Assessment Certificate or Postal Appraisal Form, as the case may be, -</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>a)  Within three months from the data of remittance, in the case of import on sight D/P basis.,</p>
                                        <p>b) on or before the due date of the bills, in the case of import on D/A usance basis.,</p>
                                        <p>c) within 15 days after completion of 12 months from date of advance remittance in case of capital goods and with in 15 days after completion of three months from date of advance remittance in case of other goods.</p>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Thanking You,<br>
                                        <p>{{buyerOrgName}}</p>
                                        <br><br>Authorized Signatory
                                    </td>
                                </tr>

                                <!-- ANNEXURE vii -->
                                <tr>
                                    <td class="text-center"><h5>ANNEXURE VII</h5></td>
                                </tr>
                                <tr>
                                    <td><h5>DECLARATION  CUM UNDERTAKING TO BE OBTAINED FROM THE APPLICANT (IMPORTER) SEEKING WAIVER OF LLOYDS CERTIFICATE /SGS CERTIFICATE OPENING IMPORT LETTER OF CREDIT</h5></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-9"></div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-4">Place :</div>
                                                    <div class="col-md-8">
                                                          Pune

                                                        </div>
                                                    <div class="col-md-4">Date :</div>
                                                    <div class="col-md-8">
                                                          <div class="form-group">
                                                        <input type="text"
                                                        class="form-control"
                                                        id="annexe_7_date"
                                                        formControlName="annexe_7_date"
                                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                                        #dp="bsDatepicker"
                                                        bsDatepicker
                                                        [maxDate]="today"
                                                         >
                                                    </div>
                                                </div>
                                                </div>

                                            </div>
                                        </div>


                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        To,<br>
                                        The Manager/ Senior Manager,<br>
                                        {{buyerBankName}}<br>
                                        {{buyerBankAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dear Sir,<br>
                                        Sub: - Request for waiver of SGS Certificate in respect of Import Letter of Credit to be opened in favour of {{suppierOrgName}} for {{currency}} {{totamount}}=00 being import of {{suppierOrgName}}.</td>
                                </tr>
                                <tr>
                                    <td>
                                        1. I/We hereby declare that the waiver of SGS Certificate is at my/our request only
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2.I/We hereby declare that Iam fully aware of the implications involved in seeking will be above clauses & hereby undertake that :<br>
                                        All disputed relating to the quality of goods supplied by the Overseas Supplier will be settled outside the purview of the subject import letters of credit and your Bank will not be involved in any cases relating to such disputes
                                        Since Bank deal only with documents. I/We hereby undertake not to bring any import, in the court of law thereby hindering the Bank to honor its commitments unlist the subject Letter of Credit.<br>
                                        I/We will be fully responsible for any consequence arising out of waiver of the above certificates & Bank will not be affected by such consequences in as far as herewith commitments under the subject letters of credit is concerned.

                                    </td>
                                </tr>
                                <tr>
                                    <td>3. I/We also undertake to discharge our contractual obligations to the Bank as per the letter agreed while establishing the LC.</td>
                                </tr>
                                <tr>
                                    <td>This undertaking letter is given by me/us in continuation of my/our FLC Agreement cum-Application executed on    
                                       {{appDate}} <!-- <input type="text"
                                        class="form-control"
                                        id="app_date"
                                        formControlName="app_date"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                        #dp="bsDatepicker"
                                        bsDatepicker
                                        [maxDate]="today"
                                         > -->


                                          <!-- <input type="date" formControlName="app_date" id="app_date"/> -->
                                     while establishing the LC & also forms pat & parcel of FLC Agreement cum- Application executed by me.</td>
                                </tr>
                                <tr>
                                    <td>
                                        Thanking You,<br>
                                        Yours Faithfully,<br><br>
                                        For {{buyerOrgName}}<br><br>
                                        Authorized Signatory
                                    </td>
                                </tr>


                        </tbody>

                    </table>

                </div>
            </div>

            <div class="row">
                <button class="btn btn-primary mr-1"
                type="submit"
                >
                <i class="fa fa-dot-circle-o"></i> Submit</button>

                <button class="btn btn-primary mr-1" (click)="onBackToLc()"
                >
                <i class="fa fa-mail-reply"></i> Back</button>
            </div>
        </form>


        </div>
        </div>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
