<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card">
                <div class="card-header">
                    <h2>SPIPL Release Unsold</h2>
                </div>
                <div class="card-body overflow-auto">
                    <div class="row mb-1">
                        <!-- <div class="col-md-1">

                            <label for=""><b>Import/Local</b></label>
                        </div> -->
                        <!-- <div class="col-md-2">
                            <ng-select id="id" placeholder="Select Company" [searchable]="true" [clearable]="true"
                                bindLabel="name" bindValue="id" [items]="company_List" [multiple]=true
                                [(ngModel)]="company_Ids" appendTo="body" (change)="onCompanyChange($event)">
                            </ng-select>
                        </div> -->

                        <!-- <div class="col-md-2">
                            <ng-select id="id" placeholder="Select Import/Local" [searchable]="true" [clearable]="true"
                                bindLabel="name" bindValue="id" [items]="import_local_list" 
                                [(ngModel)]="importlocal_Ids" appendTo="body" (change)="onImportLocalChange($event)">
                            </ng-select>
                        </div> -->

                        <div class="col-md-1">

                            <label for=""><b>Main Grade</b></label>
                        </div>
                        <div class="col-md-4">
                            <ng-select id="id" placeholder="Select Main Grade" [searchable]="true" [clearable]="true"
                                bindLabel="name" bindValue="id" [items]="main_grade" [multiple]=true
                                [(ngModel)]="main_grade_ids" appendTo="body">
                            </ng-select>
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-dark mr-1" type="button" (click)="onSelectMainGrade()">
                                <i class="fa fa-search"></i> Search</button>
                            <button type="button" class="btn  btn-success" (click)="sendWhatsapp()" *ngIf="whatsapp"><i
                                    class="fa fa-whatsapp"></i>Whatsapp</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card">
                <div class="card-body overflow-auto">
                    <!-- <div class="row" *ngIf="isLoading">
                        <div class="col-md-12">
                            <div style="text-align: center;">
                                <app-loading-spinner></app-loading-spinner>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-md-12">
                            <p-table #dt [value]="testData" dataKey="id" styleClass="ui-table-cons" [rowHover]="true"
                                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                [loading]="isLoading" [paginator]="false" [columns]="cols" [scrollable]="false"
                                scrollHeight="400px"
                                currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries"
                                [filterDelay]="0" [globalFilterFields]="['godown_name']">

                                <ng-template pTemplate="caption">
                                    <div class="captionTopDiv">
                                        <div class="ui-table-globalfilter-container">
                                            <input pInputText type="text" class="form-control"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Global Search" />
                                        </div>
                                        <div class="ui-helper-clearfix" style="text-align: left;">

                                            <h4 style="margin-right: 0.5em; font-weight: bold;">SPIPL Release Unsold
                                                Summary
                                                {{todayDate | date: 'EEEE, MMMM d, y'}}</h4>

                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th pSortableColumn="{{col.field}}" *ngFor="let col of cols"
                                            [style.width]="col.style">
                                            {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-item>
                                    <tr class="ui-selectable-row">
                                        <td [style.font-weight]="item.pnforRegular === 0 ? '00': 'bold'"
                                            style="width:100px; text-align: center;">
                                            <span class="ui-column-title">Godown </span>
                                            <span (click)="getDetailUn(item.main_godown_id)"
                                                class="btn btn-primary" style=" min-width: 110px; max-width: 110px;">{{item.godown_name}}</span>
                                        </td>

                                        <!-- <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Port For Regular </span>
                                            {{item.pnforRegular === 0 ? null : item.pnforRegular | number : '1.0-3'}}
                                        </td>

                                        <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Port For In Port </span>
                                            {{item.pnforInport === 0 ? null : item.pnforInport | number : '1.0-3'}}
                                        </td> -->


                                        <!-- +item.lc_not_issue_import_surisha -->
                                        <!-- <td class="rowsWidthStyle">
                                            <span class="ui-column-title">LC not Issue </span>
                                            {{(item.lc_not_issue_spipl) === 0 ? null :
                                            (item.lc_not_issue_spipl) | number :
                                            '1.0-3'}}
                                        </td> -->

                                        <!-- + item.non_pending_import_surisha  -->
                                        <!-- <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Non Docs Pending</span>

                                            {{(item.non_pending_spipl) === 0 ? null :
                                            (item.non_pending_spipl) | number :
                                            '1.0-3'}}
                                        </td> -->
                                        <!-- 
                                        +item.regular_intransite_import_surisha -->
                                        <!-- <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Material Under Clearance </span>
                                            {{ (item.regular_intransite_spipl)
                                            === 0 ? null :
                                            (item.regular_intransite_spipl) |
                                            number : '1.0-3'}}
                                            </td> -->

                                        <!-- <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Material In Bond</span>
                                            {{ item.bond_intransite_spipl === 0 ? null : item.bond_intransite_spipl |
                                            number : '1.0-3'}}
                                        </td> -->


                                        <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Import Intransite</span>

                                            {{ (item.lc_not_issue_spipl + item.non_pending_spipl
                                            +item.regular_intransite_spipl+item.bond_intransite_spipl) |
                                            number : '1.0-3' }}

                                        </td>



                                        <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Stock Transfer Intransite</span>
                                            {{(item.stock_transfer_import_instransite +
                                            item.stock_transfer_local_instransite) === 0 ? null :
                                            (item.stock_transfer_import_instransite +
                                            item.stock_transfer_local_instransite) | number
                                            : '1.0-3'}}
                                        </td>


                                        <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Purchase In Transit</span>
                                            {{(item.local_purchase_import_intransite +
                                            item.local_purchase_local_intransite)=== 0 ? null :
                                            (item.local_purchase_import_intransite +
                                            item.local_purchase_local_intransite) | number :
                                            '1.0-3'}}

                                        </td>

                                        <!-- +item.inventory_import_surisha -->

                                        <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Godown Stock</span>
                                            {{ (item.inventory_import+ item.inventory_local) === 0 ? null
                                            :(item.inventory_import+
                                            item.inventory_local) | number :
                                            '1.0-3'}}
                                        </td>
                                        <td style="width:90px; font-weight: bold;">
                                            <!-- item.pnforRegular+
                                            item.pnforInport+ -->
                                            <!-- 
                                            +item.lc_not_issue_import_surisha
                                            item.non_pending_import_surisha+
                                            item.regular_intransite_import_surisha+
                                            +
                                            item.inventory_import_surisha -->
                                            <span class="ui-column-title">Total Quantity</span>
                                            {{
                                            (

                                            item.lc_not_issue_spipl+
                                            item.non_pending_spipl+
                                            item.regular_intransite_spipl+
                                            item.bond_intransite_spipl+
                                            item.stock_transfer_import_instransite+
                                            item.stock_transfer_local_instransite+
                                            item.local_purchase_import_intransite+
                                            item.local_purchase_local_intransite+
                                            item.inventory_import+
                                            item.inventory_local) | number :
                                            '1.0-3'
                                            }}
                                        </td>
                                        <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Order Pending</span>
                                            {{ (item.sales_pending_import+ item.sales_pending_local) === 0 ? null :
                                            (item.sales_pending_import + item.sales_pending_local) | number :
                                            '1.0-3'}}
                                        </td>
                                        <!-- <td class="rowsWidthStyle">
                                            <span class="ui-column-title">Import Order Pending</span>
                                            {{item.sales_pending_import_surisha === 0 ? null :
                                            item.sales_pending_import_surisha | number :
                                            '1.0-3'}}
                                        </td> -->
                                        <td style="width:90px; font-weight: bold;">
                                            <!-- item.pnforRegular+
                                            item.pnforInport+ -->
                                            <!-- item.sales_pending_import_surisha -->
                                            <!--                                             
                                            item.lc_not_issue_import_surisha+
                                            item.non_pending_import_surisha+
                                            regular_intransite_import_surisha+
                                            +
                                            item.inventory_import_surisha -->

                                            <span class="ui-column-title">Total Unsold</span>
                                            {{
                                            (
                                            (

                                            item.lc_not_issue_spipl+
                                            item.non_pending_spipl+
                                            item.regular_intransite_spipl+
                                            item.bond_intransite_spipl+
                                            item.stock_transfer_import_instransite+
                                            item.stock_transfer_local_instransite+
                                            item.local_purchase_import_intransite+
                                            item.local_purchase_local_intransite+
                                            item.inventory_import+
                                            item.inventory_local
                                            ) -
                                            (
                                            item.sales_pending_import +
                                            item.sales_pending_local
                                            )
                                            ) | number :
                                            '1.0-3'

                                            }}
                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td style="width:100px;"></td>
                                        <!-- <td class="rowsWidthStyle">{{tot_port_regular | number :
                                            '1.0-3'}}
                                        </td>
                                        <td class="rowsWidthStyle">{{tot_port_forward | number :
                                            '1.0-3'}}
                                        </td> -->

                                        <!-- +tot_lc_not_issue_import_surisha
                                        +tot_non_pending_import_surisha
                                        +tot_regular_intransite_import_surisha -->

                                        <!-- <td class="rowsWidthStyle">
                                            {{(tot_lc_not_issue_spipl) | number :
                                            '1.0-3'}}
                                        </td>
                                        <td class="rowsWidthStyle">
                                            {{
                                            (tot_non_pending_spipl)
                                            | number : '1.0-3'
                                            }} </td>
                                        <td class="rowsWidthStyle">
                                            {{
                                            (tot_regular_intransite_spipl)
                                            | number : '1.0-3'}}</td>
                                        <td class="rowsWidthStyle">{{
                                            tot_bond_intransite_spipl | number :'1.0-3'
                                            }}</td> -->

                                        <td class="rowsWidthStyle">{{
                                            (tot_lc_not_issue_spipl + tot_non_pending_spipl+
                                            tot_regular_intransite_spipl+tot_bond_intransite_spipl) | number :'1.0-3'
                                            }}</td>
                                        <td class="rowsWidthStyle">{{
                                            (tot_stock_transfer_import_instransite+
                                            tot_stock_transfer_local_instransite) | number :
                                            '1.0-3'}}</td>
                                        <td class="rowsWidthStyle">
                                            {{
                                            (tot_local_purchase_import_intransite+
                                            tot_local_purchase_local_intransite) | number :
                                            '1.0-3'}}
                                        </td>
                                        <!-- + tot_inventory_import_surisha -->
                                        <td class="rowsWidthStyle"> {{
                                            (tot_inventory_import+
                                            tot_inventory_local) | number :
                                            '1.0-3'}}</td>


                                        <!-- tot_port_regular+
                                            tot_port_forward+ -->
                                        <!-- + tot_inventory_import_surisha -->
                                        <td class="rowsWidthStyle">
                                            {{
                                            (

                                            tot_lc_not_issue_spipl+
                                            tot_non_pending_spipl+

                                            tot_regular_intransite_spipl+

                                            tot_bond_intransite_spipl+
                                            tot_stock_transfer_import_instransite+
                                            tot_stock_transfer_local_instransite+
                                            tot_local_purchase_import_intransite+
                                            tot_local_purchase_local_intransite+
                                            tot_inventory_import+
                                            tot_inventory_local
                                            )
                                            | number :
                                            '1.0-3'}}
                                        </td>
                                        <td class="rowsWidthStyle">{{
                                            (tot_sales_pending_import+
                                            tot_sales_pending_local) | number :
                                            '1.0-3'}}</td>
                                        <!-- <td class="rowsWidthStyle">{{
                                            (tot_sales_pending_import_surisha) | number :
                                            '1.0-3'}}</td> -->
                                        <!-- tot_port_regular+
                                            tot_port_forward+ -->
                                        <!-- +tot_sales_pending_import_surisha -->
                                        <!-- +tot_inventory_import_surisha -->
                                        <td class="rowsWidthStyle">
                                            {{
                                            (
                                            (

                                            tot_lc_not_issue_spipl+

                                            tot_non_pending_spipl+

                                            tot_regular_intransite_spipl+

                                            tot_bond_intransite_spipl+
                                            tot_stock_transfer_import_instransite+
                                            tot_stock_transfer_local_instransite+
                                            tot_local_purchase_import_intransite+
                                            tot_local_purchase_local_intransite+
                                            tot_inventory_import+
                                            tot_inventory_local
                                            ) - (tot_sales_pending_import+
                                            tot_sales_pending_local)
                                            )
                                            | number : '1.0-3'
                                            }}
                                        </td>
                                    </tr>

                                </ng-template>

                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="14" class="text-center">No Data found.</td>
                                    </tr>
                                </ng-template>

                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div bsModal #unsoldSummaryList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content width-fit-content">
            <div class="modal-body">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12 p-0">

                            <!-- <div class="row" *ngIf="isLoading">
                                <div class="col-md-12">
                                    <div style="text-align: center;">
                                        <app-loading-spinner></app-loading-spinner>
                                    </div>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-12">
                                    <p-table #dt1 [value]="DetailUnsoldData" dataKey="id" styleClass="ui-table-cons"
                                        [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                                        [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading" [paginator]="false"
                                        [columns]="popCols"
                                        currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries"
                                        [filterDelay]="0" [globalFilterFields]="['grade_name']">

                                        <ng-template pTemplate="caption">
                                            <div class="captionTopDiv2">
                                                <div>
                                                    <!-- <div class="card-header"> -->
                                                    <h4 style="margin-right: 0.5em; font-weight: bold;"
                                                        *ngIf="DetailUnsoldData">Grade Wise
                                                        Detail Unsold for {{DetailUnsoldData[0].godown_name}}</h4>
                                                    <!-- </div> -->
                                                </div>
                                                <div>
                                                    <input pInputText type="text" class="form-control"
                                                        (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                                        placeholder="Global Search" />
                                                </div>
                                                <!-- <div>
                                                    <button type="button" class="close1" (click)="closeModalForm()"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div> -->
                                            </div>
                                        </ng-template>

                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of popCols" [style.width]="col.style">
                                                    {{col.header}}
                                                </th>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="body" let-item>
                                            <tr class="ui-selectable-row">
                                                <td class="rowsWidthStyle">
                                                    <span class="ui-column-title">Grade</span>
                                                    {{ item.grade_name }}
                                                </td>
                                                <td class="rowsWidthStyle">
                                                    <span>
                                                        <span class="ui-column-title">Main Grade</span>
                                                        {{item.main_grade_name }}
                                                    </span>
                                                </td>
                                                <td class="rowsWidthStyle">
                                                    <span class="ui-column-title">LC Not Issue</span>
                                                    {{ item.lc_not_issue_spipl | number : '1.0-3' }}

                                                </td>

                                                <td class="rowsWidthStyle">
                                                    <span class="ui-column-title">Non Docs Pending</span>

                                                    {{item.non_pending_spipl| number : '1.0-3' }}
                                                </td>
                                                <td class="rowsWidthStyle">
                                                    <span class="ui-column-title">Material Under Clearance</span>
                                                    {{item.regular_intransite_spipl | number : '1.0-3' }}
                                                </td>
                                                <td class="rowsWidthStyle">
                                                    <span class="ui-column-title">Material In Bond</span>
                                                    {{item.bond_intransite_spipl | number : '1.0-3'}}
                                                </td>
                                                <td class="rowsWidthStyle">
                                                    <span class="ui-column-title">Stock Transfer Intransit</span>
                                                    {{( item.stock_transfer_import_instransite+
                                                    item.stock_transfer_local_instransite) | number : '1.0-3'}}
                                                </td>
                                                <td class="rowsWidthStyle">

                                                    <span class="ui-column-title">Local Purchase In Transit</span>
                                                    {{( item.local_purchase_import_intransite+
                                                    item.local_purchase_local_intransite) | number : '1.0-3'}}

                                                </td>
                                                <td class="rowsWidthStyle">
                                                    <span class="ui-column-title">Godown Inventory</span>
                                                    {{( item.inventory_import+
                                                    item.inventory_local )| number : '1.0-3'}}
                                                </td>
                                                <td class="rowsWidthStyle">
                                                    <span class="ui-column-title">Total Quantity</span>
                                                    {{ (
                                                    item.lc_not_issue_spipl+

                                                    item.non_pending_spipl+

                                                    item.regular_intransite_spipl+

                                                    item.bond_intransite_spipl+
                                                    item.stock_transfer_import_instransite+
                                                    item.stock_transfer_local_instransite+
                                                    item.local_purchase_import_intransite+
                                                    item.local_purchase_local_intransite+
                                                    item.inventory_import+
                                                    item.inventory_local

                                                    ) | number : '1.0-3'}}
                                                </td>
                                                <td class="rowsWidthStyle">
                                                    <span class="ui-column-title">Order Pending</span>
                                                    {{(item.sales_pending_import +
                                                    item.sales_pending_local
                                                    ) | number : '1.0-3'}}
                                                </td>

                                                <td class="rowsWidthStyle">
                                                    <span class="ui-column-title">Total Unsold</span>
                                                    {{
                                                    (
                                                    (item.lc_not_issue_spipl+

                                                    item.non_pending_spipl+

                                                    item.regular_intransite_spipl+

                                                    item.bond_intransite_spipl+
                                                    item.stock_transfer_import_instransite+
                                                    item.stock_transfer_local_instransite+
                                                    item.local_purchase_import_intransite+
                                                    item.local_purchase_local_intransite+
                                                    item.inventory_import+
                                                    item.inventory_local
                                                    )
                                                    -
                                                    (
                                                    item.sales_pending_import +
                                                    item.sales_pending_local

                                                    )

                                                    ) | number : '1.0-3'}}
                                                </td>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="footer">
                                            <tr>
                                                <td class="rowsWidthStyle"></td>
                                                <td class="rowsWidthStyle"></td>
                                                <td class="rowsWidthStyle"> {{(tot_lc_not_issue_spipl_det) | number :
                                                    '1.0-3'}}</td>
                                                <td class="rowsWidthStyle"> {{
                                                    (tot_non_pending_spipl_det)
                                                    | number : '1.0-3'
                                                    }} </td>
                                                <td class="rowsWidthStyle">{{
                                                    (tot_regular_intransite_spipl_det)
                                                    | number : '1.0-3'}}</td>
                                                <td class="rowsWidthStyle">{{
                                                    tot_bond_intransite_spipl_det | number :'1.0-3'
                                                    }}</td>
                                                <td class="rowsWidthStyle">
                                                    {{
                                                    (tot_stock_transfer_import_instransite_det+
                                                    tot_stock_transfer_local_instransite_det) | number :
                                                    '1.0-3'}}</td>
                                                <td class="rowsWidthStyle">{{
                                                    (tot_local_purchase_import_intransite_det+
                                                    tot_local_purchase_local_intransite_det) | number :
                                                    '1.0-3'}}</td>
                                                <td class="rowsWidthStyle">{{
                                                    (tot_inventory_import_det+
                                                    tot_inventory_local_det) | number :
                                                    '1.0-3'}}</td>
                                                <td class="rowsWidthStyle">
                                                    {{
                                                    (

                                                    tot_lc_not_issue_spipl_det+

                                                    tot_non_pending_spipl_det+

                                                    tot_regular_intransite_spipl_det+

                                                    tot_bond_intransite_spipl_det+
                                                    tot_stock_transfer_import_instransite_det+
                                                    tot_stock_transfer_local_instransite_det+
                                                    tot_local_purchase_import_intransite_det+
                                                    tot_local_purchase_local_intransite_det+
                                                    tot_inventory_import_det+
                                                    tot_inventory_local_det

                                                    )
                                                    | number :
                                                    '1.0-3'}}
                                                </td>
                                                <td class="rowsWidthStyle">
                                                    {{
                                                    (tot_sales_pending_import_det+
                                                    tot_sales_pending_local_det) | number :
                                                    '1.0-3'}}
                                                </td>

                                                <td class="rowsWidthStyle">
                                                    {{
                                                    (
                                                    (

                                                    tot_lc_not_issue_spipl_det+

                                                    tot_non_pending_spipl_det+

                                                    tot_regular_intransite_spipl_det+

                                                    tot_bond_intransite_spipl_det+
                                                    tot_stock_transfer_import_instransite_det+
                                                    tot_stock_transfer_local_instransite_det+
                                                    tot_local_purchase_import_intransite_det+
                                                    tot_local_purchase_local_intransite_det+
                                                    tot_inventory_import_det+
                                                    tot_inventory_local_det

                                                    ) - (tot_sales_pending_import_det+
                                                    tot_sales_pending_local_det)
                                                    )
                                                    | number : '1.0-3'
                                                    }}
                                                </td>

                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="12" class="text-center">No Data found.</td>
                                            </tr>
                                        </ng-template>

                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModalForm()">Close</button>
            </div>
        </div>
    </div>
</div>



<div bsModal #whatsappModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="whatsappModal"
    aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Send Whatsapp</h4>
                <button type="button" class="close" (click)="whatsappModal.hide();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <ng-container>
                    <div class="form-row">

                        <div class="col-md-12">
                            <label>Numbers</label>
                            <p-chips [(ngModel)]="selectedMobileNo" separator=",">
                            </p-chips>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="whatsappModal.hide()">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="selectedMobileNo.length ==0"
                    (click)="onSubmit()">Send</button>
            </div>


        </div>
    </div>
</div>



<toaster-container [toasterconfig]="toasterconfig"></toaster-container>