<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt dataKey="id" styleClass="adjust_suspense_table" [value]="data" [rows]="10"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								[globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
								(onLazyLoad)="onFilter($event, dt)"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">
												<a class="btn btn-success text-white mb-1 mr-2"
													(click)="exportData('Excel')" data-toggle="tooltip"
													data-placement="top" title="Excel">
													<i class="fa fa-file-excel-o"></i>
													<span class="export-text d-none">Excel</span>
												</a>
												<a class="btn btn-danger text-white mb-1 mr-2"
													(click)="exportData('PDF')" data-toggle="tooltip"
													data-placement="top" title="PDF">
													<i class="fa fa-file-pdf-o"></i>
													<span class="export-text d-none">PDF</span>
												</a>
											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											{{col.header}}
											<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
										</th>
									</tr>
									<tr>
										<th *ngFor="let col of columns">
											<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
												defaultLabel="All"
												(onChange)="customFilter($event.value, col.field, 'in')">
											</p-multiSelect>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData let-expanded="expanded">
									<tr class="ui-selectable-row">
										<td *ngFor="let col of cols">
											<div *ngIf="col.field != 'action'">
												<span class="ui-column-title">{{ col.header }}: </span>
												<div *ngIf="col.type == null">
													{{ rowData[col.field] }}
												</div>
												<div *ngIf="col.type == 'Amount'">
													{{ rowData[col.field] | currency:'INR' }}
												</div>
												<div *ngIf="col.type == 'Date'">
													{{ rowData[col.field] | date:'dd-MMM-yyyy' }}
												</div>
											</div>
											<div *ngIf="col.field == 'action'">
												<a class="btn btn-outline-dark custom-action-btn" data-toggle="tooltip"
													data-placement="left" title="Adjust Amount"
													(click)="onAction(rowData, 'Adjust_Amount')">
													<i class="fa fa-bolt"></i> Adjust
												</a>
											</div>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="footer" let-columns>
									<tr>
										<td *ngFor="let col of columns">
											<strong *ngIf="col.footer == true && col.type == 'Amount'">
												Total: {{ col.total | currency:'INR' }}
											</strong>
											<strong *ngIf="col.footer == true && col.type == null">
												Total: {{ col.total }}
											</strong>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #adjustSuspenseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Adjust Suspense" aria-hidden="true" [config]="modalConfig">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form [formGroup]="adjustForm" novalidate (ngSubmit)="submitAdjustForm()" autocomplete="off"
				class="needs-validation">
				<div class="modal-header">
					<div>
						<h5 class="modal-title"><i class="fa fa-inr text-success"></i> Adjust Suspense</h5>

						<div>
							<strong> ID: </strong> {{adjustForm.controls.id.value}}
						</div>
						<div>
							<strong>Virtual Account No: </strong> {{adjustForm.controls.virtual_acc_no.value}}
						</div>
					</div>
					<button type="button" class="close" (click)="adjustSuspenseModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

				</div>

				<div class="modal-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-3" *ngIf="sales_orders.length == 0 && invoices.length == 0">
								<p-radioButton name="import_local_flag" value="1" label="Import"
									(click)="onChangeValue($event, 'import_local')" formControlName="import_local_flag">
								</p-radioButton>
							</div>
							<div class="col-md-3" *ngIf="sales_orders.length == 0 && invoices.length == 0">
								<p-radioButton name="import_local_flag" value="2" label="Local"
									(click)="onChangeValue($event, 'import_local')" formControlName="import_local_flag">
								</p-radioButton>
							</div>
							<div class="col-md-3" *ngIf="sales_orders.length > 0">
								<p-radioButton name="import_local_flag" value="3" label="Sales Order"
									(click)="onChangeValue($event, 'sales_order')" formControlName="import_local_flag">
								</p-radioButton>
							</div>
							<div class="col-md-3" *ngIf="invoices.length > 0">
								<p-radioButton name="import_local_flag" value="4" label="Invoice"
									(click)="onChangeValue($event, 'invoice')" formControlName="import_local_flag">
								</p-radioButton>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div *ngIf="adjustForm.controls.import_local_flag.value == 3" class="col-md-8">
							<div class="form-group">
								<label for="sales_order">Sales Order
									<sup class="text-danger"><strong>*</strong></sup>
								</label>
								<ng-select id="sales_order" formControlName="sales_order" placeholder="Sales Order"
									[searchable]="true" [clearable]="true" bindLabel="value" bindValue="id"
									[items]="sales_orders" (change)="onChangeValue($event, 'selectedSaleOrder')">
								</ng-select>
							</div>
						</div>
						<div *ngIf="adjustForm.controls.import_local_flag.value == 4" class="col-md-12">
							<div class="form-group">
								<label for="invoices">Invoices
									<sup class="text-danger"><strong>*</strong></sup>
								</label>
								<ng-select id="invoice" formControlName="invoice" placeholder="Invoice"
									[searchable]="true" [clearable]="false" bindLabel="value" bindValue="id"
									[items]="invoices" (change)="onChangeValue($event, 'selectedInvoice')">
								</ng-select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="total_suspense_amount">Total Suspense Amount</label>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-inr"></i>
										</span>
									</div>
									<input type="text" class="form-control" id="total_suspense_amount"
										formControlName="total_suspense_amount" placeholder="Total Suspense Amount"
										readonly>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="adjust_amount">Adjust Amount</label>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-inr"></i>
										</span>
									</div>
									<input type="text" class="form-control" id="adjust_amount"
										formControlName="adjust_amount" placeholder="Adjust Amount"
										(change)="onChangeValue($event.target.value, 'adjust_amount')" numbersOnly>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="balance_suspense_amount">Balance Suspense Amount</label>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-inr"></i>
										</span>
									</div>
									<input type="text" class="form-control" id="balance_suspense_amount"
										formControlName="balance_suspense_amount" placeholder="Balance Suspense Amount"
										readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-right">
							<button type="submit" class="btn btn-primary"
								[disabled]="adjustForm.pristine || adjustForm.invalid || loadingBtn || adjustForm.controls.balance_suspense_amount.value < 0">
								Submit <i class="fa fa-spinner fa-spin" *ngIf="loadingBtn"></i></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>