<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<form [formGroup]="addStockTransferForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
				<div class="card-header">
					<b>{{card_title}}</b> <span class="pull-right">	<ng-select class="company-dropdown" formControlName="company_id" placeholder="Company"
						[searchable]="false" [clearable]="false" bindLabel="name" bindValue="id"
						[items]="companyList" >
					</ng-select></span>

				
				</div>
				<!-- CARD HEADER END -->
				
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="from_godown"><b>From Godown</b></label>
									<ng-select id="from_godown" formControlName="from_godown"
										(change)="onFormGodownSelect($event)" placeholder="Select  From Godown"
										[searchable]="true" [clearable]="false" bindLabel="godown_name" bindValue="id"
										[items]="godownList" [ngClass]="{ 'is-invalid': f.from_godown.errors}">
									</ng-select>
								</div>
							</div>
							<!--END FORM Godown-->
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="to_godown"><b>To Godown</b></label>
									<ng-select id="to_godown" (change)="onToGodownSelect($event)"
										formControlName="to_godown" placeholder="Select To Godown" [searchable]="true"
										[clearable]="false" bindLabel="godown_name" bindValue="id" [items]="godownList"
										[ngClass]="{ 'is-invalid':f.to_godown.errors }">
									</ng-select>
									<small *ngIf="f.to_godown.errors && f.to_godown.touched">
										<div *ngIf="f.to_godown.errors.mustMatch" class="ngSelectError">Can't Transfer
											to same godown!</div>
									</small>
								</div>
							</div>
							<!--TO Godown End -->
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="grade"><b>Grade</b></label>
									<ng-select id="grade" (change)="onGradeSelect($event)" formControlName="grade"
										placeholder="Select Grade" [searchable]="true" [clearable]="false"
										bindLabel="grade_name" bindValue="grade_id" [items]="gradeList">
									</ng-select>
								</div>
							</div>
							<!--Grade End -->
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="import_local_flag"><b>Category</b></label>
									<ng-select id="import_local_flag" formControlName="import_local_flag"
										placeholder="Select category" [searchable]="true" [clearable]="false"
										bindLabel="name" bindValue="value" [items]="import_local_flag">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="quantity"><b>Quantity</b></label>
									<input class="form-control" id="quantity" formControlName="quantity" type="text"
										min="0" placeholder="Enter Quantity (KG)" autofocus numbersOnly
										[ngClass]="{ 'is-invalid':f.quantity.errors && f.quantity.touched}">
									<div *ngIf="f.quantity.errors && f.quantity.touched" class="invalid-feedback">
										<div *ngIf="f.quantity.errors.required">Quantity is required</div>
										<div *ngIf="f.quantity.errors.pattern">Enter only number.</div>
									</div>
								</div>
							</div>
							<!--QUANTITY END -->
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-form-label" for="transporter"><b>Transporter</b>
									</label>
									<ng-select id="transporter" (change)="onTransporterSelect($event)"
										formControlName="transporter" placeholder="Select Transporter"
										[searchable]="true" [clearable]="false" bindLabel="sub_org_name"
										bindValue="sub_org_id" [items]="transporterList"
										[ngClass]="{ 'is-invalid':f.transporter.errors }"></ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="truck_number"><b>Truck Number</b></label>
									<input class="form-control input-upper" id="truck_number"
										formControlName="truck_number" type="text" placeholder="Enter Truck Number"
										autofocus
										[ngClass]="{ 'is-invalid':f.truck_number.errors && f.truck_number.touched }">
									<div *ngIf="f.truck_number.errors && f.truck_number.touched"
										class="invalid-feedback">
										<div *ngIf="f.truck_number.errors.required">Truck number is required</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="transfer_date" class="col-form-label"><b>Transfer Date</b></label>
									<i class="fa fa-calendar"></i>
									<input type="text" id="transfer_date" [maxDate]="maxDate"
										formControlName="transfer_date" class="form-control"
										[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
										#dp="bsDatepicker" bsDatepicker readonly
										[ngClass]="{ 'is-invalid':f.transfer_date.errors && f.transfer_date.touched }"
										(bsValueChange)="onTransDateValueChange($event)">
									<div *ngIf="f.transfer_date.errors && f.transfer_date.touched"
										class="invalid-feedback">
										<div *ngIf="f.transfer_date.errors.required">Transfer Date is required</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="lr_number"><b>LR No.</b></label>
									<input class="form-control" id="lr_number" formControlName="lr_number" type="text"
										placeholder="Enter LR No."
										[ngClass]="{ 'is-invalid':f.lr_number.errors && f.lr_number.touched }">
									<div *ngIf="f.lr_number.errors && f.lr_number.touched" class="invalid-feedback">
										<div *ngIf="f.lr_number.errors.required">LR No. is required</div>
									</div>
								</div>
							</div>
							<!--LR NO END -->
							<div class="col-md-3">
								<div class="form-group">
									<label for="lr_date" class="col-form-label"><b>LR Date</b></label>
									<i class="fa fa-calendar"></i>
									<input type="text" id="lr_date" formControlName="lr_date" class="form-control"
										[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
										#dp="bsDatepicker" bsDatepicker readonly
										[ngClass]="{ 'is-invalid':f.lr_date.errors && f.lr_date.touched }">
									<div *ngIf="f.lr_date.errors && f.lr_date.touched" class="invalid-feedback">
										<div *ngIf="f.lr_date.errors.required">LR Date is required</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="load_cross"><b>Select Load/Cross</b></label>
									<ng-select id="load_cross" formControlName="load_cross"
										placeholder="Select Load/Cross" (change)="onSelectLoading($event)"
										[readonly]="f.quantity.value=='0' || f.quantity.value==null ||  f.quantity.value=='' || f.quantity.value=='undefined'"
										[searchable]="false" [clearable]="false" bindLabel="name" bindValue="id"
										[items]="loadCrossList">
									</ng-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="loading_qty"><b>Loading Qty</b></label>
									<input class="form-control" id="loading_qty"
										[readonly]="f.load_cross.value=='1' || f.load_cross.value=='2' ||f.load_cross.value=='' ||f.load_cross.value==undefined "
										formControlName="loading_qty" type="text" min="0"
										placeholder="Enter Loading Qty ( KG)" [(ngModel)]="loadingQty"
										(input)="onLoadingQtyChange($event.target.value)" autofocus>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="loading_charges"><b>Loading Charges</b></label>
									<input class="form-control" id="loading_charges" formControlName="loading_charges"
										type="number" min="0" placeholder="Enter Loading Charges" autofocus
										[readonly]="f.load_cross.value=='1' || f.load_cross.value=='2' || f.load_cross.value=='3' ||f.load_cross.value=='' ||f.load_cross.value==undefined">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="crossing_qty"><b>Crossing Qty</b></label>
									<input class="form-control" id="crossing_qty" formControlName="crossing_qty"
										numbersOnly min="0" type="text" min="0" placeholder="Enter Crossing Qty (KG)"
										(input)="onCrossQtyChange($event.target.value)" [(ngModel)]="crossingQty"
										[readonly]="f.load_cross.value=='1' || f.load_cross.value=='2' ||f.load_cross.value=='' ||f.load_cross.value==undefined"
										autofocus>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="crossing_charges"><b>Crossing Charges</b></label>
									<input class="form-control" id="crossing_charges" formControlName="crossing_charges"
										type="number" min="0" placeholder="Enter Crossing Charges"
										[readonly]="f.load_cross.value=='1' || f.load_cross.value=='2' || f.load_cross.value=='3' ||f.load_cross.value=='' ||f.load_cross.value==undefined"
										autofocus>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="freight_rate"><b>Freight Rate</b></label>
									<input class="form-control" id="freight_rate" formControlName="freight_rate"
										type="number" min="0" placeholder="Enter Freight Rate"
										(input)="onFreightrateChange($event.target.value)" autofocus>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="total_freight_amount"><b>Total Freight
											Amount</b></label>
									<input class="form-control" id="total_freight_amount"
										formControlName="total_freight_amount" type="number" min="0"
										placeholder="Enter Total Freight Amount" [readonly]='true' autofocus>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="total_load_cross_amount"><b>Total Load/Cross
											Amount</b></label>
									<input class="form-control" id="total_load_cross_amount"
										formControlName="total_load_cross_amount" type="number" min="0"
										placeholder="Enter Total Load/Cross Amount" min="0"
										[readonly]="f.load_cross.value=='1' || f.load_cross.value=='2' || f.load_cross.value=='3'"
										autofocus>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-form-label" for="total_amount_of_freight_load_cross"><b>Total
											Amount of Freight +
											Load/Cross</b></label>
									<input class="form-control" id="total_amount_of_freight_load_cross"
										formControlName="total_amount_of_freight_load_cross" type="number" min="0"
										placeholder="Enter Total Amount of Freight + Load/Cross" required autofocus>
								</div>
							</div>
							<div class="col-md-3" *ngIf="company_id == 2">
								<div class="form-group">
									<label class="col-form-label" for="billing_rate"><b>Billing Rate</b></label>
									<input class="form-control" id="billing_rate" formControlName="billing_rate"
										placeholder="Billing Rate" readonly>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group form-check mt-5">
									<input type="checkbox" formControlName="eway_bill_flag" id="eway_bill_flag"
										class="form-check-input" autofocus />
									<label for="eway_bill_flag" class="form-check-label">E-way Bill</label>
								</div>
							</div>


							
    
							<div class="col-md-6">
								<div class="form-group">
								  <label class="col-form-label" for="dispatch_from"><b>Dispatch From</b></label>
								  <textarea class="form-control" id="dispatch_from" formControlName="dispatch_from" rows="3" autofocus
									placeholder="Enter Dispatch From Address"></textarea>
								</div>
							  </div>
				
				
							  <div class="col-md-6">
								<div class="form-group">
								  <label class="col-form-label" for="bill_from"><b>Bill From</b></label>
								  <textarea class="form-control" id="bill_from" formControlName="bill_from" rows="3" autofocus
									placeholder="Enter Bill From Adress"></textarea>
								</div>
							  </div>
				
				
				
				
							  <div class="col-md-6">
								<div class="form-group">
								  <label class="col-form-label" for="ship_to"><b>Ship  To</b></label>
								  <textarea class="form-control" id="ship_to" formControlName="ship_to" rows="3" autofocus
									placeholder="Enter Ship To Adress"></textarea>
								</div>
							  </div>
				
				
				
							  <div class="col-md-6">
								<div class="form-group">
								  <label class="col-form-label" for="bill_to"><b>Bill   To</b></label>
								  <textarea class="form-control" id="bill_to" formControlName="bill_to" rows="3" autofocus
									placeholder="Enter Bill To Adress"></textarea>
								</div>
							  </div>


							<div class="col-md-12">
								<div class="form-group">
									<label class="col-form-label" for="remark"><b>Remark</b></label>
									<textarea class="form-control" id="remark" formControlName="remark" rows="3"
										autofocus placeholder="Enter Remark"></textarea>
								</div>
							</div>
						</div>
					</div>
					<!--CARD BODY END -->
					<div class="card-footer">
						<div class="row">
							<div class="col text-center">
								<button [disabled]="addStockTransferForm.invalid" class="btn btn-primary mr-1"
									type="submit">
									<i class="fa fa-dot-circle-o"></i>Submit</button>
								<button class="btn btn-danger" type="reset"
									[disabled]="addStockTransferForm.pristine && !submitted" (click)="onReset()"
									[hidden]="editMode"><i class="fa fa-ban"></i>Reset</button>
								<button class="btn btn-primary" type="button" (click)="onBack()"><i
										class="fa fa-undo"></i>Back</button>
							</div>
						</div>
					</div>
					<!--Footer End-->
				</form>
				<!--FORM END HERE -->
			</div>
		</div>
	</div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>