<div class="animated fadeIn" *ngIf="!ilcUpdate && !docDownload && !createboe">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4> <i class="fa fa-file"></i> ILC In Operation</h4>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label for="">Buyers Bank: </label>
										<ng-select placeholder="Select Bank" [searchable]="true" [clearable]="true"
											bindLabel="bank_name" bindValue="id" [items]="spipl_bank"
											(change)="onSubmit($event,'bank','id',0)">
										</ng-select>
									</div>
								</div>
								<div class="col-md-3">
									<label for="">ILC Created Date: </label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-calendar"></i></span>
										</div>
										<input type="text" class="form-control" bsDaterangepicker
											[(ngModel)]="bsRangeValue" placeholder="Lc Created Date"
											(ngModelChange)="onSubmit($event,'','',1)">
									</div>
								</div>
								<div class="col-md-3">
									<label for="">ILC Opening Date: </label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-calendar"></i></span>
										</div>
										<input type="text" class="form-control" bsDaterangepicker
											placeholder="Openinng Date" (ngModelChange)="onSubmit($event,'','',2)">
									</div>
								</div>

								<div class="col-md-3">
									<label for="payment_term">Additional Filter</label>
									<ng-select id="payment_term" [searchable]="true" [clearable]="true" bindLabel="name"
										bindValue="id" [items]="filterList" (change)="getFilterData()"
										[(ngModel)]="selectedFilter">
									</ng-select>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="isLoading" style="text-align: center;">
				<app-loading-spinner></app-loading-spinner>
			</div>

			<div class="email-app">

				<!-- ILC List -->
				<nav class="scrollvertical">
					<div class="row mb-3" *ngIf="ilc_list.length >0">
						<div class="col-md-12">
							<input type="text" class="form-control" placeholder="Search" [(ngModel)]="filterQuery">
						</div>
					</div>
					<ul class="nav">
						<span *ngIf="ilc_list.length > 0">
							<li class="nav-item"
								*ngFor="let item of ilc_list |  tableFilter : filterQuery:filterArray ; let i = index">
								<a style="cursor: pointer;" class="nav-link" (click)="getDetails(item , i)"
									[ngClass]="{activeitem: isActive(item.id)}">
									<span *ngIf="item.Supplier_Name">{{item.Supplier_Name}}</span> <br>
									<strong> ILC ID:</strong> {{item.id}}, <strong>ILC Number:</strong>
									{{item.ilc_bank_no}}
								</a>
							</li>
						</span>
					</ul>
				</nav>

				<main>
					<div *ngIf="mainDetail">

						<!-- ILC Details -->
						<div class="card">
							<div class="card-header">
								<i class="fa fa-adjust"></i> <strong>{{SupplierName}}</strong>
								&nbsp;&nbsp;
								<span class="btn-group" dropdown>
									<button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
										ILC Operations<span class="caret"></span>
									</button>
									<ul *dropdownMenu class="dropdown-menu" role="menu">
										<li role="menuitem" *ngIf="ilc_open">
											<button style="cursor: pointer;" class="dropdown-item"
												(click)="openIlcModal()">Open ILC</button>
										</li>
										<li role="menuitem" *ngIf="ilc_ammend">
											<button style="cursor: pointer;" class="dropdown-item"
												(click)="openAmmendModal()">ILC Amendment</button>
										</li>
										<li role="menuitem"
											*ngIf="ilc_discard && ilc_opening_date != null && lcDetail[0].bex_details.length ==  0">
											<button style="cursor: pointer;" class="dropdown-item"
												(click)="discardIlc()">Discard ILC</button>
										</li>
										<li role="menuitem"
											*ngIf="advance_tolerance_amt == 0 && short_tolerance_amt == 0">
											<button style="cursor: pointer;" class="dropdown-item"
												(click)="advanceShortIlc()">Advance/Short ILC Amount </button>
										</li>
										<li role="menuitem" *ngIf="advance_tolerance_amt!= 0 || short_tolerance_amt!=0">
											<button style="cursor: pointer;" class="dropdown-item"
												(click)="advanceShortIlcDiscard()">Discard Advance/Short ILC Amount
											</button>
										</li>
									</ul>
								</span>
								<span class="btn-group" dropdown>
									<button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
										Action<span class="caret"></span>
									</button>
									<ul *dropdownMenu class="dropdown-menu" role="menu">
										<li role="menuitem" *ngIf="edit_opt && ilc_opening_date == null"><a
												style="cursor: pointer;" class="dropdown-item" (click)="onEdit()"><i
													class="fa fa-pencil"></i>ILC Edit</a></li>
										<li role="menuitem" *ngIf="del_opt && ilc_opening_date == null"><button
												style="cursor: pointer;" class="dropdown-item"
												(click)="onDeleteIlc()"><i class="fa fa-trash"></i>ILC Delete</button>
										</li>
										<li role="menuitem" *ngIf="ilc_doc_download"><button style="cursor: pointer;"
												class="dropdown-item" (click)="doc_download()"><i
													class="fa fa-file"></i>ILC Doc Download</button></li>
									</ul>
								</span>
								<span *ngIf="create_ilc_boe && ilc_opening_date">
									<button class="btn btn-primary btn-sm" (click)="create_bill_ofExchage()">Create Bill
										Of Exchange</button>
								</span>
								<button class="btn btn-sm btn-light pull-right" (click)="isCollapsed = !isCollapsed">
									<i *ngIf="isCollapsed" class="fa fa-chevron-down"></i>
									<i *ngIf="!isCollapsed" class="fa fa-chevron-up"></i>
								</button>
							</div>
							<div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
								[collapse]="isCollapsed">
								<div class="row">
									<div class="col-md-4">
										<p><strong>ILC Number: </strong>{{ilc_bank_no}} <span
												*ngIf="ilc_copy !=[] && ilc_copy != undefined"> <a
													*ngFor="let opdoc of ilc_copy" href="{{opdoc}}" target="_blank"><i
														class="fa fa-file"></i></a> &nbsp;&nbsp;</span>
										</p>
										<p><strong>ILC Opening Date: </strong><span
												*ngIf="ilc_opening_date">{{ilc_opening_date | date : "dd-MM-y"}} </span>
										</p>
										<p><strong>Bank: </strong> {{spipl_bank_name}}</p>
									</div>
									<div class="col-md-4">
										<p><strong>ILC Date: </strong> {{IlcDate | date : "dd-MM-y"}}</p>
										<p><strong>Shipment Date: </strong> {{LatestDateOfShipment | date : "dd-MM-y"}}
										</p>
										<p><strong>Expiry Date: </strong> {{ExpiryDate | date : "dd-MM-y"}}</p>
									</div>
									<div class="col-md-4">
										<p><strong>ILC Amount: </strong> {{(IlcAmount + advance_tolerance_amt -
											short_tolerance_amt) | currency: 'INR'}}</p>
										<p><strong>Total Quantity: </strong> {{lcQuantity}}</p>
									</div>
									<div class="col-md-4">
										<p class="mb-0">
											<strong>Date of Amendment: </strong> {{ilc_ammend_dt | date : "dd-MM-y"}}
											<span *ngIf="ilc_ammend_copy !=[] && ilc_ammend_copy != undefined">
												<a *ngFor="let amdoc of ilc_ammend_copy" href="{{amdoc}}"
													target="_blank"><i class="fa fa-file"></i></a>
											</span>
										</p>
									</div>
								</div>
							</div>
						</div>

						<!-- PI Details -->
						<div class="card">
							<div class="card-header">
								<i class="fa fa-adjust"></i> <strong>PI Details</strong>
							</div>
							<div class="card-body">
								<div class="row" *ngIf="pi_details.length > 0" style="overflow-x: scroll;">
									<div class="col-md-12">
										<table
											class="table table-bordered table-striped table-hover table-responsive-lg"
											[mfData]="pi_details" #mf="mfDataTable" [mfRowsOnPage]="5">
											<thead>
												<tr>
													<th>#</th>
													<th>PI Invoice No.</th>
													<th>Quantity</th>
													<th>Amount</th>
													<th>Place Of Destination</th>
													<th>Place of Loading</th>

												</tr>
											</thead>
											<tbody>

												<ng-container>
													<tr *ngFor="let item of mf.data; let i = index"
														[attr.data-index]="i">
														<td>{{i+1}}</td>
														<td>{{item.proformarefno}}</td>
														<td>{{item.pi_quantity}}</td>
														<td>{{item.pi_amount | currency: 'INR'}}</td>
														<td>{{item.placeofdestination }}</td>
														<td>{{item.placeofloading }}</td>
													</tr>
												</ng-container>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="9">
														<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]">
														</mfBootstrapPaginator>
													</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>

						<!-- Bill Of Exchange Details -->
						<div class="card">
							<div class="card-header">
								<i class="fa fa-adjust"></i> <strong>Bill Of Exchange Details</strong>
							</div>
							<div class="card-body">
								<div class="row" *ngIf="bex_details.length > 0" style="overflow-x: scroll;">
									<div class="col-md-12">
										<table
											class="table table-bordered table-striped table-hover table-responsive-lg"
											[mfData]="bex_details" #mf="mfDataTable" [mfRowsOnPage]="5">
											<thead>
												<tr>
													<th>#</th>
													<th>Bank Reference No.</th>
													<th>Bill of Exchage No.</th>
													<th>Bill of Exchange Date</th>
													<th>Bill of Exchange Due Date</th>
													<th>Amount</th>
													<th>Remark</th>
													<th>Status</th>
													<th>Bill of Acceptance</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<ng-container>
													<tr *ngFor="let item of mf.data; let i = index"
														[attr.data-index]="i">
														<td>{{i+1}}</td>
														<td>{{item.bank_ref_no}}</td>
														<td>{{item.be_no}}</td>
														<td>{{item.be_date | date : 'dd-MM-y'}}</td>
														<td>{{item.dut_dt | date : 'dd-MM-y'}}</td>
														<td>{{item.bex_amount | currency: 'INR'}}</td>
														<td>{{item.remark }}</td>
														<td><span [innerHTML]="getStatusBex(item.status)"></span></td>
														<td>
															<button (click)="updateBOA(item)"
																class="btn btn-circle btn-sm btn-primary">
																<i class="fa fa-check-circle"></i>
															</button>
														</td>
														<td>
															<a (click)="onEditBex(i)" class="text-primary"
																style="cursor: pointer;">
																<i class="fa fa-pencil"></i>
															</a>
															&nbsp;
															<a style="cursor: pointer;" class="text-danger"
																mwlConfirmationPopover [popoverTitle]="popoverTitle"
																[popoverMessage]="popoverMessage"
																[confirmText]="confirmText" [cancelText]="cancelText"
																[placement]="placement"
																[closeOnOutsideClick]="closeOnOutsideClick"
																confirmButtonType="danger" cancelButtonType="success"
																(confirm)="onDeleteBex(item.id)"
																(cancel)="cancelClicked = true">
																<i class="fa fa-trash"></i>
															</a>
														</td>
													</tr>
												</ng-container>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="10">
														<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]">
														</mfBootstrapPaginator>
													</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>
				</main>
			</div>
		</div>
	</div>
</div>
<app-ilc-creation *ngIf="ilcUpdate" [pi_arr]="lcDetail" [mode]="modeLc" (ilc_loc_back)="BackFromLc($event)">
</app-ilc-creation>

<div *ngIf="docDownload">
	<app-ilc-editor [ilc_arr]="lcDetail"></app-ilc-editor>
</div>

<app-bill-of-exchange *ngIf="createboe" [boe_arr]="lcDetail" [bex_index]="bexIndex" [mode]="modeBex"
	(backToIlc)="BackFromBex($event)"></app-bill-of-exchange>


<!-- ILC Opening Modal -->
<div bsModal #openILcModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="addOpenILcForm" novalidate (ngSubmit)="onSubmitOpenILcForm()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">Open ILC</h4>
					<button type="button" class="close" (click)="openILcModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<div class="col-md-6 mb-2">
							<label>ILC No.</label>
							<input type="text" class="form-control" id="ilc_bank_no" formControlName="ilc_bank_no"
								placeholder="LC Number" [(ngModel)]="ilc_bank_no">
						</div>
						<div class="col-md-6 mb-2">
							<label>ILC Opening Date</label>
							<input type="text" class="form-control" id="ilc_opening_date"
								formControlName="ilc_opening_date"
								[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
								#dp="bsDatepicker" bsDatepicker placeholder="Opening Date"
								[(ngModel)]="ilc_opening_date" readonly>
						</div>
						<div class="col-md-6 mb-2">
							<label>Upload Copy</label>
							<input type="file" class="form-control custom-file-input" id="ilc_copy"
								formControlName="ilc_copy" (change)="addOpenILcCopy($event)" [multiple]=true>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="openILcModal.hide()">Close</button>
					<button type="submit" class="btn btn-primary"
						[disabled]="addOpenILcForm.pristine || addOpenILcForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- ILC Amendment Modal -->
<div bsModal #ammendModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="addIlcAmendForm" novalidate (ngSubmit)="onSubmitAmendForm()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">ILC Amendment</h4>
					<button type="button" class="close" (click)="ammendModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-row">
						<div class="form-group col-md-6 mb-2">
							<label for="amendment_date">Amendment Date</label>
							<i class="fa fa-calendar"></i>
							<input type="text" class="form-control" id="amendment_date" formControlName="amendment_date"
								placeholder="Enter Amendment Date" [bsConfig]="datePickerConfig" bsDatepicker readonly>
						</div>
						<div class="form-group col-md-6 mb-2">
							<label for="ilc_amend_copy">Upload Copy</label>
							<input type="file" class="form-control custom-file-input" id="ilc_amend_copy"
								formControlName="ilc_amend_copy" (change)="addAmmendCopy($event)" [multiple]=true>
						</div>
					</div>
					<div class="form-row mt-2">
						<div class="form-group col-lg-12 text-center mb-2">
							<div class="form-check form-check-inline mb-2">
								<input class="form-check-input" type="checkbox" id="amend_value"
									formControlName="amendment_flag" value="1" (change)="setAmendFlag($event)"
									[checked]="amend_value">
								<label class="form-check-label" for="amend_value">Value Amendment</label>
							</div>
							<div class="form-check form-check-inline mb-2">
								<input class="form-check-input" type="checkbox" id="amend_days"
									formControlName="amendment_flag" value="2" (change)="setAmendFlag($event)"
									[checked]="amend_days">
								<label class="form-check-label" for="amend_days">Days Amendment</label>
							</div>
							<div class="form-check form-check-inline mb-2">
								<input class="form-check-input" type="checkbox" id="amend_clause"
									formControlName="amendment_flag" value="3" (change)="setAmendFlag($event)"
									[checked]="amend_clause">
								<label class="form-check-label" for="amend_clause">Clause Amendment</label>
							</div>
						</div>
					</div>
					<div class="form-row" *ngIf="amend_value">
						<div class="form-group col-lg-12 mb-2">
							<label for="amendment_amount">Amendment Amount</label>
							<input type="text" class="form-control" id="amendment_amount"
								formControlName="amendment_amount" placeholder="Enter Amendment Amount">
						</div>
					</div>
					<div class="form-row" *ngIf="amend_days">
						<div class="form-group col-lg-6 col-sm-12 mb-2">
							<label for="shipment_date">Shipment Date</label>
							<i class="fa fa-calendar"></i>
							<input type="text" class="form-control" id="shipment_date" formControlName="shipment_date"
								placeholder="Enter Shipment Date" [bsConfig]="datePickerConfig" bsDatepicker readonly>
						</div>
						<div class="form-group col-lg-6 col-sm-12 mb-2">
							<label for="expiry_date">Expiry Date</label>
							<i class="fa fa-calendar"></i>
							<input type="text" class="form-control" id="expiry_date" formControlName="expiry_date"
								placeholder="Enter Expiry Date" [bsConfig]="datePickerConfig" bsDatepicker readonly>
						</div>
					</div>
					<div class="form-row" *ngIf="amend_days">
						<div class="form-group col-lg-12 mb-2">
							<label for="payment_term">Payment Term</label>
							<ng-select id="payment_term" formControlName="payment_term" placeholder="Payment Term"
								[searchable]="true" [clearable]="true" bindLabel="pay_term" bindValue="pt_id"
								[items]="paymentTermListAmmend">
							</ng-select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-lg-12 mb-2">
							<label for="remark">Remark</label>
							<textarea class="form-control" id="remark" formControlName="remark"
								placeholder="Remark"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="ammendModal.hide()">Close</button>
					<button type="submit" class="btn btn-primary"
						[disabled]="addIlcAmendForm.pristine || addIlcAmendForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Bill of Acceptance Modal -->
<div bsModal #boamodal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form [formGroup]="billOfAcceptanceForm" novalidate (ngSubmit)="onSubmitBexAcceptanceForm()"
				autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">Bex Acceptance </h4>
					<button type="button" class="close" (click)="boamodal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<div class="col-md-6 mb-2">
							<label>Issue Date</label>
							<input type="text" class="form-control" id="conf_issue_dt" formControlName="conf_issue_dt"
								[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
								#dp="bsDatepicker" bsDatepicker placeholder="Issue Date" numbersOnly
								[(ngModel)]="conf_issue_dt" readonly>
						</div>
						<div class="col-md-6 mb-2">
							<label>Discount Date</label>
							<input type="text" class="form-control" id="discount_date" formControlName="discount_date"
								[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
								#dp="bsDatepicker" bsDatepicker placeholder="Discount Date" numbersOnly
								[(ngModel)]="discount_date" readonly>
						</div>
						<div class="col-md-6 mb-2">
							<label>Discount Rate</label>
							<input type="text" class="form-control" id="discount_rate" formControlName="discount_rate"
								placeholder="Discount Rate" numbersOnly [(ngModel)]="discount_rate">
						</div>
						<div class="col-md-6 mb-2">
							<label>Margin Money</label>
							<input type="text" class="form-control" id="margin_money" formControlName="margin_money"
								placeholder="Margin Money" numbersOnly [(ngModel)]="margin_money">
						</div>
						<div class="col-md-6 mb-2">
							<label>Acceptance Copy</label>
							<input type="file" class="form-control custom-file-input" id="bex_accept_copy"
								formControlName="bex_accept_copy" (change)="addAcceptanceCopy($event)" [multiple]=true>
						</div>
					</div>
					<div class="row" *ngIf="bex_deals?.length > 0">
						<div class="col-md-12">
							<table class="table table-striped table-hover table-responsive-lg" [mfData]="bex_deals"
								#mf="mfDataTable" [mfRowsOnPage]="5">
								<thead>
									<tr>
										<th>Deal Con Id</th>
										<th>PI Invoice Number</th>
										<th>Amount</th>
										<th>Amount Credited to supplier</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i"
										[attr.id]="item.id">
										<td>{{item.deal_id}}</td>
										<td>{{item.ilc_proforma_invoice.pi_invoice_no}}</td>
										<td>{{item.amount}}</td>
										<td><input type="number" value={{item.credited_amount}}
												(change)="amtCreditedArr($event , item , i )"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="boamodal.hide()">Close</button>
					<button type="submit" class="btn btn-primary"
						[disabled]="billOfAcceptanceForm.pristine || billOfAcceptanceForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>