<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 p-0">
			<div class="col-md-2 offset-5" *ngIf="isLoading">
				<app-loading-spinner></app-loading-spinner>
			</div>
			<form *ngIf="!isLoading" [formGroup]="salesOrderForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off"
				class="needs-validation">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-3 card-heading-left">
								<i class="fa fa-plus"></i> {{ page_title }}
							</div>
							<div class="col-md-9 card-heading-right">
								<strong>Booking Date: </strong>
								<i class="fa fa-calendar mx-1"></i>
								{{ salesOrderForm.controls.booking_date.value | date: 'dd-MMM-yyyy' }} &nbsp;
								<ng-select class="company-dropdown" formControlName="company_id" placeholder="Compamy"
									[searchable]="false" [clearable]="false" bindLabel="name" bindValue="id"
									[items]="companyList" (change)="onChangeValue($event, 'company')"
									[readonly]="!enableCompany">
								</ng-select>
								<button type="button" class="btn btn-primary" (click)="addNewCustomer()"
									*ngIf="!editPayment">
									<i class="fa fa-plus"></i> Add New Customer
								</button>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="form-row" *ngIf="company_id == 2">
							<div class="col-md-6">
								<div class="form-group">
									<div class="ui-g">
										<div class="ui-g-6">
											<p-radioButton name="stock_type" formControlName="stock_type" value="1"
												label="Local"></p-radioButton>
										</div>
										<div class="ui-g-6">
											<p-radioButton name="stock_type" formControlName="stock_type" value="2"
												label="MOU"></p-radioButton>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-row" *ngIf="company_id == 1">
							<div class="col-md-3">
								<div class="form-group">
									<div class="ui-g">
										<div class="ui-g-6">
											<p-radioButton name="is_forward" formControlName="is_forward" value="1"
												(click)="onChangeValue($event, 'is_forward')" [disabled]="editPayment"
												label="Forward Deal"></p-radioButton>
										</div>
										<div class="ui-g-6">
											<p-radioButton name="is_forward" formControlName="is_forward" value="0"
												(click)="onChangeValue($event, 'is_forward')" [disabled]="editPayment"
												label="Spot Deal"></p-radioButton>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" *ngIf="salesOrderForm.controls.is_forward.value == '1'">
								<span class="form-group" style="display: flex !important;">
									<label for="eta" style="width: 45px;">ETA <sup
											class="text-danger"><strong>*</strong></sup>
									</label>
									<input *ngIf="!editPayment" type="text" class="form-control" id="eta"
										formControlName="eta" placeholder="Select ETA Date"
										[bsConfig]="datePickerConfig" bsDatepicker>
									<input *ngIf="editPayment" type="text" class="form-control" id="eta"
										formControlName="eta" [disabled]="editPayment" readonly
										placeholder="Select ETA Date">
								</span>
							</div>
							<div class="col-md-3" *ngIf="salesOrderForm.controls.is_forward.value == '1'">
								<span class="form-group" style="display: flex !important;">
									<label for="eta" style="width: 165px;">Expiry Date <sup
											class="text-danger"><strong>*</strong></sup>
									</label>
									<input *ngIf="!editPayment" type="text" class="form-control" id="expiry_date"
										formControlName="expiry_date" placeholder="Select Expiry Date"
										[readonly]="editPayment" [bsConfig]="datePickerConfig" bsDatepicker>
									<input *ngIf="editPayment" type="text" class="form-control" id="expiry_date"
										formControlName="expiry_date" placeholder="Select Expiry Date"
										[readonly]="editPayment" [disabled]="editPayment" readonly>
								</span>
							</div>
						</div>
						<!-- For PVC -->
						<div
							*ngIf="company_id != 1 || salesOrderForm.controls.is_forward.value != null || this.editMode">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="sub_org_id">Customer
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<ng-select id="sub_org_id" formControlName="sub_org_id" placeholder="Customer"
											[searchable]="true" [clearable]="true" bindLabel="customer"
											bindValue="sub_org_id" [items]="customersList" #select
											(close)="select.blur(); select.focus()"
											(change)="onChangeValue($event, 'customer')"
											[readonly]="editMode || editPayment">
										</ng-select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="zone">Zone
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<ng-select id="zone_id" formControlName="zone_id" placeholder="Zone"
											[searchable]="false" [clearable]="false" bindLabel="name" bindValue="id"
											[items]="zonesList" (change)="onChangeValue($event, 'zone')"
											[readonly]="true" #selectZone
											(close)="selectZone.blur(); selectZone.focus()">
										</ng-select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="godown_id">Godown
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<ng-select id="godown_id" formControlName="godown_id" placeholder="Godown"
											[searchable]="true" [clearable]="true" bindLabel="godown_name"
											bindValue="id" [items]="godownsList"
											(change)="onChangeValue($event, 'godown')" #selectGodown
											(close)="selectGodown.blur(); selectGodown.focus()"
											[readonly]="edit_pe_pp || editPayment">
										</ng-select>
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-4">
									<div class="form-group">
										<label for="grade_id">Grade
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<ng-select id="grade_id" formControlName="grade_id" placeholder="Grade"
											[searchable]="true" [clearable]="true" bindLabel="grade_name"
											bindValue="grade_id_new" [items]="gradesList" [readonly]="editPayment"
											(change)="onChangeValue($event, 'grade')" #selectGrade
											(close)="selectGrade.blur(); selectGrade.focus()">
										</ng-select>
									</div>
								</div>
								<div class="col-md-2" *ngIf="company_id == 2">
									<div class="form-group">
										<label for="bill_rate">Bill Rate</label>
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text">
													<i class="fa fa-inr"></i>
												</span>
											</div>
											<input type="text" class="form-control rate_field" id="bill_rate"
												[readonly]="editPayment" formControlName="bill_rate"
												placeholder="Bill Rate" numbersOnly readonly>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="deal_rate">Deal Rate
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<div class="input-group">
											<div class="input-group-append">
												<span class="input-group-text">
													<i class="fa fa-inr"></i>
												</span>
											</div>
											<input type="text" class="form-control rate_field" id="deal_rate"
												formControlName="deal_rate" placeholder="Deal Rate"
												(change)="onChangeValue($event.target.value, 'deal_rate')"
												[readonly]="edit_pe_pp || editPayment" numbersOnly>
										</div>
									</div>
								</div>
								<div class="col-md-4" *ngIf="company_id == 2 && !edit_pe_pp">
									<div class="form-group">
										<label for="is_rate_same" class="is_rate_same">Bill Rate / Deal Rate
											Same</label>
										<br>
										<p-inputSwitch id="is_rate_same" formControlName="is_rate_same"
											(onChange)="onChangeValue($event, 'is_rate_same')" onLabel="Yes"
											offLabel="No">
										</p-inputSwitch>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="quantity">Quantity
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<div class="input-group">
											<input type="text" class="form-control" id="quantity"
												formControlName="quantity" placeholder="Quantity"
												(change)="onChangeValue($event.target.value, 'quantity')" numbersOnly
												[readonly]="editMode || editPayment">
											<div class="input-group-append">
												<span class="input-group-text">
													{{salesOrderForm.controls.unit_type.value}}
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="delivery_term_id">Delivery Term
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<ng-select id="delivery_term_id" formControlName="delivery_term_id"
											placeholder="Delivery Term" [searchable]="true" [clearable]="true"
											bindLabel="name" bindValue="id" [items]="deliveryTermsList"
											(change)="onChangeValue($event, 'delivery_term')" #selectDelivery
											(close)="selectDelivery.blur(); selectDelivery.focus()"
											[readonly]="edit_pe_pp || editPayment">
										</ng-select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="freight_rate">Freight Rate
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<input type="text" class="form-control" id="freight_rate"
											formControlName="freight_rate" placeholder="Freight Rate"
											(change)="onChangeValue($event.target.value, 'freight_rate')" numbersOnly
											[readonly]="disableFreightRate || edit_pe_pp || editPayment">
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="payment_type">Payment Type
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<ng-select id="payment_type" formControlName="payment_type"
											(change)="onChangeValue($event.id, 'payment_type')"
											placeholder="Payment Type" bindLabel="name" bindValue="id"
											[searchable]="false" [clearable]="false" [items]="paymentTypesList"
											#selectpaymentType
											(close)="selectpaymentType.blur(); selectpaymentType.focus()"
											[readonly]="edit_pe_pp">
										</ng-select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="payment_term">Payment Term
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<div class="input-group">
											<input type="text" class="form-control" id="payment_term"
												formControlName="payment_term" placeholder="Payment Term" numbersOnly
												[readonly]="disablePaymentTerm">
											<div class="input-group-append">
												<span class="input-group-text">Days</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="advance">Advance
											<sup class="text-danger"><strong>*</strong></sup>
										</label>
										<div class="input-group">
											<input
												*ngIf="company_id != 1 || salesOrderForm.controls.is_forward.value != 1 "
												type="text" class="form-control" id="advance" formControlName="advance"
												placeholder="Advance" numbersOnly [readonly]="disableAdvancePayment">

											<ng-select style="width: 146px;"
												*ngIf="company_id == 1 && salesOrderForm.controls.is_forward.value == 1"
												id="advance" formControlName="advance" placeholder="Advance"
												bindLabel="value" bindValue="value" [items]="advanceArray">
											</ng-select>
											<div class="input-group-append">
												<span class="input-group-text">%</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="broker_id">Broker</label>
										<ng-select id="broker_id" formControlName="broker_id" placeholder="Broker"
											(change)="onChangeValue($event, 'broker')" [searchable]=" true"
											[clearable]="true" bindLabel="person_name" bindValue="cont_id"
											[items]="brokersList" #selectBroker [readonly]="editPayment"
											(close)="selectBroker.blur(); selectBroker.focus()">
										</ng-select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="commission_type">Commission Type</label>
										<ng-select id="commission_type" formControlName="commission_type"
											(change)="onChangeValue($event, 'commission_type')" [readonly]="editPayment"
											placeholder="Commission Type" bindLabel="name" bindValue="id"
											[searchable]="false" [clearable]="true" [items]="commissionTypeList">
										</ng-select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="commission_value">Commission Value</label>
										<input type="text" class="form-control"
											(change)="onChangeValue($event.target.value, 'commission_value')"
											id="commission_value" formControlName="commission_value"
											placeholder="Commission Value"
											[readonly]="disableCommission || editPayment">
									</div>
								</div>
							</div>
						</div>

						<div class="form-row" *ngIf="company_id == 2">
							<div class="col-md-2" *ngIf="company_id == 2">
								<div class="form-group">
									<label for="is_price_protection" class="is_price_protection">Is Price
										Protection</label>
									<br>
									<p-inputSwitch id="is_price_protection" formControlName="is_price_protection"
										onLabel="Yes" offLabel="No">
									</p-inputSwitch>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="is_forward" class="is_forward">Is Forward Deal </label>
									<br>
									<p-inputSwitch id="is_forward" formControlName="is_forward"
										(onChange)="onChangeValue($event, 'is_forward')" onLabel="Yes" offLabel="No">
									</p-inputSwitch>
								</div>
							</div>
							<div class="col-md-2" *ngIf="salesOrderForm.controls.is_forward.value">
								<div class="form-group">
									<label for="eta">ETA <sup class="text-danger"><strong>*</strong></sup>
									</label>
									<input type="text" class="form-control" id="eta" formControlName="eta"
										placeholder="Select ETA Date" [bsConfig]="datePickerConfig" bsDatepicker
										readonly>
								</div>
							</div>
						</div>
						<div class="form-row" *ngIf="company_id == 3">
							<div class="col-md-4">
								<div class="form-group">
									<label for="shipment_from">Shipment Days
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<div class="input-group">
										<div class="input-group-append">
											<span class="input-group-text">From</span>
										</div>
										<input type="text" class="form-control" id="shipment_from" [required]="company_id == 3"
											formControlName="shipment_from" placeholder="Days" numbersOnly>
										<div class="input-group-append">
											<span class="input-group-text">To</span>
										</div>
										<input type="text" class="form-control" id="shipment_to" [required]="company_id == 3"
											formControlName="shipment_to" placeholder="Days" numbersOnly>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="packing">Packing
										<sup class="text-danger"><strong>*</strong></sup>
									</label>
									<ng-select id="packing" formControlName="packing" placeholder="Packing"
										[searchable]="true" [clearable]="true" bindLabel="type" bindValue="type"
										[items]="material_packs" [required]="company_id == 3">
									</ng-select>
								</div>
							</div>
						</div>

						<!-- For PVC -->
						<div class="form-row"
							*ngIf="company_id != 1 || salesOrderForm.controls.is_forward.value != null || this.editMode ">
							<div class="col-md-6">
								<div class="form-group">
									<label for="remark">Remark </label>
									<textarea class="form-control" id="remark" formControlName="remark"
										placeholder="Remark"></textarea>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="summary">Summary</label>
									<div class="summary">
										<div class="row">
											<div class="col-md-6">
												<p class="mb-1">
													<strong class="mr-1">Total Amount: </strong>
													{{salesOrderForm.controls.base_amount.value | currency:currency}}
												</p>
												<p class="mb-1">
													<strong class="mr-1">N.B.: </strong>
													{{salesOrderForm.controls.nb.value | currency:currency}}
												</p>
											</div>
											<div class="col-md-6">
												<p class="mb-1">
													<strong class="mr-1">Total Commission: </strong>
													{{salesOrderForm.controls.total_commission.value |
													currency:currency}}
												</p>
												<p class="mb-1" *ngIf="company_id == 2">
													<strong class="mr-1">Credit Note: </strong>
													{{salesOrderForm.controls.credit_note.value | currency:currency}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="temp-contact"
							*ngIf="salesOrderForm.controls.sub_org_id.value || (company_id != 1 || salesOrderForm.controls.is_forward.value != null || this.editMode)">
							<div class="form-row">
								<div class="col-md-6">
									<form [formGroup]="newEmailForm" novalidate (ngSubmit)="onSubmitContact('email')"
										autocomplete="off">
										<div class="input-group mb-2">
											<input type="email" id="email" formControlName="email" class="form-control"
												placeholder=" Add New Email">
											<span class="input-group-append">
												<button type="submit" class="btn btn-primary"
													[disabled]="newEmailForm.pristine || newEmailForm.invalid">Add</button>
											</span>
										</div>
									</form>
								</div>
								<div class="col-md-6">
									<form [formGroup]="newMobileForm" novalidate (ngSubmit)="onSubmitContact('mobile')"
										autocomplete="off">
										<div class="input-group mb-2">
											<input type="number" id="mobile_no" formControlName="mobile_no"
												class="form-control" placeholder=" Add New Mobile Number">
											<span class="input-group-append">
												<button type="submit" class="btn btn-primary"
													[disabled]="newMobileForm.pristine || newMobileForm.invalid || editPayment">Add</button>
											</span>
										</div>
									</form>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-6">
									<p-chips [(ngModel)]="tempEmailList" formControlName="temp_email"
										placeholder="Temporary Email Address" [addOnTab]="true" [addOnBlur]="true"
										separator=",">
									</p-chips>
								</div>
								<div class="col-md-6">
									<p-chips [(ngModel)]="tempMobileList" formControlName="temp_mobile"
										placeholder="Temporary Mobile Number" [addOnTab]="true" [addOnBlur]="true"
										separator=",">
									</p-chips>
								</div>
							</div>
						</div>
						<div class="row mt-2" *ngIf="orgPendingOrdersAlert">
							<div class="col-md-12">
								<div class="alert" [ngClass]="(orgPendingOrders < 3) ? 'alert-success' : 'alert-danger'"
									role="alert">
									Total Pending Orders : {{orgPendingOrders}}
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<sup class="text-danger" style="font-size: medium;"><strong>{{errorMessage}}</strong></sup>
						<br>
						<button type="submit" class="btn btn-primary mr-1">
							Submit
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div bsModal #addNewCustomerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Add New Customer" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form [formGroup]="newCustomerForm" novalidate (ngSubmit)="submitNewCustomerForm()"
				class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-plus"></i> Add New Customer</h4>
					<button type="button" class="close" (click)="addNewCustomerModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="company_name">
									Company Name <sup class="text-danger"><strong>*</strong></sup>
								</label>
								<input type="text" id="company_name" class="form-control" formControlName="company_name"
									placeholder="Company Name" autocomplete="off">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="person_name">
									Person Name <sup class="text-danger"><strong>*</strong></sup>
								</label>
								<input type="text" id="person_name" class="form-control" formControlName="person_name"
									placeholder="Person Name" autocomplete="off">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="mobile_no">
									Mobile No. <sup class="text-danger"><strong>*</strong></sup>
								</label>
								<input type="text" id="mobile_no" class="form-control" formControlName="mobile_no"
									placeholder="Mobile No." autocomplete="off">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="email">
									Email <sup class="text-danger"><strong>*</strong></sup>
								</label>
								<input type="text" id="email" class="form-control" formControlName="email"
									placeholder="Email" autocomplete="off">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="payment_term">
									Payment Term <sup class="text-danger"><strong>*</strong></sup>
								</label>
								<div class="input-group">
									<input type="text" class="form-control" id="payment_term"
										formControlName="payment_term" placeholder="Payment Term" numbersOnly
										autocomplete="off">
									<div class="input-group-append">
										<span class="input-group-text">Days</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="city_id">
									City <sup class="text-danger"><strong>*</strong></sup>
								</label>
								<ng-select id="city_id" formControlName="city_id" placeholder="City" [searchable]="true"
									[clearable]="false" bindLabel="name" bindValue="id" [items]="citiesList"
									(change)="onChangeValue($event, 'city')" #selectCity
									(close)="selectCity.blur(); selectCity.focus()">
								</ng-select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"
						[disabled]="newCustomerForm.pristine || newCustomerForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div bsModal #summaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Summary"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-eye"></i> Summary</h4>
				<button type="button" class="close" (click)="summaryModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" *ngIf="summary != null">
				<div class="row">
					<div class="col-md-12">
						<p class="mb-1">
							<strong>Booking Date : </strong>
							{{summary.booking_date | date: 'dd-MMM-yyyy'}}
						</p>
						<p class="mb-1">
							<strong>Expiry Date : </strong>
							{{expiry_date | date: 'dd-MMM-yyyy'}}
						</p>
						<p class="mb-1">
							<strong>Customer : </strong>
							{{summary.customer}}
						</p>
						<p class="mb-1">
							<strong>Zone : </strong>
							{{summary.zone}}
						</p>
						<p class="mb-1">
							<strong>Godown : </strong>
							{{summary.godown}}
						</p>
						<p class="mb-1">
							<strong>Grade Name : </strong>
							{{summary.grade}}
						</p>
						<p class="mb-1">
							<strong>Deal Rate : </strong>
							{{summary.deal_rate | currency:currency}}
						</p>
						<p class="mb-1">
							<strong>Quantity : </strong>
							{{summary.quantity}} {{summary.unit_type}}
						</p>
						<p class="mb-1">
							<strong>Base Amount : </strong>
							{{summary.base_amount | currency:currency}}
						</p>
						<p class="mb-1">
							<strong>Total Amount (Inc. Tax) : </strong>
							{{summary.total_amount | currency:currency}}
						</p>
						<p *ngIf="summary.tcs" class="mb-1">
							<strong>TCS : </strong>
							{{summary.tcs | currency:currency}}
						</p>
						<p *ngIf="summary.tds" class="mb-1">
							<strong>TDS : </strong>
							{{summary.tds}}
						</p>
						<p class="mb-1">
							<strong>Delivery Term : </strong>
							{{summary.delivery_term}}
						</p>
						<p class="mb-1">
							<strong>Freight Rate : </strong>
							{{summary.freight_rate | currency:currency}}
						</p>
						<p class="mb-1">
							<strong>N.B. : </strong>
							{{summary.nb | currency:currency}}
						</p>
						<p class="mb-1">
							<strong>Payment Term : </strong>
							{{summary.payment_term_label}}
						</p>
						<p class="mb-1">
							<strong>Total Commission : </strong>
							{{summary.total_commission | currency:currency}}
						</p>
						<p class="mb-1" style="word-wrap: break-word">
							<strong>Temp Email : </strong>
							{{summary.temp_email}}
						</p>
						<p class="mb-1">
							<strong>Temp Mobile : </strong>
							{{summary.temp_mobile}}
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="confirmSummary();"
					[disabled]="loadingBtn">Confirm <i class="fa fa-spinner fa-spin" *ngIf="loadingBtn"></i></button>
			</div>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>