<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-exchange"></i> Stock Transfer
          <button *ngIf="add_stock_link" class="btn btn-outline-primary active pull-right" (click)="onAdd()"> + Transfer
            Stock</button>
        </div>
        <!--Header End Here -->
        <div class="card-body">
          <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <!--LOADER HERE END-->
          <div class="row mb-3">
            <!-- <div class="col-md-4 col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input type="text" class="form-control" [maxDate]="maxDate" bsDaterangepicker id="transfer_date"
                  [(ngModel)]="bsRangeValue" (ngModelChange)="getAllStockTransferDetails()"
                  placeholder="Tranfer And Recieved  Date Range ">
              </div>
            </div> -->
            <!-- <div class="col-md-2">
                 
                </div> -->
            <!-- <div class="col-md-4 col-sm-12">
              <div class="input-group">
                <ng-select placeholder="Inward Outward Status" [searchable]="true" [clearable]="true" id="inword_status"
                  bindLabel="name" bindValue="id" [items]="inward_outward_list" [(ngModel)]="InwardOutwardStatus"
                  (change)="onInwardOutward($event)">
                </ng-select>
              </div>
            </div> -->


            <!-- <div class="col-md-4 col-sm-12">
              <div class="input-group">
                <ng-select placeholder="Short Damage SeFlect" [searchable]="true" [clearable]="true" bindLabel="name"
                  bindValue="id" [items]="shortDamageFilter" [(ngModel)]="ShortDamageStatus"
                  (change)="filterdData($event)">
                </ng-select>
              </div>
            </div> -->

          </div>

          <!--HERE FILTERS ROW END-->

          <div *ngIf="!isLoading">
            <p-table #dt [value]="stockTransferList$  |async" dataKey="id" styleClass="ui-table-non " [rowHover]="true"
              [rows]="10" [columns]="cols" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
              [loading]="isLoading" [paginator]="true"
              currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries "
              [filterDelay]="0" (onFilter)="onFilter($event, dt)" (onLazyLoad)="onFilter($event, dt)"
              [globalFilterFields]="['fromGodown','toGodown','grade_master','outward_date','inward_date','quantity','status','import_local_flag_cat','company']">

              <ng-template pTemplate="caption">
                <div class="row">
                  <div class="col-md-10">
                    <div class="form-inline">
                      <a class="btn btn-success text-white mb-1 mr-2" (click)="exportExcel()" data-toggle="tooltip"
                        data-placement="top" title="Excel">
                        <i class="fa fa-file-excel-o"></i>
                        <span class="export-text d-none">Excel</span>
                      </a>
                      <a class="btn btn-danger text-white mb-1 mr-2" (click)="exportPdf()" data-toggle="tooltip"
                        data-placement="top" title="PDF">
                        <i class="fa fa-file-pdf-o"></i>
                        <span class="export-text d-none">PDF</span>
                      </a>

                      <div class="form-group mb-1 mr-1">
                        <input pInputText [(ngModel)]="selected_date_range" (ngModelChange)="getCols()"
                          [bsConfig]="datePickerConfig" #dp="bsDaterangepicker" [maxDate]="maxDate" bsDaterangepicker
                          placeholder="Choose Date Range" class="form-control page-filter" readonly
                          style="padding: 19px 5px !important" />
                        <app-dropdown-daterange (dateEvent)="receiveDate($event)" [uploadSuccess]="uploadSuccess"
                          style="margin-left: 10px;padding: 19px 5px !important"></app-dropdown-daterange>
                      </div>

                      <!-- <div class="form-group mb-1">
                        <p-dropdown [options]="inward_outward_list" optionLabel="name" [showClear]="true"
                          (onChange)="onInwardOutward($event)" [(ngModel)]="InwardOutwardStatus">
                        </p-dropdown>
                      </div> -->

                      <div class="form-group ml-1 mb-1">
                        <p-dropdown [options]="shortDamageFilter" optionLabel="name" [showClear]="false"
                          (onChange)="getAllStockTransferDetails()" [(ngModel)]="ShortDamageStatus">
                        </p-dropdown>
                      </div>

                      <div class="form-group ml-1 mb-1">
                        <p-dropdown [options]="import_local_flag" optionLabel="name" [showClear]="false"
                          (onChange)="getAllStockTransferDetails()" [(ngModel)]="selectedImportLocalFlag">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="w-100 mt-1 pull-right">
                      <input pInputText type="text" class="form-control"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </div>
                  </div>
                </div>
              </ng-template>
              <!-- <ng-template pTemplate="caption">
                
                <div class="ui-table-globalfilter-container">
                  <input pInputText type="text" class="form-control"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                </div>
                <div class="ui-helper-clearfix" style="text-align: left">
                  <button type="button" *ngIf="csv_stock_link" pButton icon="pi pi-file-excel" iconPos="left"
                    label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;"
                    class="ui-button-success"></button>
                  <button type="button" *ngIf="pdf_stock_link" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF"
                    (click)="exportPdf()" class="ui-button-warning"></button>
                </div>
              </ng-template> -->

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 100px;"></th>
                  <ng-container *ngFor="let col of columns">

                    <th pSortableColumn="{{col.field}}" *ngIf="col.permission" [ngStyle]="{'width': col.width}">
                      {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                  </ng-container>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td>

                    <a class="p-1" style="cursor: pointer;" *ngIf="view_stock_link" data-toggle="tooltip"
                      data-placement="top" title="Show Stock Transfer Details" (click)="viewDetails(rowData)"><i
                        class="fa fa-eye"></i></a>

                    <a class="p-1" data-toggle="tooltip" data-placement="top"
                      title="Stock Transfer Billing Details Edit"
                      *ngIf="view_billing_stock_link && rowData['status']!=1" style="cursor: pointer;"
                      (click)="openBillingsModal(rowData)"><i class="fa fa-money"></i></a>

                    <a class="p-1" *ngIf="rowData['status']!=0 && rowData['status']!=1 && send_email_stock_link"
                      data-toggle="tooltip" data-placement="top" title="Send Email" style="cursor: pointer;"
                      (click)="viewEmailModal(rowData)"><i class="fa fa-envelope"></i></a>


                    <a class="p-1" *ngIf="rowData['status'] !=1 && rowData['status']!=2  && edit_stock_link"
                      data-toggle="tooltip" data-placement="top" title="Edit Stock Transfer Details"
                      style="cursor: pointer;" (click)="openEditModal(rowData)"><i class="fa fa-pencil"></i></a>


                    <a class="p-1" *ngIf="rowData['status']==2 &&  short_stock_link" data-toggle="tooltip"
                      data-placement="top" title="Received Status" style="cursor: pointer;"
                      (click)="openRecievedModal(rowData)"><i class="fa fa-truck"></i></a>

                    <a class="p-1" *ngIf="credit_debit__stock_link" data-toggle="tooltip" data-placement="top"
                      title="Update Credit Debit Note" style="cursor: pointer;" (click)="onOpenDebitCredit(rowData)"><i
                        class="fa fa-file-text"></i></a>

                    <a class="p-1" *ngIf="stock_return_link && rowData['status']!=1 && rowData['is_stock_return'] !=1"
                      data-toggle="tooltip" data-placement="top" title="Add Stock Return Details"
                      style="cursor: pointer;" (click)="onOpenStockReturnDetails(rowData)"><i
                        class="fa fa-recycle"></i></a>


                    <a class="p-1" *ngIf="rowData['status'] ==0 && delete_stock_link && rowData['is_stock_return']!=1"
                      style="cursor: pointer;" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage" [confirmText]="confirmText" [cancelText]="cancelText"
                      [placement]="placement" [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                      cancelButtonType="success" (confirm)="deleteDetails(rowData.id)"
                      (cancel)="cancelClicked = true"><i class="fa fa-trash"></i></a>


                  </td>
                  <!-- <td>{{rowData['id']}}</td> -->
                  <td>
                    <div data-toggle="tooltip" data-placement="top" title="Stock Recieved(Inward Date Filled)"
                      style="cursor: pointer;" *ngIf="rowData['status']==1" class="badge badge-primary">Recieved
                    </div>
                    <div data-toggle="tooltip" data-placement="top" title="Stock Not Recieved(Inward Date Not find)"
                      *ngIf="rowData['status']==0" class="badge badge-warning">Pending </div>

                    <div data-toggle="tooltip" data-placement="top" title="Stock  Recieved & Billing Done"
                      *ngIf="rowData['status']==2" class="badge badge-success">Billing Done </div>

                    <div data-toggle="tooltip" data-placement="top" title="Stock return"
                      *ngIf="rowData['is_stock_return']==1" class="badge badge-warning"> Stock Return </div>
                  </td>
                  <td>{{rowData['fromGodown']}}</td>
                  <td>{{rowData['toGodown']}}</td>
                  <td>{{rowData['grade_master']}}</td>
                  <td>{{rowData['quantity']}}</td>
                  <td>{{rowData['outward_date']}}</td>
                  <td>{{rowData['inward_date']}}</td>
                  <td>{{rowData['short_quantity']}}</td>
                  <td>{{rowData['short_remark']}}</td>
                  <td>{{rowData['damage_quantity']}}</td>
                  <td>{{rowData['damage_remark']}}</td>
                  <td> {{rowData['remark']}}</td>
                  <td> {{rowData['import_local_flag_cat']}}</td>
                  <td> {{rowData['company']}}</td>
              </ng-template>


              <ng-template pTemplate="footer" let-columns>
                <tr>
                  <td colspan="5"></td>
                  <td>Total : {{total_qty}} </td>
                  <td colspan="2"></td>
                  <td>Total : {{total_short_qty}} </td>
                  <td></td>
                  <td>Total : {{total_damage_qty}} </td>
                  <td colspan="4"></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="14" style="text-align:left">No Data found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <!--TABLE END HERE-->
        </div>
        <!--Body End Here -->
      </div>
      <!--Card End Here -->
    </div>
  </div>
</div>

<!--?here  End Main Content And Start Modal Coding -->


<!--?Start Edit Stock Transfer Details  Show  Modal Here  -->

<div bsModal #myModalEditStock="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form [formGroup]="editStockTransferForm" novalidate (ngSubmit)="onUpdateStockTransfer()" autocomplete="off">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Stock Transfer Edit Detail</h4>
          <span class="pull-right"> <ng-select class="company-dropdown" formControlName="company_id"
              placeholder="Company" [searchable]="false" [clearable]="false" bindLabel="name" bindValue="id"
              [items]="companyList">
            </ng-select></span>
          <button type="button" class="close" (click)="myModalEditStock.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">


          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label class="col-form-label" for="from_godown"><b>From Godown</b></label>
                <ng-select id="id" (change)="onFormGodownSelect($event)" formControlName="from_godown"
                  bindLabel="godown_name" [items]="godownList">
                </ng-select>
              </div>
            </div>

            <!--END FORM Godown-->

            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label class="col-form-label" for="to_godown"><b>To Godown</b></label>
                <ng-select id="id" formControlName="to_godown" [items]="godownList" bindLabel="godown_name">
                </ng-select>
                <small *ngIf="f.to_godown.errors && f.to_godown.touched">
                  <div *ngIf="f.to_godown.errors.mustMatch" class="ngSelectError">Can't Transfer to same godown!</div>
                </small>
              </div>
            </div>


            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label class="col-form-label" for="grade"><b>Grade</b></label>
                <ng-select readonly id="grade" formControlName="grade" [items]="gradeList" bindLabel="grade_name">
                </ng-select>
              </div>
            </div>

            <!--Grade End -->
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label class="col-form-label" for="quantity"><b>Quantity (Kg)</b></label>
                <i class="fa fa-inr"></i>
                <input class="form-control" id="quantity" formControlName="quantity" numbersOnly type="text"
                  [readonly]='true'>

              </div>
            </div>

            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="transfer_date" class="col-form-label"><b>Transfer Date</b></label>
                <i class="fa fa-calendar"></i>
                <input type="text" id="transfer_date" formControlName="transfer_date" class="form-control"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                  bsDatepicker readonly [ngClass]="{ 'is-invalid':f.transfer_date.errors && f.transfer_date.touched }">

                <div *ngIf="f.transfer_date.errors && f.transfer_date.touched" class="invalid-feedback">
                  <div *ngIf="f.transfer_date.errors.required">Transfer Date is required</div>
                </div>
              </div>
            </div>
            <!--TRANSFER DATE-->

            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label class="col-form-label" for="lr_number"><b>LR No.</b></label>
                <!-- <i class="fa fa-inr"></i> -->
                <input class="form-control" id="lr_number" formControlName="lr_number" numbersOnly type="text"
                  placeholder="Enter LR No." [ngClass]="{ 'is-invalid':f.lr_number.errors && f.lr_number.touched }">
                <div *ngIf="f.lr_number.errors && f.lr_number.touched" class="invalid-feedback">
                  <div *ngIf="f.lr_number.errors.required">LR No. is required</div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <!--LR NO END -->
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="lr_date" class="col-form-label"><b>LR Date</b></label>
                <i class="fa fa-calendar"></i>
                <input type="text" id="lr_date" formControlName="lr_date" class="form-control"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                  bsDatepicker placement="right" readonly
                  [ngClass]="{ 'is-invalid':f.lr_date.errors && f.lr_date.touched }">
                <div *ngIf="f.lr_date.errors && f.lr_date.touched" class="invalid-feedback">
                  <div *ngIf="f.lr_date.errors.required">LR Date is required</div>
                </div>
              </div>
            </div>

            <div class="col-md-8 col-sm-12">
              <div class="form-group">
                <label class="col-form-label" for="transporter"><b>Transporter</b></label>
                <ng-select id="transporter" formControlName="transporter" placeholder="Select Transporter"
                  [searchable]="true" [clearable]="false" bindLabel="sub_org_name" bindValue="sub_org_id"
                  [items]="transporterList" [ngClass]="{ 'is-invalid':f.transporter.errors }"></ng-select>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="load_cross"><b>Select Load/Cross</b></label>
                <ng-select id="load_cross" formControlName="load_cross" placeholder="Select Load/Cross"
                  (change)="onSelectLoading($event)"
                  [readonly]="f.quantity.value=='0' || f.quantity.value==null ||  f.quantity.value=='' || f.quantity.value=='undefined'"
                  [searchable]="false" [clearable]="false" bindLabel="name" bindValue="id" [items]="loadCrossList">
                </ng-select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="loading_qty"><b>Loading Qty</b></label>
                <input class="form-control" id="loading_qty"
                  [readonly]="f.load_cross.value=='1' || f.load_cross.value=='2' ||f.load_cross.value=='' ||f.load_cross.value==undefined "
                  formControlName="loading_qty" type="number" min="0" placeholder="Enter Loading Qty"
                  [(ngModel)]="loadingQty" (input)="onLoadingQtyChange($event.target.value)" autofocus>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="loading_charges"><b>Loading Charges</b></label>
                <input class="form-control" id="loading_charges" formControlName="loading_charges" type="number" min="0"
                  placeholder="Enter Loading Charges" autofocus
                  [readonly]="f.load_cross.value=='1' || f.load_cross.value=='2' || f.load_cross.value=='3' ||f.load_cross.value=='' ||f.load_cross.value==undefined">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="crossing_qty"><b>Crossing Qty</b></label>
                <input class="form-control" id="crossing_qty" formControlName="crossing_qty" min="0" type="number"
                  min="0" placeholder="Enter Crossing Qty" (input)="onCrossQtyChange($event.target.value)"
                  [(ngModel)]="crossingQty"
                  [readonly]="f.load_cross.value=='1' || f.load_cross.value=='2' ||f.load_cross.value=='' ||f.load_cross.value==undefined"
                  autofocus>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="crossing_charges"><b>Crossing Charges</b></label>
                <input class="form-control" id="crossing_charges" formControlName="crossing_charges" type="number"
                  min="0" placeholder="Enter Crossing Charges"
                  [readonly]="f.load_cross.value=='1' || f.load_cross.value=='2' || f.load_cross.value=='3' ||f.load_cross.value=='' ||f.load_cross.value==undefined"
                  autofocus>
              </div>
            </div>


            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="freight_rate"><b>Freight Rate</b></label>
                <input class="form-control" id="freight_rate" formControlName="freight_rate" type="number" min="0"
                  placeholder="Enter Freight Rate" (input)="onFreightrateChange($event.target.value)" autofocus>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="total_freight_amount"><b>Freight Amount</b></label>
                <input class="form-control" id="total_freight_amount" formControlName="total_freight_amount"
                  type="number" min="0" placeholder="Enter Total Freight Amount" [readonly]='true' autofocus>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="total_load_cross_amount"><b>Load/Cross Amount</b></label>
                <input class="form-control" id="total_load_cross_amount" formControlName="total_load_cross_amount"
                  type="number" min="0" placeholder="Enter Total Load/Cross Amount" min="0"
                  [readonly]="f.load_cross.value=='1' || f.load_cross.value=='2' || f.load_cross.value=='3'" autofocus>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="total_amount_of_freight_load_cross"><b> Freight
                    +Load/Cross</b></label>

                <input class="form-control" id="total_amount_of_freight_load_cross"
                  formControlName="total_amount_of_freight_load_cross" type="number" min="0"
                  placeholder="Enter Total Amount of Freight + Load/Cross" required autofocus>
              </div>
            </div>


            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="truck_number"><b>Truck Number</b></label>
                <input class="form-control" id="truck_number" formControlName="truck_number" type="text"
                  placeholder="Enter Truck Number" autofocus>
              </div>
            </div>


            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="col-form-label" for="remark"><b>Remark</b></label>
                <textarea class="form-control" id="remark" formControlName="remark" rows="2" autofocus
                  placeholder="Enter Remark"></textarea>
              </div>
            </div>



            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="dispatch_from"><b>Dispatch From</b></label>
                <textarea class="form-control" id="dispatch_from" formControlName="dispatch_from" rows="3" autofocus
                  placeholder="Enter Dispatch From Address"></textarea>
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="bill_from"><b>Bill From</b></label>
                <textarea class="form-control" id="bill_from" formControlName="bill_from" rows="3" autofocus
                  placeholder="Enter Bill From Adress"></textarea>
              </div>
            </div>




            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="ship_to"><b>Ship To</b></label>
                <textarea class="form-control" id="ship_to" formControlName="ship_to" rows="3" autofocus
                  placeholder="Enter Ship To Adress"></textarea>
              </div>
            </div>



            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="bill_to"><b>Bill To</b></label>
                <textarea class="form-control" id="bill_to" formControlName="bill_to" rows="3" autofocus
                  placeholder="Enter Bill To Adress"></textarea>
              </div>
            </div>



            <div class="col-md-3 col-sm-12">
              <div class="form-group form-check mt-5">
                <input type="checkbox" formControlName="eway_bill_flag" id="eway_bill_flag" class="form-check-input"
                  autofocus />
                <label for="eway_bill_flag" class="form-check-label">E-way Bill</label>
              </div>
            </div>


          </div>








          <div class="row">
            <div class="col  text-center">
              <button [disabled]="editStockTransferForm.invalid" class="btn btn-primary mr-1" type="submit">
                <i class="fa fa-dot-circle-o"></i>Submit</button>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="myModalEditStock.hide()">Close</button>
        </div>


      </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--?Start Details Show  Modal Here  -->

<div bsModal #myModalDetails="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Stock Transfer Details</h4>
        <button type="button" class="close" (click)="myModalDetails.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="selectedstockTransferList">
          <div class="col-md-12">
            <table class="table table-bordered table-hover invoice-table">
              <tr>
                <td>
                  <strong>From Godown:</strong> {{ selectedstockTransferList.fromGodown}}
                </td>
                <td>
                  <strong>To Godown :</strong> {{ selectedstockTransferList.toGodown }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Truck No.:</strong> {{ selectedstockTransferList.truc_no }}
                </td>
                <td>
                  <strong>Invoice No.:</strong> {{ selectedstockTransferList.invoice_num }}
                  <ng-container *ngIf="selectedstockTransferList.bill_copy">
                    <span *ngFor="let i of  selectedstockTransferList.bill_copy">
                      <a [href]="i" target="_blank"><i class="fa fa-download"></i></a>
                    </span>
                  </ng-container>


                </td>
              </tr>
              <tr>
                <td>
                  <strong>Grade :</strong> {{ selectedstockTransferList.grade_master }}
                </td>
                <td>
                  <strong>Quantity :</strong> {{ selectedstockTransferList.quantity }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Billing Rate:</strong> {{ selectedstockTransferList.billing_rate | currency: 'INR' }}
                </td>
                <td>
                  <strong>Added Date :</strong> {{ selectedstockTransferList.added_date | date: 'dd-MMM-yyyy' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>LR Number:</strong> {{ selectedstockTransferList.lr_no }}
                </td>
                <td>
                  <strong>LR Date :</strong> {{ selectedstockTransferList.lr_date | date: 'dd-MMM-yyyy' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Transporter Name :</strong> {{ selectedstockTransferList.sub_org_name }}
                </td>
                <td>
                  <strong>Transfer Date :</strong> {{ selectedstockTransferList.outward_date | date: 'dd-MMM-yyyy' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Recieved Date :</strong> {{ selectedstockTransferList.inward_date | date: 'dd-MMM-yyyy' }}
                </td>
                <td>
                  <strong>Remark :</strong> {{ selectedstockTransferList.remark}}
                </td>
              </tr>
              <tr>
                <td><strong>Short Quantity :</strong> {{selectedstockTransferList.short_quantity}}</td>
                <td><strong>Short Remark :</strong> {{selectedstockTransferList.short_remark }}</td>
              </tr>
              <tr>
                <td> <strong>Damage Quantity :</strong> {{selectedstockTransferList.damage_quantity}}</td>
                <td> <strong>Damage Remark :</strong> {{selectedstockTransferList.damage_remark}}</td>
              </tr>
              <tr>
                <td> <strong>Debit Note :</strong> {{selectedstockTransferList.debit_note}}</td>
                <td> <strong>Credit Note :</strong> {{selectedstockTransferList.credit_note}}</td>
              </tr>
              <tr>
                <td><strong>Loading Quantity : </strong> {{selectedstockTransferList.load_qty}}</td>
                <td><strong>Loading Charges : </strong>{{selectedstockTransferList.load_charges}}</td>
              </tr>
              <tr>
                <td><strong>Crossing Quantity : </strong> {{selectedstockTransferList.cross_qty}}</td>
                <td><strong>Crossing Charges : </strong>{{selectedstockTransferList.cross_charges}}</td>
              </tr>
              <tr>
                <td><strong>Total Loading :
                  </strong>{{calTotalLoadingAmt(selectedstockTransferList.load_qty,selectedstockTransferList.load_charges)}}
                </td>
                <td><strong>Total Crossing :
                  </strong>{{calTotalLoadingAmt(selectedstockTransferList.cross_qty,selectedstockTransferList.cross_charges)}}
                </td>
              </tr>
              <tr>

                <td><strong>Frieght Rate :</strong>{{selectedstockTransferList.frt_rate}}</td>

                <td><strong>Total Frieght + Loading + crossing charges
                    :</strong>{{selectedstockTransferList.tot_frt_ld_cs}}</td>
              </tr>
              <tr>
                <td><strong>Bill From :</strong>{{selectedstockTransferList.bill_from}}</td>
                <td><strong>Bill To :</strong>{{selectedstockTransferList.bill_to}}</td>
              </tr>
              <tr>
                <td><strong>Dispatch From :</strong>{{selectedstockTransferList.dispatch_from}}</td>
                <td><strong>Ship To :</strong>{{selectedstockTransferList.ship_to}}</td>
              </tr>
            </table>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalDetails.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- ?Edit Billing Details Modal Strat Here  -->

<div bsModal #myModalBilling="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Stock Transfer Billing Details</h4>
        <button type="button" class="close" (click)="myModalBilling.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="billingForm" (ngSubmit)="onUpdateBillingDetails()" autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="invoice_num"><b>Invoice Number</b></label>
                <i class="fa fa-inr"></i>
                <input class="form-control" id="invoice_num" formControlName="invoice_num" type="text">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="invoice_date" class="col-form-label"><b>Invoive Date</b></label>
                <i class="fa fa-calendar"></i>
                <input type="text" id="invoice_date" formControlName="invoice_date" class="form-control"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                  bsDatepicker placement="right" readonly>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="col-form-label" for="billing_rate"><b>Billing Rate</b></label>
                <i class="fa fa-inr"></i>
                <input class="form-control" id="billing_rate" formControlName="billing_rate" numbersOnly type="text"
                  min="0" placeholder="Enter Billing Rate" autofocus>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="form-group form-check mt-5">
                <input type="checkbox" formControlName="eway_bill_flag" id="eway_bill_flag" class="form-check-input"
                  autofocus />
                <label for="eway_bill_flag" class="form-check-label">E-way Bill</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="eway_bill_copy" class="col-form-label"><b>Eway Bill</b></label>
                <input type="file" class="form-control custom-file-input" id="eway_bill_copy" name="eway_bill_copy"
                  formControlName="eway_bill_copy" multiple (change)="ewayBillFileUploadEvent($event)">
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="bill_copy" class="col-form-label"><b>Bill Copy</b></label>
                <input type="file" class="form-control custom-file-input" id="bill_copy" name="bill_copy"
                  formControlName="bill_copy" multiple (change)="billCopyFileUploadEvent($event)">
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col">
              <div class="form-group">
                <label class="col-form-label" for="billing_remark"><b>Billing Remark</b></label>
                <textarea class="form-control" id="billing_remark" formControlName="billing_remark" rows="2" autofocus
                  placeholder="Enter Billing Remark"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col text-center">
              <button class="btn btn-primary mr-1" [disabled]="billingForm.invalid" type="submit">
                <i class="fa fa-dot-circle-o"></i>Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalBilling.hide()">Close</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #myModalEmail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Send Emails</h4>
        <button type="button" class="close" (click)="myModalEmail.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container bootdey">
          <div class="email-app" *ngIf="selectedstockTransferList">

            <main>
              <p class="text-center">Send Email To {{selectedstockTransferList.toGodown}}</p>
              <form [formGroup]="emailForm" (ngSubmit)="onSendEmail()" autocomplete="off"
                *ngIf="selectedstockTransferList">
                <div class="form-row mb-3  text-center">
                  <div class="col" *ngFor="let emails of emailFormArray.controls; let i = index">
                    <label formArrayName="toEmail">
                      <input type="checkbox" [formControlName]="i" [value]="emailArray[i]"
                        (change)="onCheckboxChange($event)">
                      {{emailArray[i]}}
                    </label>
                  </div>

                </div>
                <div class="form-row mb-3  text-center">
                  <div class="col-12">
                    <p-chips [(ngModel)]="selectedEmails" formControlName="emailMult" separator=","></p-chips>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <a *ngFor="let file of selectedstockTransferList.bill_copy" [href]="file" target="_blank">
                      <i class="btn btn-primary btn-sm mr-1"><em class="fa fa-eye"></em></i>
                    </a>


                    <a *ngFor="let file of selectedstockTransferList.eway_bill_copy" [href]="file" target="_blank">
                      <i class="btn btn-primary btn-sm mr-1"><em class="fa fa-eye"></em></i>
                    </a>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-11 ml-auto text-center">
                    <div class="form-group">
                      <button type="submit" class="btn btn-success">Send</button>
                      <button type="button" class="btn btn-danger" (click)="myModalEmail.hide()">Discard</button>
                    </div>
                  </div>
                </div>
              </form>

            </main>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalEmail.hide()">Close</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #myModalRecieved="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Stock Transfer Recieved Details</h4>
        <button type="button" class="close" (click)="myModalRecieved.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">


        <ng-container *ngIf="isLoading">
          <div style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
        </ng-container>

        <ng-container *ngIf="!isLoading">
          <form [formGroup]="recievedForm" (ngSubmit)="onUpdateRecievedDetails()" autocomplete="off">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <label for="received_date" class="col-form-label"><b>Received Date</b></label>
                  <i class="fa fa-calendar"></i>
                  <input type="text" id="received_date" formControlName="received_date" class="form-control"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                    bsDatepicker readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="short_quantity"><b>Short Quantity</b></label>
                  <i class="fa fa-inr"></i>
                  <input class="form-control" (change)="onChangeShortQty($event.target.value)" id="short_quantity"
                    formControlName="short_quantity" numbersOnly type="text" placeholder="Enter Short Quantity"
                    autofocus>

                </div>

              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label class="col-form-label" for="short_remark"><b>Short Remark</b></label>
                  <textarea class="form-control" id="short_remark" formControlName="short_remark" rows="2" autofocus
                    placeholder="Enter Short Remark"></textarea>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="damage_quantity"><b>Damge Quantity</b></label>
                  <i class="fa fa-inr"></i>
                  <input class="form-control" (change)="onChangeDamgeQty($event.target.value)" id="damage_quantity"
                    formControlName="damage_quantity" numbersOnly type="text" placeholder="Enter Damge Quantity"
                    autofocus>
                </div>

              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label class="col-form-label" for="damage_remark"><b>Damage Remark</b></label>
                  <textarea class="form-control" id="damage_remark" formControlName="damage_remark" rows="2" autofocus
                    placeholder="Enter Damage Remark"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col text-center">
                <button class="btn btn-primary mr-1" [disabled]="recievedForm.invalid" type="submit">
                  <i class="fa fa-dot-circle-o"></i>Submit</button>
              </div>
            </div>
          </form>


        </ng-container>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalRecieved.hide()">Close</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #myModalDebitCredit="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Debit Credit Note </h4>
        <button type="button" class="close" (click)="myModalDebitCredit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="debitCreditForm" (ngSubmit)="onUpdateDebitCreditDetails()" autocomplete="off">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="debit_note"><b>Debit Note</b></label>
                <input class="form-control" id="debit_note" formControlName="debit_note" type="text"
                  placeholder="Enter Debit Note" autofocus>
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="credit_note"><b>Credit Note</b></label>
                <input class="form-control" id="credit_note" formControlName="credit_note" type="text"
                  placeholder="Enter Credit Note" autofocus>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col text-center">
              <button class="btn btn-primary mr-1" [disabled]="debitCreditForm.invalid" type="submit">
                <i class="fa fa-dot-circle-o"></i>Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalDebitCredit.hide()">Close</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!--STOCK RETURN MODAL-->
<div bsModal #myModalStockReturn="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Stock Return Proccess</h4>
        <button type="button" class="close" (click)="myModalStockReturn.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="stockReturnForm" (ngSubmit)="onUpdateReturnDetails()" autocomplete="off">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="stock_return_date" class="col-form-label"><b>Date</b></label>
                <i class="fa fa-calendar"></i>
                <input type="text" id="stock_return_date" formControlName="stock_return_date" class="form-control"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                  bsDatepicker readonly>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="col-form-label" for="stock_return_quantity"><b> Quantity</b></label>
                <i class="fa fa-inr"></i>
                <input class="form-control" id="stock_return_quantity" formControlName="stock_return_quantity"
                  numbersOnly type="text" placeholder="Enter  Quantity" autofocus>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label" for="return_remark"><b>Remark</b></label>
                <textarea class="form-control" id="return_remark" formControlName="return_remark" rows="2" autofocus
                  placeholder="Enter  Remark"></textarea>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col text-center">
              <button class="btn btn-primary mr-1" [disabled]="stockReturnForm.invalid" type="submit">
                <i class="fa fa-dot-circle-o"></i>Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalStockReturn.hide()">Close</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>