.dispatch_report_table {
	overflow: hidden;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	.ui-table-tbody > tr > td {
		border: 0 none;
		cursor: auto;
		// &:nth-child(3) {
		// 	width: 18em;
		// }
	}
}
.page-filter {
	font-size: 14px !important;
	font-weight: normal !important;
}
.custom_body .dispatch_report_table .ui-table-caption {
	background: #495057 !important;
}
.card-body {
	padding: 0.75rem !important;
}
.custom_body .ui-multiselect {
	top: 3px !important;
	margin-right: 8px !important;
	padding: 1px !important;
	background: #fff !important;
	border: 1px solid #ced4da !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
	text-align: left !important;
}
.custom_body .ui-dropdown {
	margin-left: 8px !important;
	border: 1px solid #ced4da !important;
}
.custom_body .ui-dropdown .ui-dropdown-label {
	padding: 4px !important;
	text-align: left !important;
	border: none !important;
}
.action-btn {
	padding: 0px 5px !important;
}
.form-control-file {
	padding: 3px !important;
}

@media screen and (max-width: 64em) {
	.custom_body .dispatch_report_table .ui-table-caption {
		padding: 12px !important;
	}
	.custom_body .dispatch_report_table .ui-table-tbody > tr > td {
		padding: 0.3em 0.5em !important;
	}
	.expand-btn,
	.expanded_row {
		display: none !important;
	}
	.dispatch_report_table {
		.ui-table-tbody > tr > td {
			&:first-child {
				text-align: left;
			}
		}
	}
	.form-inline {
		display: block !important;
	}
	.custom_body .ui-dropdown {
		width: 100% !important;
		margin-top: 4px !important;
		margin-left: 0px !important;
	}
	.custom_body .ui-multiselect {
		width: 100% !important;
	}
	.export-text {
		display: inline-block !important;
	}
}
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.switch-label .switch-input:checked~.switch-slider::before {
    -webkit-transform: translateX(22px);
    transform: translateX(41px);
}

.switch-label {
    width: 70px;
}

.occasion-msg {
    height: 34px !important;
}

.occasion-msg p {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

.holiday-icon {
    height: 28px !important;
    width: 28px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .progress-group-header {
        display: block;
        flex-basis: 100%;
        align-items: flex-end;
        margin-bottom: 0.25rem;
    }

    .ngx-pagination {
        margin-left: 0;
        width: max-content;
        margin-bottom: 1rem;
    }

    #first {
        margin-left: 0;
        width: max-content;
        margin-bottom: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .progress-group-header {
        display: block;
        flex-basis: 100%;
        align-items: flex-end;
        margin-bottom: 0.25rem;
    }

    .ngx-pagination {
        margin-left: 0;
        width: max-content;
        margin-bottom: 1rem;
    }

    #first {
        margin-left: 0;
        width: max-content;
        margin-bottom: 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .progress-group-header {
        display: flex;
        flex-basis: 100%;
        align-items: flex-end;
        margin-bottom: 0.25rem;
    }

    .ngx-pagination {
        margin-left: 0;
        width: max-content;
        margin-bottom: 1rem;
    }

    #first {
        margin-left: 0;
        width: max-content;
        margin-bottom: 1rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .progress-group-header {
        display: flex;
        flex-basis: 100%;
        align-items: flex-end;
        margin-bottom: 0.25rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .progress-group-header {
        display: flex;
        flex-basis: 100%;
        align-items: flex-end;
        margin-bottom: 0.25rem;
    }
}