<div class="card">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6" style="margin-top: 15px;margin-left: 10px;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="text" class="form-control " bsDaterangepicker [(ngModel)]="bsRangeValue3"
                            placeholder="">
                    </div>
                </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-3">
                <div class="callout callout-danger" style=" margin-left: 20px;">
                    <small class="text-muted">Non Pending Quantity</small><br>
                    <strong class="h3">{{totalQuantity? totalQuantity : 0 |number :'1.2-2'}}</strong>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="callout callout-danger">
                    <small class="text-muted">LC TO BE ISSUED Quantity</small><br>
                    <strong class="h3">{{totalQuantityLC? totalQuantityLC : 0 |number :'1.2-2'}}</strong>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="callout callout-danger">
                    <small class="text-muted">USD Amount</small><br>
                    <strong class="h3">{{totalAmount ? totalAmount : 0 | number :'1.2-2'}}</strong>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="callout callout-danger">
                    <small class="text-muted">INR Amount</small><br>
                    <strong class="h3">{{totalInrAmount ? totalInrAmount : 0 | number : '1.2-2'}}</strong>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 15px;">
                <div class="card-header"><b>NON Pending List</b></div>
                <div class="card-body">
                    <div class="col-md-12 col-sm-12 p-0 pr-1">
                        <p-table #dt [value]="lc_data" dataKey="id" styleClass="ui-table-pilist class1"
                            [rowHover]="true" [rows]="50" [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[10,25,50,100]" [paginator]="false" [filterDelay]="0"
                            [scrollable]="true" scrollHeight="400px">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pSortableColumn="{{col.field}}" *ngFor="let col of pi_list">
                                        {{col.header}}
                                        <p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                                <tr class="ui-selectable-row">
                                    <td *ngFor="let col of pi_list" [style.width]='col.style'
                                        [ngClass]="(rowData.is_open == 0) ? 'font-weight-bold' : ''">
                                        <span class="ui-column-title">{{ col.header }}: </span>
                                        <div *ngIf="col.type == null">
                                            {{ rowData[col.field] }}
                                        </div>
                                        <div *ngIf="col.type == 'Quantity'">
                                            {{ rowData[col.field] }}
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td *ngFor="let col of pi_list">
                                        <strong *ngIf="col.type == 'Quantity'">
                                            Total: {{ col.total | number :'1.2-2' }} MT
                                        </strong>
                                    </td>
                                </tr>
                            </ng-template>

                        </p-table>
                    </div>
                </div>
                <div class="card-header"><b>Due Date Detail</b></div>
                <div class="card-body">
                    <div class="col-md-12 col-sm-12 p-0 pr-1">
                        <p-table #dt [value]="payment_list" dataKey="id" styleClass="ui-table-pilist class1"
                            [rowHover]="true" [rows]="50" [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[10,25,50,100]" [paginator]="false" [filterDelay]="0"
                            [scrollable]="true" scrollHeight="400px">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pSortableColumn="{{cols.field}}" *ngFor="let cols of due_date_cols">
                                        {{cols.header}}
                                        <p-sortIcon *ngIf="cols.sort" field="{{cols.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                                <tr class="ui-selectable-row">
                                    <td *ngFor="let cols of due_date_cols" [style.width]='cols.style'
                                        [ngClass]="(rowData.is_open == 0) ? 'font-weight-bold' : ''">
                                        <span class="ui-column-title">{{ cols.header }}: </span>
                                        <div *ngIf="cols.type == null">
                                            {{ rowData[cols.field] }}
                                        </div>
                                        <div *ngIf="cols.type == 'Date'">
                                            {{ rowData[cols.field] |date:'dd/MM/y'}}
                                        </div>
                                        <div *ngIf="cols.type == 'Amount'">
                                            {{ rowData[cols.field]}}
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td *ngFor="let col of due_date_cols">
                                        <strong *ngIf="col.type == 'Amount'">
                                            Total: {{col.total }}
                                        </strong>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="card-header"><b>LC To Be Issued</b></div>
                <div class="card-body">
                    <div class="col-md-12 col-sm-12 p-0 pr-1">
                        <p-table #dt [value]="data" dataKey="id" styleClass="ui-table-pilist class1" [rowHover]="true"
                            [rows]="50" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]"
                            [paginator]="false" [filterDelay]="0" [scrollable]="true" scrollHeight="400px">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pSortableColumn="{{col.field}}" *ngFor="let col of lc_issued">
                                        {{col.header}}
                                        <p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                                <tr class="ui-selectable-row">
                                    <td *ngFor="let col of lc_issued" [style.width]='col.style'
                                        [ngClass]="(rowData.is_open == 0) ? 'font-weight-bold' : ''">
                                        <span class="ui-column-title">{{ col.header }}: </span>
                                        <div *ngIf="col.type == null">
                                            {{ rowData[col.field] }}
                                        </div>
                                        <div *ngIf="col.type == 'Quantity'">
                                            {{ rowData[col.field] }}
                                        </div>
                                        <div *ngIf="col.type == 'Amount'">
                                            {{ rowData[col.field]}}
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td *ngFor="let col of lc_issued">
                                        <strong *ngIf="col.type == 'Amount'">
                                            Total: {{col.total }}
                                        </strong>
                                        <strong *ngIf="col.type == 'Quantity'">
                                            Total: {{ col.total | number :'1.2-2' }} MT
                                        </strong>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="card-header"><b>Original Pending</b></div>
                <div class="card-body">
                    <div class="col-md-12 col-sm-12 p-0 pr-1">
                        <p-table #dt [value]="original_pending_list" dataKey="id" styleClass="ui-table-pilist class1" [rowHover]="true"
                            [rows]="50" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]"
                            [paginator]="false" [filterDelay]="0" [scrollable]="true" scrollHeight="400px">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pSortableColumn="{{col.field}}" *ngFor="let col of original_pending">
                                        {{col.header}}
                                        <p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                                <tr class="ui-selectable-row">
                                    <td *ngFor="let col of original_pending" [style.width]='col.style'
                                        [ngClass]="(rowData.is_open == 0) ? 'font-weight-bold' : ''">
                                        <span class="ui-column-title">{{ col.header }}: </span>
                                        <div *ngIf="col.field == 'sub_org_master'">
                                            {{ rowData[col.field].sub_org_name }}
                                        </div>
                                        <div *ngIf="col.field == 'spipl_bank'">
                                            {{ rowData[col.field].bank_name }}
                                        </div>
                                        <div *ngIf="col.type == null">
                                            {{ rowData[col.field] }}
                                        </div>
                                      
                                        <div *ngIf="col.type == 'Date'">
                                            {{ rowData[col.field] |date:'dd/MM/y'}}
                                        </div>
                                        
                                    </td>
                                </tr>
                            </ng-template>
                         
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>