<div class="animated fadeIn custom_body">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            <i class="fa fa-list"></i> {{page_title}}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class=" row">
                        <div class="col-md-12">
                            <p-table #dt dataKey="id" styleClass="ift_payment_table" [value]="data" [rows]="10"
                                [showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
                                [loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
                                [globalFilterFields]="filter"
                                currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-inline">
                                                <div class="form-group mb-1 mr-1">
                                                    <input pInputText [(ngModel)]="selected_date_range"
                                                        (ngModelChange)="getCols()" [bsConfig]="datePickerConfig"
                                                        #dp="bsDaterangepicker" [maxDate]="maxDate" bsDaterangepicker
                                                        placeholder="Choose Date Range" class="form-control page-filter"
                                                        readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="card-header-actions" style="height: 21px;">
                                                <label class="switch  switch-label switch-info">
                                                    <input type="checkbox" class="switch-input" (click)="switch()">
                                                    <span class="switch-slider"
                                                        style="background-color: #6bab71; font-size: 9px; height: 25px; width: 65px;font-family: auto;">Whatsapp/Email</span>
                                                </label>
                                            </div>
                                        </div> -->
                                        <div class="col-md-3">
                                            <p-toggleButton onLabel="Email" offLabel="Whatsapp" onIcon="fa fa-envelope"
                                                offIcon="fa fa-whatsapp" iconPos="left" (click)="switch()">
                                            </p-toggleButton>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="w-100 mt-1 pull-right">
                                                <input pInputText type="text" class="form-control"
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Global Search" />
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
                                            {{col.header}}
                                            <p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            <p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
                                                defaultLabel="All"
                                                (onChange)="customFilter($event.value, col.field, 'in')">
                                            </p-multiSelect>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData>
                                    <tr class="ui-selectable-row"
                                        [ngClass]="{'font-weight-bold': rowData.is_payment_pending}">
                                        <td *ngFor="let col of cols">
                                            <div *ngIf="col.field != 'action'">
                                                <span class="ui-column-title">{{ col.header }}: </span>
                                                <div *ngIf="col.type == null">
                                                    {{ rowData[col.field] }}
                                                </div>
                                                <div *ngIf="col.type == 'Quantity'">
                                                    {{ rowData[col.field] }} {{ rowData.unit_type }}
                                                </div>
                                                <div *ngIf="col.type == 'Amount'">
                                                    {{ rowData[col.field] | currency:'INR' }}
                                                </div>
                                                <div *ngIf="col.type == 'Date'">
                                                    {{ rowData[col.field] | date:'dd-MMM-yyyy' }}
                                                </div>
                                                <div *ngIf="col.type == 'Date_Time'">
                                                    {{ rowData[col.field] | date:'dd-MMM-yyyy hh:mm a' }}
                                                </div>
                                            </div>
                                            <div *ngIf="col.field == 'action'">
                                                <a class="btn btn-outline-dark btn-sm action-btn mb-2 mr-1"
                                                    data-toggle="tooltip" data-placement="top" title="View Order"
                                                    (click)="onAction(rowData, 'View')">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a *ngIf="add_opt && rowData.invoice_status == null"
                                                    class="btn btn-primary btn-sm action-btn mb-2 mr-1"
                                                    data-toggle="tooltip" data-placement="top" title="Add Invoice"
                                                    (click)="onAction(rowData, 'Add')">
                                                    <i class="fa fa-plus text-white"></i>
                                                </a>
                                                <a *ngIf="rowData.invoice_no != null && rowData.d_status == 3"
                                                    class="btn btn-outline-info btn-sm action-btn mb-2 mr-1"
                                                    data-toggle="tooltip" data-placement="top" title="Edit Invoice"
                                                    (click)="onAction(rowData, 'Edit')">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a *ngIf="rowData.invoice_no != null && rowData.d_status == 3"
                                                    class="btn btn-outline-danger btn-sm action-btn mb-2 mr-1"
                                                    data-toggle="tooltip" data-placement="top" title="Delete Invoice"
                                                    mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                                    [popoverMessage]="popoverMessage1" [confirmText]="confirmText"
                                                    [cancelText]="cancelText" [placement]="placement"
                                                    closeOnOutsideClick="true" confirmButtonType="success"
                                                    cancelButtonType="danger" (confirm)="onAction(rowData, 'Delete')"
                                                    (cancel)="cancelClicked = true">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                                <a *ngIf="rowData.invoice_copy != null"
                                                    class="btn btn-outline-success btn-sm action-btn mb-2 mr-1"
                                                    data-toggle="tooltip" data-placement="top" title="Download Invoice"
                                                    (click)="onAction(rowData.invoice_copy, 'Download_Invoice')">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                                <a *ngIf="rowData.d_status == 3 && proceed_for_payment"
                                                    class="btn btn-outline-success btn-sm action-btn mb-2 mr-1"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Proceed for Payment" mwlConfirmationPopover
                                                    [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage3"
                                                    [confirmText]="confirmText" [cancelText]="cancelText"
                                                    [placement]="placement" closeOnOutsideClick="true"
                                                    confirmButtonType="success" cancelButtonType="danger"
                                                    (confirm)="onAction(rowData, 'Payment')"
                                                    (cancel)="cancelClicked = true">
                                                    <i class="fa fa-inr"></i>
                                                </a>
                                                <a *ngIf="customer_email_billing && rowData.invoice_no && rowData.invoice_copy"
                                                    [ngStyle]="{'background-color':rowData.send_mail_to_customer ==1 ? 'green' : 'red','color':rowData.send_mail_to_customer ==1 ? '#fff' : 'black'}"
                                                    class="btn btn-outline-dark btn-sm action-btn mb-2 mr-1"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Send Invoice Mail to Party"
                                                    (click)="onAction(rowData, 'Customer_Email')">
                                                    <i class="fa fa-envelope"></i> C
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer" let-columns>
                                    <tr>
                                        <td *ngFor="let col of columns">
                                            <strong *ngIf="col.type == 'Quantity'">
                                                Total: {{ col.total | number }} MT
                                            </strong>
                                            <strong *ngIf="col.type == 'Amount'">
                                                Total: {{ col.total | currency:'INR' }}
                                            </strong>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="cols.length" class="text-center">
                                            No Data Found
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>