
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                     <h2> Surisha Detail Inventory </h2>
                    <!-- <button class="btn btn-primary pull-right" (click)="refresh()">
                        <i class="fa fa-refresh fa-spin"></i> Refresh
                    </button> -->
                </div>
                <div class="card-body overflow-auto">
                    <div class="row" *ngIf="isLoading">
                        <div class="col-md-12">
                            <div style="text-align: center;">
                                <app-loading-spinner></app-loading-spinner>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3" *ngIf="!isLoading">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="dateRange" class="font-weight-bold">Date: </label>
                                    <div class="input-group mx-sm-3">
                                        <input type="text" class="form-control"
                                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                            #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue" readonly>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
									<label for="dateRange" class="font-weight-bold">Status: </label>
									<div class="form-group mx-sm-3">
										<ng-select placeholder="Select Status" [(ngModel)]="selectedStatus"
											bindLabel="name" bindValue="id" [items]="statusList"
											style="width: 180px !important;">
										</ng-select>
									</div>
								</div> -->
                                <button type="button" class="btn btn-primary" (click)="getFilteredData()">Get
                                    Data</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-primary" (click)="approvedStock()">Verify Inventory</button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!isLoading">
                        <p-table #dt [value]="data" dataKey="id" styleClass="ui-table-cons" [rowHover]="true"
                            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                            [loading]="isLoading" [paginator]="true" [columns]="cols" (onFilter)="onFilter($event, dt)"
                            (onLazyLoad)="onFilter($event, dt)"
                            currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries"
                            [filterDelay]="0"
                            [globalFilterFields]="['godown_name','port_name','grade_name']">

                            <ng-template pTemplate="caption">
                                <div class="ui-table-globalfilter-container">
                                    <input pInputText type="text" class="form-control"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Global Search" />
                                </div>
                                <div class="ui-helper-clearfix" style="text-align: left">
                                    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                                        (click)="exportExcel()" style="margin-right: 0.5em;"
                                        class="ui-button-success mb-2"></button>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pSortableColumn="{{col.field}}" *ngFor="let col of columns"
                                        style="width: 180px;"> {{col.header}} <p-sortIcon field="{{col.field}}">
                                        </p-sortIcon>
                                    </th>
                                </tr>

                                <tr>
                                    <th *ngIf=" getColumnPresent('godown_name')">
                                    <div *ngIf="godown_arr.length > 0 ">
                                        <p-multiSelect [options]="godown_arr" placeholder="All"
                                            (onChange)="onchange($event,'godown_name')" styleClass="ui-column-filter"
                                            optionLabel='godown_name'>
                                            <ng-template let-op pTemplate="item">
    
                                                <span>&#123;&#123;op.label&#125;&#125;</span>
    
                                            </ng-template>
                                        </p-multiSelect>
                                    </div>
                                </th>

                                <th *ngIf=" getColumnPresent('main_grade')">
                                    <div *ngIf="main_grade_arr.length > 0 ">
                                        <p-multiSelect [options]="main_grade_arr" placeholder="All"
                                            (onChange)="onchange($event,'main_grade')" styleClass="ui-column-filter"
                                            optionLabel='main_grade'>
                                            <ng-template let-op pTemplate="item">
    
                                                <span>&#123;&#123;op.label&#125;&#125;</span>
    
                                            </ng-template>
                                        </p-multiSelect>
                                    </div>
                                </th>


                                <th *ngIf=" getColumnPresent('grade_name')">
                                    <div *ngIf="grade_arr.length > 0 ">
                                        <p-multiSelect [options]="grade_arr" placeholder="All"
                                            (onChange)="onchange($event,'grade_name')" styleClass="ui-column-filter"
                                            optionLabel='grade_name'>
                                            <ng-template let-op pTemplate="item">
    
                                                <span>&#123;&#123;op.label&#125;&#125;</span>
    
                                            </ng-template>
                                        </p-multiSelect>
                                    </div>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </ng-template>



                            <ng-template pTemplate="body" let-item let-columns>
                                <tr class="ui-selectable-row">


                                    <td>
                                        <span class="ui-column-title">Godown Name</span>
                                        <i class="fa fa-check-circle" aria-hidden="true" *ngIf="item.approved_flag==1"></i>  {{item.godown_name}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Main Name</span>
                                        {{item.main_grade}}

                                    </td>
                                    <td>
                                        <span class="ui-column-title">Grade Name</span>
                                        {{item.grade_name}}

                                    </td>
                                    <td>
                                        <span class="ui-column-title">Open Stock</span>
                                        {{item.open_stock.toFixed(3)}}
                                    </td>


                                    <td>
                                        <span class="ui-column-title">Inward Stock</span>
                                        {{item.inward_stock.toFixed(3)}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Outward Stock</span>
                                        {{item.outward_stock.toFixed(3)}}
                                    </td>

                                    <td>
                                        <span class="ui-column-title">Closing Stock</span>
                                        {{ (item.close_stock.toFixed(3))}}
                                    </td>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{tot_open  | number : '1.0-3'}}</td>
                                    <td>{{tot_inward  | number : '1.0-3'}}</td>
                                    <td>{{tot_outward  | number : '1.0-3'}}</td>
                                    <td>{{tot_close  | number : '1.0-3'}}</td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="1" class="text-center">No Data found.</td>
                                </tr>
                            </ng-template>

                        </p-table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



<div bsModal #approveModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Verify Inventory</h4>
				<button type="button" class="close" (click)=" oncloseModalSearch()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form [formGroup]="approveForm" novalidate (ngSubmit)="approveInvnetory()" autocomplete="off">

							<div class="row">

								

								<div class="form-group col-md-3">
									<label for="dateRange" class="font-weight-bold">Approved Date: </label>
                                    <div class="input-group mx-sm-3">
                                        <!-- <input type="text" class="form-control" formControlName="approved_date"
                                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                            #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue" readonly> -->

                                            <input type="text" class="form-control" formControlName="approved_date"
                                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                                            bsDatepicker placeholder="Approve Date " style="background-color: white;" (ngModelChange)="onChangeDate($event)">
                                    </div>
								</div>

                                <div class="form-group col-md-3">
									
                                    <label class="col-form-label" for="status">Status</label>
                                    <ng-select
                                    formControlName="status"
                                    placeholder="Select Status"
                                    [searchable]="true"
                                    [clearable]="true"
                                    bindLabel="name"
                                    bindValue="id"
                                    [items]="status_item"
    
                                    >
                                    </ng-select>
								</div>

								<div class="form-group col-md-6">
									<label for=""><b>Remark </b></label>
									<textarea type="text" formControlName="approve_remark" class="form-control"
										placeholder="Remark"></textarea>
								</div>


							</div>

							<div class="row">
								<div class="col-md-1 col-4 mt-3">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>



						</form>

					</div>
				</div>


			</div>



			<div class="modal-footer">

			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- <div bsModal #inventoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inventory Details: <strong>{{inventoryDate}}</strong></h4>
                <button type="button" class="close" (click)="inventoryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Godown</th>
                                    <th>Grade</th>
                                    <th>Inward</th>
                                    <th>Outward</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of inventoryDetails; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td>{{item.godown_name}}</td>
                                    <td>{{item.grade_name}}</td>
                                    <td>{{item.inward}} {{item.unit_type}}</td>
                                    <td>{{item.outward}} {{item.unit_type}}</td>
                                    <td>{{item.type}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="inventoryModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div> -->


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>