<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><em class="fa fa-truck"></em> License Invoice List
                        <span class="pull-right"><button *ngIf="lic_inv_add" class="btn btn-primary"
                                (click)="onAdd()"><em class="fa fa-plus"></em></button></span>
                    </h4>
                </div>
                <div class="card-body">
                   

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="dateRange" class="font-weight-bold">Invoice Date: </label>
                                    <div class="input-group mx-sm-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><em class="fa fa-calendar"></em></span>
                                        </div>
                                        <input type="text" id="dateRange" class="form-control" 
                                            bsDaterangepicker [(ngModel)]="bsRangeValue" placeholder="Date Range"
                                            (ngModelChange)="getInvoice()">
                                        <div class="input-group-prepend " style="cursor: pointer;"
                                            (click)="clearDate()">
                                            <span class="input-group-text"><em class="fa fa-times-circle"></em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-md-12">
                            <p-table #dt [value]="invoice_list" dataKey="id" styleClass="ui-table-inv-list"
                                [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                                [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading" [paginator]="false"
                                [columns]="cols" (onFilter)="onFilter($event, dt)" (onLazyLoad)="onFilter($event, dt)"
                                currentPageReportTemplate="Total Records : {{invoice_list.length}}"
                                [scrollable]="true" scrollHeight="400px" [virtualScroll]="true" [virtualRowHeight]="500"
                                [filterDelay]="0"
                                [globalFilterFields]="['id','lic_invoice_no','invc_amt','vendor_name', 'invoice_date', 'invoice_file','lic_rate', 'port_name']">
                                <ng-template pTemplate="caption">
                                    <div class="ui-table-globalfilter-container">
                                        <input pInputText type="text" class="form-control"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Global Search" />
                                    </div>
                                    <div class="ui-helper-clearfix" style="text-align: left">
                                        <div class="row">
                                            <div class="col-4">
                                                <button *ngIf="lic_inv_csv" type="button" pButton
                                                    icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                                                    (click)="exportExcel()" style="margin-right: 0.5em;"
                                                    class="ui-button-success"></button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>


                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th id="" pSortableColumn="{{col.field}}" *ngFor="let col of columns"
                                            [style.width.px]='col.style'> {{col.header}} <p-sortIcon
                                                field="{{col.field}}"></p-sortIcon>
                                        </th>
                                    </tr>
                                   
                                    <tr>
                                        <th></th>
                                        <th>
                                            <p-multiSelect [options]="port_filter" defaultLabel="All" appendTo="body"
                                                class="pt-filter-dropdown"
                                                (onChange)="dt.filter($event.value, 'port_name', 'in')"></p-multiSelect>
                                        </th>
                                        <th>
                                            <input pInputText type="text"
                                                (input)="dt.filter($event.target.value, 'lic_invoice_no', 'startsWith')"
                                                placeholder="Search by Invoice Number"
                                                class="ui-column-filter form-control">
                                        </th>
                                        <th></th>
                                        <th></th>
                                       
                                        <th>
                                            <p-multiSelect [options]="vendor_filter" defaultLabel="All" appendTo="body"
                                                class="pt-filter-dropdown"
                                                (onChange)="dt.filter($event.value, 'vendor_name', 'in')">
                                            </p-multiSelect>
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" [(ngModel)]="invoice_date"
                                                (ngModelChange)="onDateSelect($event,'invoice_date')"
                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                                #dp="bsDatepicker" bsDatepicker placeholder="Search by Date">
                                        </th>
                                        <th colspan="2"></th>
                                        <th colspan="2"></th>
                                    </tr>

                                </ng-template>
                                <ng-template pTemplate="body" let-item let-columns>
                                    <tr class="ui-selectable-row">
                                        <td style="width:100px">{{item.id}}</td>
                                        <td style="width:200px">{{item.port_name}}</td>
                                        <td style="width:200px">{{item.lic_invoice_no}}</td>
                                        <td style="width:200px">{{item.invc_amt | currencyInr}}</td>
                                        <td style="width:200px">{{item.lic_rate | currencyInr}}</td>
                                        
                                        <td style="width:200px">{{item.vendor_name}}</td>
                                        <td style="width:200px">{{item.invoice_date | date : 'dd/MM/yyyy'}}</td>
                                        <td style="width:200px">
                                            <span *ngIf="item.invoice_file != null">
                                                <a [href]="file" *ngFor="let file of item.invoice_file"
                                                target="_blank">
                                                <button class="btn btn-primary btn-sm mr-1"><em
                                                        class="fa fa-eye"></em></button>
                                            </a>
                                            </span>
                                            
                                        </td>
                                        <td style="width:200px">{{item.addedBy.first_name}} {{item.addedBy.last_name}}
                                            <div>{{item.added_date | date: 'dd/MM/yyyy hh:mm:ss'}}</div>
                                         </td>
                                        <td style="width:180px"><button *ngIf="lic_inv_edit" class="btn btn-primary btn-sm"
                                                (click)="onEdit(item)"><em class="fa fa-pencil"></em></button>

                                            <a *ngIf="lic_inv_delete" style="cursor: pointer;" mwlConfirmationPopover
                                                [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                                                [confirmText]="confirmText" [cancelText]="cancelText"
                                                [placement]="placement" [closeOnOutsideClick]="closeOnOutsideClick"
                                                confirmButtonType="danger" cancelButtonType="success"
                                                (confirm)="onDelete(item.id)" (cancel)="cancelClicked = true">
                                                <button class="btn btn-primary btn-sm"><em
                                                        class="fa fa-trash"></em></button></a>

                                        </td>
                                    </tr>
                                </ng-template>


                                <!-- <ng-template pTemplate="footer" let-columns>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>Total :{{}}</td>
                                        <td colspan="9"></td>
                                    </tr>
                                </ng-template> -->
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="13" style="text-align:left">No Data found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div bsModal #addInvoiceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <span> {{mode === 'add' ? 'Add Invoice' : 'Update Invoice'}} </span></h4>
                <button type="button" class="close" (click)="addInvoiceModal.hide();invoiceForm.reset()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="invoiceForm" (ngSubmit)="addInvoice()" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label" for="lic_invoice_no">
                                    <strong>Invoice Number</strong>
                                </label>
                                <input class="form-control" id="lic_invoice_no" formControlName="lic_invoice_no"
                                    type="text"
                                    [ngClass]="{ 'is-invalid':f.lic_invoice_no.errors && f.lic_invoice_no.touched }">
                                <div *ngIf="f.lic_invoice_no.errors && f.lic_invoice_no.touched"
                                    class="invalid-feedback">
                                    <div *ngIf="f.lic_invoice_no.errors.required">Invoice Number is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice_date" class="col-form-label"><strong>Invoice Date</strong></label>
                                <em class="fa fa-calendar"></em>
                                <input type="text" id="invoice_date" formControlName="invoice_date" class="form-control"
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                    #dp="bsDatepicker" bsDatepicker placement="right"
                                    [ngClass]="{ 'is-invalid':f.invoice_date.errors && f.invoice_date.touched }">
                                <div *ngIf="f.invoice_date.errors && f.invoice_date.touched" class="invalid-feedback">
                                    <div *ngIf="f.invoice_date.errors.required">Invoice Date is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label" for="lic_port_id"><Strong>Port </Strong></label>
                                <ng-select id="lic_port_id" formControlName="lic_port_id" placeholder="Select Port"
                                    [searchable]="true" [clearable]="false" bindLabel="port_name" bindValue="id"
                                    [items]="portList"
                                    [ngClass]="{ 'is-invalid':f.lic_port_id.errors && f.lic_port_id.touched }">
                                </ng-select>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label" for="lic_vendor_id"><Strong>Vendor</Strong></label>
                                <ng-select id="lic_vendor_id" formControlName="lic_vendor_id"
                                    placeholder="Select Vendor" [searchable]="true" [clearable]="false"
                                    bindLabel="sub_org_name" bindValue="sub_org_id" [items]="vendorList"
                                    [ngClass]="{ 'is-invalid':f.lic_vendor_id.errors && f.lic_vendor_id.touched }">
                                </ng-select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label" for="lic_rate"><strong>License Rate</strong></label>
                                <input class="form-control" id="lic_rate" formControlName="lic_rate" numbersOnly
                                    type="text" [ngClass]="{ 'is-invalid':f.lic_rate.errors && f.lic_rate.touched }">
                                <div *ngIf="f.lic_rate.errors && f.lic_rate.touched" class="invalid-feedback">
                                    <div *ngIf="f.lic_rate.errors.required">Rate is required</div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label" for="invc_amt"><strong>Invoice Amount</strong></label>
                                <em class="fa fa-inr"></em>
                                <input class="form-control" id="invc_amt" formControlName="invc_amt" numbersOnly
                                    type="text" [ngClass]="{ 'is-invalid':f.invc_amt.errors && f.invc_amt.touched }">
                                <div *ngIf="f.invc_amt.errors && f.invc_amt.touched" class="invalid-feedback">
                                    <div *ngIf="f.invc_amt.errors.required">Amount is required</div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice_file" class="col-form-label"><strong>Invoice File</strong></label>
                                <input type="file" class="form-control custom-file-input" id="invoice_file"
                                    name="invoice_file" formControlName="invoice_file" multiple
                                    (change)="ewayBillFileUploadEvent($event)"
                                    [ngClass]="{ 'is-invalid':f.invoice_file.errors && f.invoice_file.touched }">
                                <div *ngIf="f.invoice_file.errors && f.invoice_file.touched" class="invalid-feedback">
                                    <div *ngIf="f.invoice_file.errors.required">File is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-primary mr-1" type="submit" [disabled]="invoiceForm.invalid">
                                <em class="fa fa-dot-circle-o"></em>{{mode == 'add' ? 'Submit' : 'Update'}}</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    (click)="addInvoiceModal.hide();invoiceForm.reset()">Close</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>