<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="col-md-12">
          <h4><i class="fa fa-inr"></i> {{initialPara.header_msg}}
            <small>| {{initialPara.org_or_emp_name}} </small>
          </h4>
          <table>
            <tr>
              <td><b>Deal Deatils</b></td>
              <td class="spacing"><b>RTGS Details</b></td>
              <td class="spacing"><b>LC Details</b></td>
            </tr>
            <tr>
              <td *ngIf="initialPara.rate">Rate : {{initialPara.rate | currencyInr}} </td>
              <td *ngIf="requestAmt && this.initialPara.req_flag == 1" class="spacing">Requested Amount : {{requestAmt |
                currencyInr}}
              </td>
              <td *ngIf="this.initialPara.ILc_amount && this.initialPara.req_flag == 1" class="spacing">ILC Amount :
                {{initialPara.ILc_amount | currencyInr}}</td>
            </tr>
            <tr>
              <td *ngIf="initialPara.quantity">Quantity : {{initialPara.quantity }}</td>
              <td *ngIf="this.initialPara.Ilc_rtgs_amount && this.initialPara.req_flag == 1" class="spacing">ILC RTGS
                Amount :{{initialPara.Ilc_rtgs_amount | currencyInr}}</td>
              <td *ngIf="this.initialPara.local_debit_amount && this.initialPara.req_flag == 1" class="spacing">Debit
                Amount :{{initialPara.local_debit_amount | currencyInr}}</td>
              <td *ngIf="totalPaidAmount" class="spacing">Paid amount through Payment : {{totalPaidAmount |
                currencyInr}}</td>
            </tr>
            <tr>
              <td *ngIf="total_amount && this.initialPara.req_flag == 1">Total Amount : {{total_amount | currencyInr}}
              </td>

              <td *ngIf="initialPara.total_amount && this.initialPara.req_flag != 1" class="spacing">Total Amount :
                {{initialPara.total_amount | currencyInr}} </td>
            </tr>
            <tr>
              <td *ngIf="balanceAmount != undefined">Deal Balance Amount : {{ initialPara.payment_remaning |
                currencyInr}}</td>
            </tr>
            <tr>
              <td
                *ngIf="this.totalAmt != undefined && (this.initialPara.req_flag == 1 ||  this.initialPara.req_flag == 6) && (this.initialPara.company_id == 1 || this.initialPara.company_id == 2) && this.totalAmt >= 0">
                Division Current Balance : {{ this.totalAmt | currencyInr}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-12">
          <button class="btn btn-outline-primary active pull-right" (click)="onRefresh()"><i class="fa fa-refresh"
              [ngClass]="{'fa-spin': isLoading}"></i></button>

          <button class="btn btn-outline-primary active pull-right mr-1" (click)="onBack()"><i
              class="fa fa-backward"></i> Back</button>

          <button class="btn btn-outline-primary active pull-right mr-1" (click)="onAddRequest()" *ngIf="createAccess">
            <i class="fa fa-plus"></i> Create Request</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 offset-5" *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
          </div>
        </div>
        <div class="row" *ngIf="!isLoading">
          <div class="col-md-12">
            <p-table #dt [value]="payableRequestList" styleClass="ui-table-payable-req-list" [rowHover]="true"
              [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading"
              [paginator]="true" [autoLayout]="true" [resizableColumns]="true"
              currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries"
              [filterDelay]="0" [globalFilterFields]="['']">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="{{col.field}}" *ngFor="let col of cols"> {{col.header}}</th>
                  <th *ngIf="editAccess"> Edit</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-payableRequest let-index="rowIndex">
                <tr class="ui-selectable-row">
                  <td>
                    <span class="ui-column-title">Req.No.</span>
                    {{payableRequest.id}}
                  </td>
                  <td>
                    <span class="ui-column-title">Date</span>
                    {{payableRequest.req_date| date:'dd/MM/yyyy'}}
                  </td>
                  <td>
                    <span class="ui-column-title">Request Amount</span>
                    {{getTotalValue(payableRequest.req_amount)}}
                  </td>
                  <td>
                    <span class="ui-column-title">Paid Amount</span>
                    <div *ngIf="payableRequest.utr_no != null && payableRequest.utr_no != 0">
                      {{payableRequest.paid_amount ? payableRequest.paid_amount : 0 }}
                    </div>
                  </td>
                  <td>
                    <span class="ui-column-title">Invoice No.</span>
                    {{payableRequest.invoice_no? payableRequest.invoice_no : 0 }}
                  </td>
                  <td>
                    <span class="ui-column-title">Advanced/Against Bill</span>
                    {{getRequestText(payableRequest.advanced_agnst_bill)}}
                  </td>
                  <td>
                    <span class="ui-column-title">Advanced/Against Bill</span>
                    {{getPriorityText(payableRequest.normal_priority)}}
                  </td>
                  <td>
                    <span class="ui-column-title">Remark</span>
                    {{payableRequest.remark}}
                  </td>
                  <td>
                    <span class="ui-column-title">UTR NO.</span>
                    {{payableRequest.utr_no}}
                  </td>
                  <td>
                    <span class="ui-column-title">Approve Date</span>
                    {{payableRequest.approved_date | date:'dd/MM/yyyy h:mm:ss a'}}
                  </td>
                  <td>
                    <span class="ui-column-title">Approve By</span>
                    {{payableRequest.approved_by_name}}
                  </td>
                  <td>
                    <span class="ui-column-title">Added Date</span>
                    {{payableRequest.added_date | date:'dd/MM/yyyy h:mm:ss a'}}
                  </td>
                  <td>
                    <span class="ui-column-title">Request By</span>
                    {{payableRequest.added_by_name}}
                  </td>
                  <td>
                    <span class="ui-column-title">Status</span>
                    <span class="btn btn-pill btn-sm btn-warning"
                      *ngIf="payableRequest.request_status === null || payableRequest.request_status === 0">Pending</span>
                    <span class="btn btn-pill btn-sm btn-success"
                      *ngIf="payableRequest.request_status === 1">Approved</span>
                    <span class="btn btn-pill btn-sm btn-danger"
                      *ngIf="payableRequest.request_status === 2">Rejected</span>
                    <span class="btn btn-pill btn-sm btn-secondary"
                      *ngIf="payableRequest.request_status === 3">Cancelled </span>
                  </td>
                  <td *ngIf="editAccess">
                    <span class="ui-column-title"
                      *ngIf="payableRequest.request_status === null || payableRequest.request_status === 0">Edit</span>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                      (click)="onEdit(payableRequest)"
                      *ngIf="payableRequest.request_status === null || payableRequest.request_status === 0"></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="13" style="text-align:left">No Records found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop:'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="requestForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">

        <div class="modal-header">
          <h4 class="modal-title">{{titleMode}} Payment Request</h4>
          <button type="button" class="close" (click)=" oncloseModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 col-6">
              <div class="form-group">
                <label class="col-form-label" for="req_date">Request Date</label>
                <input type="text" class="form-control" id="req_date" formControlName="req_date"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue'}" #dp="bsDatepicker"
                  bsDatepicker readonly placeholder="Enter Date">
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="form-group">
                <label class="col-form-label" for="req_amount">Amount</label>
                <input type="text" class="form-control" id="req_amount" formControlName="req_amount"
                  placeholder="Enter Amount" (keyup)="checkLimit()" numbersOnly>
                <p style="color: red;" *ngIf="limitErrorMessage">Amount Exceeds!</p>
                <p style="color: rgb(28, 223, 44);"
                  *ngIf="totalAmountExceed && this.initialPara.req_flag == 6 && (this.initialPara.company_id == 1 || this.initialPara.company_id == 2) && this.totalAmt >= 0">
                  You are allowed to make a payment
                  of {{totalAmt}}</p>
                <p style="color: rgb(28, 223, 44);"
                  *ngIf="totalAmountExceed && this.initialPara.req_flag == 1 && (this.initialPara.company_id == 1 || this.initialPara.company_id == 2) && this.totalAmt >= 0 && initialPara.payment_remaning >= this.totalAmt">
                  You are allowed to make a payment
                  of {{totalAmt}}</p>
                <p style="color: red;" *ngIf="zerolimitError">Amount Must be Greater than 0</p>
                <p style="color: red;"
                  *ngIf="totalAmountZero && (this.initialPara.req_flag == 1 ||  this.initialPara.req_flag == 6) && (this.initialPara.company_id == 1 || this.initialPara.company_id == 2)">
                  Amount insufficient</p>
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="form-group">
                <label class="col-form-label" for="advanced_agnst_bill">Payment Type</label>

                <ng-select id="advanced_agnst_bill" placeholder="Select  " formControlName="advanced_agnst_bill"
                  [searchable]="true" [clearable]="true" bindLabel="name" bindValue="id" [items]="type_list"
                  data-placement="top">
                  <ng-template ng-option-tmp let-item="item">
                    <div title="{{item.name}}">{{item.name}}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>

            <div class="col-md-6 col-6" *ngIf="bankField">
              <div class="form-group">
                <label class="col-form-label" for="spipl_bank_id">From Bank</label>
                <ng-select id="spipl_bank_id" placeholder="Select From Bank " [searchable]="true" [clearable]="true"
                  (change)="checkBank()" bindLabel="bankName" bindValue="id" [readonly]="disableBank"
                  [items]="spipl_bank" formControlName="spipl_bank_id" data-placement="bottom">
                </ng-select>
                <!-- <p style="color: red;" *ngIf="spiplError" >sending & Receiving bank can't same</p> -->
              </div>
            </div>

            <div class="col-md-6 col-6" *ngIf="bankField">
              <div class="form-group">
                <label class="col-form-label" for="bank_id">To Bank</label>

                <ng-select id="bank_id" placeholder="Select Bank Name" [searchable]="true" [clearable]="true"
                  (change)="checkBank()" bindLabel="bankName" bindValue="bank_id" [items]="bank_list"
                  formControlName="bank_id">
                </ng-select>
              </div>
            </div>




            <div class="col-md-4 col-6">
              <div class="form-group">
                <label class="col-form-label" for="normal_priority">Priority</label>
                <select formControlName="normal_priority" class="form-control">
                  <option value="">Select Type </option>
                  <option value="1">Normal</option>
                  <option value="2">High</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="form-group">
                <label class="col-form-label" for="invoice_no">Invoice No</label>
                <textarea formControlName="invoice_no" class="form-control"
                  placeholder="Comma Separated for example INV123, INV124"></textarea>
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="form-group">
                <label class="col-form-label" for="remark">Remark</label>
                <input formControlName="remark" class="form-control" placeholder="Enter Remark">
              </div>
            </div>
            <div class="col-md-4 col-6" *ngIf="formMode === 2">
              <div class="form-group">
                <input type="checkbox" name="request_status" formControlName="request_status">
                <label class="col-form-label" for="request_status">Cancel Request</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary mr-1" type="submit"
            [disabled]="requestForm.pristine || requestForm.invalid || isLoading">
            <i class="fa fa-dot-circle-o"></i>Submit</button>
        </div>
      </form>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>