<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card">
                <div class="card-header">
                    <h2> Unsold-Summary</h2>
                </div>
                <div class="card-body overflow-auto">
                    <div class="row mb-1">
                        <div class="col-md-1">

                            <label for=""><b>Main Grade</b></label>
                        </div>
                        <div class="col-md-2">
                            <ng-select id="id" placeholder="Select Main Grade" [searchable]="true" [clearable]="true"
                                bindLabel="name" bindValue="id" [items]="main_grade" [multiple]=true
                                [(ngModel)]="main_grade_ids" appendTo="body">
                            </ng-select>
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-dark mr-1" type="button" (click)="onSelectMainGrade()">
                                <i class="fa fa-search"></i> Search</button>
                        </div>
                        <div class="col-md-2">
                            <div class="btn btn-dark" (click)="downloadImage()"><i class="fa fa-download"
                                    aria-hidden="true"> Unsold</i></div>
                        </div>
                        <div class="col-md-2">
                            <div class="btn btn-dark" (click)="downloadImageDet()">
                                <i class="fa fa-download" aria-hidden="true"> Detail Grade Unsold</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-2 offset-5" *ngIf="isLoading_unsold">
    <app-loading-spinner></app-loading-spinner>
</div>


<div class="card">
    <div class="row">
        <div class="col-md-12">

            <mat-tab-group #tabGroup>
                <mat-tab label="All">
                    <div *ngIf='detailView_unsold' #screen id="table" style="overflow: scroll;">
                        <h4>Unsold Summary As on {{todayDate | date: 'EEEE, MMMM d, y'}}</h4>

                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Port</th>
                                    <th scope="col">LC not Issue</th>
                                    <th scope="col">Non Docs Pending</th>
                                    <th scope="col">Material Under Clearance</th>
                                    <th scope="col">Material In Bond</th>
                                    <th scope="col">Stock Trasfer Intransite</th>
                                    <th scope="col">Local Purchase In Transite</th>
                                    <th scope="col">Godown Inventory</th>
                                    <th scope="col">Total Quantity</th>
                                    <th scope="col">Order Pending</th>
                                    <th scope="col">Total Unsold</th>
                                </tr>
                                <tr>
                                    <th scope="col">High Seas / LC To be Given</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"><span *ngIf="data">(High Seas : {{data.total_high_seas_pending |
                                            number : '1.0-3'}}
                                            )</span> </th>
                                    <th scope="col"><span *ngIf="data">PI to be call from supllier: {{data.lc_to_be_given | number :
                                            '1.0-3'}}</span>
                                    </th>

                                </tr>
                            </thead>
                            <tbody *ngIf="data">

                                <tr *ngFor="let item of data.port_wise_details">
                                    <th scope="row"> <span (click)="getDetailUnsold(item.main_godown_id, item.port)"
                                            style="cursor: pointer;">{{
                                            item.port}}</span></th>

                                    <td scope="row">
                                        <span *ngIf="item.lc_not_issue">
                                            {{ item.lc_not_issue | number : '1.0-3'}}
                                        </span>
                                    </td>

                                    <td scope="row">
                                        <span *ngIf="item.non_pending">
                                            {{ item.non_pending | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.reg_arrival">
                                            {{ item.reg_arrival | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.bond_arrival">
                                            {{ item.bond_arrival | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.stock_transfer_intransite">
                                            {{ item.stock_transfer_intransite | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.local_purchase">
                                            {{ item.local_purchase | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.godwon_stock">
                                            {{ item.godwon_stock | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        {{ (item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                        +item.stock_transfer_intransite
                                        +item.local_purchase
                                        +item.godwon_stock ) | number : '1.0-3' }}
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.sales_pending">
                                            {{ item.sales_pending | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        {{ ((item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                        +item.stock_transfer_intransite
                                        +item.local_purchase
                                        +item.godwon_stock ) - (item.sales_pending)) | number : '1.0-3'}}
                                    </td>
                                </tr>







                                <tr>
                                    <th></th>
                                    <th>{{ all_godown_lc_not_issue | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_non_pending | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_reg_arrival | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_bond_arrival | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_stock_transfer_intransite | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_local_purchase | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_godwon_stock | number : '1.0-3'}}</th>
                                    <th>{{
                                        (all_godown_lc_not_issue +
                                        all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite+all_godown_local_purchase+all_godown_godwon_stock)
                                        | number : '1.0-3' }}</th>
                                    <th>{{all_godown_sales_pending | number : '1.0-3' }}</th>
                                    <th>{{ (data.lc_to_be_given +
                                        (all_godown_lc_not_issue +
                                        all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite+all_godown_local_purchase+all_godown_godwon_stock)
                                        - all_godown_sales_pending ) | number : '1.0-3' }}</th>
                                </tr>

                                <tr>
                                    <th colspan='8'></th>
                                    <th>Total Unsold </th>
                                    <th> <span *ngIf="data">{{ (data.lc_to_be_given +
                                            (all_godown_lc_not_issue +
                                            all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite+all_godown_local_purchase+all_godown_godwon_stock)
                                            - all_godown_sales_pending ) | number : '1.0-3' }}</span></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Import Unsold">
                    <div *ngIf='detailView_unsold' #screen id="table" style="overflow: scroll;">
                        <h4>Unsold Summary As on {{todayDate | date: 'EEEE, MMMM d, y'}}</h4>

                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Port</th>
                                    <th scope="col">LC not Issue</th>
                                    <th scope="col">Non Docs Pending</th>
                                    <th scope="col">Material Under Clearance</th>
                                    <th scope="col">Material In Bond</th>
                                    <th scope="col">Stock Trasfer Intransite Import</th>
                                    <th scope="col">Godown Inventory Import</th>
                                    <th scope="col">Total Quantity</th>
                                    <th scope="col">Order Pending Import</th>
                                    <th scope="col">Total Unsold</th>
                                </tr>
                                <tr>
                                    <th scope="col">High Seas / LC To be Given</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"><span *ngIf="data">(High Seas : {{data.total_high_seas_pending |
                                            number : '1.0-3'}}
                                            )</span> </th>
                                    <th scope="col"><span *ngIf="data">PI To be Call from Supplier: {{data.lc_to_be_given | number :
                                            '1.0-3'}}</span>
                                    </th>

                                </tr>
                            </thead>
                            <tbody *ngIf="data">

                                <tr *ngFor="let item of data.port_wise_details">
                                    <th scope="row"> <span (click)="getDetailUnsold(item.main_godown_id, item.port)"
                                            style="cursor: pointer;">{{
                                            item.port}}</span></th>

                                    <td scope="row">
                                        <span *ngIf="item.lc_not_issue">
                                            {{ item.lc_not_issue | number : '1.0-3'}}
                                        </span>
                                    </td>

                                    <td scope="row">
                                        <span *ngIf="item.non_pending">
                                            {{ item.non_pending | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.reg_arrival">
                                            {{ item.reg_arrival | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.bond_arrival">
                                            {{ item.bond_arrival | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.stock_transfer_intransite">
                                            {{ item.stock_transfer_intransite_import | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.godwon_stock">
                                            {{ item.godwon_stock_import | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        {{ (item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                        +item.stock_transfer_intransite_import
                                        +item.godwon_stock_import ) | number : '1.0-3' }}
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.sales_pending">
                                            {{ item.sales_pending_import | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        {{ ((item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                        +item.stock_transfer_intransite_import
                                        +item.godwon_stock_import ) - (item.sales_pending_import)) | number : '1.0-3'}}
                                    </td>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th>{{ all_godown_lc_not_issue | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_non_pending | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_reg_arrival | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_bond_arrival | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_stock_transfer_intransite_import | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_godwon_stock_import | number : '1.0-3'}}</th>
                                    <th>{{
                                        (all_godown_lc_not_issue +
                                        all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite_import+all_godown_godwon_stock_import
                                        )
                                        | number : '1.0-3' }}</th>
                                    <th>{{all_godown_sales_pending_import | number : '1.0-3' }}</th>
                                    <th>{{ (data.lc_to_be_given +
                                        (all_godown_lc_not_issue +
                                        all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite_import+all_godown_godwon_stock_import)
                                        - all_godown_sales_pending_import ) | number : '1.0-3' }}</th>
                                </tr>

                                <tr>
                                    <th colspan='8'></th>
                                    <th>Total Unsold </th>
                                    <th> <span *ngIf="data">{{ (data.lc_to_be_given +
                                            (all_godown_lc_not_issue +
                                            all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite_import+all_godown_godwon_stock_import)
                                            - all_godown_sales_pending_import ) | number : '1.0-3' }}</span></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Local Unsold">
                    <div *ngIf='detailView_unsold' #screen id="table" style="overflow: scroll;">
                        <h4>Unsold Summary As on {{todayDate | date: 'EEEE, MMMM d, y'}}</h4>

                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Port</th>
                                    <th scope="col">Stock Trasfer Intransite Local</th>
                                    <th scope="col">Local Purchase In Transite</th>
                                    <th scope="col">Godown Inventory Local</th>
                                    <th scope="col">Total Quantity</th>
                                    <th scope="col">Order Pending Local</th>
                                    <th scope="col">Total Unsold</th>
                                </tr>

                            </thead>
                            <tbody *ngIf="data">

                                <tr *ngFor="let item of data.port_wise_details">
                                    <th scope="row"> <span (click)="getDetailUnsold(item.main_godown_id, item.port)"
                                            style="cursor: pointer;">{{
                                            item.port}}</span>
                                    </th>

                                    <td scope="row">
                                        <span *ngIf="item.stock_transfer_intransite_local">
                                            {{ item.stock_transfer_intransite_local | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.local_purchase">
                                            {{ item.local_purchase | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.godwon_stock_local">
                                            {{ item.godwon_stock_local | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        {{ (
                                        item.stock_transfer_intransite_local
                                        +item.local_purchase
                                        +item.godwon_stock_local ) | number : '1.0-3' }}
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.sales_pending_local">
                                            {{ item.sales_pending_local | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        {{ (( item.stock_transfer_intransite_local
                                        +item.local_purchase
                                        +item.godwon_stock_local ) - (item.sales_pending_local)) | number : '1.0-3'}}
                                    </td>
                                </tr>







                                <tr>
                                    <th></th>

                                    <th>{{ all_godown_stock_transfer_intransite_local | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_local_purchase | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_godwon_stock_local | number : '1.0-3'}}</th>
                                    <th>{{
                                        (all_godown_stock_transfer_intransite_local+all_godown_local_purchase+all_godown_godwon_stock_local)
                                        | number : '1.0-3' }}</th>
                                    <th>{{all_godown_sales_pending_local | number : '1.0-3' }}</th>
                                    <th>{{ (
                                        (all_godown_stock_transfer_intransite_local+all_godown_local_purchase+all_godown_godwon_stock_local)
                                        - all_godown_sales_pending_local ) | number : '1.0-3' }}</th>
                                </tr>

                                <tr>
                                    <th colspan='5'></th>
                                    <th>Total Unsold </th>
                                    <th> <span *ngIf="data">{{ (
                                            (all_godown_stock_transfer_intransite_local+all_godown_local_purchase+all_godown_godwon_stock_local)
                                            - all_godown_sales_pending_local ) | number : '1.0-3' }}</span></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>




<!-- <div id="download">
    <img #canvas>
    <a #downloadLink></a>
</div>


<div class="col-md-2 offset-5" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>





<h2 *ngIf="detailView">Grade Wise Detail Unsold for {{port_name}}</h2>
<div *ngIf="detailView" class="table-responsive">
    <table #screenDet id="table" class="table table-hover table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Grade</th>
                <th scope="col">Main Grade</th>
                <th scope="col">LC Not Issue</th>
                <th scope="col">Non Docs Pending</th>
                <th scope="col">Material Under Clearance</th>
                <th scope="col">Material In Bond</th>
                <th scope="col">Stock Transfer Intransite</th>
                <th scope="col">Local Purchase In Transite</th>
                <th scope="col">Godown Inventory</th>
                <th scope="col">Total Quantity</th>
                <th scope="col">Order Pending</th>
                <th scope="col">Total Unsold</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Detaildata">
                <th scope="row">
                    <span *ngIf="item[0]">
                        {{ item[0]}}
                    </span>
                </th>
                <th scope="row">
                    <span *ngIf="item[0]">
                        {{item[4]}}
                    </span>
                </th>
                <td scope="row">
                    <span *ngFor="let det of item[1]">
                        <span *ngIf="det.lc_not_issue">
                            {{det.lc_not_issue | number : '1.0-3' }}
                        </span>
                    </span>
                </td>

                <td scope="row">
                    <span *ngFor="let det of item[1]">
                        <span *ngIf="det.nonpending">
                            {{det.nonpending | number : '1.0-3' }}
                        </span>
                    </span>
                </td>
                <td scope="row">
                    <span *ngFor="let det of item[1]">
                        <span *ngIf="det.reg_intransit">
                            {{det.reg_intransit | number : '1.0-3' }}
                        </span>
                    </span>
                </td>
                <td scope="row">
                    <span *ngFor="let det of item[1]">
                        <span *ngIf="det.bond_intransit">
                            {{det.bond_intransit | number : '1.0-3'}}
                        </span>
                    </span>
                </td>
                <td scope="row">
                    <span *ngFor="let det of item[1]">
                        <span *ngIf="det.stock_transfer_intransite">
                            {{det.stock_transfer_intransite | number : '1.0-3'}}
                        </span>
                    </span>
                </td>
                <td scope="row">
                    <span *ngFor="let det of item[1]">
                        <span *ngIf="det.local_intransit">
                            {{det.local_intransit | number : '1.0-3'}}
                        </span>
                    </span>
                </td>
                <td scope="row">
                    <span *ngFor="let det of item[1]">
                        <span (click)="getDetailGrade(det.grade_id,item[0])" style="cursor: pointer;"
                            *ngIf="det.inventory">
                            {{det.inventory | number : '1.0-3'}}
                        </span>
                    </span>
                </td>
                <td scope="row">
                    <span *ngIf="item[2]">
                        {{ item[2] | number : '1.0-3'}}
                    </span>
                </td>
                <td scope="row">
                    <span *ngFor="let det of item[1]">
                        <span *ngIf="det.sales_pending">
                            {{det.sales_pending | number : '1.0-3'}}
                        </span>
                    </span>
                </td>
                <td scope="row">
                    <span *ngIf="item[3]">
                        {{ (item[3] ) | number : '1.0-3'}}
                    </span>
                </td>
                
            </tr>










            <tr>
                <th></th>
                <th></th>
                <th>{{one_godown_all_grade_lc_not_issue | number : '1.0-3'}}</th>
                <th>{{one_godown_all_grade_non_pending | number : '1.0-3'}}</th>
                <th>{{one_godown_all_grade_reg_arrival | number : '1.0-3' }}</th>
                <th>{{one_godown_all_grade_bond_arrival | number : '1.0-3' }}</th>
                <th>{{one_godown_all_grade_stock_transfer_intransite | number : '1.0-3' }}</th>
                <th>{{one_godown_all_grade_local_purchase | number : '1.0-3' }}</th>
                <th>{{one_godown_all_grade_godwon_stock | number : '1.0-3' }}</th>
                <th>{{(one_godown_all_grade_lc_not_issue + one_godown_all_grade_non_pending +
                    one_godown_all_grade_reg_arrival+
                    one_godown_all_grade_bond_arrival+ one_godown_all_grade_stock_transfer_intransite+
                    one_godown_all_grade_local_purchase+ one_godown_all_grade_godwon_stock ) | number : '1.0-3' }}</th>
                <th>{{one_godown_all_grade_sales_pending | number : '1.0-3' }}</th>
                <th>{{ ((one_godown_all_grade_lc_not_issue + one_godown_all_grade_non_pending +
                    one_godown_all_grade_reg_arrival+
                    one_godown_all_grade_bond_arrival+ one_godown_all_grade_stock_transfer_intransite+
                    one_godown_all_grade_local_purchase+ one_godown_all_grade_godwon_stock ) -
                    one_godown_all_grade_sales_pending ) | number : '1.0-3' }}</th>

            </tr>

        </tbody>
    </table>
</div>

<div id="downloadDet">
    <img #canvasDet>
    <a #downloadLinkDet></a>
</div>


<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-color:#232B2B;">


            <div class="modal-header">
                <h4 class="modal-title" style="color:white;">Godown Wise Stock for Grade - {{grade_name_model}}</h4>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close"
                    style="background-color:white;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped table-dark"
                            style="background-color:#191C20; font: size 15px;">
                            <tr>
                                <th><b>Godown Name</b></th>
                                <th><b>Quantity</b></th>
                            </tr>
                            <tr *ngFor="let grd_item of gradeDetails">
                                <td>{{grd_item.godown_name}}</td>
                                <td>{{grd_item.inventory | number : '1.0-3'}}</td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td><b>{{gradeDetails | totalsum : 'inventory' | number : '1.0-3'}}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div bsModal #myHoldModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-color:#232B2B;">


            <div class="modal-header">
                <h4 class="modal-title" style="color:white;">Hold Quantity</h4>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close"
                    style="background-color:white;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group row">
                            <label class="col-md-6 col-form-label" style="color:white"><strong>Hold Qty</strong></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="hold_qty" [(ngModel)]="hold_qty"
                                    placeholder="Enter Hold Qty">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-dark" (click)="submitHold()">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<toaster-container [toasterconfig]="toasterconfig"></toaster-container> -->