<app-header [navbarBrandRouterLink]="['/home/dashboard']" [fixed]="true" [navbarBrandFull]="logo"
	[navbarBrandMinimized]="logo" [sidebarToggler]="'lg'" [sidebarToggler]="'lg'" [asideMenuToggler]="false"
	[mobileAsideMenuToggler]="false" [mobileSidebarToggler]="true">

	<!-- NOTIFICAIONS -->
	<ul class="nav navbar-nav ml-auto">
		<!-- MESSAGES -->
		<li class="nav-item dropdown d-md-down-none" dropdown placement="bottom right"
			style="display: block !important;" aria-valuenow="25">
			<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
				dropdownToggle (click)="false">
				<i class="icon-envelope-letter"></i><span
					class="badge badge-pill badge-danger">{{this.getAllUnreadCount()}}</span>
			</a>
			<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg notification" *dropdownMenu
				aria-labelledby="simple-dropdown">
				<div class="dropdown-header text-center"><strong>You have {{notfications.length}} messages</strong>
				</div>
				<div class="dropdown-item" *ngFor="let message of notfications"
					(click)="updateNotifications(message);openNotifications(message)">
					<div class="message">

						<div>
							<small class="text-truncate"
								[ngClass]="{'font-weight-bold':  message.read == 0}">{{message.heading}}</small>
							<span class="text-muted float-left">
								<ng-container class="badge-success" *ngIf="message.read==0">
									<i class="fa fa-bell"></i>
									<!-- <span class="avatar-status badge-success">	UNREAD</span> -->
								</ng-container>
								<ng-container class="badge-success" *ngIf="message.read !=0">
									<i class="fa fa-check-circle font-weight:100"></i>
								</ng-container>
							</span>
						</div>
						<div class="text-truncate text-muted">
							{{message.message_body}}
						</div>
					</div>
				</div>
				<a href="#" class="dropdown-item text-center">
					<strong>View all messages</strong>
				</a>
			</div>
		</li>

		<!-- PROFILE -->
		<li class="nav-item dropdown" dropdown placement="bottom right">
			<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
				dropdownToggle (click)="false">
				<img [src]="profile_photo" class="img-avatar" alt="profile photo"
					onerror="this.onerror=null;this.src='../../../../assets/img/default_image1.png';" />
			</a>
			<div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
				<div class="dropdown-header text-center"><strong>Account</strong></div>
				<a class="dropdown-item" [routerLink]="routerLinkVariable">
					<i class="fa fa-user"></i> Profile
				</a>
				<a class="dropdown-item" [routerLink]="telephoneExtensions">
					<i class="fa fa-phone"></i> Telephone Extensions
				</a>
				<a class="dropdown-item" [routerLink]="upcomingBirthdays">
					<i class="fa fa-birthday-cake"></i> Upcoming Birthdays
				</a>
				<a class="dropdown-item" [routerLink]="myJobReferences">
					<i class="fa fa-suitcase"></i> My Job References
				</a>
				<!-- <a class="dropdown-item" [routerLink]="calendar">
					<i class="fa fa-calendar"></i> Holiday Calendar
				</a> -->
				<a class="dropdown-item" href="#" (click)="onLogout()">
					<i class="fa fa-lock"></i> Logout
				</a>
			</div>
		</li>
	</ul>
</app-header>

<div class="app-body">

	<!-- LEFT SIDEBAR -->
	<app-sidebar [fixed]="true" [display]="'lg'">
		<app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
		<app-sidebar-minimizer></app-sidebar-minimizer>
	</app-sidebar>

	<!-- MAIN CONTENT -->
	<main class="main">

		<!-- BREADCRUMB -->
		<!-- <nav class="breadcrumb">
			<a class="breadcrumb-item" href="#">Home</a>
			<a class="breadcrumb-item" href="#">Sales</a>
			<a class="breadcrumb-item" href="#">Consignments</a>
			<span class="breadcrumb-item active">Add Consignment</span>
		</nav> -->

		<div class="row">
			<div [ngClass]="{ 'col-md-6': birthdays, 'col-md-12': !birthdays }">
				<cui-breadcrumb></cui-breadcrumb>
			</div>
			<div class="col-md-6 occasion-msg bg-white" *ngIf="birthdays">
				<p class="mb-0 h5">
					<marquee direction="left" scrolldelay="100" behavior="loop">
						<span><i class="text-danger fa fa-birthday-cake"></i></span> &nbsp;
						<span class="text-dark">Happy Birthday </span>
						<span class="text-dark">{{ birthdays }}</span> &nbsp;
						<span><i class="text-danger fa fa-birthday-cake"></i></span>
					</marquee>
				</p>
			</div>
		</div>

		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>

	</main>

	<!-- RIGHT SIDEBAR -->
	<!-- <app-aside [fixed]="true" [display]="false"></app-aside> -->
</div>

<app-footer>
	<span><a href="#">ERP 2.0</a> &copy; {{ currentYear }} SPIPL.</span>
	<span class="ml-auto">Powered by <a href="https://parmarglobal.com">Parmar</a></span>
</app-footer>



<div bsModal #notificationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content" *ngIf="this.selectedNotification">
			<!-- <div class="modal-header glass">
					
				</div> -->
			<div class="modal-body">
				<button type="button" class="close" (click)="notificationModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{this.selectedNotification.heading}}</h4>

				{{this.selectedNotification.message_body}}

			</div>
			<!-- <div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="notificationModal.hide()">Close</button>
				</div> -->
		</div>
	</div>
</div>