<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><em class="fa fa-truck"></em> BE List</h4>
                </div>
                <div class="card-body">

                    <div class="row mb-3" *ngIf="get_be">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="dateRange" class="font-weight-bold">BE Date: </label>
                                    <div class="input-group mx-sm-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><em class="fa fa-calendar"></em></span>
                                        </div>
                                        <input type="text" id="dateRange" class="form-control" bsDaterangepicker
                                            [(ngModel)]="bsRangeValue" placeholder="Date Range"
                                            (ngModelChange)="getBE()">
                                        <div class="input-group-prepend " style="cursor: pointer;"
                                            (click)="clearDate()">
                                            <span class="input-group-text"><em class="fa fa-times-circle"></em></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dateRange" class="font-weight-bold">LC Type: </label>
                                    <div class="form-group mx-sm-3">
                                        <ng-select [(ngModel)]="selected_lc_type" placeholder="Select status"
                                            bindLabel="label" bindValue="value" [searchable]="false" [clearable]="false"
                                            [items]="lc_types" style="width: 180px !important;"
                                            (ngModelChange)="getBE()">
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="form-group" *ngIf="payment_filter">
                                    <label for="dateRange" class="font-weight-bold">Payment List: </label>
                                    <div class="form-group mx-sm-3">
                                        <ng-select [(ngModel)]="selected_pay_type" placeholder="Select status"
                                            bindLabel="label" bindValue="value" [searchable]="true" [clearable]="true"
                                            [items]="payment_types" style="width: 180px !important;"
                                            (ngModelChange)="getBE()">
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="form-group" *ngIf="port_list_flag">
                                    <label for="port" class="font-weight-bold">Port List: </label>
                                    <div class="form-group mx-sm-3">
                                        <ng-select placeholder="Select Port " [searchable]="true" [clearable]="true"
                                            bindLabel="port_name" bindValue="id" [items]="port_list"
                                            (ngModelChange)="onSelectPort($event)" [(ngModel)]="port">
                                        </ng-select>
                                    </div>
                                </div>



                                <!-- <button type="button" class="btn btn-primary" (click)="getBE()">Get BE</button> -->
                            </div>
                        </div>
                    </div>



                    <div class="row mb-3">
                        <div *ngIf="isLoading" style="text-align: center;" class="col-12">
                            <app-loading-spinner></app-loading-spinner>
                        </div>
                        <div class="col-12" *ngIf="!isLoading">
                            <p-table #dt [value]="be_list" dataKey="id" styleClass="ui-table-license" [rowHover]="true"
                                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                [scrollable]="true" [virtualRowHeight]="500" scrollHeight="400px" [virtualScroll]="true"
                                [paginator]="false" [columns]="cols" (onFilter)="onFilter($event, dt)" [filterDelay]="0"
                                currentPageReportTemplate="Total Records :{{be_list.length}} "
                                [globalFilterFields]="[ 'id','org_name','bank_name','bank_lc_no', 'lc_date','docs','be_no','covered_bl_qty','be_dt','invoice_no','duty_payment_done_date','duty_payment_tot_amt']">

                                <ng-template pTemplate="caption">
                                    <div class="ui-table-globalfilter-container">
                                        <input pInputText type="text" class="form-control"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Global Search" />
                                    </div>
                                    <div class="ui-helper-clearfix" style="text-align: left">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button *ngIf="be_csv" type="button" pButton icon="pi pi-file-excel"
                                                    iconPos="left" label="EXCEL" (click)="exportExcel()"
                                                    style="margin-right: 0.5em;" class="ui-button-success"></button>
                                                <button type="button" pButton icon="pi pi-envelope" iconPos="left"
                                                    label="Send Email" (click)="viewEmailModal()"
                                                    style="margin-right: 0.5em;" class="ui-button-primary"
                                                    [disabled]="checkedList=='' || checkedList==undefined || checkedList==[]"
                                                    *ngIf="send_mail"></button>
                                                <button type="button" pButton icon="pi pi-file" iconPos="left"
                                                    label="Upload TR6 Copy" (click)="openUploadTr6()"
                                                    style="margin-right: 0.5em;" class="ui-button-primary"
                                                    [disabled]="checkedList=='' || checkedList==undefined || checkedList==[]"
                                                    *ngIf="tr6_upload"></button>
                                                <button type="button" pButton icon="pi pi-rupee" iconPos="left"
                                                    label="Payment Entered Tally" (click)="enterdToTally()"
                                                    style="margin-right: 0.5em;" class="ui-button-primary"
                                                    [disabled]="checkedList=='' || checkedList==undefined || checkedList==[]"
                                                    *ngIf="payment_ack"></button>
                                                <span *ngIf="duty_total > 0 && payment_filter">Total Duty : {{duty_total}}</span>

                                            </div>

                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th id="" style="width: 5rem">
                                            <p-tableHeaderCheckbox (click)="onCheckAll(a.checked)" #a>
                                            </p-tableHeaderCheckbox>
                                        </th>
                                        <th scope="col" style="width: 200px;" *ngIf="payment_column">Payment Details
                                        </th>

                                        <th scope="col" style="width: 200px;" *ngIf="payment_column">Duty Amount
                                        </th>
                                        <th scope="col" style="width: 150px;" *ngIf="tr6_column">TR6 Copy</th>
                                        <th id="" pSortableColumn="{{col.field}}" *ngFor="let col of columns"
                                            [style.width.px]='col.style'>
                                            {{col.header}} <p-sortIcon field="{{col.field}}">
                                            </p-sortIcon>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" *ngIf="payment_column"></th>
                                        <th scope="col" *ngIf="payment_column"></th>
                                        <th scope="col" *ngIf="tr6_column"></th>
                                      
                                        <th scope="col">

                                        </th>
                                        <th scope="col">
                                            <input pInputText type="text"
                                                (input)="dt.filter($event.target.value, 'invoice_no', 'startsWith')"
                                                placeholder="Search by Invoice No."
                                                class="ui-column-filter form-control">
                                        </th>


                                        <th scope="col">
                                            <p-multiSelect [options]="orgList" defaultLabel="All" appendTo="body"
                                                class="pt-filter-dropdown"
                                                (onChange)="dt.filter($event.value, 'org_name', 'in')">
                                            </p-multiSelect>
                                        </th>

                                        <th scope="col">
                                            <input pInputText type="text"
                                                (input)="dt.filter($event.target.value, 'be_no', 'startsWith')"
                                                placeholder="Search by BE No." class="ui-column-filter form-control">
                                        </th>

                                        <th scope="col">
                                            <input pInputText type="text"
                                                (input)="dt.filter($event.target.value, 'covered_bl_qty', 'startsWith')"
                                                placeholder="Search by Quantity" class="ui-column-filter form-control">
                                        </th>
                                        <th scope="col">
                                            <p-multiSelect [options]="bankList" defaultLabel="All" appendTo="body"
                                                class="pt-filter-dropdown"
                                                (onChange)="dt.filter($event.value, 'bank_name', 'in')">
                                            </p-multiSelect>
                                        </th>
                                      
                                      
                                        <th scope="col" *ngIf="selected_lc_type==1">
                                            <input pInputText type="text"
                                                (input)="dt.filter($event.target.value, 'bank_lc_no', 'startsWith')"
                                                placeholder="Search by License Number"
                                                class="ui-column-filter form-control">
                                        </th>
                                        <th scope="col" *ngIf="selected_lc_type==1">
                                            <input type="text" class="form-control" [(ngModel)]="lc_date"
                                                (ngModelChange)="onDateSelect($event,'lc_date')"
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                                #dp="bsDatepicker" bsDatepicker placeholder="Search by License Date">
                                        </th>

                                        <th scope="col" *ngIf="selected_lc_type==1">
                                            <input pInputText type="text"
                                                (input)="dt.filter($event.target.value, 'lic_no', 'startsWith')"
                                                placeholder="Search by DOC" class="ui-column-filter form-control">
                                        </th>

                                      
                                        <th scope="col" *ngIf="selected_lc_type==2"></th>
                                        <th scope="col" *ngIf="selected_lc_type==2"></th>


                                        
                                        <th scope="col">
                                            <input type="text" class="form-control" [(ngModel)]="be_date"
                                                (ngModelChange)="onDateSelect($event,'be_dt')"
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                                #dp="bsDatepicker" bsDatepicker placeholder="Search by Date">
                                        </th>

                                        <th scope="col"></th>
                                        <th scope="col"></th>


                                    </tr>

                                </ng-template>
                                <ng-template pTemplate="body" let-expanded="expanded" let-item let-columns>
                                    <tr class="ui-selectable-row">
                                        <td style="width: 5rem">
                                            <input type="checkbox" [value]="item" #inputs #checkboxes
                                                (click)="onCheck(checkboxes.checked,item,inputs)">

                                                <div
                                                class="badge badge-primary">{{getType(item.pi_flag)}}</div>

                                            <a href="#" [pRowToggler]="item" *ngIf="item.license_utilizations!=''">
                                                <i [ngClass]="expanded ? 'pi pi-angle-down' : 'pi pi-angle-right'"></i>
                                            </a>
                                        </td>

                                        <!-- <td    [pRowToggler]="item" *ngFor="let col of cols" >
                                            {{item[col.field]}}
                                        </td> -->

                                        <td [pRowToggler] style="width: 200px" *ngIf="payment_column">
                                            <div><strong>Payment Date:</strong> {{item.duty_payment_done_date | date:
                                                'dd/MM/yyyy'}}</div>
                                            <div><strong>Payment Amount:</strong> {{item.duty_payment_tot_amt}}</div>
                                            <div><span class="badge badge-success"
                                                    *ngIf="item.payment_entered_tally">Eneterd</span>
                                                <span class="badge badge-danger" *ngIf="!item.payment_entered_tally">Not
                                                    Entered</span>
                                            </div>
                                        </td>

                                        <td [pRowToggler] style="width: 200px"  *ngIf="payment_column">
                                            <span class="ui-column-title">Duty Amount</span>
                                            IGST Amt : {{item.igst_amt}}<br>
                                            SWS Val : {{item.sws_val}}<br>
                                            Custom Interest Amt : {{item.custom_interest_amt}}<br>
                                            Anti Dumping Val : {{item.anti_dumping_val}}<br>
                                            BCD Val : {{item.bcd_cash_val}} <br>
                                            Custom Fine Amt : {{item.custom_fine_amt}}<br>
                                            Total Amt : {{item.custom_duty_amt}}

                                        </td>

                                        <td style="width: 150px" *ngIf="tr6_column">
                                            <span *ngIf="item.tr6_copy != null">

                                                <div *ngFor="let doc of getDocArr(item.tr6_copy)">
                                                    <a href="{{doc}}" target="_blank" style="font-size: 10px;"><i class="fa fa-file"></i>
                                                        {{doc | fileName}}</a> &nbsp; &nbsp;
                                                    <em class="fa fa-trash" style="color: red;cursor: pointer;" 
                                                        (click)="deleteDoc(getDocArr(item.tr6_copy) , doc , 'tr6_copy' , item.id)"></em>
                                                </div>

                                            </span>

                                        </td>
                                      
                                        <td [pRowToggler] style="width: 100px"> {{item.port_name}}</td>
                                        <td [pRowToggler] style="width: 200px">{{item.invoice_no}}
                                            <div>
                                                <span *ngIf="item.send_mail==1" style="color: blue;">
                                                    <Small>Mail Send</Small><br> <small> {{
                                                        convert(item.mail_date)}}</small>
    
                                                </span>
                                            </div>

                                            <div>
                                                <span *ngIf="item.be_shipment_status==1" >
                                                   <span class="badge badge-success">EXBOND</span>
    
                                                </span>

                                                <span *ngIf="item.be_shipment_status==2" >
                                                    <span class="badge badge-success">INBOND</span>
     
                                                 </span>
                                            </div>
                                        </td>
                                        <td [pRowToggler] style="width: 200px">{{item.org_name}}</td>
                                        <td style="width: 200px">{{item.be_no}}
                                            <a [href]="file" *ngFor="let file of item.be_copy" target="_blank">
                                                <button class="btn btn-primary btn-sm mr-1"><em
                                                        class="fa fa-file"></em></button>
                                            </a>
                                        </td>


                                        <td [pRowToggler] style="width: 100px">{{item.covered_bl_qty}}</td>
                                        <td [pRowToggler] style="width: 200px">{{item.bank_name}}</td>
                                     
                                       
                                        <td [pRowToggler] *ngIf="selected_lc_type==1" style="width: 200px">
                                            {{item.bank_lc_no}}</td>
                                        <td [pRowToggler] *ngIf="selected_lc_type==2" style="width: 200px">
                                            {{item.swalRef}}</td>
                                        <td [pRowToggler] *ngIf="selected_lc_type==2" style="width: 200px">
                                            {{item.swalDate}}</td>
                                        <td [pRowToggler] *ngIf="selected_lc_type==1" style="width: 200px">
                                            {{item.lc_date | date: 'dd/MM/yyyy'}}</td>
                                        <td [pRowToggler] *ngIf="selected_lc_type==1" style="width: 200px">
                                            {{item.doc_ref_no}}</td>
                                        
                                        <td [pRowToggler] style="width: 200px">{{item.be_dt | date: 'dd/MM/yyyy'}}</td>
                                        <td [pRowToggler] style="width: 200px">
                                            <span class="ui-column-title">Duty Amount</span>
                                            Duty Amount : {{item.custom_duty_amt}} <br>
                                            License Amount : {{item.lic_amount_utilize}}<br>
                                            Total : {{item.custom_duty_amt + item.lic_amount_utilize}}

                                        </td>
                                        <td [pRowToggler] style="width: 200px">
                                            <span class="ui-column-title">Load Charge</span>
                                            USD : {{item.load_charge }} <br>
                                            INR : {{item.load_charge * item.exchange_rate}}
                                        </td>



                                    </tr>
                                </ng-template>


                                <ng-template pTemplate="rowexpansion" let-item let-columns="columns">
                                    <tr *ngFor="let utilize of item.license_utilizations ">
                                        <td [attr.colspan]="columns.length + 1" *ngIf="utilize.deleted == 0">
                                            <div class="ui-g ui-fluid" style="font-size:14px;padding:5px">
                                                <div class="ui-g-12 ui-md-12">
                                                    <div class="ui-g">
                                                        <div class="ui-g-2  ui-sm-12">
                                                            <b>License date:</b> {{utilize.utilize_date}}
                                                        </div>
                                                        <div class="ui-g-2  ui-sm-12">
                                                            <b>License No.</b><span
                                                                *ngIf="utilize.license_master != null">{{utilize.license_master.lic_no}}</span>
                                                        </div>
                                                        <div class="ui-g-2  ui-sm-12">
                                                            <b>BE Amount Utilise :</b> {{utilize.amount_utilize}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">

                                    <tr>
                                        <td scope="col" style="width: 5rem;"> Total</td>
                                        <td scope="col" *ngIf="payment_column"  style="width: 200px;"></td>
                                        <td scope="col" *ngIf="payment_column"  style="width: 200px;">{{totDutyAmt}}</td>
                                        <td scope="col" *ngIf="tr6_column"  style="width: 150px;"></td>
                                       
                                        <td scope="col"  style="width: 100px;"></td>
                                        <td scope="col"  style="width: 200px;"></td>
                                        <td scope="col"  style="width: 200px;"></td>
                                        <td scope="col"  style="width: 200px;"></td>
                                        <td scope="col" style="width: 100px;">Total Qty: {{totQty}} MT
                                        </td>
                                        <td scope="col" *ngIf="selected_lc_type==1" style="width: 200px;">
                                        </td>
                                        <td scope="col" *ngIf="selected_lc_type==2" style="width: 200px;">
                                        </td>
                                        <td scope="col" *ngIf="selected_lc_type==2" style="width: 200px;">
                                        </td>
                                        <td scope="col" *ngIf="selected_lc_type==1" style="width: 200px;">
                                        </td>
                                        <td scope="col" *ngIf="selected_lc_type==1" style="width: 200px;">
                                        </td>
                                        <td scope="col" style="width: 200px;">
                                        </td>
                                       
                                        <td scope="col" style="width: 200px;">
                                        </td>
                                        <td scope="col" style="width: 200px;"></td>
                                        <td scope="col" style="width: 200px;"></td>


                                    </tr>

                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="18" style="text-align:left">No Data found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #mailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <span> Send Email</span></h4>
                <button type="button" class="close" (click)="mailModal.hide();uncheckAll()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div *ngIf="isMailLoader" style="text-align: center;" class="col-12">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                </div>

                <div
                    *ngIf="checkedList != [] && checkedList != 'undefined' && checkedList != null &&  checkedList !='' ">

                    <div class="row">
                        <div class="col text-center">
                            <strong>{{this.checkedList[0].bank_name}}</strong>
                        </div>
                    </div>

                    <div class="row mb-3 text-center">
                        <div class="col">
                            <strong>
                                Please Check E-Mail Id Before Sending Mail.
                            </strong>
                        </div>

                    </div>



                    <main>
                        <form [formGroup]="emailForm" (ngSubmit)="onSendEmail()" autocomplete="off"
                            *ngIf="checkedList[0]">
                            <div class="form-row mb-3  text-center">
                                <div class="col">
                                    <label>
                                        <input type="checkbox" [value]="checkedList[0].bank_email"
                                            (change)="onCheckboxChange($event)">
                                        {{checkedList[0].bank_email}}
                                    </label>
                                </div>

                                <div class="col">
                                    <label>
                                        <input type="checkbox" [value]="checkedList[0].bank_email"
                                            (change)="onCheckboxChangeCC($event)">
                                        {{checkedList[0].bank_email}}
                                    </label>
                                </div>

                            </div>
                            <div class="form-row mb-5  text-center">
                                <div class="col-6">
                                    <p-chips [(ngModel)]="selectedEmails" formControlName="emailMult" separator=",">
                                    </p-chips>
                                </div>

                                <div class="col-6">
                                    <p-chips [(ngModel)]="selectedEmailscc" formControlName="emailMultcc" separator=",">
                                    </p-chips>
                                </div>


                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <span>Dear Sir / Madam,</span>
                                    <span>Good Day. <br>
                                        Kindly find below the table mentioning the details of Bill of Entries for the
                                        LC's processed from your valued bank.
                                    </span>
                                </div>
                            </div>

                            <div class="mb-3" style="overflow: scroll;">

                                <table class="table table-bordered ">

                                    <thead>
                                        <tr>
                                            <th scope="col"> SR. NO</th>

                                            <th scope="col" *ngIf="selected_lc_type==1"> LC NO</th>
                                            <th scope="col" *ngIf="selected_lc_type==1"> LC DATE</th>
                                            <th scope="col"> INVOICE NO</th>
                                            <th scope="col" *ngIf="selected_lc_type==2">TT REF NO</th>
                                            <th scope="col" *ngIf="selected_lc_type==2">TT REF DATE</th>
                                            <th scope="col"> INVOICE AMT</th>
                                            <th scope="col"> BE Amount</th>
                                            <th scope="col" *ngIf="selected_lc_type==1"> DOC REF NO</th>
                                            <th scope="col"> BOE NO</th>
                                            <th scope="col"> BOE DATE</th>
                                            <th scope="col">File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of checkedList;let i = index">
                                            <td>{{i+1}}</td>

                                            <td *ngIf="selected_lc_type==1">{{item.bank_lc_no}}</td>
                                            <td *ngIf="selected_lc_type==1">{{item.lc_date | date : 'dd/MM/yyyy'}}</td>
                                            <td>{{item.invoice_no}}</td>
                                            <td *ngIf="selected_lc_type==2">{{item.swalRef}}</td>
                                            <td *ngIf="selected_lc_type==2">{{item.swalDate }}</td>
                                            <td>{{item.pi_invoice_amount}}</td>
                                            <td>{{item.custom_duty_amt}}</td>
                                            <td *ngIf="selected_lc_type==1">{{item.doc_ref_no}}</td>
                                            <td>{{item.be_no}}</td>
                                            <td>{{item.be_dt | date : 'dd/MM/yyyy'}}</td>
                                            <td>
                                                <div *ngFor="let file of item.be_copy">
                                                    <a href="{{file}}" target="_blank">
                                                        <em class="fa fa-file">{{file | fileName}}</em>
                                                    </a>
                                                </div>


                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <span>
                                        We have also enclosing here with the soft copies of the above mentioned Bill of
                                        Entries for your ready reference. <br>
                                        We request you to kindly update the same in your records. <br>
                                        Thank you for your kind cooperation in advance.<br>
                                        Regards,<br>
                                        SParmar
                                    </span>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-11 ml-auto text-center">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Send</button>
                                        <!-- [disabled]="selectedEmails==undefined || selectedEmails =='' || selectedEmails==null" -->
                                        <button class="btn btn-danger"
                                            (click)="mailModal.hide();emailForm.reset()">Discard</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </main>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="mailModal.hide();uncheckAll()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div bsModal #uploadTr6Modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <span> Upload Tr6 Copy </span></h4>
                <button type="button" class="close" (click)="closeUploadModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <h4>Selected BE : {{be_no}}</h4>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-form-label"><strong>TR6 File</strong></label>
                            <input type="file" class="form-control custom-file-input" multiple
                                (change)="addTr6File($event)">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-form-label"><strong>Duty Amount</strong></label>
                            <input type="text" class="form-control custom-file-input" class="form-control"
                                [(ngModel)]="duty_total" numbersOnly>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for=""><strong>Payment Date</strong></label>
                            <input type="text" class="form-control"
                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                #dp="bsDatepicker" bsDatepicker placeholder="Payment Date" [(ngModel)]="payment_date">
                        </div>
                    </div>



                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary mr-1" type="button" (click)="uploadFile()">
                            <em class="fa fa-dot-circle-o"></em>Upload</button>
                    </div>

                </div>



            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeUploadModal()">Close</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>