<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-4" [hidden]="!add_opt">
        <div class="card">
          <div class="card-header">
            <i class="icon-list"></i> Courier Master {{mode}}
          </div>
          <div class="card-body"><!-- Angular Form Validation
            <hr> -->
            <div class="row">
              <div class="col-md-8">
                <form [formGroup]="courrierForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                  <div class="form-group">
                    <label class="col-form-label" for="name">Courier Name</label>
                    <input class="form-control"
                           id="name"
                           type="text"
                           formControlName="name"
                           placeholder="Enter Name"
                           autocomplete="given-name"
                           required
                           autofocus
                           [ngClass]="{ 'is-invalid': submitted && f.name.errors, 'is-valid': f.name.touched && !f.name.errors }" />
  
                           <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                      <div *ngIf="f['name'].errors.required">Name is required</div>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <button class="btn btn-primary mr-1" type="submit" [disabled]="courrierForm.pristine || courrierForm.invalid">Submit</button>
                 
                    <button class="btn btn-danger" type="reset" [disabled]="courrierForm.pristine && !submitted" (click)="onReset()">Reset</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8" *ngIf="view_opt">
      <div class="card">
        <div class="card-header">
          <i class="icon-user"></i>  Courier List
        </div>
  
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4 offset-md-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
              </div>
            </div>
          </div>
          <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <table class="table table-striped table-hover table-responsive-lg"
          [mfData]="data | tableFilter : filterQuery:filterArray"
          #mf="mfDataTable"
          [mfRowsOnPage]="5"
          *ngIf="!error && !isLoading"
          >
            <thead>
              <tr>
                <th style="width: 8%">
                  <mfDefaultSorter by="sr_no">Sr.No.</mfDefaultSorter>
                </th>
                <th style="width: 25%">
                  <mfDefaultSorter by="unit_type">Unit</mfDefaultSorter>
                </th>
                <th style="width: 10%" *ngIf="edit_opt">
                  <mfDefaultSorter by="edit">Edit</mfDefaultSorter>
                </th>
                <th style="width: 10%" *ngIf="del_opt">
                  <mfDefaultSorter by="delete">Delete</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i" [attr.id]="item.ut_id">
                <td>{{i+1}}</td>
                <td>{{item.name}}</td>
                <td *ngIf="edit_opt"><a style="cursor: pointer;" (click)="onEdit(item)"><i class="fa fa-pencil"></i></a></td>
                <td *ngIf="del_opt"><a style="cursor: pointer;"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  [confirmText]="confirmText"
                  [cancelText]="cancelText"
                  [placement]="placement"
                  [closeOnOutsideClick]="closeOnOutsideClick"
                  confirmButtonType="danger"
                  cancelButtonType="success"
                  (confirm)="onDelete(item.id)"
                  (cancel)="cancelClicked = true"
                  ><i class="fa fa-trash"></i></a></td>
  
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        </div>
      </div>
    </div>
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  </div>
