<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0" *ngIf="view_opt">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt dataKey="id" styleClass="staff_master_table" [value]="data" [rows]="10"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								[globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
								(onLazyLoad)="onFilter($event, dt)"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">
												<a class="btn btn-success text-white mb-1 mr-2"
													(click)="exportData('Excel')" data-toggle="tooltip"
													data-placement="top" title="Excel">
													<i class="fa fa-file-excel-o"></i>
													<span class="export-text d-none">Excel</span>
												</a>
												<a class="btn btn-danger text-white mb-1 mr-2"
													(click)="exportData('PDF')" data-toggle="tooltip"
													data-placement="top" title="PDF">
													<i class="fa fa-file-pdf-o"></i>
													<span class="export-text d-none">PDF</span>
												</a>
												<div class="form-group mb-1">
													<p-dropdown [options]="statusList" [(ngModel)]="selected_status"
														optionLabel="name" defaultLabel="Pending"
														(onChange)="onChangeStatus($event)">
													</p-dropdown>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											{{col.header}}
											<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
										</th>
									</tr>
									<tr>
										<th *ngFor="let col of columns">
											<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
												defaultLabel="All"
												(onChange)="customFilter($event.value, col.field, 'in')">
											</p-multiSelect>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData let-expanded="expanded">
									<tr class="ui-selectable-row">
										<td *ngFor="let col of cols">
											<div *ngIf="getColumnPresent(col.field)">
												<div *ngIf="col.field != 'action'">
													<span class="ui-column-title">{{ col.header }}: </span>
													<div *ngIf="col.type == null">
														{{ rowData[col.field] }}
													</div>
													<div *ngIf="col.type == 'Status'" class="text-center">
														<button *ngIf="edit_opt" class="btn btn-sm action-btn mb-0"
															[ngClass]="{'btn-primary': (rowData.status == 1), 'btn-danger': (rowData.status == 0)}"
															mwlConfirmationPopover [popoverTitle]="popoverTitle"
															[popoverMessage]="popoverMessage1"
															[confirmText]="confirmText" [cancelText]="cancelText"
															[placement]="placement"
															[closeOnOutsideClick]="closeOnOutsideClick"
															confirmButtonType="success" cancelButtonType="danger"
															(confirm)="onAction(rowData, 'Status')"
															(cancel)="cancelClicked = true">
															{{ rowData.status_label }}
														</button>
													</div>
													<div *ngIf="col.type == 'Third_Party'" class="text-center">
														<button *ngIf="edit_opt" class="btn btn-sm action-btn mb-0"
															[ngClass]="{'btn-success': (rowData.is_third_party == 1), 'btn-danger': (rowData.is_third_party == 0)}"
															mwlConfirmationPopover [popoverTitle]="popoverTitle"
															[popoverMessage]="popoverMessage1"
															[confirmText]="confirmText" [cancelText]="cancelText"
															[placement]="placement"
															[closeOnOutsideClick]="closeOnOutsideClick"
															confirmButtonType="success" cancelButtonType="danger"
															(confirm)="onAction(rowData, 'Third_Party')"
															(cancel)="cancelClicked = true">
															{{ rowData.is_third_party_label }}
														</button>
													</div>
												</div>
												<div *ngIf="col.field == 'action'" class="text-center">
													<button *ngIf="view_opt"
														class="btn btn-dark btn-sm action-btn mx-2 mb-2"
														(click)="onAction(rowData, 'View')">
														<i class="fa fa-eye"></i>
													</button>
													<button *ngIf="edit_opt && rowData.status == 1"
														class="btn btn-primary btn-sm action-btn mb-2"
														(click)="onAction(rowData, 'Edit')">
														<i class="fa fa-pencil"></i>
													</button>
													<button *ngIf="del_opt && rowData.status == 1"
														class="btn btn-danger btn-sm action-btn mx-2 mb-2"
														mwlConfirmationPopover [popoverTitle]="popoverTitle"
														[popoverMessage]="popoverMessage2" [confirmText]="confirmText"
														[cancelText]="cancelText" [placement]="placement"
														[closeOnOutsideClick]="closeOnOutsideClick"
														confirmButtonType="success" cancelButtonType="danger"
														(confirm)="onAction(rowData, 'Delete')"
														(cancel)="cancelClicked = true">
														<i class="fa fa-trash text-white"></i>
													</button>
													<button *ngIf="payment_staff && rowData.status == 1"
														class="btn btn-info btn-sm action-btn mb-2 text-white"
														(click)="onAction(rowData, 'Payment')">
														<i class="fa fa-inr"></i> Payment
													</button>
												</div>
											</div>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


















<!-- 
<div class="animated fadeIn" *ngIf="!showPaymentList">
	<div class="row">
		<div class="col-md-12 p-0" *ngIf="view_opt">
			<div class="card">
				<div class="card-header">
					<i class="icon-user"></i> Staff Member List
				</div>
				<div class="card-body">
					<mat-tab-group #tabGroup (selectedTabChange)="onTabChange($event)">
						<mat-tab label="{{tab_active.title}}">
							<div class="row">
								<div class="col-md-12">
									<p-table #dt1 dataKey="{{tab_active.key}}" [value]="tab_active.data" [rows]="10"
										[showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]"
										[loading]="isLoading" [autoLayout]="true" [paginator]="true"
										[columns]="tab_active.cols" [globalFilterFields]="tab_active.filter"
										currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
										<ng-template pTemplate="caption">
											<div class="ui-table-globalfilter-container">
												<input pInputText type="text" class="form-control"
													(input)="dt1.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
											<div class="ui-helper-clearfix" style="text-align: left">
												<a class="btn btn-success text-white" (click)="exportExcel()">
													<i class="fa fa-file-excel-o"></i> Excel
												</a>
											</div>
										</ng-template>
										<ng-template pTemplate="header" let-columns>
											<tr>
												<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
													{{col.header}} <p-sortIcon field="{{col.field}}">
													</p-sortIcon>
												</th>
												<th class="text-center">Status</th>
												<th class="text-center">Action</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-item>
											<tr class="ui-selectable-row">
												<td>{{ item.id }}</td>
												<td>{{ item.full_name }}</td>
												<td>{{ item.mobile }}</td>
												<td>{{ item.email }}</td>
												<td>{{ item.department }}</td>
												<td>{{ item.company }}</td>
												<td>{{ item.emp_type }}</td>
												<td class="text-center">
													<button *ngIf="edit_opt" class="btn btn-sm action-btn mb-0"
														[ngClass]="{'btn-primary': (item.status == 1), 'btn-danger': (item.status == 0)}"
														mwlConfirmationPopover [popoverTitle]="popoverTitle"
														[popoverMessage]="popoverMessage1" [confirmText]="confirmText"
														[cancelText]="cancelText" [placement]="placement"
														[closeOnOutsideClick]="closeOnOutsideClick"
														confirmButtonType="success" cancelButtonType="danger"
														(confirm)="onAction(item, 'Status')"
														(cancel)="cancelClicked = true">
														{{ item.status_label }}
													</button>
												</td>
												<td class="text-center">
													
												</td>
											</tr>
										</ng-template>
										<ng-template pTemplate="emptymessage">
											<tr>
												<td [attr.colspan]="tab_active.cols.length + 2" class="text-center">No
													Data found.
												</td>
											</tr>
										</ng-template>
									</p-table>
								</div>
							</div>
						</mat-tab>
						<mat-tab label="{{tab_inactive.title}}">
							<div class="row">
								<div class="col-md-12">
									<p-table #dt2 dataKey="{{tab_inactive.key}}" [value]="tab_inactive.data" [rows]="10"
										[showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]"
										[loading]="isLoading" [autoLayout]="true" [paginator]="true"
										[columns]="tab_inactive.cols" [globalFilterFields]="tab_inactive.filter"
										currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
										<ng-template pTemplate="caption">
											<div class="ui-table-globalfilter-container">
												<input pInputText type="text" class="form-control"
													(input)="dt2.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
											<div class="ui-helper-clearfix" style="text-align: left">
											</div>
										</ng-template>
										<ng-template pTemplate="header" let-columns>
											<tr>
												<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
													{{col.header}} <p-sortIcon field="{{col.field}}">
													</p-sortIcon>
												</th>
												<th class="text-center">Status</th>
												<th class="text-center">Action</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-item>
											<tr class="ui-selectable-row">
												<td>{{ item.id }}</td>
												<td>{{ item.title }}. {{ item.full_name }}</td>
												<td>{{ item.mobile }}</td>
												<td>{{ item.email }}</td>
												<td>{{ item.department }}</td>
												<td>{{ item.company }}</td>
												<td>{{ item.emp_type }}</td>
												<td class="text-center">
													<button *ngIf="edit_opt" class="btn btn-sm mb-0"
														[ngClass]="{'btn-primary': (item.status == 1), 'btn-danger': (item.status == 0)}"
														mwlConfirmationPopover [popoverTitle]="popoverTitle"
														[popoverMessage]="popoverMessage1" [confirmText]="confirmText"
														[cancelText]="cancelText" [placement]="placement"
														[closeOnOutsideClick]="closeOnOutsideClick"
														confirmButtonType="success" cancelButtonType="danger"
														(confirm)="onAction(item, 'Status')"
														(cancel)="cancelClicked = true">
														{{ item.status_label }}
													</button>
												</td>
												<td class="text-center">
													<button *ngIf="view_opt" class="btn btn-dark btn-sm mr-2 mb-2"
														(click)="onAction(item, 'View')">
														<i class="fa fa-eye"></i>
													</button>
													<button *ngIf="del_opt" class="btn btn-danger btn-sm mb-2"
														mwlConfirmationPopover [popoverTitle]="popoverTitle2"
														[popoverMessage]="popoverMessage2" [confirmText]="confirmText"
														[cancelText]="cancelText" [placement]="placement"
														[closeOnOutsideClick]="closeOnOutsideClick"
														confirmButtonType="success" cancelButtonType="danger"
														(confirm)="onAction(item, 'Delete')"
														(cancel)="cancelClicked = true">
														<i class="fa fa-trash text-white"></i>
													</button>
												</td>
											</tr>
										</ng-template>
										<ng-template pTemplate="emptymessage">
											<tr>
												<td [attr.colspan]="tab_inactive.cols.length + 2" class="text-center">No
													Data found.
												</td>
											</tr>
										</ng-template>
									</p-table>
								</div>
							</div>
						</mat-tab>
					</mat-tab-group>
				</div>
			</div>
		</div>
	</div>
</div> -->

<app-payable-request [initialPara]="initialPara" *ngIf="initialPara && showPaymentList "
	(payableBack)="backFromPayable($event)">
</app-payable-request>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>