<div class="animated fadeIn">
    <form [formGroup]="bgForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <h3><i class="fa fa-university"></i> Bank Gaurantee/SBLC Details - {{mode}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="bank_id">Bank Name</label>
                                    <ng-select id="bank_id" formControlName="bank_id" placeholder="Select Bank"
                                        [searchable]="true" [clearable]="true" bindLabel="bank_name" bindValue="id"
                                        [items]="spipl_bank">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="sub_org_id">Company Name</label>
                                    <ng-select id="sub_org_id" formControlName="sub_org_id" placeholder="Select Bank"
                                        [searchable]="true" [clearable]="true" bindLabel="sub_org_name"
                                        bindValue="sub_org_id" [items]="company">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="bg_date">BG/SBLC Date</label>
                                    <i class="fa fa-calendar"></i>
                                    <input type="text" class="form-control" id="bg_date" formControlName="bg_date"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                        #dp="bsDatepicker" bsDatepicker readonly [maxDate]="today"
                                        placeholder="Enter From Date ">
                                </div>

                            </div>

                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="bg_no">BG/SBLC No.
                                    </label>
                                    <input type="text" class="form-control" id="bg_no" formControlName="bg_no"
                                        placeholder="Enter BG No.">
                                </div>
                            </div>

                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="bg_amount">BG/SBLC Amount
                                    </label>
                                    <input type="text" class="form-control" id="bg_amount" formControlName="bg_amount"
                                        placeholder="Enter BG Amount">
                                </div>
                            </div>

                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="expiry_date">Expiry Date</label>
                                    <i class="fa fa-calendar"></i>
                                    <input type="text" class="form-control" id="expiry_date"
                                        formControlName="expiry_date"
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                        #dp="bsDatepicker" bsDatepicker readonly placeholder="Enter From Date ">
                                </div>

                            </div>

                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="bg_sblc_type">BG/SBLC Type</label>
                                    <ng-select id="bg_sblc_type" formControlName="bg_sblc_type" bindLabel="name"
                                        bindValue="id" placeholder="Select" [items]="bg_sblc_arr" [clearable]="true"
                                        [searchable]="true">
                                    </ng-select>
                                </div>
                            </div>


                            <div class="col-6 col-md-3">
                                <div class="form-group">
                                    <label for="bg_copy">BG/SBLC Copy</label>
                                    <input type="file" id="bg_copy" name="bg_copy"
                                        formControlName="bg_copy" (change)="fileChangeEvent($event)">
                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary mr-1" type="submit"
                            [disabled]="bgForm.pristine || bgForm.invalid">
                            <i class="fa fa-dot-circle-o"></i>Submit</button>

                        <button class="btn btn-primary" type="button" (click)="onBack()"><i
                                class="fa fa-undo"></i>Back</button>
                    </div>
                </div>

            </div>

        </div>
    </form>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>