<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0" *ngIf="view_opt">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-3">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>

					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">

							<p-table #dt dataKey="id" styleClass="transnational_sales_lc" [value]="data" [rows]="10"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								[globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
								(onLazyLoad)="onFilter($event, dt)"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">

												<div class="form-group mb-1 mr-1">
													<input pInputText [(ngModel)]="selected_date_range"
														(ngModelChange)="getData()" [bsConfig]="datePickerConfig"
														#dp="bsDaterangepicker" [maxDate]="maxDate" bsDaterangepicker
														placeholder="Choose Date Range" class="form-control page-filter"
														readonly />
												</div>

											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											{{col.header}}
											<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
										</th>
									</tr>
									<tr>
										<th *ngFor="let col of columns">

											<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
												defaultLabel="All"
												(onChange)="customFilter($event.value, col.field, 'in')">
											</p-multiSelect>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData let-i="rowIndex">
									<tr class="ui-selectable-row">
										<td *ngFor="let col of cols">
											<div>
												<div *ngIf="col.field == 'id'" class="cell">
													{{i+1}}

												</div>
												<div *ngIf="col.field != 'id' && col.field != 'action'">
													<span class="ui-column-title">{{ col.header }}: </span>


													<div *ngIf="col.type == 'Date'">
														{{ rowData[col.field] | date:'dd-MMM-yyyy' }}
													</div>
													<div *ngIf="col.type == 'doc'">
														{{ rowData[col.field] }}

														<span *ngIf="rowData.generated_non_doc">
															<a [href]="rowData.generated_non_doc" target="_blank">
																<em class="fa fa-file"></em>
															</a>
														</span>

													</div>
													<div *ngIf="col.type == null">
														{{ rowData[col.field] }}
													</div>
												</div>
												<div *ngIf="col.field == 'action'">
													<button class="btn btn-sm btn-success"
														(click)="generateNonCopy(rowData)"> Generate Non</button>

													<button class="btn btn-sm btn-primary"
														(click)="addDocket(rowData)">Docket Details</button>


													<!-- <a *ngIf="edit_opt"
														class="btn btn-outline-info btn-sm action-btn mb-1 mr-1"
														data-toggle="tooltip" data-placement="top" title="Edit Order"
														(click)="onAction(rowData, 'Edit')">
														<i class="fa fa-pencil"></i>
													</a>
													<a *ngIf="delete_opt"
														class="btn btn-outline-danger btn-sm action-btn mb-1 mr-1"
														data-toggle="tooltip" data-placement="top" title="Delete Order"
														mwlConfirmationPopover [popoverTitle]="popoverTitle"
														[popoverMessage]="popoverMessage1" [confirmText]="confirmText"
														[cancelText]="cancelText" [placement]="placement"
														closeOnOutsideClick="true" confirmButtonType="success"
														cancelButtonType="danger"
														(confirm)="onAction(rowData, 'Delete')"
														(cancel)="cancelClicked = true">
														<i class="fa fa-trash"></i>
													</a> -->



												</div>
											</div>
										</td>
									</tr>
								</ng-template>

								<ng-template pTemplate="footer" let-columns>
									<tr>
										<td *ngFor="let col of columns">
											<strong *ngIf="col.type == 'Quantity'">
												Total: {{ col.total | number }} MT
											</strong>
											<strong *ngIf="col.type == 'Amount'">
												Total: {{ col.total | currency:'USD' }}
											</strong>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div bsModal #courrierModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Corrier Details"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Courrier Details</h3>
			</div>

			<div class="modal-body">

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label><strong>Docket Number</strong></label>
							<input type="text" class="form-control" placeholder="Docket No" [(ngModel)]="docket_no">
						</div>

					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label><strong>Courier Name</strong></label>
							<ng-select placeholder="Name " [searchable]="true" [clearable]="true" bindLabel="name"
								bindValue="name" [items]="courrierList" [(ngModel)]="courrier_name">
							</ng-select>


						</div>

					</div>

					<div class="col-md-12">
						<button class="btn btn-primary" (click)="submitDocket()">Submit</button>
						<button class="btn btn-primary" (click)="closeModal()">Close</button>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>