<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6"><h4><i class="fa fa-forward"></i> Forward Booking Details For {{bank_name}}</h4></div>
            <div class="col-md-6 text-right">
              <button class = "btn btn-primary" (click)="onBack()">Back</button>

          <button class="btn btn-sm btn-light pull-right" (click)="isCollapsed = !isCollapsed">
            <i *ngIf="isCollapsed" class="fa fa-chevron-down"></i>
            <i *ngIf="!isCollapsed" class="fa fa-chevron-up"></i>
          </button>
            </div>
          </div>


        </div>
        <div class="card-body"
        [collapse]="isCollapsed">

        <div class="row">
          <div class="col-md-2">
           <p><strong>Period</strong> : <span  class="badge badge-primary">{{from_date | date: 'dd-MM-y'}} to {{to_date | date: 'dd-MM-y'}}</span></p>



          </div>
          <div class="col-md-2">
            <p><strong>Booking Date</strong> : {{book_date| date: 'dd-MM-y E'}}</p>


           </div>
           <div class="col-md-2">
            <p><strong>Amount</strong> : {{amount}}  <strong>{{currency}}</strong></p>
           </div>


           <div class="col-md-2">
            <p><strong>Final Rate</strong> : {{final_rate}}</p>
           </div>

           <div class="col-md-2">
            <p><strong>Spot Rate</strong> : {{spot_rate}}</p>
           </div>


           <div class="col-md-1">
            <p><strong>Token</strong> : {{token}}</p>
           </div>



           <div class="col-md-1">
            <p><strong>Margin</strong> : {{margin}}</p>
           </div>

           <div class="col-md-2">
            <p><strong>Canceled</strong> : {{cancel_amount}} </p>
           </div>

           <div class="col-md-2">
            <p><strong>Utilized</strong> : {{total_hedge_amount}}   <strong>{{currency}}</strong></p>
           </div>

           <div class="col-md-2">
            <p><strong>Balance</strong> : {{(amount- total_hedge_amount - cancel_amount).toFixed(4)}}   <strong>{{currency}}</strong></p>
           </div>



        </div>

        </div>

          </div>

          <div class="card">
            <div class="card-header">
              <h4>Forward Covered</h4>
            </div>
            <div class="card-body">
              <div class="row">

                <div class="col-md-7">

                  <p-table #dt [value]="list"
                  dataKey="id"
                  styleClass="ui-table-customers"
                  [rowHover]="true"
                  [rows]="50"
                  [showCurrentPageReport]="true"
                  [rowsPerPageOptions]="[10,25,50,200]"
                  [loading]="isLoading"
                  [paginator]="true"
                  (onFilter)="onFilter($event, dt)"
                  currentPageReportTemplate="Total Records : {{list.length}}"
                  [filterDelay]="0" [globalFilterFields]="['SupplierName', 'BankName', 'InvoiceNo', 'Amount','PaymentDueDate','StatusPayment','SupplierCharges','ConfirmationCharges','CurrencyName']"  [resizableColumns]="true">


                <ng-template pTemplate="caption">

                  <div class="row">
                    <div class="col-md-6 text-left">
                      <h5> <i class="fa fa-file"></i> Invoices To Cover</h5>
                    </div>

                    <div class="col-md-6">

                        <input class="form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />

                    </div>
                  </div>



                </ng-template>

                <ng-template pTemplate="header">
                  <tr>
                     <th style.width = "{{col.style}}" pSortableColumn="{{col.field}}" *ngFor="let col of cols" pResizableColumn> {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon></th>
                     <th style="width: 100px;">Amount to cover</th>
                  </tr>

                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr class="ui-selectable-row">

                      <td class="ui-resizable-column">
                        <span class="ui-column-title">Payment Due Date</span>
                        {{item.PaymentDueDate |  date: "dd-MM-y E"}}
                      </td>



                      <td class="ui-resizable-column">
                         <span class="ui-column-title">Supplier</span>
                        &#123;&#123;item.SupplierName&#125;&#125;</td>


                      <td class="ui-resizable-column">
                        <span class="ui-column-title">Invoice Number</span>
                        &#123;&#123;item.InvoiceNo&#125;&#125;
                      </td>

                      <td class="ui-resizable-column">
                        <span class="ui-column-title">Amount</span>
                        &#123;&#123;item.Amount&#125;&#125;
                      </td>



                      <td class="ui-resizable-column">
                        <span class="ui-column-title">Supplier Charges</span>
                        &#123;&#123;item.SupplierCharges&#125;&#125;
                      </td>

                      <td class="ui-resizable-column">
                        <span class="ui-column-title">Confirmation Charges</span>
                        &#123;&#123;item.ConfirmationCharges&#125;&#125;
                      </td>

                      <td class="ui-resizable-column">
                        <span class="ui-column-title">Total</span>
                        {{item.Total}}
                      </td>


                      <td class="ui-resizable-column">
                        <span class="ui-column-title">Balance</span>
                        &#123;&#123;(item.balanceAfterHedge).toFixed(3)&#125;&#125;
                      </td>


                    <td pEditableColumn >
                      <span class="ui-column-title">Add : </span>
                      <p-cellEditor *ngIf="add_hedge">
                          <ng-template pTemplate="input">
                              <input pInputText class="form-control" type="text" (keydown.enter) = "hedgeInvoice($event,item)" >
                          </ng-template>
                          <ng-template pTemplate="output">
                            <span style="cursor:pointer" class="badge badge-danger">Add</span>
                          </ng-template>
                      </p-cellEditor>
                    </td>






                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">

                  <tr>
                    <td colspan="3">Total</td>
                    <td>{{tt_amount}}</td>
                    <td>{{supp_charge}}</td>
                    <td>{{conf_charge}}</td>
                    <td>{{total_amount}}</td>
                    <td>{{(balance_remain.toFixed(3))}}</td>
                    <td></td>


                  </tr>


                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8" style="text-align:left">Not Found any data</td>
                    </tr>
                </ng-template>
                </p-table>
                </div>

        <div class="col-md-5">
          <p-table #dt_2 [value]="hedging_list"
          dataKey="id"
          styleClass="ui-table-customers"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50]"
          [loading]="isLoading"
          [paginator]="true"
          currentPageReportTemplate="Total Records : {{hedging_list.length}}"
          [filterDelay]="0"  [resizableColumns]="true">


        <ng-template pTemplate="caption">
         <div class=" text-left">    <h5> <i class="cui-chevron-right"></i> Invoices Hedged</h5> </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
             <th style.width = "{{col.style}}" pSortableColumn="{{col.field}}" *ngFor="let col of cols2" pResizableColumn> {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon></th>
             <th style="width: 100px;" *ngIf="delete_hedge">Delete</th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="ui-selectable-row">

              <td class="ui-resizable-column">
                <span class="ui-column-title">Payment Due Date</span>
                {{item.PaymentDueDate |  date: "dd-MM-y E"}}
              </td>



              <td class="ui-resizable-column">
                 <span class="ui-column-title">Invoice Number</span>
                &#123;&#123;item.InvoiceNo&#125;&#125;</td>

              <td class="ui-resizable-column">
                <span class="ui-column-title">Supplier Name</span>
                &#123;&#123;item.Supplier&#125;&#125;
              </td>
              <td pEditableColumn class="ui-resizable-column">
                <span class="ui-column-title">Hedge Amount</span>
                <p-cellEditor>
                  <ng-template pTemplate="input" *ngIf="edit_hedge">
                      <input pInputText class="form-control" type="text"   [(ngModel)]="item.hedge_amount" (keydown.enter)="hedgeInvoiceEdit($event,item)"   >
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{item.hedge_amount}}
                  </ng-template>
              </p-cellEditor>
              </td>

              <td *ngIf="delete_hedge">

                <button class="btn btn-sm btn-pill btn-danger" style="cursor: pointer;"
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                [confirmText]="confirmText"
                [cancelText]="cancelText"
                [placement]="placement"
                [closeOnOutsideClick]="closeOnOutsideClick"
                confirmButtonType="danger"
                cancelButtonType="success"
                (confirm)="onDeleteHedge(item)"
                (cancel)="cancelClicked = true"><i class="fa fa-trash"></i></button>
              </td>



            </tr>
        </ng-template>
        <ng-template pTemplate="footer">

          <tr>
            <td colspan="3">Total</td>
            <td>{{tt_hedge_amt}}</td>
            <td></td>

          </tr>


        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" style="text-align:left">Not Found any data</td>
            </tr>
        </ng-template>
        </p-table>
        </div>

              </div>
            </div>
          </div>
       </div>
    </div>
 </div>

 <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
