// Variable overrides

$sidebar-width: 300px !default;
$sidebar-nav-link-active-color: #fff !default;
$sidebar-nav-link-active-bg: #20a8d8 !default;
$sidebar-nav-link-active-icon-color: #20a8d8 !default;
$sidebar-nav-link-active-borders: 0 !default;