.blink {
	animation: blinking 1s infinite;
	font-size: 12px;
	padding: 6px;
	border-radius: 20%;
}

@keyframes blinking {
	0% {
		color: rgb(230, 240, 226);
	}

	47% {
		color: #fff;
	}

	62% {
		color: transparent;
	}

	97% {
		color: transparent;
	}

	100% {
		color: #fff;
	}
}

.profile-env>header {
	position: relative;
	z-index: 20;
	margin-top: 0;
	background: #fff;
}

// .profile-env > header .profile-picture {
// 	position: relative;
// }
// .profile-env > header .profile-picture img {
// 	float: right;
// 	-moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
// 	-webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
// 	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
// 	-moz-transition: all 300ms ease-in-out;
// 	-webkit-transition: all 300ms ease-in-out;
// 	-o-transition: all 300ms ease-in-out;
// 	transition: all 300ms ease-in-out;
// }
.profile-env>header .profile-info-sections {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
}

.profile-env>header .profile-info-sections>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.profile-env>header .profile-info-sections .profile-name strong,
.profile-env>header .profile-info-sections .profile-name span {
	display: block;
}

.profile-env>header .profile-info-sections .profile-name strong {
	font-size: 18px;
	font-weight: normal;
}

.profile-env>header .profile-info-sections .profile-name span {
	font-size: 0.875rem;
}

.profile-env>header .profile-info-sections .profile-name span a {
	color: #bbbbbb;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.profile-env>header .profile-info-sections .profile-name .user-status {
	position: relative;
	display: inline-block;
	background: #575d67;
	top: -2px;
	margin-left: 5px;
	width: 6px;
	height: 6px;
	-webkit-border-radius: 6px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 6px;
	-moz-background-clip: padding;
	border-radius: 6px;
	background-clip: padding-box;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.profile-env>header .profile-info-sections>li {
	padding: 0 40px;
	position: relative;
}

.profile-env>header .profile-info-sections>li+li:after {
	content: "";
	display: block;
	position: absolute;
	top: 15px;
	bottom: 0;
	left: 0;
	width: 1px;
	background: #ebebeb;
	margin: 8px 0;
}

.profile-env section {
	position: relative;
	z-index: 10;
}

@media (max-width: 992px) {
	.profile-env>header .profile-picture img {
		width: 70%;
	}

	.profile-env>header .profile-info-sections .profile-name strong,
	.profile-env>header .profile-info-sections {
		margin-top: 0;
	}

	.profile-env>header .profile-info-sections>li {
		padding: 0 20px;
	}
}

@media (max-width: 768px) {
	.profile-env>header .profile-picture img {
		float: none;
	}
}

@media (max-width: 601px) {
	.divider {
		display: none;
	}

	.profile-env>header .profile-info-sections {
		margin-bottom: 10px;
		text-align: center;
	}

	.profile-env>header .profile-info-sections li {
		padding: 15px 15px 0px 15px;
	}

	.profile-env>header .profile-picture {
		text-align: center;
		display: block;
	}

	.profile-env>header .profile-picture img {
		width: 70%;
		float: none;
		display: inline-block;
	}
}

.bio-graph-info h1 {
	font-size: 22px;
	font-weight: 400;
	margin: 0 0 20px;
}

.bio-row {
	margin-bottom: 10px;
}

.cal-day {
	opacity: 1 !important;
}

.sun-day {
	background-color: "#ffcdd2" !important;
}

.event-badge {
	font-weight: 500 !important;
	background: "#563d7c" !important;
}

.ui-table-leaves {
	.ui-table-tbody>tr>td {
		border: 0 none;
		cursor: auto;

		&:first-child {
			text-align: center;
		}

		&:last-child {
			width: 11em;
			text-align: center;
		}
	}
}

// .ui-table-salary {
// 	.ui-table-tbody > tr > td {
// 		border: 0 none;
// 		cursor: auto;
// 		&:first-child {
// 			width: 20em;
// 		}
// 		&:last-child {
// 			text-align: center;
// 		}
// 	}
// }

.cal-month-view .cal-day-badge {
	margin-top: 10px !important;
}

.left-border {
	border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.wfh-icon,
.leave-icon,
.saturday-icon {
	width: 70px !important;
	height: 70px !important;
	padding: 8px !important;
}

.holiday-icon {
	width: 50px !important;
	height: 50px !important;
	padding: 8px !important;
}

.attendance-icon {
	width: 40px !important;
	height: 40px !important;
	padding: 8px !important;
}

.holiday-text {
	color: #000000 !important;
	padding: 8px !important;
}

.attendance-text {
	color: #000000 !important;
	padding: 8px !important;
}

.bg-sunday {
	background-color: #b0bec5 !important;
}

.cal-month-view .cal-day-number {
	font-size: 1.5em !important;
	font-weight: 500 !important;
}

.profile_pic {
	position: relative !important;
	width: 150px !important;
	height: 150px !important;
	border-radius: 50% !important;
	overflow: hidden !important;
	background-color: #111 !important;
	margin: 10px 0 !important;
}

.img-circle {
	max-width: 150px !important;
	max-height: auto; //100% !important;
	border-radius: 50em !important;
}

.profile_pic:hover .profile_pic_content {
	opacity: 1;
}

.profile_pic:hover .profile_pic_image {
	opacity: 0.5;
}

.profile_pic_content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.profile_pic_icon {
	color: white;
	padding-bottom: 8px;
}

.profile_pic_text {
	text-transform: uppercase;
	font-size: 12px;
	width: 50%;
	text-align: center;
}

.form-control-file {
	padding: 3px !important;
}

.badge-primary {
	padding: 5px;
	border-radius: 10px;
	color: #fff;
	background-color: #20a8d8;
}

.scrollvertical {
	overflow: auto;
}

.activeitem {
	background-color: rgb(221, 243, 233);
}

.headRow {
	background-color: rgb(221, 243, 233);
	padding-bottom: 10px;
	padding-bottom: 10px;
}

// .email-app nav {
// 	flex: 0 0 400px;
// 	padding: 1rem;
// 	border-right: 1px solid #c8ced3;
// }

.action-btn {
	padding: 0px 5px !important;
}

.tds_table td,
.tds_table th {
	padding: 0.3rem 0.5rem !important;
}

.disabled_td {
	background: #dee2e6 !important;
}

.header_tr_blue {
	background: #6ea8fe !important;
}

.header_tr_red {
	background: #f1aeb5 !important;
}

.header_tr_green {
	background: #a3cfbb !important;
}

.header_tr_yellow {
	background: #ffda6a !important;
}

.investment-table th,
.investment-table td {
	padding: 0.25rem !important;
}

.investment-table-form th,
.investment-table-form td {
	padding: 0.5rem !important;
}

.investment-form-control {
	height: calc(1em + 0.5rem + 2px) !important;
	padding: 0.25rem !important;
}

.custom-file-input {
	height: calc(1em + 0.5rem + 3px) !important;
	opacity: 1;
	padding: 0px !important;
}

.custom-file-input::-webkit-file-upload-button {
	border: 1px solid #999;
	padding: 0.10rem 0.25rem !important;
	font-size: 0.875rem !important;
}

.tr-head th {
	font-size: 1rem !important;
	font-weight: 500 !important;
}

.custom-date-input {
	width: 50% !important;
}

.custom-date-input>.form-control {
	padding: 2px 5px !important;
	height: auto !important;
	line-height: 0 !important;
}

.custom-date-input>.input-group-append>.input-group-text {
	padding: 2px 5px !important;
	background: transparent !important;
	border: none !important;
}
.rowback {
	background: #4dbd74 !important;
}