<div class="animated fadeIn">

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4><i class="fa fa-rupee"></i> Past Payment List
						<button class="btn btn-primary pull-right" (click)="onRefresh()"><i
								class="fa fa-refresh"></i></button>
					</h4>

				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">

							<div class="row">

								<div class="form-group col-6 col-md-7" style="margin-right: -150px;">
									<div class="row">
										<div class="col-md-3 mt-1" style="margin-right: -90px;"> <label for=""><b>Paid
													Date</b></label></div>
										<div class="col-md-8">

											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fa fa-calendar"></i></span>
												</div>
												<input type="text" class="form-control " bsDaterangepicker
													[bsConfig]="datePickerConfig" #dp="bsDaterangepicker"
													[maxDate]="maxDate" [(ngModel)]="bsRangeValue"
													(ngModelChange)="clearDropdown (); onchangeDate()"
													placeholder="From Date - To Date" readonly>
												<app-dropdown-daterange class="ml-4" (dateEvent)="receiveDate($event)"
													[uploadSuccess]="uploadSuccess"></app-dropdown-daterange>

											</div>
										</div>
									</div>

								</div>
								<div class="form-group col-md-4 mb-1">
									<p-dropdown [options]="statusList" [(ngModel)]="selected_status" optionLabel="name"
										defaultLabel="Completed" optionValue="id" (onChange)="onChangeStatus($event)">
									</p-dropdown>
								</div>
							</div>
							<!-- 
              <div class="row">
                <div class="col-md-2 offset-5" *ngIf="isLoading">
                  <app-loading-spinner></app-loading-spinner>
                </div>
              </div> -->


							<div class="row">
								<div class="col-md-12">

									<p-table #dt [value]="pastPaymentList" dataKey="id"
										styleClass="ui-table-past-purchase" [rowHover]="true" [rows]="10"
										[showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
										[paginator]="false" [columns]="selectedColumns"
										(onFilter)="onFilter($event, dt)" [scrollable]="true" [loading]="isLoading"
										scrollHeight="400px" [virtualRowHeight]="500" [filterDelay]="0"
										[globalFilterFields]="['category','org_emp_name','beneficiary_bank_name','beneficiary_account_no','beneficiary_bank_ifsc','cheque_no','utr_no','spiplbank']">

										<ng-template pTemplate="caption">

											<div class="row">

												<div class="col-md-4">

													<div class="ui-helper-clearfix" style="text-align: left">
														<button type="button" *ngIf="excel_download" pButton
															icon="pi pi-file-excel" iconPos="left" label="EXCEL"
															(click)="exportExcel()" style="margin-right: 0.5em;"
															class="ui-button-success"></button>
														<button *ngIf="pdf_download" type="button" pButton
															icon="pi pi-file-pdf" iconPos="left" label="PDF"
															(click)="exportPdf()" class="ui-button-warning"></button>


													</div>

												</div>

												<div class="col-md-2">

													<ng-select placeholder="Company " [searchable]="true"
														[clearable]="true" bindLabel="label" bindValue="id"
														[items]="company" [(ngModel)]="company_id"
														style="font-size: 10px;" (ngModelChange)="getPastPaymentList()">
													</ng-select>
												</div>


												<div class="col-md-3" style="text-align: left">
													<p-multiSelect [options]="cols" [(ngModel)]="selectedColumns"
														optionLabel="header" selectedItemsLabel="{0} columns selected"
														[style]="{minWidth: '200px'}" defaultLabel="Choose Columns">
													</p-multiSelect>
												</div>


												<div class="col-md-3">

													<input pInputText class='form-control' type="text"
														(input)="dt.filterGlobal($event.target.value, 'contains')"
														placeholder="Global Search" />

												</div>


											</div>



										</ng-template>

										<ng-template pTemplate="header" let-columns>

											<tr>
												<th style="width: 100px;" *ngIf="mail_send">Email</th>
												<th style="width: 100px;" *ngIf="whatsap_send">Whatsapp</th>
												<th style="width: 100px;" *ngIf="delete_payable">Delete</th>
												<!-- <th style="width: 100px;" >Update UTR</th> -->
												<th [style.width]="col.style" pSortableColumn="{{col.field}}"
													*ngFor="let col of columns">
													{{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
												</th>
											</tr>

											<tr>
											<tr>
												<th *ngIf="mail_send"></th>
												<th *ngIf="whatsap_send"></th>
												<th *ngIf="delete_payable"></th>

												<ng-container *ngFor="let col of cols">
													<th *ngIf="getColumnPresent(col.field)" [style.width]="col.style">
														<span *ngIf="col.field == 'category'">
															<div *ngIf="category_list.length > 0">
																<p-multiSelect [options]="category_list"
																	placeholder="All" appendTo="body"
																	(onChange)="onchange($event,'categoryName')"
																	optionLabel="categoryName">
																	<ng-template let-opt pTemplate="item">
																		<span>{{opt.label}}</span>
																	</ng-template>
																</p-multiSelect>
															</div>
														</span>

														<span *ngIf="col.field == 'org_emp_name'">
															<div *ngIf="supplier_list.length > 0">
																<p-multiSelect [options]="supplier_list"
																	placeholder="All" appendTo="body"
																	(onChange)="onchange($event,'org_emp_name')"
																	optionLabel="org_emp_name">
																	<ng-template let-option pTemplate="item">
																		<span
																			style="max-width: 388px;">&#123;&#123;option.label&#125;&#125;</span>
																	</ng-template>
																</p-multiSelect>
															</div>
														</span>

														<span *ngIf="col.field == 'spiplbank'">
															<div *ngIf="Bank_list.length > 0">
																<p-multiSelect [options]="Bank_list" placeholder="All"
																	appendTo="body"
																	(onChange)="onchange($event,'spiplbank')"
																	optionLabel="spiplbank">
																	<ng-template let-opt pTemplate="item">
																		<span>{{opt.label}}</span>
																	</ng-template>
																</p-multiSelect>
															</div>
														</span>


														<span *ngIf="col.field == 'approved_by_name'">
															<div *ngIf="approveArr.length > 0">
																<p-multiSelect [options]="approveArr" placeholder="All"
																	appendTo="body"
																	(onChange)="onchange($event,'approved_by_name')"
																	optionLabel="approved_by_name">
																	<ng-template let-opt pTemplate="item">
																		<span>{{opt.label}}</span>
																	</ng-template>
																</p-multiSelect>
															</div>
														</span>


														<span *ngIf="col.field == 'added_by_name'">
															<div *ngIf="requestArr.length > 0">
																<p-multiSelect [options]="requestArr" placeholder="All"
																	appendTo="body"
																	(onChange)="onchange($event,'added_by_name')"
																	optionLabel="added_by_name">
																	<ng-template let-opt pTemplate="item">
																		<span>{{opt.label}}</span>
																	</ng-template>
																</p-multiSelect>
															</div>
														</span>
													</th>
												</ng-container>
											</tr>
										</ng-template>

										<ng-template pTemplate="body" let-payableRequest let-columns>
											<tr class="ui-selectable-row">
												<!-- Mail button -->
												<td style="width: 100px;" *ngIf="mail_send"><button type="button"
														class="btn btn-primary" (click)="openMail(payableRequest)"><i
															class="fa fa-envelope"></i></button></td>

												<!-- whatsapp button -->
												<td style="width: 100px;" *ngIf="whatsap_send"><button type="button"
														class="btn btn-success"
														(click)="openWhatsapp(payableRequest)"><i
															class="fa fa-whatsapp"></i></button></td>

												<!-- delete button -->
												<td style="width: 100px;" *ngIf="delete_payable"> <button pButton
														pRipple icon="pi pi-trash"
														class="p-button-rounded p-button-success p-mr-2"
														mwlConfirmationPopover [popoverTitle]="popoverTitle"
														[popoverMessage]="popoverMessage" [confirmText]="confirmText"
														[cancelText]="cancelText" [placement]="placement"
														[closeOnOutsideClick]="closeOnOutsideClick"
														confirmButtonType="danger" cancelButtonType="success"
														(confirm)="onDelete(payableRequest)"
														(cancel)="cancelClicked = true"></button></td>

												<!--Update UTR NO. -->
												<!-- <td style="width: 100px;" *ngIf="payableRequest.utr_no == null" ><button type="button"
													class="btn btn-success"
													(click)="UpdateUtr(payableRequest)"><i
														class="fa fa-edit"></i></button></td>
												 -->

												<!-- Main data -->
												<ng-container *ngFor="let col of cols">
													<td *ngIf="getColumnPresent(col.field)" [style.width]="col.style">
														<span class="ui-column-title">{{col.header}}</span>
														{{payableRequest[col.field]}}
													</td>
												</ng-container>




											</tr>
										</ng-template>
										<ng-template pTemplate="footer">
											<tr>
												<td style="width: 100px;" *ngIf="mail_send"></td>
												<td style="width: 100px;" *ngIf="whatsap_send"></td>
												<td style="width: 100px;" *ngIf="delete_payable"></td>
												<!-- <td style="width: 100px;" ></td> -->

												<ng-container *ngFor="let col of cols">
													<td *ngIf="getColumnPresent(col.field)" [style.width]="col.style">
														<span *ngIf="col.field == 'paid_amount'">{{totalPaidAmt |
															currencyInr}}</span>

													</td>
												</ng-container>
											</tr>

											<tr>
												<td colspan="15" style="text-align:left">Total Records:
													{{filteredValuess?.length}}</td>
											</tr>
										</ng-template>

										<ng-template pTemplate="emptymessage">
											<tr>
												<td colspan="15" style="text-align:left">No Data found.</td>
											</tr>
										</ng-template>
									</p-table>



								</div>

							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div bsModal #UpdateUtrModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog " role="document">
		<div class="modal-content">
			<form [formGroup]="utrForm" novalidate (ngSubmit)="update()" autocomplete="off">

				<div class="modal-header">
					<h4 class="modal-title">Update UTR</h4>
					<button type="button" class="close" (click)="UpdateUtrModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="form-group row">
						<div class="col-md-6 mb-2">
							<label>UTR No.</label>
							<input type="text" class="form-control" id="utr" formControlName="utr"
								placeholder="Enter UTR ">
						</div>
						<div class="col-md-6 mb-2">
							<label>Paid Amount</label>
							<input type="text" class="form-control" id="paidAmount" formControlName="paidAmount"
								placeholder="Enter Amount ">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="UpdateUtrModal.hide()">Close</button>
					<button type="submit" class="btn btn-primary"
						[disabled]="utrForm.pristine || utrForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div bsModal #sendMailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">


			<div class="modal-header">
				<h4 class="modal-title"><i class="fa fa-envolope"></i> Payment Details</h4>
				<button type="button" class="close" (click)="closeModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="roW">
					<div *ngIf="isLoaderEmail" style="text-align: center;">
						<app-loading-spinner></app-loading-spinner>
					</div>
				</div>

				<div class="row" *ngIf="checkedList != undefined">
					<div class="col-md-12">
						<div style="text-align: center;">
							<h4>{{sub_org}} {{emp}}</h4>
						</div>
						<div *ngIf="mail">

							<p style="color: crimson;">Put Additional Email comma (,) seperated</p>
							<div class="row">

								<div class="col-md-6">

									<p> <strong>To</strong> : <span *ngFor="let mail of email"><input type="checkbox"
												(click)="mailto(a.checked,mail)" #a> {{mail}} </span></p>
									<p><textarea class="form-control" cols="6" [(ngModel)]="tomailtext "
											(change)='tomailvalue($event)'></textarea></p>
								</div>
								<div class="col-md-6">
									<p> <strong>Cc</strong> : <span *ngFor="let cc of email"><input type="checkbox"
												(click)="ccmail(e.checked,cc)" #e> {{cc}} </span></p>
									<p><textarea class="form-control" cols="6" [(ngModel)]="ccmailtext "
											(change)='ccmailvalue($event)'></textarea></p>

								</div>
							</div>



						</div>

						<div *ngIf="whatsapp">

							<p style="color: crimson;">Put Additional Numbers comma (,) seperated</p>
							<div class="row">

								<div class="col-md-12">

									<p> <strong>To</strong> : <span *ngFor="let nub of numbers"><input type="checkbox"
												(click)="mailto(a.checked,nub)" #a> {{nub}} </span></p>
									<p><textarea class="form-control" cols="6" [(ngModel)]="tomailtext "
											(change)='tomailvalue($event)'></textarea></p>
								</div>

							</div>



						</div>
						<p>Dear Sir / Madam, </p>
						<p> Good Day. </p>
						<p>Kindly note that we have processed payment of Rs. {{checkedList.paid_amount}} on
							{{checkedList.paid_date|
							date: 'dd/MM/yyyy'}} vide UTR No. {{checkedList.utr_no}} to your account.</p>


						<p>The above payment is done against <input type="text" [(ngModel)]="invoice_no"> </p>

						<p>Request you to kindly note and confirm the receipt of the same</p>
						<p>Regards , SParmar</p>


					</div>



				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
					<button type="button" class="btn btn-primary" (click)="compose_mail()" *ngIf="mail">Send
						Mail</button>
					<button type="button" class="btn btn-primary" (click)="compose_mail()" *ngIf="whatsapp">Send
					</button>
				</div>

			</div>
		</div>
	</div>
</div>