<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<h4><i class="fa fa-money"></i>Payment Remittance Charges List
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 offset-5" *ngIf="isLoading">
						<app-loading-spinner></app-loading-spinner>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt [value]="ChargesList" styleClass="ui-table-payment-remittance-charges"
								[rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
								[rowsPerPageOptions]="[10,25,50,100,150,200]" [paginator]="true"
								[columns]="_selectedColumns" [autoLayout]="true" (onFilter)="onFilter($event, dt)"
								currentPageReportTemplate="Total Records : &#123;&#123;ChargesList.length&#125;&#125; "
								[filterDelay]="0" [loading]="isLoading"
								[globalFilterFields]="['bank_name','non_negotiable.invoice_no','total_charges_system','total_charges_bank','paymentRemitCreate.createdBy','created_date']"
								[scrollable]="true" scrollHeight="400px">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-10">
											<div class="form-inline">
												<div class="form-group mb-1 mr-1">
													<input pInputText [(ngModel)]="selected_date_range"
														(ngModelChange)="clearDropdown(); getBankChargesList()"
														[bsConfig]="datePickerConfig" #dp="bsDaterangepicker"
														[maxDate]="maxDate" bsDaterangepicker
														placeholder="Choose Date Range" class="form-control page-filter"
														readonly />
													<app-dropdown-daterange (dateEvent)="receiveDate($event)"
														[uploadSuccess]="uploadSuccess" style="margin-left:3px">
													</app-dropdown-daterange>
												</div>

												<h6 style="margin-left:10px">Entered Charges:</h6>
												<div class="col-md-2" style="margin-top:6px">
													<div class="input-group">
														<h6>
															<ng-select placeholder="Entered By Status"
																[searchable]="true" [clearable]="true" bindLabel="name"
																bindValue="id" [items]="status"
																[(ngModel)]="complete_pending_status"
																(change)="onStatusChange($event)">
															</ng-select>
														</h6>
													</div>
												</div>
												<!-- style="margin: left 10px;" -->

											</div>
										</div>

										<div class="col-md-2">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>

									</div>
								</ng-template>
								<ng-template pTemplate="header">
									<tr>
										<th style="width:150px;" pSortableColumn="{{col.field}}"
											*ngFor="let col of cols">
											{{col.header}}</th>
									</tr>
									<tr>

										<th *ngIf=" getColumnPresent('bank_name')">
											<div *ngIf="banks.length > 0 ">
												<p-multiSelect [options]="banks" placeholder="All" appendTo="body"
													(onChange)="onchange($event,'bank_name')"
													styleClass="ui-column-filter" optionLabel='bank_name'>
													<ng-template let-op pTemplate="item">

														<span>&#123;&#123;op.label&#125;&#125;</span>

													</ng-template>
												</p-multiSelect>
											</div>
										</th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>

								</ng-template>
								<ng-template pTemplate="body" let-ChargesList let-index="rowIndex">
									<tr class="ui-selectable-row">

										<td style="width:150px;">
											<span class="ui-column-title">Bank Name</span>
											{{ChargesList.non_negotiable.spipl_bank.bank_name}}
										</td>
										<td style="width:150px;">
											<span class="ui-column-title">Proform Invoice No.</span>
											{{ChargesList.non_negotiable.invoice_no}}

										</td>
										<td style="width:150px;">


											<button class="btn btn-outline-primary"
												(click)="recalculateCharges(ChargesList.n_id)"
												*ngIf="lc_payment_rem_recalculate">ReCalculate</button>

											<button class="btn btn-outline-danger"
												(click)="generatePdf(ChargesList,1)"><i class="fa fa-file-pdf-o"
													aria-hidden="true"></i></button>



										</td>
										<td style="width:150px;">{{ChargesList.total_charges_system == null? 0 :
											ChargesList.total_charges_system |currencyInr }}</td>

										<td style="width:150px;">
											<button class="btn btn-outline-primary" (click)="updateCharges(ChargesList)"
												*ngIf="lc_payment_rem_update_charges">Update
											</button>

											<button class="btn btn-outline-danger"
												(click)="generatePdf(ChargesList,2)"><i class="fa fa-file-pdf-o"
													aria-hidden="true"></i></button>

											<button class="btn btn-outline-primary"
												(click)="createVoucher(ChargesList)">Choose
												Voucher</button>

										</td>

										<td style="width:150px;">{{ChargesList.total_charges_bank == null ? 0 :
											ChargesList.total_charges_bank |currencyInr }}</td>

										<td style="width:150px;">
											<div [innerHTML]=calculatePortWiseCharges(ChargesList)></div>
										</td>

										<td style="width:150px;">

											<button class="btn btn-outline-warning"
												(click)="checkVoucher(ChargesList.id,1)"
												*ngIf="lc_payment_rem_checked_by">Check
											</button>
											<p *ngIf="ChargesList.checked_date"><span
													class="badge badge-warning">{{ChargesList.checked_date | date:
													'dd-MM-y HH:mm:ss'}} </span><br>
												<span
													class="badge badge-warning">{{ChargesList.paymentRemitChecked.checkedBy
													}}
												</span>
											</p>

										</td>

										<td style="width:150px;">

											<button class="btn btn-outline-success"
												(click)="checkVoucher(ChargesList.id,2)"
												*ngIf="lc_payment_rem_entered_by">Enter
											</button>

											<p *ngIf="ChargesList.entered_date"><span
													class="badge badge-pill badge-success">{{ChargesList.entered_date |
													date:
													'dd-MM-y HH:mm:ss'}}
												</span><br>
												<span
													class="badge badge-pill badge-success">{{ChargesList.paymentRemitEntered.enteredBy
													}} </span>
											</p>
										</td>
										<td style="width:150px;">
											<p *ngIf="ChargesList.created_by">
												{{ ChargesList.paymentRemitCreate.createdBy}}
											</p>
										</td>
										<td style="width:150px;">
											<p *ngIf="ChargesList.created_date">
												{{ ChargesList.created_date | date:
												'dd-MM-y'}}
											</p>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="footer">
									<tr>
										<td style="text-align: right;width:150px;"></td>
										<td style="text-align: right;width:150px;"></td>
										<td style="text-align: right;width:150px;"></td>
										<td style="text-align: right;width:150px;">{{totalSystemCharges | currencyInr}}
										</td>
										<td style="text-align: right;width:150px;"></td>
										<td style="text-align: right;width:150px;">{{totalBankCharges | currencyInr }}
										</td>

										<td style="text-align: right;width:150px;"></td>
										<td style="text-align: right;width:150px;"></td>
										<td style="text-align: right;width:150px;"></td>

									</tr>
								</ng-template>

								<ng-template pTemplate="emptymessage">
									<tr>

										<td colspan="6" style="text-align:left">No Records found.</td>
									</tr>
								</ng-template>

							</p-table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg " role="document" *ngIf="editChargesDetails">
		<div class="modal-content">
			<form [formGroup]="updateChargesForm" novalidate (ngSubmit)="UpdateChargesSave()" autocomplete="off">

				<div class="modal-header">
					<h4 class="modal-title">Update Charges</h4>
					<button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="row">

						<div class="col-md-12">

							<div class="card">
								<div class="card-header">

									<b><i class="fa fa-university"></i>Payment Remittance Details</b>
								</div>
								<div class="card-body">

									<div class="row">

										<div class="col-6 col-md-4">
											<label for="">Charges Date</label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fa fa-calendar"></i></span>
												</div>
												<input type="text" class="form-control" id="charges_date"
													formControlName="charges_date"
													[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
													#dp="bsDatepicker" bsDatepicker [maxDate]="today"
													placeholder="Enter Date " style="background-color: white;">
											</div>
											<!-- [(ngModel)]="invoice_date" -->
										</div>

										<div class="col-6 col-md-4">

											<label class="col-form-label" for="bank_id">Invoice Amount Inr :
												{{editChargesDetails.non_inr_amt}}</label>
											<input type="text" class="form-control" id="update_non_amt_inr"
												formControlName="update_non_amt_inr" placeholder="Enter Charges ">

										</div>
										<div class="col-6 col-md-4">
											<label class="col-form-label" for="from_date">Payment Remittance Charges
												Amount:
												{{editChargesDetails.payment_remittance_charges}}</label>

											<input type="text" class="form-control"
												id="update_payment_remittance_charges"
												formControlName="update_payment_remittance_charges"
												placeholder="Enter Charges ">
										</div>
										<div class="col-6 col-md-4">
											<label class="col-form-label" for="to_date">Currency Conversion CGST :
												{{editChargesDetails.currency_convert_cgst}}</label>

											<input type="text" class="form-control" id="update_currency_convert_cgst"
												formControlName="update_currency_convert_cgst"
												placeholder="Enter Charges ">

										</div>

										<div class="col-6 col-md-4">
											<label class="col-form-label" for="to_date">Currency Conversion SGST :
												{{editChargesDetails.currency_convert_sgst}}</label>

											<input type="text" class="form-control" id="update_currency_convert_sgst"
												formControlName="update_currency_convert_sgst"
												placeholder="Enter Charges ">

										</div>

										<div class="col-6 col-md-4">
											<label class="col-form-label" for="to_date">Swift Charges :
												{{editChargesDetails.swift_charges}}</label>

											<input type="text" class="form-control" id="update_swift_charges"
												formControlName="update_swift_charges" placeholder="Enter Charges ">

										</div>
									</div>

									<div class="row">
										<div class="col-6 col-md-6">

											<label class="col-form-label" for="bank_id">Additional Header</label>
											<input type="text" class="form-control" id="additional_header"
												formControlName="additional_header" placeholder="Enter Header ">

										</div>

										<div class="col-6 col-md-6">

											<label class="col-form-label" for="bank_id">Additional Charges</label>
											<input type="text" class="form-control" id="additional_charges"
												formControlName="additional_charges" placeholder="Enter Charges ">

										</div>

									</div>



								</div>
							</div>
						</div>



					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary mr-1" type="submit"
						[disabled]="updateChargesForm.pristine || updateChargesForm.invalid">
						<i class="fa fa-dot-circle-o"></i>Submit</button>
				</div>


			</form>
		</div>
	</div>
</div>


<div bsModal #chooseVoucherModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg " role="document">
		<div class="modal-content">
			<form [formGroup]="chooseVoucherUpdateForm" novalidate (ngSubmit)="onUpdateChooseVoucher()"
				class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title">Choose Payment Remittance Voucher</h4>
					<button type="button" class="close" (click)="chooseVoucherModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">

						<div class="col-md-4">
							<div class="form-group">
								<label class="col-form-label" for="voucher_type">
									<h4>Voucher Type</h4>
								</label>
								<div *ngFor="let item of voucher_type; let indexOfelement=index;">
									<input type="radio" name="v_name" id="v_name" value="{{item.v_name}}"
										formControlName="v_name">{{item.v_name}}

								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label class="col-form-label" for="voucher_type">
									<h4>Select Amount</h4>
								</label>
								<div *ngFor="let item of chooseHedgeAmount; let indexOfelement=index;">
									<!-- <input type="radio"
                name="v_hedgeAmount" id="v_hedgeAmount"  value="{{item.id}}" formControlName="v_hedgeAmount" 
                >{{item.hedge_amount}} -->
									<!-- <input type="checkbox" name="v_hedgeAmount" formControlName="v_hedgeAmount" value="{{item.id}}"  >{{item.hedge_amount}} -->
									<input type="checkbox" [(ngModel)]="item.isChecked" (change)="changeSelection()"
										formControlName="v_hedgeAmount">{{item.hedge_amount}}
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<div class="form-group">
								<label class="col-form-label" for="voucher_type">
									<h4>Remittance Charges</h4>
								</label><br>
								<input type="radio" name="v_flag" id="Yes" value="Yes" formControlName="v_flag">Yes
								<input type="radio" name="v_flag" id="No" value="No" formControlName="v_flag">NO
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="chooseVoucherModal.hide()">Close</button>
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>