
<div class="animated fadeIn">
    <form [formGroup]="currencyConvertForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <h3><i class="fa fa-university"></i> Bank & Dates</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="bank_id">Bank Name</label>
                                <ng-select
                                id="bank_id"
                                formControlName="bank_id"
                                placeholder="Select Bank"
                                [searchable]="true"
                                [clearable]="true"
                                bindLabel="bank_name"
                                bindValue="id"
                                [items]="spipl_bank"
                                >
                                </ng-select>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="from_date">From Date</label>
                                    <i class="fa fa-calendar"></i>
                                    <input type="text"
                                    class="form-control"
                                    id="from_date"
                                    formControlName="from_date"
                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                    #dp="bsDatepicker"
                                    bsDatepicker
                                    readonly
                                    [maxDate]="today"
                                    placeholder="Enter From Date ">
                                  </div>
      
                            </div>

                            <div class="col-6 col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label" for="to_date">To Date</label>
                                    <i class="fa fa-calendar"></i>
                                    <input type="text"
                                    class="form-control"
                                    id="to_date"
                                    formControlName="to_date"
                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                    #dp="bsDatepicker"
                                    bsDatepicker
                                    readonly
                                    [maxDate]="today"
                                    placeholder="Enter To Date ">
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <h3><i class="fa fa-money"></i>  Currency Convert Slab Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-md-2">
                                <div class="form-group">
                                    <label class="col-form-label" for="amt_range_from">Amount Range From
                                        </label>
                                    <input type="text" class="form-control" id="amt_range_from"
                                        formControlName="amt_range_from" placeholder="Enter Charges ">
                                </div>
                            </div>


                            <div class="col-6 col-md-2">
                                <div class="form-group">
                                    <label class="col-form-label" for="amt_range_to">Amount Range To</label>
                                    <input type="text" class="form-control" id="amt_range_to"
                                        formControlName="amt_range_to" placeholder="Enter Charges ">
                                </div>
                            </div>

                            <div class="col-6 col-md-2">
                                <div class="form-group">
                                    <label class="col-form-label" for="variable_charges">Variable Charges</label>
                                    <input type="text" class="form-control" id="variable_charges"
                                        formControlName="variable_charges" placeholder="Enter Charges ">
                                </div>
                            </div>

                            <div class="col-6 col-md-2">
                                <div class="form-group">
                                    <label class="col-form-label" for="min_charges">Minimum Charges</label>
                                    <input type="text" class="form-control" id="min_charges"
                                        formControlName="min_charges" placeholder="Enter Charges ">
                                </div>
                            </div>

                            <div class="col-6 col-md-2">
                                <div class="form-group">
                                    <label class="col-form-label" for="max_charges">Maximum Charges</label>
                                    <input type="text" class="form-control" id="max_charges"
                                        formControlName="max_charges" placeholder="Enter Charges ">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card-footer">
						<button class="btn btn-primary mr-1" type="submit"
							[disabled]="currencyConvertForm.pristine || currencyConvertForm.invalid">
							<i class="fa fa-dot-circle-o"></i>Submit</button>
						
						<button class="btn btn-primary" type="button" (click)="onBack()"><i
								class="fa fa-undo"></i>Back</button>
					</div>

                </div>

            </div>
        </div>
    </form>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>