<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let ticket of t.controls; let i = index">
              <div [formGroup]="ticket">
                <div class="form-group">
                      <label>{{dataKeys[i]}}</label>
                      <input type="text" formControlName="name" class="form-control"  />
                  </div>
              </div>
          </div>
          <button class="btn btn-primary mr-1">Submit</button>
        <!--   <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
          <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button> -->
</form>
