<div class="row" *ngIf="!fd_link && !payablePara">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4><i class="fa fa-inr"></i> All FDs

          <span class="pull-right">
            <button class="btn btn-primary " *ngIf="add_opt" (click)='openNewFdModal()'><i class="fa fa-plus"></i> New
              FD</button> &nbsp;
            <button class="btn btn-primary " (click)="onRefresh()"><i class="fa fa-refresh"></i></button>
          </span>

        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">

            <div class="row">

              <div class="form-group col-12 col-md-2">
                <label for="">Select FD Against</label>
                <ng-select placeholder="Select Type" [searchable]="true" [clearable]="true" bindLabel="name"
                  bindValue="id" [items]="FdAgainst" [(ngModel)]="selectedFdAgainst" (change)="filterFd()">
                </ng-select>
              </div>
              <div class="form-group col-12 col-md-2">
                <label for="">Select Bank</label>
                <ng-select placeholder="Select bank" [searchable]="true" [clearable]="true" bindLabel="bank_name"
                  bindValue="id" [items]="bankList" [(ngModel)]="selectedBank" (change)="filterFd()">
                </ng-select>
              </div>
              <div class="form-group col-12 col-md-2">
                <label for="">Select Fd type</label>
                <ng-select placeholder="Select Fd type" [searchable]="true" [clearable]="true" bindLabel="type"
                  bindValue="id" [items]="fdType" [(ngModel)]="selectedFdType" (change)="filterFd()">
                </ng-select>
              </div>

              <div class="form-group col-12 col-md-2">
                <label for="">Select Status</label>
                <ng-select placeholder="Select Fd type" [searchable]="true" [clearable]="true" bindLabel="type"
                  bindValue="id" [items]="status" [(ngModel)]="selected_status" (ngModelChange)="filterFd()">
                </ng-select>
              </div>
             
              <!-- <div class="col-md-2 mt-4 mb-1">

                       </div> -->

            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-2 offset-5" *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
          </div>
        </div>
        <div class="row" *ngIf="!isLoading">
          <div class="col-md-12">
            <p-table #dt [value]="allFDs" styleClass="ui-table-fd-list" [rowHover]="true" [rows]="10"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"  [paginator]="false"
              [autoLayout]="true" (onFilter)="onFilter($event, dt)"
              [scrollable]="true" [virtualRowHeight]="500"
              scrollHeight="400px" [virtualScroll]="true"
              currentPageReportTemplate="Total Records : {{allFDs?.length}}" [filterDelay]="0"
              [globalFilterFields]="['fd_make_dt','fd_no' ,'lc_no','fd_maturity_dt']">
              <ng-template pTemplate="caption">
                <div class="row">

                  <div class="col-md-3">
                    <div style="text-align: left">
                      <button *ngIf="excel_export" type="button" pButton icon="pi pi-file-excel" iconPos="left"
                        label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;"
                        class="ui-button-success"></button>
                      <button *ngIf="pdf_export" type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF"
                        (click)="exportPdf()" class="ui-button-warning"></button>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                      </div>
                      <input type="text" class="form-control " bsDaterangepicker [(ngModel)] ="bsRangeValue"
                        (ngModelChange)="dateSelect($event , 1)" placeholder="FD Maturity Date "
                        style="background-color: white;">
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                      </div>
                      <input type="text" class="form-control " bsDaterangepicker [(ngModel)] ="bsRangeValue2"
                        (ngModelChange)="dateSelect($event , 2)" placeholder="FD Release Date "
                        style="background-color: white;">
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="ui-table-globalfilter-container" style="text-align: right">
                      <input pInputText type="text" class="form-control"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </div>
                  </div>
                </div>


              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:3rem">
                    <p-tableHeaderCheckbox (click)="onCheckAll(a.checked)" #a></p-tableHeaderCheckbox>
                  </th>
                  <th  *ngIf="edit_opt || del_opt" style="width:100px">Action</th>
                  <!-- <th *ngIf="edit_opt">Edit</th>
                  <th *ngIf="del_opt">Delete</th> -->
                  <th pSortableColumn="{{col.field}}" *ngFor="let col of cols" [style.width]="col.style"> {{col.header}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-fd let-rowIndex='rowIndex'>
                <tr>
                  <td style="width:3rem">
                    <input type="checkbox" id="{{rowIndex}}" [value]="fd" #inputs #checkboxes
                      (click)="onSingleCheck(checkboxes.checked,fd)">
                  </td>

                  <td  *ngIf="edit_opt || del_opt" style="width:100px">
                    <button type="button" 
                      class="btn btn-sm btn-primary" [hidden]="fd.status === 1" (click)="onFdEdit(fd)"
                      style="cursor: pointer;"><i class="fa fa-pencil"></i></button>

                      <button type="button"  class="btn btn-sm btn-danger"
                      style="cursor: pointer;" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage" [confirmText]="confirmText" [cancelText]="cancelText"
                      [placement]="placement" [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                      cancelButtonType="success" (confirm)="onFdDelete(fd.id)" (cancel)="cancelClicked = true"><i class="fa fa-trash" style="color: white;"></i></button>

                      <button class="btn btn-sm btn-warning" *ngIf="payment"
															(click)="onPaymentClick(fd)"
															pTooltip="Payment" tooltipPosition="top"
															placeholder="top"><i class="fa fa-rupee"></i></button>

                
                    
                    </td>
                  <!-- <td *ngIf="del_opt">
                   
                  </td> -->
                  <td style="width:90px"><button class="btn btn-sm btn-primary" *ngIf="fd.status !== 1" (click)="onFdLink(fd)">Link</button></td>

                  <td style="width:150px"><button *ngIf="release_renew" class="btn btn-sm btn-primary"
                      (click)="openReleaseOrRenewFdModal(fd)">Release/Renew</button></td>
                  <td class="ng-star-inserted" style="width:100px"><span *ngIf="fd.status != 0 "
                      class="btn btn-pill btn-sm btn-success">{{fd.status === 1?'Release':'Renew'}}</span></td>


                  <td style="width:100px"> <span class="ui-column-title">FD Date</span> {{fd.fd_make_date | date:'dd/MM/y'}}</td>
                  <td style="width:100px"> <span class="ui-column-title">FD No</span> {{fd.fd_no}} <span *ngIf="fd.fd_copy">
                      <span *ngFor="let doc of getDocsArray(fd.fd_copy)">
                        <a href="{{doc}}" target="_blank"><i class="fa fa-file"></i></a>
                      </span>
                    </span></td>
                  <td style="width:100px"><span class="ui-column-title">Bank Name</span> {{fd.bank_name}}</td>
                  <td style="width:100px"><span class="ui-column-title">FD Amount</span> {{fd.fd_amt}}</td>
                  <td style="width:100px"><span class="ui-column-title">Maturity Date</span> {{fd.fd_maturity_date | date:'dd/MM/y'}}</td>
                  <td style="width:100px"><span class="ui-column-title">FD Days</span> {{fd.fd_in_days}}</td>
                  <td style="width:100px"><span class="ui-column-title">Rate Int%</span> {{fd.roi}}</td>
                  <td style="width:100px"> <span class="ui-column-title">Gross Interest</span>{{fd.gross_interest}}</td>
                  <td style="width:100px"><span class="ui-column-title">TDS Per%</span> {{fd.tds_percent}}</td>
                  <td style="width:100px"><span class="ui-column-title">TDS Amount</span> {{fd.tds_amt}}</td>
                  <td style="width:100px"><span class="ui-column-title">Net Interest</span> {{fd.net_interest}}</td>
                  <td style="width:100px"><span class="ui-column-title">Total Amount</span> {{fd.total_amt}}</td>
                  <td style="width:100px"><span class="ui-column-title">Release Date</span> {{ fd.fd_release_date == '0000-00-00' ? '' :
                    fd.fd_release_date |date:'dd/MM/y' }}</td>
                  <td style="width:100px"><span class="ui-column-title">Release FD Days</span> {{fd.release_fd_in_days}}</td>
                  <td style="width:100px"><span class="ui-column-title">Release Rate Int%</span> {{fd.release_roi}}</td>
                  <td style="width:100px"><span class="ui-column-title">Release Gross Interest</span> {{fd.release_gross_interest}}</td>
                  <td style="width:100px"><span class="ui-column-title">Release TDS Per%</span> {{fd.release_tds_percent}}</td>
                  <td style="width:100px"><span class="ui-column-title">Release TDS Amount</span> {{fd.release_tds_amt}}</td>
                  <td style="width:100px"><span class="ui-column-title">Release Net Interest</span> {{fd.release_net_intrest}}</td>
                  <td style="width:100px"><span class="ui-column-title">Release Total Amount</span> {{fd.release_total_amt}}</td>
                  <td style="width:100px"><span class="ui-column-title">Added By</span> {{fd.added_by_name}}</td>
                  <td style="width:100px"><span class="ui-column-title">Modified By</span> {{fd.modified_by_name}}</td>

                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td style="width:3rem"></td>
                  <td *ngIf="edit_opt || del_opt" style="width:100px"></td>
                  <!-- <td *ngIf="del_opt"></td> -->
                  <td style="width:90px"></td>
                  <td style="width:150px"></td>
                  <td style="width:100px">Total</td>
                  <td style="width:100px">{{entireTotalAmt}}</td>
                  <td colspan="19"></td>
                </tr>

              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>

                  <td colspan="26" style="text-align:left">No Records found.</td>
                </tr>
              </ng-template>

            </p-table>
            <p class="tpbutton btn-toolbar" style="text-align:center;margin:10px;margin-right: 0.5em;">
              <a *ngIf="fdCreationFlag" (click)="onFdCreationRequest()" class="btn navbar-btn btn-primary"
                style="margin: 5px;" href="javascript:void(0);">FD Creation Request</a>
              <a *ngIf="fdLiquidationFlag" (click)="onFdLiquidationRequest()" class="btn navbar-btn btn-primary"
                style="margin: 5px;" href="javascript:void(0);">FD Liquidation Request</a>
              <a *ngIf="fdRenewFlag" (click)="onFdRenewRequest()" class="btn navbar-btn btn-primary"
                style="margin: 5px;" href="javascript:void(0);">FD Renew Request</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-link-fd [FDarray]="fd_array" *ngIf="fd_link" (emitFunctionOfPi)="BackFromParent($event)"></app-link-fd>
<app-payable-request [initialPara]="payablePara" *ngIf="payablePara" (payableBack)="backFromPayable($event)">
</app-payable-request>
<!-- release fd template -->
<div bsModal #renewFdModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop:'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <!-- <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Release/Renew FD </h4>
          <button type="button" class="close" (click)="renewFdModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="fd_release_dt">Update Release Date</label>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    <input type="text"
                  class="form-control"
                  id="fd_release_dt"
                  [(ngModel)]="fd_release_date"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                  #dp="bsDatepicker"
                  bsDatepicker
                  readonly
                  placeholder="Select Release Date " >
                  </div>
                </div>
              </div>

              <div>
                <div *ngIf="fd_status != 2" style="margin-top: 40%;" class="form-group">
                  <input type="checkbox" [(ngModel)]="renew_fd" name="renew_fd" id="renew_fd" >
                  <label class="col-form-label" for="renew_fd">Renew FD</label>
                </div>
              </div>


            </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary mr-1" type="submit" (click)="onReleaseOrRenewFd()" [disabled]="!fd_release_date">
            <i class="fa fa-dot-circle-o"></i>Submit
          </button>
        </div>
        </div> -->

    <div class="modal-content">



      <div class="modal-header">
        <h4 class="modal-title">Release/Renew FD </h4>
        <button type="button" class="close" (click)="renewFdModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <div class="row">




          <div *ngIf="fd_status != 2" class="form-group" class="col-md-4">
            <input type="checkbox" [(ngModel)]="renew_fd" >
            <label class="col-form-label" for="renew_fd">Renew FD</label>
          </div>

        </div>

        <hr>
        <div *ngIf="!renew_fd">
        <form [formGroup]="newFdFormRelease" novalidate (ngSubmit)="onReleaseOrRenewFd()" autocomplete="off">
      
            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="fd_release_dt">Update Release Date</label>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control" id="fd_release_dt"
                      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                      [(ngModel)]="fd_release_date" bsDatepicker readonly placeholder="Select Release Date "
                      (ngModelChange)='setReleaseData()' formControlName="fd_release_date">
                  </div>
                </div>


              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label for="fd_no">Release FD Amount</label>
                  <input type="text" class="form-control" numbersOnly (keyup)='setReleaseData()'
                    formControlName='release_fd_amt' numbersOnly>
                </div>
              </div>



              <div class="col-md-4">
                <div class="form-group">
                  <label for="release_roi">Release Rate Of Interest</label>
                  <input type="text" class="form-control" (keyup)='setReleaseData()' formControlName='release_roi'
                    numbersOnly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="release_fd_in_days">Release Period Of FD In Days</label>
                  <input type="number" class="form-control" (change)="setReleaseData()" readonly
                    formControlName='release_fd_in_days'>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="release_gross_interest">Release Gross Interest</label>
                  <input type="text" class="form-control" readonly formControlName='release_gross_interest' numbersOnly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="release_tds_percent">Release TDS Percent</label>
                  <input type="text" class="form-control" (keyup)='setReleaseData()'
                    formControlName='release_tds_percent' numbersOnly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="release_tds_amt">Relese TDS Amount</label>
                  <input type="text" class="form-control" readonly formControlName='release_tds_amt' numbersOnly>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="release_net_interest">Release Net Interest</label>
                  <input type="text" class="form-control" readonly formControlName='release_net_interest' numbersOnly>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="release_total_amt">Release Total Amount</label>
                  <input type="text" class="form-control" readonly formControlName='release_total_amt' numbersOnly>
                </div>
              </div>


            </div>
            <div class="row" *ngIf="!renew_fd">
              <div class="col-md-12">
                <button class="btn btn-primary mr-1" type="submit" [disabled]="!fd_release_date">
                  <i class="fa fa-dot-circle-o"></i>Submit</button>
              </div>
            
            </div>
          </form>
          </div>
         

        <hr>

        <form [formGroup]="newFdFormRenew" novalidate (ngSubmit)="onReleaseOrRenewFd()" autocomplete="off">

          <div class="row" *ngIf="renew_fd">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="fd_make_dt">FD Making Date</label>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  <input type="text" class="form-control" id="fd_make_dt" formControlName="fd_make_dt" [(ngModel)]="renew_fd_make_date"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                    bsDatepicker readonly placeholder="Select Fd Making Date " (ngModelChange)='setRenewData()'>
                </div>

              </div>
            </div>
     
            <div class="col-md-4">
              <div class="form-group">
                <label for="fd_no">FD Amount</label>
                <input type="text" class="form-control" numbersOnly (keyup)='setRenewData()'
                  formControlName='fd_amt' numbersOnly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="fd_maturity_dt">Maturity Date</label>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  <input type="text" class="form-control" id="fd_maturity_dt" formControlName="fd_maturity_dt" [(ngModel)]="renew_fd_maturity_dt"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                    bsDatepicker readonly placeholder="Select Maturity Date " (ngModelChange)='setRenewData()'>
                </div>

              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="roi">Rate Of Interest</label>
                <input type="text" class="form-control" (keyup)='setRenewData()'
                  formControlName='roi' numbersOnly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="fd_in_days">Period Of FD In Days</label>
                <input type="number" class="form-control" (keyup)="setRenewData()" readonly
                  formControlName='fd_in_days'>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="gross_interest">Gross Interest</label>
                <input type="text" class="form-control" readonly formControlName='gross_interest' numbersOnly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="tds_per">TDS Percent</label>
                <input type="text" class="form-control" (keyup)='setRenewData()' formControlName='tds_percent'
                  numbersOnly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="tds_amt">TDS Amount</label>
                <input type="text" class="form-control" readonly formControlName='tds_amt' numbersOnly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="net_interest">Net Interest</label>
                <input type="text" class="form-control" readonly formControlName='net_interest' numbersOnly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="total_amt">Total Amount</label>
                <input type="text" class="form-control" readonly formControlName='total_amt' numbersOnly>
              </div>
            </div>

      



          </div>

          <div class="row" *ngIf="renew_fd">
            <div class="col-md-12">
              <button class="btn btn-primary mr-1" type="submit" [disabled]="newFdFormRenew.invalid">
                <i class="fa fa-dot-circle-o"></i>Submit</button>
            </div>
          
          </div>

          </form> 



      </div>



      <div class="modal-footer">

      </div>

    </div><!-- /.modal-content -->
  </div>
</div>



<div bsModal #fdModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop:'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="newFdForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">

        <div class="modal-header">
          <h4 class="modal-title">{{mode}} </h4>
          <button type="button" class="close" (click)=" onClose()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="fd_make_dt">FD Making Date</label>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  <input type="text" class="form-control" id="fd_make_dt" formControlName="fd_make_dt"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                    bsDatepicker readonly placeholder="Select Fd Making Date " (ngModelChange)='calculatePeriodOfFd()'>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Select Bank</label>
                <ng-select placeholder="Select bank" [searchable]="true" [clearable]="true" bindLabel="bank_name"
                  bindValue="id" [items]="bankList" formControlName='bk_id'>
                </ng-select>

              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="fd_no">FD Number</label>
                <input type="text" class="form-control" formControlName='fd_no'>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="fd_no">FD Amount</label>
                <input type="text" class="form-control" numbersOnly (ngModelChange)='calculateGrossInterest()'
                  formControlName='fd_amt' numbersOnly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="fd_maturity_dt">Maturity Date</label>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  <input type="text" class="form-control" id="fd_maturity_dt" formControlName="fd_maturity_dt"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                    bsDatepicker readonly placeholder="Select Maturity Date " (ngModelChange)='calculatePeriodOfFd()'>
                </div>

              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="rate_of_interest">Rate Of Interest</label>
                <input type="text" class="form-control" (ngModelChange)='calculateGrossInterest()'
                  formControlName='rate_of_interest' numbersOnly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="fd_in_days">Period Of FD In Days</label>
                <input type="number" class="form-control" (ngModelChange)="calculateGrossInterest()" readonly
                  formControlName='fd_in_days'>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="gross_interest">Gross Interest</label>
                <input type="text" class="form-control" readonly formControlName='gross_interest' numbersOnly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="tds_per">TDS Percent</label>
                <input type="text" class="form-control" (keyup)='calculateTdsAmt()' formControlName='tds_per'
                  numbersOnly>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="tds_amt">TDS Amount</label>
                <input type="text" class="form-control" readonly formControlName='tds_amt' numbersOnly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="net_interest">Net Interest</label>
                <input type="text" class="form-control" readonly formControlName='net_interest' numbersOnly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="total_amt">Total Amount</label>
                <input type="text" class="form-control" readonly formControlName='total_amt' numbersOnly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">FD Type</label>
                <ng-select placeholder="select" [searchable]="true" [clearable]="true" bindLabel="name" bindValue="id"
                  [items]="FdAgainst" formControlName="fd_type">
                </ng-select>
              </div>
            </div>


            <div class="col-md-4">
              <div class="form-group">
                <label for="fd_copy">FD Copy</label>
                <input type="file" class="form-control" formControlName='fd_copy' (change)="lcCopy($event)"
                  [multiple]=true>
              </div>
            </div>



          </div>

        </div>



        <div class="modal-footer">
          <button class="btn btn-primary mr-1" type="submit" [disabled]="newFdForm.invalid">
            <i class="fa fa-dot-circle-o"></i>Submit</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<toaster-container [toasterconfig]="toasterconfig"> </toaster-container>