<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><em class=" fa fa-rupee "></em> Godown Allocation For {{sub_org_name}} , Port : {{port}} , Lift Quantity : {{liftQty}}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">



                        <div class="col-md-12">

                            <h5>Add New &nbsp;<button type="button" class="btn btn-primary"
                                    (click)="addRowStorage()"><em class="fa fa-plus"></em></button></h5>
                            <form [formGroup]="StorageForm" autocomplete="off" (ngSubmit)="onSubmit()">
                                <div>


                                    <div class="row" formArrayName="StorageArr"
                                        *ngFor="let item of StorageForm.get('StorageArr')['controls'] ; let i = index">
                                        <ng-container class="row" [formGroupName]=i>


                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="">Godown</label>
                                                    <ng-select placeholder="Select Storage " [searchable]="true"
                                                        [clearable]="true" bindLabel="godown_name" bindValue="id"
                                                        formControlName="godown_id" [items]="godown" appendTo="body">
                                                    </ng-select>
                                                </div>
                                            </div>



                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="">From Date</label>
                                                    <input type="text" formControlName="from_date" class="form-control"
                                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                                        #dp="bsDatepicker" bsDatepicker placement="up"
                                                        placeholder="From Date">
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="">To Date</label>
                                                    <input type="text" formControlName="to_date" class="form-control"
                                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                                        #dp="bsDatepicker" bsDatepicker placement="up"
                                                        placeholder="To Date">
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="">Quantity</label>
                                                    <input class="form-control" formControlName="quantity" type="text"
                                                        numbersOnly>
                                                </div>
                                            </div>

                                            <div class="col-md-1 mt-3">
                                                <button class="btn btn-danger" (click)="deleteStorage(i)"><em
                                                        class="fa fa-trash"></em></button>
                                            </div>

                                        </ng-container>



                                    </div>




                                    <div class="row mb-5">
                                        <div class="col-md-3">
                                            <button class="btn btn-primary mr-1" type="submit"
                                                [disabled]="StorageForm.invalid">
                                                <em class="fa fa-dot-circle-o"></em>Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-12">


                            <div style="overflow: scroll">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Godown</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>Quantity</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr *ngFor="let item of data">
                                            <td>{{item.godown.godown_name}}</td>
                                            <td>{{item.from_date | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{item.to_date | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-primary" (click)="onEdit(item)"><i
                                                        class="fa fa-pencil"></i></button>
                                                <button class="btn btn-sm btn-danger"  mwlConfirmationPopover
                                                [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" [confirmText]="confirmText"
                                                [cancelText]="cancelText" [placement]="placement"
                                                [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                                                cancelButtonType="success" (confirm)="onDelete(item)"
                                                (cancel)="cancelClicked = true"><i
                                                        class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>

    <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true" [config]="{backdrop:'static'}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Edit </h4>

                </div>

                <div class="modal-body">

                    
                    <div class="col-md-12">

                        <form [formGroup]="StorageFormUpdate" autocomplete="off" (ngSubmit)="update()">
                            <div>


                                <div class="row">
                                   

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">Godown</label>
                                                <ng-select placeholder="Select Storage " [searchable]="true"
                                                    [clearable]="true" bindLabel="godown_name" bindValue="id"
                                                    formControlName="godown_id" [items]="godown" appendTo="body">
                                                </ng-select>
                                            </div>
                                        </div>



                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">From Date</label>
                                                <input type="text" formControlName="from_date" class="form-control"
                                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                                    #dp="bsDatepicker" bsDatepicker placement="up"
                                                    placeholder="From Date">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">To Date</label>
                                                <input type="text" formControlName="to_date" class="form-control"
                                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                                                    #dp="bsDatepicker" bsDatepicker placement="up"
                                                    placeholder="To Date">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">Quantity</label>
                                                <input class="form-control" formControlName="quantity" type="text"
                                                    numbersOnly>
                                            </div>
                                        </div>

                                     



                                </div>




                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <button class="btn btn-primary mr-1" type="submit"
                                            [disabled]="StorageForm.invalid">
                                            <em class="fa fa-dot-circle-o"></em>Submit</button>

                                            <button class="btn btn-primary mr-1" type="button" (click)="closeModal()"
                                          >
                                            <em class="fa fa-dot-circle-o"></em>close</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>

                <div class="modal-footer">
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->