<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-exchange"></i> Sales Utility
				</div>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-md-12">
							<div class="form-inline">
								<div class="form-group" *ngIf="role_id == 1 || this.company_filter">
									<label for="dateRange" class="font-weight-bold">Division: </label>
									<div class="form-group mx-sm-2">
										<ng-select id="id" bindLabel="name" bindValue="id" [items]="companyList"
											[(ngModel)]="selected_company" placeholder="Select Division"
											(change)="getCustomers()" style="width: 400px !important;">
										</ng-select>
									</div>
								</div>

								<div class="form-group">
									<label for="dateRange" class="font-weight-bold">Customer: </label>
									<div class="form-group mx-sm-3">
										<ng-select id="sub_org_id" bindLabel="name" bindValue="sub_org_id"
											[items]="customersList" placeholder="Select Customer"
											(change)="onCustomer($event)" style="width: 400px !important;"
											[(ngModel)]="customers">
										</ng-select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="!isLoading">
						<p-table #dt dataKey="id" [value]="data" styleClass="ui-p-table" [rowHover]="true" [rows]="10"
							[showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100,200,500]"
							[loading]="isLoading" [paginator]="true" [columns]="selectedColumns"
							currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries"
							[filterDelay]="0"
							[globalFilterFields]="[	'customerName','invoice_no','invoice_date','total_amount','interest_amount','actual_payment','total_recieved']">
							<ng-template pTemplate="caption">
							<div class="row">
								<div class="col-md-6">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-calendar"></i></span>
										</div>
										<input type="text" class="form-control " 
										[bsConfig]="datePickerConfig" bsDaterangepicker
											[(ngModel)]="bsRangeValue2" placeholder="Proforma Invoice Date"
											(ngModelChange)="clearDropdown();loadPaymentData()">
										<app-dropdown-daterange class="ml-4" (dateEvent)="receiveDate($event)" [uploadSuccess]="uploadSuccess"></app-dropdown-daterange>
									</div>
									</div>
								<div class="col-md-3"></div>
								<div class="col-md-3">
									<div class="ui-table-globalfilter-container">
										<input pInputText type="text" class="form-control"
											(input)="dt.filterGlobal($event.target.value, 'contains')"
											placeholder="Global Search" />
									</div>
								</div>
							</div>
								
							</ng-template>
							<ng-template pTemplate="header" let-columns>
								<tr>
									<th style="width: 3em;"></th>
									<th pSortableColumn="{{col.field}}" *ngFor="let col of columns"> {{col.header}}
										<p-sortIcon field="{{col.field}}">
										</p-sortIcon>
									</th>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th>
										<div *ngIf="invoices.length > 0 ">
											<p-multiSelect [options]="invoices" placeholder="All"
												appendTo="body" (onChange)="onchange($event,'invoice_no')"
												styleClass="ui-column-filter" optionLabel="invoice_no">
												<ng-template let-opt pTemplate="item">

													<span>{{opt.label}}</span>

												</ng-template>
											</p-multiSelect>
										</div>
									</th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th>
										<div *ngIf="type_list.length > 0 ">
											<p-multiSelect [options]="type_list" placeholder="All"
												appendTo="body" (onChange)="onchange($event,'import_local_flag')"
												styleClass="ui-column-filter" optionLabel="import_local_flag">
												<ng-template let-opt pTemplate="item">

													<span>{{opt.label == 1 ? 'Import' : 'Local'}}</span>

												</ng-template>
											</p-multiSelect>
										</div>
									</th>
									<th></th>
									</tr>
							</ng-template>
							<ng-template pTemplate="body" let-item let-columns let-i="rowIndex">
								<tr class="ui-selectable-row">
									<td class="text-success">
										<i *ngIf="item.total_amount == item.received_amount" class="fa fa-check"></i>
									</td>
									<td>
										<span class="ui-column-title">Customer Name</span>
										<span>{{item.customer}}</span>
									</td>
									<td>
										<span class="ui-column-title">virtual_acc_no</span>
										<span>{{item.virtual_acc_no}}</span>
									</td>
									<td>
										<span class="ui-column-title">Invoice No</span>
										<span>{{item.invoice_no}}</span>
									</td>
									<td>
										<span class="ui-column-title">Dispatch Date</span>
										<span>{{item.added_date | date:'dd-MMM-yyyy hh:mm a'}}</span>
									</td>
									<td>
										<span class="ui-column-title">Payment Due Date</span>
										<span>{{item.payment_due_date}}</span>
									</td>


									<td>
										<span class="ui-column-title">Total Amount</span>
										<span>	{{item.total_amount | number : '1.2-2'}}</span>
									</td>

									<td>
										<span class="ui-column-title">Recieved Amount</span>
										<span>{{item.received_amount | number : '1.2-2'}}</span> &nbsp;
										<span *ngIf="getMinusOperation(item.total_amount,item.received_amount) > 0">
											<i class="fa fa-plus" (click)="updateAmount(item)"></i>	
										</span>							
									</td>

									<td>
										<span class="ui-column-title">payment_type</span>
										<span>{{(item.payment_type==1) ? 'Recieved' : 'Debit Note'}}</span>
									</td>


									<td>
										<span class="ui-column-title">Total Pending</span>
										<span> {{getMinusOperation(item.total_amount,item.received_amount) | number : '1.2-2'}}</span>
									</td>


									<td>
										<span class="ui-column-title">Status</span>

										<ng-container *ngIf="item.status==1">
											<span class="badge badge-pill badge-success">Done</span>
										</ng-container>

										<ng-container *ngIf="item.status==0">
											<span class="badge badge-pill badge-warning">Pending</span>
										</ng-container>
									</td>

									<td>
										<span class="ui-column-title">Recieved Date</span>
										<span> {{item.payment_received_date | date:'dd-MMM-yyyy hh:mm a'}}</span>
									</td>
									<td>
										<span class="ui-column-title">Import/Local</span>
										<ng-container *ngIf="item.import_local_flag==1">
											<span class="badge badge-pill badge-success">Import</span>
										</ng-container>
										<ng-container *ngIf="item.import_local_flag==2">
											<span class="badge badge-pill badge-warning">Local</span>
										</ng-container>
									</td>
									<td *ngIf="item.name != ' '">
										<span class="ui-column-title">Utility Used By</span>
										<span (click)="viewUtility(item)">
											<i class="fa fa-eye"></i>
										</span>
									</td>
								</tr>
							</ng-template>
							<ng-template pTemplate="footer" let-columns>
								<tr *ngIf="data.length > 0">
									<td colspan="4"></td>
									<td>Total :{{getSumOf(data,'total_amount') | number : '1.2-2' }}</td>
									<td>Total :{{getSumOf(data,'received_amount') | number : '1.2-2' }}</td>
									<td colspan="3"></td>
									<td colspan="4">
									    {{ getMinusOperation(getSumOf(data,'total_amount') ,getSumOf(data,'received_amount') ) | number : '1.2-2' }}</td>
									<!-- <td>Total :{{ getMinusOperation(getSumOf(data,'total_amount'),getSumOf(data,'received_amount'))}}</td> -->
								</tr>
							</ng-template>
							<ng-template pTemplate="emptymessage">
								<tr>
									<td colspan="12" class="text-center">No Data found.</td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="View Deal"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<i class="fa fa-eye"></i>Utility Details 
				</h4>
				<button type="button" class="close" (click)="closeModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table  *ngFor="let col of viewData">
					<tr>
						<th><strong>Utility Used By: </strong> </th>
						<td><span style="margin-left: 50px;">{{viewName}}</span></td>
					</tr>
					<tr>
						<th><strong>Utility Date: </strong></th>
						<td><span style="margin-left: 50px;">{{col.utility_used_date |  date:'dd-MMM-yyyy hh:mm a'}}</span></td>
					</tr>
					<tr>
						<th><strong>Total Received: </strong></th>
						<td><span style="margin-left: 50px;">{{col.received_amount | number : '1.2-2'}}</span></td>
					</tr>
					<br>
				</table>
			</div>
		</div>
	</div>
</div>

<div bsModal #amountModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="View Deal"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-md" role="document">
		<form [formGroup]="recievedAmountForm" novalidate (ngSubmit)="updateAmountData($event)"
			class="needs-validation"  autocomplete="off">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
						<i class="fa fa-pencil"></i>Update Received Amount
					</h4>
					<button type="button" class="close" (click)="closeModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label>Pending Amount</label>
					<input type="text" class="form-control" id="total_amount" formControlName="total_amount" readonly
						disabled>
					<div>
					<label>Received Amount</label>
					<input type="text" class="form-control" id="received_amount" formControlName="received_amount"
						placeholder="Received Amount" numbersOnly (keyup)="checkLimit()">
					<span *ngIf="amountExceed" style="color: red;">Amount Should be smaller than or equal to pending amount</span>
				</div>
					<label>Date</label>
					<input type="text" class="form-control" id="Date" formControlName="editedDate"
						placeholder="Select Date" [maxDate]="maxDate" [bsConfig]="datePickerConfig" bsDatepicker>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"
						[disabled]="recievedAmountForm.pristine || recievedAmountForm.invalid">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>