.progress {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    display: flex;
    font-size: 1rem;
    height: 1rem;
    margin-top:1rem;
    overflow: hidden;
  }
  
  .progress-bar {
    align-items: center;
    background-color: #258b44;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  