<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">

					<div class="row">
						<div class="col-md-10">
							<h4><i class="cui-layers icons "></i> Grade Assortment For {{sub_org_name}}
								,{{getMonth(shipment_month)}}-{{shipment_year}} </h4>
							<span style="font-size: 16px;"><strong>Deal Date :</strong> {{deal_date | date : "dd-MM-y"}}
								, <strong>Total Quantity :</strong> {{deal_quantity}} {{unit_name}} , <strong>Rate
									:</strong> {{deal_rate}} , <strong>Indent Quantity :</strong> {{indent_qty}} ,
								<strong>Transnational Sale Quantity :</strong> {{transnational_sale_pi_qty}},
								<strong>Forward Sale Quantity :</strong> {{forward_sale_pi_qty}}, <strong>HighSeas Sale
									Quantity :</strong> {{highseas_sale_pi_qty}} </span>
						</div>
						<div class="col-md-2">

							<button class="btn btn-outline-primary active pull-right" *ngIf="add_grade_port"
								(click)="addNew()"> + Grade Assortment</button>
						</div>
					</div>


				</div>
				<div class="card-body">

					<div class="row mb-3">
						<div class="col-md-3">
							<h4><span class="badge badge-danger">Remaining Grade Assortment ({{unit_name}}) :
									{{new_bal_qty}}</span></h4>
						</div>
						<div class="col-md-4 offset-md-4">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-search"></i></span>
								</div>
								<input type="text" class="form-control" [(ngModel)]="filterQuery"
									placeholder="Search by name" />
							</div>
						</div>
					</div>

					<table class="table table-striped table-hover table-responsive-lg"
						[mfData]="data | tableFilter : filterQuery:filterArray" #mf="mfDataTable" [mfRowsOnPage]="5"
						*ngIf="!isLoading">
						<thead>
							<tr>
								<th style="width: 8%">
									<mfDefaultSorter by="sr_no">Sr.No.</mfDefaultSorter>
								</th>
								<th style="width: 8%">
									<mfDefaultSorter by="import_type">Import Type</mfDefaultSorter>
								</th>
								<th style="width: 10%">
									<mfDefaultSorter by="id">GA Id</mfDefaultSorter>
								</th>
								<th style="width: 15%">
									<mfDefaultSorter by="grade_name">Grade </mfDefaultSorter>
								</th>
								<th style="width: 15%">
									<mfDefaultSorter by="port_name">Port </mfDefaultSorter>
								</th>
								<th>
									<mfDefaultSorter by="ga_quantity">Quantity</mfDefaultSorter>
								</th>

								<th>
									<mfDefaultSorter by="ga_quantity">Bal Qty</mfDefaultSorter>
								</th>

								<th>
									<mfDefaultSorter by="ga_rate">Rate</mfDefaultSorter>
								</th>
								<th *ngIf="add_pi">
									Add PI
								</th>

								<th *ngIf="edit_grade_assortment">
									Edit
								</th>
								<th *ngIf="delete_grade_assortment">
									Delete
								</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i"
								[attr.id]="item.sub_org_id">
								<td>{{i+1}}</td>
								<td>{{getImportName(item.import_type)}}</td>
								<td>{{item.id}}</td>
								<td>{{ item.grade_name | slice:0:-1}}</td>
								<td>{{ item.port_name | slice:0:-1}}</td>
								<td>{{item.ga_quantity}}</td>
								<td>{{item.totaPiAgainstGa}}</td>
								<td>{{item.ga_rate}}</td>
								<td *ngIf="add_pi"><a style="cursor: pointer;" class="btn btn-sm btn-info"
										(click)="addPI(item.id)">PI</a></td>

								<td *ngIf="edit_grade_assortment"><a style="cursor: pointer;" (click)="onEdit(item)"><i
											class="fa fa-pencil"></i></a></td>
								<td *ngIf="delete_grade_assortment"><a style="cursor: pointer;" mwlConfirmationPopover
										[popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
										[confirmText]="confirmText" [cancelText]="cancelText" [placement]="placement"
										[closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
										cancelButtonType="success" (confirm)="onDelete(item.id)"
										(cancel)="cancelClicked = true"><i class="fa fa-trash"></i></a></td>
							</tr>
						</tbody>
						<tfoot>

							<tr>
								<td><strong>Total</strong></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><strong>{{ data | tableFilter:
										filterQuery:filterArray|totalsum:'ga_quantity'}}</strong></td>
								<td><strong>{{ data | tableFilter:
										filterQuery:filterArray|totalsum:'totaPiAgainstGa'}}</strong></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

							</tr>

							<tr>
								<td colspan="11">
									<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100,200]"></mfBootstrapPaginator>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="card-footer">
					<button class="btn btn-primary" type="button" (click)="onBack()"><i
							class="fa fa-undo"></i>Back</button>
				</div>
			</div>
		</div>
	</div>


</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>


<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title"> Add Grade Assortment</h4>
				<button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form [formGroup]="addGradeForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
				<div class="modal-body">
					<div class="row">

						<input type="hidden" class="form-control" id="id" formControlName="id">

						<div class="col-12 col-md-6">
							<div class="form-group">
								<label class="col-form-label" for="grade_id">Grade</label>
								<ng-select id="grade_id" formControlName="grade_id" placeholder="Select Grade"
									[searchable]="true" [clearable]="true" bindLabel="grade_name" bindValue="grade_id"
									[items]="grade_list" [multiple]=true>
								</ng-select>
							</div>
						</div>

						<div class="col-12 col-md-6">
							<div class="form-group">
								<label class="col-form-label" for="ga_quantity"> Quantity</label>
								<input type="text" class="form-control" id="ga_quantity" formControlName="ga_quantity"
									placeholder="Enter  Quantity " numbersOnly>
							</div>
						</div>

						<div class="col-12 col-md-6">
							<div class="form-group">
								<label class="col-form-label" for="ga_rate"> Rate</label>
								<input type="text" class="form-control" id="ga_rate" formControlName="ga_rate"
									placeholder="Enter Rate " numbersOnly>
							</div>
						</div>

						<div class="col-12 col-md-6">
							<div class="form-group">
								<label class="col-form-label" for="destination_port_id">Port Of Discharge</label>
								<ng-select id="destination_port_id" formControlName="destination_port_id"
									placeholder="Select Port" [searchable]="true" [clearable]="true"
									bindLabel="port_name" bindValue="id" [items]="port_list" [multiple]=true>
								</ng-select>
							</div>
						</div>

						<div class="col-12 col-md-6">
							<div class="form-group">
								<label class="col-form-label" for="import_type">Import Type</label>
								<ng-select id="import_type" formControlName="import_type"
									placeholder="Select Import Type" [searchable]="true" [clearable]="true"
									bindLabel="name" bindValue="id" [items]="import_type_list" >
								</ng-select>
							</div>
						</div>


						<div class="col-12 col-md-12">
							<label class="col-form-label" for="remark">Remark</label>
							<textarea class="form-control" id="remark" formControlName="remark" placeholder="Remark ">

                               </textarea>
						</div>



					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
					<button type="submit" class="btn btn-primary"
						[disabled]="addGradeForm.pristine || addGradeForm.invalid">Submit</button>
				</div>
			</form>

		</div>
	</div>
</div>