<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4><i class="fa fa-inr"></i> FD Linking List
          <span class="pull-right"><button class="btn btn-primary" (click)="getAllList()"><i class="fa fa-refresh"></i></button></span>
        </h4>
      </div>
      <div class="card-body">


        <div class="row">
          <div class="col-md-2 offset-5" *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
          </div>
        </div>
        <div class="row" *ngIf="!isLoading ">
          <div class="col-md-12">
             <p-table #dt [value]="allFDs" styleClass="ui-table-fd-list" [rowHover]="true" [rows]="10"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading" [paginator]="true"
              [autoLayout]="true"  [resizableColumns]="true"
              currentPageReportTemplate="Total Records : {{allFDs.length}}" [filterDelay]="0"
              [globalFilterFields]="['fdNo','bexInvoice' ,'nonInvoice','nonLcInvoice','ilcInvoice' ,'lcInvoice']">
              <ng-template pTemplate="caption">
                <div class="row">


                    <div class="col-md-6" style="font-size: 16px;">

                        <input type="radio" name="type" [value]="1" (change) ="onTypeCheck($event)">&nbsp;&nbsp;LC Link to FD List &nbsp;&nbsp;
                        <input type="radio" name="type" [value]="2" (change) ="onTypeCheck($event)">&nbsp;&nbsp;Invoices Knock Off to FD List&nbsp;&nbsp;


                    </div>



                  <div class="col-md-2">
                    <div class="ui-table-globalfilter-container" style="text-align: right">
                      <input pInputText type="text" class="form-control"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </div>
                  </div>
                </div>


              </ng-template>
              <ng-template pTemplate="header">
                <tr>

                  <th pSortableColumn="{{col.field}}" *ngFor="let col of cols"> {{col.header}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-fd let-rowIndex='rowIndex'>

                <tr>

                  <td> <span class="ui-column-title">FD Number</span> {{fd.fdNo}}</td>
                  <td> <span class="ui-column-title">FD Amount</span> {{fd.fdAmount | currencyInr}} </td>
                  <td><span class="ui-column-title">Currency</span> {{fd.currency }}</td>
                  <td><span class="ui-column-title">Currency Rate</span> {{fd.currency_rate}}</td>
                  <td><span class="ui-column-title">Original Invoice Amount</span> {{fd.currency_type_amount }}</td>
                  <td><span class="ui-column-title">Bex Invoice</span> {{fd.bexInvoice}}</td>
                  <td><span class="ui-column-title">Non Invoice</span> {{fd.nonInvoice}}</td>
                  <td><span class="ui-column-title">Non Lc Invoice</span> {{fd.nonLcInvoice}}</td>
                  <td> <span class="ui-column-title">Lc Invoice</span>{{fd.lcInvoice}}</td>
                  <td><span class="ui-column-title">Ilc Invoice</span> {{fd.ilcInvoice}}</td>
                  <td><span class="ui-column-title">Total Amount</span> {{fd.totalAmount | currencyInr}}</td>



                </tr>
              </ng-template>

              <ng-template pTemplate="footer">
                <tr>

                  <td></td>
                  <td></td>
                  <td colspan="7"></td>
                  <td>Total :</td>
                  <td>{{allFDs | totalsum : 'totalAmount' | currencyInr}}</td>

                </tr>

              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>

                  <td colspan="26" style="text-align:left">No Records found.</td>
                </tr>
              </ng-template>

            </p-table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
