<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h4><i class="fa fa-list"></i> Price List Update
                            </h4>
                        </div>

                    </div>

                </div>
                <div class="card-body">


                    <div>
                        <form [formGroup]="addPriceListForm" novalidate (ngSubmit)="onSubmitPriceList()"
                            autocomplete="off">

                            <div class="row">

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="change_date_db">Date</label>
                                        <input type="text" class="form-control" id="change_date_db"
                                            formControlName="change_date_db"
                                            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                            #dp="bsDatepicker" bsDatepicker readonly placeholder="Enter Date "
                                            style="background-color: white;" [(ngModel)]="change_date_db">
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="cash_discount">Cash Discount</label>
                                        <input type="text" class="form-control" id="cash_discount"
                                            formControlName="cash_discount" placeholder="Enter Cash Discount"
                                            [(ngModel)]="cash_discount">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="other_discount">Other Discount</label>
                                        <input type="text" class="form-control" id="other_discount"
                                            formControlName="other_discount" placeholder="Enter Other Discount"
                                            [(ngModel)]="other_discount">
                                    </div>
                                </div>




                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="bcd">BCD</label>
                                        <input type="checkbox" class="form-control" id="bcd" name="bcd"
                                            formControlName="bcd" [(ngModel)]="bcd">
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="sws">SWS</label>
                                        <input type="checkbox" class="form-control" id="sws" name="sws"
                                            formControlName="sws" [(ngModel)]="sws">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-form-label" for="frieght_rate">Freight Rate</label>
                                        <input type="text" class="form-control" id="frieght_rate"
                                            formControlName="frieght_rate" placeholder="Enter Freight"
                                            [(ngModel)]="frieght_rate">
                                    </div>
                                </div>

                            </div>


                            <div class="modal-footer">
                                <button class="btn btn-primary mr-1" type="submit"
                                    [disabled]="addPriceListForm.pristine || addPriceListForm.invalid">
                                    <i class="fa fa-dot-circle-o"></i>Submit
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <div class="col-md-2 offset-5" *ngIf="isLoading">
                            <app-loading-spinner></app-loading-spinner>
                        </div>
                    </div>


                    <div class="row" *ngIf="!isLoading">
                        <div class="col-md-12">
                            <p-table #dt [value]="price_list_details" dataKey="id" styleClass="ui-table-customers  "
                                [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                                [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading" [paginator]="false"
                                [columns]="_selectedColumns" (onFilter)="onFilter($event, dt)" [scrollable]="true"
                                [virtualRowHeight]="500" scrollHeight="400px" [virtualScroll]="true"
                                currentPageReportTemplate="Total Records : {{price_list_details.length}}"
                                [filterDelay]="0"
                                [globalFilterFields]="['change_date','manufacture_name','city_name','grade_name']">


                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input pInputText class='form-control' type="text"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Global Search" />
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template pTemplate="header" let-columns>


                                    <tr>
                                        <th [style.width]="col.style" pSortableColumn="{{col.field}}"
                                            *ngFor="let col of columns">
                                            {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th *ngIf="getColumnPresent('change_date')" style="width: 150px;">
                                            <input type="text" class="form-control" [(ngModel)]="change_date"
                                                (ngModelChange)="onDateSelect($event,'change_date')"
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                                #dp="bsDatepicker" bsDatepicker placeholder="Search by Date">
                                        </th>

                                        <th *ngIf="getColumnPresent('manufacture_name')" style="width: 150px;">
                                            <div *ngIf="manufacturer_arr.length > 0 ">
                                                <p-multiSelect [options]="manufacturer_arr" placeholder="All"
                                                    appendTo="body" (onChange)="onchange($event,'manufacture_name')"
                                                    styleClass="ui-column-filter" optionLabel='manufacture_name'>
                                                    <ng-template let-op pTemplate="item">

                                                        <span>&#123;&#123;op.label&#125;&#125;</span>

                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </th>

                                        <th *ngIf="getColumnPresent('city_name')" style="width: 150px;">
                                            <div *ngIf="city_master_arr.length > 0 ">
                                                <p-multiSelect [options]="city_master_arr" placeholder="All"
                                                    appendTo="body" (onChange)="onchange($event,'city_name')"
                                                    styleClass="ui-column-filter" optionLabel='city_name'>
                                                    <ng-template let-op pTemplate="item">

                                                        <span>&#123;&#123;op.label&#125;&#125;</span>

                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </th>

                                        <th *ngIf="getColumnPresent('grade_name')" style="width: 150px;">
                                            <div *ngIf="grade_master_arr.length > 0 ">
                                                <p-multiSelect [options]="grade_master_arr" placeholder="All"
                                                    appendTo="body" (onChange)="onchange($event,'grade_name')"
                                                    styleClass="ui-column-filter" optionLabel='grade_name'>
                                                    <ng-template let-op pTemplate="item">

                                                        <span>&#123;&#123;op.label&#125;&#125;</span>

                                                    </ng-template>
                                                </p-multiSelect>
                                            </div>
                                        </th>


                                        <th *ngIf="getColumnPresent('basic_rate')" style="width: 150px;"></th>
                                        <th *ngIf="getColumnPresent('cash_discount')" style="width: 150px;"></th>
                                        <th *ngIf="getColumnPresent('other_discount')" style="width: 150px;"></th>
                                        <th *ngIf="getColumnPresent('bcd')" style="width: 150px;"></th>
                                        <th *ngIf="getColumnPresent('sws')" style="width: 150px;"></th>
                                        <th *ngIf="getColumnPresent('net_value')" style="width: 150px;"></th>

                                    </tr>


                                </ng-template>
                                <ng-template pTemplate="body" let-item let-columns let-index="rowIndex">
                                    <tr class="ui-selectable-row">

                                        <td style="width: 150px;" *ngIf="getColumnPresent('change_date')">
                                            <span class="ui-column-title">Date</span>
                                            {{item.change_date | date : 'dd-MM-yyyy' }}
                                        </td>
                                        <td style="width:150px;" *ngIf="getColumnPresent('manufacture_name')">
                                            <span class="ui-column-title">Manufacture Name</span>
                                            {{item.manufacture_name}}
                                        </td>
                                        <td style="width: 150px;" *ngIf="getColumnPresent('city_name')">
                                            <span class="ui-column-title">Location</span>
                                            {{item.city_name}}
                                        </td>

                                        <td style="width: 150px;" *ngIf="getColumnPresent('grade_name')">
                                            <span class="ui-column-title">Grade Name</span>
                                            {{item.grade_name}}
                                        </td>

                                        <td style="width: 150px;" pEditableColumn
                                            *ngIf="getColumnPresent('basic_rate')">
                                            <span class="ui-column-title">Basic Rate</span>

                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input pInputText class="form-control" type="text"
                                                        [(ngModel)]="item.basic_rate"
                                                        (change)="update($event , item.id , 'basic_rate' , item )"
                                                        (keydown.enter)="update($event , item.id , 'basic_rate', item )">
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{item.basic_rate}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>

                                        <td style="width: 150px;" *ngIf="getColumnPresent('cash_discount')">
                                            <span class="ui-column-title"> Cash Discount</span>
                                            {{item.cash_discount}} MT
                                        </td>

                                        <td style="width: 150px;" *ngIf="getColumnPresent('other_discount')">
                                            <span class="ui-column-title"> Other Discount</span>
                                            {{item.other_discount}} MT
                                        </td>

                                        <td style="width: 150px;" *ngIf="getColumnPresent('bcd')">
                                            <span class="ui-column-title">BCD</span>
                                            {{item.bcd}} MT
                                        </td>

                                        <td style="width: 150px;" *ngIf="getColumnPresent('sws')">
                                            <span class="ui-column-title"> SWS</span>
                                            {{item.sws}} MT
                                        </td>


                                        <td style="width: 150px;" *ngIf="getColumnPresent('net_value')">
                                            <span class="ui-column-title">Net Value</span>
                                            {{item.net_value}}
                                        </td>

                                    </tr>
                                </ng-template>



                                <!-- <ng-template pTemplate="emptymessage">

                                    <tr>
                                        <td colspan="10" style="text-align:left">No Data found.</td>
                                    </tr>
                                </ng-template> -->
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<toaster-container [toasterconfig]="toasterconfig"></toaster-container>