<div class="animated fadeIn">
    <div class="row" *ngIf="!isLoading">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-whatsapp"></i> Send Whatsapp
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select id="id" style="font-size: 12px;" placeholder="Select Category"
                                    [searchable]="true" [clearable]="true" bindLabel="cont_type" bindValue="sub_org_id"
                                    [items]="categories" [multiple]=true (change)="onchange($event)"
                                    [(ngModel)]="sub_org_id">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary" (click)="submit()"> Submit </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isLoading">
        <div class="col-md-12">
            <p>total contacts = {{zoneData}}</p>
        </div>
        <div>
            <ng-select style="font-size: 12px;" placeholder="Select User" [searchable]="true" [clearable]="true"
                bindLabel="name" bindValue="id" [items]="whatsappMsgs" [multiple]=false (change)="onchange2($event)">
            </ng-select>
        </div>

        <div class="col-md-1">
            <!-- <button type="button" class="btn btn-primary" [disabled]="!showed" (click)="submit2()"> Submit </button> -->
            <button type="button" class="btn btn-primary" (click)="submit2()"> Submit </button>

        </div>
    </div>
</div>


<!-- <div bsModal #knockOffModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Renew Deal"
    aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" *ngif="!showed">
            <div class="row">
                <ng-select id="id" style="font-size: 12px;" placeholder="Select template" [searchable]="true"
                    [clearable]="true" bindLabel="cont_type" bindValue="sub_org_id" [items]="categories" [multiple]=true
                    (change)="onchange($event)" [(ngModel)]="sub_org_id">
                </ng-select>
            </div>
            <div class="row" *ngif="showed">
                <video controls poster="/images/w3html5.gif">
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div> -->