<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12">


			<div class="card">
				<div class="card-header">
					<h4><i class="fa fa-list"></i> Utilization Chart</h4>
				</div>


				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<div class="row">

								<div class="form-group col-6 col-md-3" [hidden]="non_lc_roll">
									<label for="">Lc Opening Date</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fa fa-calendar"></i></span>
										</div>
										<input type="text" class="form-control " bsDaterangepicker
											[(ngModel)]="bsRangeValue" (ngModelChange)="onchange()"
											placeholder="From Date - To Date">
									</div>
								</div>

								<div class="form-group col-6 col-md-2">
									<label for="">Bank</label>
									<ng-select placeholder="Select Bank" [searchable]="true" [clearable]="true"
										bindLabel="bank_name" bindValue="id" [items]="spipl_bank"
										(change)="onSubmit($event,'bank','id')">
									</ng-select>
								</div>
							</div>
						</div>
					</div>





					<div class="row">
						<div class="col-md-12">

							<mat-tab-group (selectedTabChange)="onChangtab($event)" #tabGroup>

								<mat-tab label="LC Utilization">

									<!-- <p-table [value]="lcUtilizationArray" styleClass="ui-table-utilization" [scrollable]="true" [paginator]="true"  scrollHeight="500px"  [virtualScroll]="true" [virtualRowHeight]="300"> -->
									<p-table [value]="lcUtilizationArray" dataKey="id" styleClass="ui-table-utilization"
										[rows]="10" [showCurrentPageReport]="true" [rowHover]="true"
										[rowsPerPageOptions]="[10,25,50,100]" [autoLayout]="true" [paginator]="true"
										[scrollable]="true"
										currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">

										<ng-template pTemplate="header">
											<tr>
												<th>Date</th>
												<th>Supplier</th>
												<th>LC/Invoice No.</th>
												<th>Doc Ref No.</th>
												<th>Credit Amount </th>
												<th>Debit Amount </th>
												<th>Currency</th>
												<th>Rate</th>
												<th>INR</th>
												<th>Edit</th>
											</tr>
										</ng-template>


										<ng-template pTemplate="body" let-item>
											<tr>
												<td>
													<span class="ui-column-title">Lc Opening Date</span>
													<span style="font-weight:bold">{{item.lc_opening_date | date :
														"dd-MM-y"}}</span>
													<span
														[class]="'customer-badge status-'+item.payment_status">{{getStatus(item.payment_status)
														}}</span>

												</td>

												<td>
													<span class="ui-column-title">Supplier Name</span>
													<span style="font-weight:bold">{{item.sub_org_master.sub_org_name}}
													</span>
												</td>

												<td>
													<span class="ui-column-title">Bank Lc No.</span>
													<span style="font-weight:bold">{{item.bank_lc_no}} </span>

													<span class="btn btn-pill btn-sm btn-danger"
														*ngIf="item.lc_cancel_date!=null">LC CANCEL</span>

												</td>
												<td></td>

												<td>
													<span class="ui-column-title">Lc Amount </span>
													<!-- +item.tolerance_plus_amount-item.tolerance_minus_amount -->
													<span style="font-weight:bold">{{(item.lc_amount) |
														currencyInr}}</span>
												</td>
												<td></td>
												<td> <span class="ui-column-title">Currency </span>
													<span style="font-weight:bold">{{item.Currency_Name}}</span>
												</td>

												<td>
													<span class="ui-column-title">Lc Rate</span>
													<span style="font-weight:bold">{{item.lc_rate}}</span>
												</td>
												<td>
													<span class="ui-column-title">Lc Amount INR</span>
													<!-- +item.tolerance_plus_amount-item.tolerance_minus_amount -->
													<span style="font-weight:bold">{{(item.lc_rate*(item.lc_amount)) |
														currencyInr}}</span>
												</td>
												<td></td>
											</tr>

											<tr mdbTableCol *ngFor="let sub_item  of item.Non_Deatails">
												<td>
													<span class="ui-column-title">Original Received Date</span>
													{{sub_item.original_doc_received_date | date : "dd-MM-y"}}


												</td>
												<td>
													<span class="ui-column-title">Supplier Name</span>
													{{item.sub_org_master.sub_org_name}}
												</td>

												<td>
													<span class="ui-column-title">Invoice No.</span>
													{{sub_item.invoice_no}}
												</td>
												<td>
													<span class="ui-column-title">Doc Ref No.</span>
													{{sub_item.doc_ref_no}}
												</td>

												<td></td>
												<td>
													<span class="ui-column-title">Invoice Amount </span>
													{{sub_item.tot_non_amt | currencyInr}}
												</td>
												<td>
													<span class="ui-column-title">Currency </span>
													{{sub_item.CurrencyName}}
												</td>
												<td>
													<span class="ui-column-title">Invoice Rate</span>
													{{sub_item.non_rate}}
												</td>
												<td>
													<span class="ui-column-title">Invoice Amount INR</span>
													{{(sub_item.tot_non_amt*sub_item.non_rate) | currencyInr}}
												</td>

												<td>
													<span class="ui-column-title">Edit</span>
													<a style="cursor: pointer;"
														(click)="onEdit(sub_item.id,sub_item.payment_status,sub_item.non_rate)"><i
															class="fa fa-pencil"></i></a>
												</td>
											</tr>

										</ng-template>



									</p-table>
									<br>
									<p> <span *ngIf="lc_amount_pending_USD"> <strong>Total USD Pending : </strong>
											{{lc_amount_pending_USD | currencyInr}}</span>&nbsp;
										<span *ngIf="lc_amount_pending_GBP"><strong>Total GBP Pending :</strong>
											{{lc_amount_pending_GBP | currencyInr}}</span>&nbsp;
										<span *ngIf="lc_amount_pending_AED"><strong>Total AED Pending : </strong>
											{{lc_amount_pending_AED | currencyInr}}</span>
									</p>
									<p>
										<strong>Total INR Pending : </strong>{{LcUtilINRRemain | currencyInr}}
									</p>

									<p>
										<strong>Total INR Pending(Fedai) : </strong>{{(lc_amount_pending_USD*fedai_rate)
										| currencyInr}}
									</p>






								</mat-tab>


								<mat-tab label="Doc Acceptance">
									<!-- <p-table [value]="DocAccepatnceArray" styleClass="ui-table-utilization" [scrollable]="true" scrollHeight="500px"  [virtualScroll]="true" [virtualRowHeight]="300" > -->
									<p-table [value]="DocAccepatnceArray" dataKey="id" styleClass="ui-table-utilization"
										[rows]="10" [showCurrentPageReport]="true" [rowHover]="true"
										[rowsPerPageOptions]="[10,25,50,100]" [autoLayout]="true" [paginator]="true"
										[scrollable]="true"
										currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
										<ng-template pTemplate="header">
											<tr>
												<th>Date</th>
												<th>Supplier/Doc Ref No.</th>
												<th>LC/Invoice No.</th>
												<th>Credit Amount </th>
												<th>Debit Amount </th>
												<th>Currency</th>
												<th>Rate</th>
												<th>INR</th>
												<th>Edit</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-item>
											<tr>
												<td></td>
												<td> <span
														style="font-weight:bold">{{item.sub_org_master.sub_org_name}}</span>
												</td>
												<td> <span class="ui-column-title">Bank LC No.</span>
													<span style="font-weight:bold">{{item.bank_lc_no}} </span>
												</td>

												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>

											</tr>

											<tr *ngFor="let sub_item  of item.Non_details">
												<td>
													<span class="ui-column-title">Due Date</span>
													{{sub_item.due_dt | date : "dd-MM-y"}}
													<br />
													<span
														[class]="'customer-badge status-'+sub_item.payment_status">{{getStatus(sub_item.payment_status)
														}}</span>

												</td>
												<td>{{sub_item.doc_ref_no}}</td>
												<td>
													<span class="ui-column-title">Invoice No.</span>
													{{sub_item.invoice_no}}


												</td>
												<td>
													<span class="ui-column-title">Credit Amount </span>
													{{sub_item.credit_amt | currencyInr}}
												</td>
												<td>
													<span class="ui-column-title">Debit Amount </span>
													{{sub_item.debit_amt | currencyInr}}
												</td>
												<td> <span class="ui-column-title">Currency </span>
													{{sub_item.CurrencyName}}</td>
												<td>
													<span class="ui-column-title">Rate</span>
													{{sub_item.rate}}
												</td>
												<td>
													<span class="ui-column-title">Amount In INR</span>
													{{
													(getInrRate(sub_item.credit_amt,sub_item.debit_amt,sub_item.rate)) |
													currencyInr}}
												</td>

												<td>
													<span class="ui-column-title">Edit</span>
													<a style="cursor: pointer;"
														(click)="onEdit(sub_item.id,sub_item.payment_status,sub_item.rate)"><i
															class="fa fa-pencil"></i></a>
												</td>
											</tr>
										</ng-template>
									</p-table>
									<br>
									<p> <span *ngIf="doc_acceptance_USD"> <strong>Total USD Pending :</strong>
											{{doc_acceptance_USD | currencyInr}}</span>&nbsp;
										<span *ngIf="doc_acceptance_GBP"><strong>Total GBP Pending : </strong>
											{{doc_acceptance_GBP | currencyInr}}</span>&nbsp;
										<span *ngIf="doc_acceptance_AED"><strong>Total AED Pending :</strong>
											{{doc_acceptance_AED | currencyInr}}</span>
									</p>
									<p> <strong>Total INR Pending :</strong> {{DocAcceptancINReRemain | currencyInr}}
									</p>

									<p>
										<strong>Total INR Pending(Fedai) : </strong>{{(doc_acceptance_USD*fedai_rate) |
										currencyInr}}
									</p>

								</mat-tab>


								<mat-tab label="Payment Roll Over">

									<!-- <p-table [value]="PaymentRollOverArray" styleClass="ui-table-utilization" [scrollable]="true" scrollHeight="500px"  [virtualScroll]="true" [virtualRowHeight]="300"> -->
									<p-table [value]="PaymentRollOverArray" dataKey="id"
										styleClass="ui-table-utilization" [rows]="10" [showCurrentPageReport]="true"
										[rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]" [autoLayout]="true"
										[paginator]="true" [scrollable]="true"
										currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
										<ng-template pTemplate="header">
											<tr>
												<th>Date</th>
												<th>Supplier</th>
												<th>LC/Invoice No.</th>
												<th>Credit Amount </th>
												<th>Debit Amount </th>
												<th>Currency</th>
												<th>Rate</th>
												<th>INR</th>
												<th></th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-item>
											<tr>
												<td></td>
												<td>{{item.sub_org_master.sub_org_name}}</td>
												<td>
													<span class="ui-column-title">Bank LC No.</span>
													<span style="font-weight:bold">{{item.bank_lc_no}}</span>
												</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>

											</tr>

											<tr *ngFor="let sub_item  of item.Non_details">
												<td>
													<span class="ui-column-title">Date</span>
													{{sub_item.due_dt | date : "dd-MM-y"}}
													<br />
													<span
														[class]="'customer-badge status-'+sub_item.payment_status">{{getStatus(sub_item.payment_status)
														}}</span>

												</td>
												<td>
													<span class="ui-column-title">Invoice No.</span>
													{{sub_item.invoice_no}}
												</td>
												<td>
													<span class="ui-column-title">Credit Amount </span>
													{{sub_item.credit_amt | currencyInr}}
												</td>
												<td>
													<span class="ui-column-title">Debit Amount </span>
													{{sub_item.debit_amt | currencyInr}}
												</td>
												<td>
													<span class="ui-column-title">Currency </span>
													{{sub_item.CurrencyName}}
												</td>
												<td>
													<span class="ui-column-title">Rate</span>
													{{sub_item.rate}}
												</td>
												<td>
													<span class="ui-column-title">Amount In INR</span>
													{{
													(getInrRate(sub_item.credit_amt,sub_item.debit_amt,sub_item.rate)) |
													currencyInr}}

												</td>
												<td>
													<span class="ui-column-title">Edit</span>
													<a style="cursor: pointer;"
														(click)="onEdit(sub_item.id,sub_item.payment_status,sub_item.rate)"><i
															class="fa fa-pencil"></i></a>
												</td>
											</tr>
										</ng-template>
									</p-table>
									<br>
									<p> <span *ngIf="roll_over_USD"><strong>Total USD Pending : </strong>
											{{roll_over_USD | currencyInr}}</span>&nbsp;
										<span *ngIf="roll_over_GBP"><strong> Total GBP Pending :</strong>
											{{roll_over_GBP | currencyInr}}</span>&nbsp;
										<span *ngIf="roll_over_AED"><strong>Total AED Pending :</strong> {{roll_over_AED
											| currencyInr}}</span>
									</p>
									<p> <strong>INR Pending :</strong> {{RollOverINRRemain | currencyInr}}</p>

								</mat-tab>

								<mat-tab label="Non Lc Payment Roll Over">

									<!-- <p-table [value]="PaymentRollOverNonLcArray" styleClass="ui-table-utilization"> -->
									<p-table [value]="PaymentRollOverNonLcArray" dataKey="id"
										styleClass="ui-table-utilization" [rows]="10" [showCurrentPageReport]="true"
										[rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]" [autoLayout]="true"
										[paginator]="true" [scrollable]="true"
										currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
										<ng-template pTemplate="header">
											<tr>
												<th>Date</th>
												<th>Supplier</th>
												<th>Invoice No.</th>
												<th>Credit Amount </th>
												<th>Debit Amount </th>
												<th>Currency</th>
												<th>Rate</th>
												<th>INR</th>
												<th></th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-item>


											<tr>
												<td>
													<span class="ui-column-title">Date</span>
													{{item.due_dt | date : "dd-MM-y"}}
												</td>
												<td>
													<span class="ui-column-title">Supplier</span>
													{{item.sub_org_master.sub_org_name}}
												</td>
												<td>
													<span class="ui-column-title">Invoice No.</span>
													{{item.invoice_no}}
												</td>


												<td>
													<span class="ui-column-title">Credit Amount </span>
													{{item.credit_amt | currencyInr}}
												</td>
												<td>
													<span class="ui-column-title">Debit Amount </span>
													{{item.debit_amt | currencyInr}}
												</td>
												<td> <span class="ui-column-title">Currency </span>
													{{item.CurrencyName}}</td>
												<td>
													<span class="ui-column-title">Rate</span>
													{{item.rate}}
												</td>
												<td>
													<span class="ui-column-title">Amount In INR</span>
													{{(getInrRate(item.credit_amt,item.debit_amt,item.rate)) |
													currencyInr}}
													<!-- {{(item.credit_amt+item.debit_amt)*item.rate  }} -->
												</td>
												<td>
													<span class="ui-column-title">Edit</span>
													<a style="cursor: pointer;"
														(click)="onEditNonLc(item.id,item.payment_status,item.rate)"><i
															class="fa fa-pencil"></i></a>
												</td>
											</tr>
										</ng-template>
									</p-table>
									<br>
									<p> <span *ngIf="roll_over_nonlc_USD"> <strong> Total USD Pending : </strong>
											{{roll_over_nonlc_USD | currencyInr}}</span>&nbsp;
										<span *ngIf="roll_over_nonlc_GBP"><strong>Total GBP Pending : </strong>
											{{roll_over_nonlc_GBP | currencyInr}}</span>&nbsp;
										<span *ngIf="roll_over_nonlc_ADE"><strong>Total AED Pending :</strong>
											{{roll_over_nonlc_ADE | currencyInr}}</span>
									</p>
									<p> <strong>Total INR Pending :</strong> {{RollOverINRRemainNonLc | currencyInr}}
									</p>

								</mat-tab>

								<mat-tab label="Inland Lc">
									<!-- <p-table [value]="ilcUtilizationList" styleClass="ui-table-utilization"> -->
									<p-table [value]="ilcUtilizationList" dataKey="id" styleClass="ui-table-utilization"
										[rows]="10" [showCurrentPageReport]="true" [rowHover]="true"
										[rowsPerPageOptions]="[10,25,50,100]" [autoLayout]="true" [paginator]="true"
										[scrollable]="true"
										currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
										<ng-template pTemplate="header">
											<tr>
												<th>Ilc Opening Date</th>
												<th>Party Name</th>
												<th>Ilc Number </th>
												<th>Ilc Opening Inr </th>
												<th>Ilc Payment Inr</th>
												<th>Bill of Exchange No</th>
												<th>Payment Date</th>
												<th>Grade</th>
												<th>Bank Ref No</th>
												<th style="width: 200px;">Limit Utilization in Inr</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-item>
											<tr>
												<td>
													<span class="ui-column-title">Ilc Opening Date</span>
													<span style="font-weight:bold">{{item.ilc_opening_date | date :
														'dd/MM/yyy'}}</span>
												</td>
												<td> <span class="ui-column-title">Party Name</span>
													<span style="font-weight:bold">{{item.subOrgName}}</span>
												</td>
												<td> <span class="ui-column-title">Ilc Number</span>
													<span style="font-weight:bold">{{item.ilc_bank_no}}</span>
												</td>
												<td> <span class="ui-column-title">Ilc Opening Inr</span>
													<span style="font-weight:bold">{{(item.ilcAmount+
														item.advance_tolerance_amt - item.short_tolerance_amt) |
														currencyInr}}</span>
												</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td> <span class="ui-column-title">Limit Utilization Inr</span> <span
														style="font-weight:bold">{{(item.limitUtilization+
														item.advance_tolerance_amt - item.short_tolerance_amt) |
														currencyInr}}</span></td>
											</tr>


											<tr *ngFor="let sub_item  of item.bexList">
												<td>
													<span class="ui-column-title">Bex Date</span>
													{{sub_item.be_date | date : "dd-MM-y"}}
													<br />
													<!-- <span [class]="'customer-badge status-'+sub_item.payment_status" >{{getStatus(sub_item.payment_status) }}</span> -->

												</td>
												<td>
													<span class="ui-column-title">Party Name.</span>
													{{item.subOrgName}}
												</td>
												<td>
													<span class="ui-column-title">Ilc Number.</span>
													{{item.ilc_bank_no}}
												</td>
												<td>
													<span class="ui-column-title">Opening Inr </span>
													0
												</td>
												<td>
													<span class="ui-column-title">Payment Inr </span>
													{{sub_item.be_amount | currencyInr}}
												</td>
												<td> <span class="ui-column-title">Bill of Exchange Number </span>
													{{sub_item.be_no}}</td>
												<td>
													<span class="ui-column-title">Payment Date</span>
													{{sub_item.dut_dt| date : 'dd/MM/yyy'}}
												</td>
												<td>
													<span class="ui-column-title">Grade</span>
													{{sub_item.grade}}
												</td>

												<td> <span class="ui-column-title">Bank Ref Number
													</span>{{sub_item.bank_ref_no}}</td>
												<td> <span class="ui-column-title">Limit Utilization
														Inr</span>{{sub_item.limitUtilization}}</td>
											</tr>

										</ng-template>
									</p-table>
									<br>

									<p> <strong>Total INR Pending :</strong> {{totalInlandInrPending | currencyInr}}</p>


								</mat-tab>


								<mat-tab label="BOE ILC">
									<!-- <p-table [value]="bexList" styleClass="ui-table-utilization"> -->
									<p-table [value]="bexList" dataKey="id" styleClass="ui-table-utilization"
										[rows]="10" [showCurrentPageReport]="true" [rowHover]="true"
										[rowsPerPageOptions]="[10,25,50,100]" [autoLayout]="true" [paginator]="true"
										[scrollable]="true"
										currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
										<ng-template pTemplate="header">
											<tr>
												<th>Ilc Opening Date</th>
												<th>Party Name</th>
												<th>Ilc Number </th>
												<th>Ilc Opening Inr </th>
												<th>Ilc Payment Inr</th>
												<th>Bill of Exchange No</th>
												<th>Payment Date</th>
												<th>Grade</th>
												<th>Bank Ref No</th>
												<th style="width: 200px;">Limit Utilization in Inr</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-item>
											<tr>
												<td>
													<span class="ui-column-title">Ilc Opening Date</span>
													<span style="font-weight:bold">{{item.ilc_opening_date | date :
														'dd/MM/yyy'}}</span>
												</td>
												<td> <span class="ui-column-title">Party Name</span>
													<span style="font-weight:bold">{{item.subOrgName}}</span>
												</td>
												<td> <span class="ui-column-title">Ilc Number</span>
													<span style="font-weight:bold">{{item.ilc_bank_no}}</span>
												</td>
												<td> <span class="ui-column-title">Ilc Opening Inr</span>
													<span style="font-weight:bold"></span>{{item.be_amount_credit}}
												</td>
												<td>
													<span class="ui-column-title">Payment Inr </span>
													{{item.be_amount_debit}}
												</td>
												<td> <span class="ui-column-title">Bill of Exchange Number </span>
													{{item.be_no}}</td>
												<td>
													<span class="ui-column-title">Payment Date</span>
													{{item.dut_dt| date : 'dd/MM/yyy'}}
												</td>
												<td>
													<span class="ui-column-title">Grade</span>
													{{item.grade}}
												</td>

												<td> <span class="ui-column-title">Bank Ref Number
													</span>{{item.bank_ref_no}}</td>
												<td> <span class="ui-column-title">Limit Utilization
														Inr</span>{{item.limitUtilization}}</td>
											</tr>



										</ng-template>
									</p-table>
									<br>

									<p> <strong>Total INR Pending :</strong> {{totalboeInrPending | currencyInr}}</p>


								</mat-tab>
							</mat-tab-group>


						</div>
					</div>


				</div>

			</div>
		</div>
	</div>

	<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
</div>





<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="rateUpdateForm" novalidate (ngSubmit)="onUpdate()" class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title">Update Rate</h4>
					<button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-md-8">

						<div class="form-group">
							<label class="col-form-label" for="Update_rate">Rate</label>
							<input class="form-control" id="Update_rate" type="text" formControlName="Update_rate"
								placeholder="Enter Rate" autocomplete="given-name" required autofocus />
						</div>


					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #nonLcPaymentroll="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="rateUpdateFormNonLcRoll" novalidate (ngSubmit)="onUpdateNonLcUpdate()"
				class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title">Update Rate</h4>
					<button type="button" class="close" (click)="nonLcPaymentroll.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-md-8">

						<div class="form-group">
							<label class="col-form-label" for="Update_rate_nonlc_roll">Rate</label>
							<input class="form-control" id="Update_rate_nonlc_roll" type="text"
								formControlName="Update_rate_nonlc_roll" placeholder="Enter Rate"
								autocomplete="given-name" required autofocus />
						</div>


					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="nonLcPaymentroll.hide()">Close</button>
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->