<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card">
                <div class="card-header">
                    <h2> Unsold-Summary</h2>
                </div>
                <div class="card-body overflow-auto">
                    <div class="row mb-1">
                        <div class="col-md-1">

                            <label for=""><b>Main Grade</b></label>
                        </div>
                        <div class="col-md-2">
                            <ng-select id="id" placeholder="Select Main Grade" [searchable]="true" [clearable]="true"
                                bindLabel="name" bindValue="id" [items]="main_grade" [multiple]=true
                                [(ngModel)]="main_grade_ids" appendTo="body">
                            </ng-select>
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-dark mr-1" type="button" (click)="onSelectMainGrade()">
                                <i class="fa fa-search"></i> Search</button>
                        </div>
                        <div class="col-md-2">
                            <div class="btn btn-dark" (click)="downloadImage()"><i class="fa fa-download"
                                    aria-hidden="true"> Unsold</i></div>
                        </div>
                        <div class="col-md-2">
                            <div class="btn btn-dark" (click)="downloadImageDet()">
                                <i class="fa fa-download" aria-hidden="true"> Detail Grade Unsold</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-2 offset-5" *ngIf="isLoading_unsold">
    <app-loading-spinner></app-loading-spinner>
</div>


<div class="card">
    <div class="row">
        <div class="col-md-12">

            <mat-tab-group #tabGroup>
                <mat-tab label="All">
                    <div *ngIf='detailView_unsold' #screen id="table" style="overflow: scroll;">

                        <!-- <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Port</th>
                                    <th scope="col">LC not Issue</th>
                                    <th scope="col">Non Docs Pending</th>
                                    <th scope="col">Material Under Clearance</th>
                                    <th scope="col">Material In Bond</th>
                                    <th scope="col">Stock Trasfer Intransite</th>
                                    <th scope="col">Local Purchase In Transite</th>
                                    <th scope="col">Godown Inventory</th>
                                    <th scope="col">Total Quantity</th>
                                    <th scope="col">Order Pending</th>
                                    <th scope="col">Total Unsold</th>
                                </tr>
                                <tr>
                                    <th scope="col">High Seas / LC To be Given</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"><span *ngIf="data">(High Seas : {{data.total_high_seas_pending |
                                            number : '1.0-3'}}
                                            )</span> </th>
                                    <th scope="col"><span *ngIf="data">PI to be call from supllier: {{data.lc_to_be_given | number :
                                            '1.0-3'}}</span>
                                    </th>

                                </tr>
                            </thead>
                            <tbody *ngIf="data">

                                <tr *ngFor="let item of data.port_wise_details">
                                    <th scope="row"> <span (click)="getDetailUnsold(item.main_godown_id, item.port)"
                                            style="cursor: pointer;">{{
                                            item.port}}</span></th>

                                    <td scope="row">
                                        <span *ngIf="item.lc_not_issue">
                                            {{ item.lc_not_issue | number : '1.0-3'}}
                                        </span>
                                    </td>

                                    <td scope="row">
                                        <span *ngIf="item.non_pending">
                                            {{ item.non_pending | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.reg_arrival">
                                            {{ item.reg_arrival | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.bond_arrival">
                                            {{ item.bond_arrival | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.stock_transfer_intransite">
                                            {{ item.stock_transfer_intransite | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.local_purchase">
                                            {{ item.local_purchase | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.godwon_stock">
                                            {{ item.godwon_stock | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        {{ (item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                        +item.stock_transfer_intransite
                                        +item.local_purchase
                                        +item.godwon_stock ) | number : '1.0-3' }}
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.sales_pending">
                                            {{ item.sales_pending | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        {{ ((item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                        +item.stock_transfer_intransite
                                        +item.local_purchase
                                        +item.godwon_stock ) - (item.sales_pending)) | number : '1.0-3'}}
                                    </td>
                                </tr>







                                <tr>
                                    <th></th>
                                    <th>{{ all_godown_lc_not_issue | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_non_pending | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_reg_arrival | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_bond_arrival | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_stock_transfer_intransite | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_local_purchase | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_godwon_stock | number : '1.0-3'}}</th>
                                    <th>{{
                                        (all_godown_lc_not_issue +
                                        all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite+all_godown_local_purchase+all_godown_godwon_stock)
                                        | number : '1.0-3' }}</th>
                                    <th>{{all_godown_sales_pending | number : '1.0-3' }}</th>
                                    <th>{{ (data.lc_to_be_given +
                                        (all_godown_lc_not_issue +
                                        all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite+all_godown_local_purchase+all_godown_godwon_stock)
                                        - all_godown_sales_pending ) | number : '1.0-3' }}</th>
                                </tr>

                                <tr>
                                    <th colspan='8'></th>
                                    <th>Total Unsold </th>
                                    <th> <span *ngIf="data">{{ (data.lc_to_be_given +
                                            (all_godown_lc_not_issue +
                                            all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite+all_godown_local_purchase+all_godown_godwon_stock)
                                            - all_godown_sales_pending ) | number : '1.0-3' }}</span></th>
                                </tr>
                            </tbody>
                        </table> -->
                        <div class="card-body overflow-auto">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <p-table #dt [value]="data.port_wise_details" dataKey="id" styleClass="ui-table-cons" [rowHover]="true"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                    [loading]="isLoading" [scrollable]="false" [globalFilterFields]="['port']">
            
                                    <ng-template pTemplate="caption">
                                        <div class="captionTopDiv">
                                            <div class="ui-table-globalfilter-container">
                                                <input pInputText type="text" class="form-control"
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Global Search" />
                                            </div>
                                            <div class="ui-helper-clearfix" style="text-align: left;">
                                                <!-- <div class="card-header"> -->
                                                <h4 style="margin-right: 0.5em; font-weight: bold;">Unsold Summary As on {{todayDate | date: 'EEEE, MMMM d, y'}}</h4>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </ng-template>
            
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th scope="col">Port</th>
                                            <th scope="col">LC not Issue</th>
                                            <th scope="col">Non Docs Pending</th>
                                            <th scope="col">Material Under Clearance</th>
                                            <th scope="col">Material In Bond</th>
                                            <th scope="col">Stock Trasfer Intransite</th>
                                            <th scope="col">Local Purchase In Transite</th>
                                            <th scope="col">Godown Inventory</th>
                                            <th scope="col">Total Quantity</th>
                                            <th scope="col">Order Pending</th>
                                            <th scope="col">Total Unsold</th>
                                        </tr>
                                        <tr>
                                            <th scope="col">High Seas / LC To be Given</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"><span *ngIf="data">(High Seas : {{data.total_high_seas_pending |
                                                    number : '1.0-3'}}
                                                    )</span> </th>
                                            <th scope="col"><span *ngIf="data">PI to be call from supllier: {{data.lc_to_be_given | number :
                                                    '1.0-3'}}</span>
                                            </th>
            
                                        </tr>
                                    </ng-template>
            
                                    <ng-template pTemplate="body" let-item>
            
                                        <tr class="ui-selectable-row">
                                            <td scope="row" (click)="getDetailUnsold(item.main_godown_id, item.port)"
                                            style="cursor: pointer; font-weight: bold;" > 
                                                <span class="ui-column-title">Port</span>
                                                    {{ item.port }}
                                            </td>
            
                                            <td scope="row">
                                                <span class="ui-column-title">LC not Issue</span>
                                                {{ item.lc_not_issue === 0 ? null : item.lc_not_issue | number : '1.0-3'}}
                                            </td>
            
                                            <td scope="row">
                                                <span class="ui-column-title">Non Docs Pending</span>
                                                {{ item.non_pending === 0 ? null : item.non_pending | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Material Under Clearance</span>
                                                {{ item.reg_arrival === 0 ? null : item.reg_arrival | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Material In Bond</span>
                                                {{ item.bond_arrival === 0 ? null : item.bond_arrival | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Stock Trasfer Intransite</span>
                                                {{ item.stock_transfer_intransite === 0 ? null : item.stock_transfer_intransite | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Local Purchase In Transite</span>
                                                {{ item.local_purchase === 0 ? null : item.local_purchase | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Godown Inventory</span>
                                                {{ item.godwon_stock === 0 ? null : item.godwon_stock | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Total Quantity</span>
                                                {{ (item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                                    +item.stock_transfer_intransite
                                                    +item.local_purchase
                                                    +item.godwon_stock ) === 0 ? null : 
                                                    (item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                                    +item.stock_transfer_intransite
                                                    +item.local_purchase
                                                    +item.godwon_stock ) | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Order Pending</span>
                                                {{ item.sales_pending === 0 ? null : item.sales_pending | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Total Unsold</span>
                                                {{ ((item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                                    +item.stock_transfer_intransite
                                                    +item.local_purchase
                                                    +item.godwon_stock ) - (item.sales_pending)) === 0 ? null : ((item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                                    +item.stock_transfer_intransite
                                                    +item.local_purchase
                                                    +item.godwon_stock ) - (item.sales_pending)) | number : '1.0-3'}}
                                            </td>
                                        </tr>
                                    </ng-template>
            
                                    <ng-template pTemplate="footer">
            
                                        <tr>
                                            <td></td>
                                            <td>{{ all_godown_lc_not_issue | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_non_pending | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_reg_arrival | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_bond_arrival | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_stock_transfer_intransite | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_local_purchase | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_godwon_stock | number : '1.0-3'}}</td>
                                            <td>{{
                                                (all_godown_lc_not_issue +
                                                all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite+all_godown_local_purchase+all_godown_godwon_stock)
                                                | number : '1.0-3' }}</td>
                                            <td>{{all_godown_sales_pending | number : '1.0-3' }}</td>
                                            <td>{{ (data.lc_to_be_given +
                                                (all_godown_lc_not_issue +
                                                all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite+all_godown_local_purchase+all_godown_godwon_stock)
                                                - all_godown_sales_pending ) | number : '1.0-3' }}</td>
                                        </tr>
            
                                        <tr>
                                            <td colspan='8'></td>
                                            <td>Total Unsold </td>
                                            <td> <span *ngIf="data">{{ (data.lc_to_be_given +
                                                    (all_godown_lc_not_issue +
                                                    all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite+all_godown_local_purchase+all_godown_godwon_stock)
                                                    - all_godown_sales_pending ) | number : '1.0-3' }}</span>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </ng-template>
            
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="14" class="text-center">No Data found.</td>
                                        </tr>
                                    </ng-template>
            
                                </p-table>
    
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </mat-tab>
                <mat-tab label="Import Unsold">
                    <div *ngIf='detailView_unsold' #screen id="table" style="overflow: scroll;">
                        <div class="card-body overflow-auto">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <p-table #dt2 [value]="data.port_wise_details" dataKey="id" styleClass="ui-table-cons" [rowHover]="true"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                    [loading]="isLoading" [scrollable]="false" [globalFilterFields]="['port']">
            
                                    <ng-template pTemplate="caption">
                                        <div class="captionTopDiv">
                                            <div class="ui-table-globalfilter-container">
                                                <input pInputText type="text" class="form-control"
                                                    (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Global Search" />
                                            </div>
                                            <div class="ui-helper-clearfix" style="text-align: left;">
                                                <!-- <div class="card-header"> -->
                                                <h4 style="margin-right: 0.5em; font-weight: bold;">Unsold Summary As on {{todayDate | date: 'EEEE, MMMM d, y'}}</h4>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </ng-template>
            
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th scope="col">Port</th>
                                            <th scope="col">LC not Issue</th>
                                            <th scope="col">Non Docs Pending</th>
                                            <th scope="col">Material Under Clearance</th>
                                            <th scope="col">Material In Bond</th>
                                            <th scope="col">Stock Trasfer Intransite Import</th>
                                            <th scope="col">Godown Inventory Import</th>
                                            <th scope="col">Total Quantity</th>
                                            <th scope="col">Order Pending Import</th>
                                            <th scope="col">Total Unsold</th>
                                        </tr>
                                        <tr>
                                            <th scope="col">High Seas / LC To be Given</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"><span *ngIf="data">(High Seas : {{data.total_high_seas_pending |
                                                    number : '1.0-3'}}
                                                    )</span> </th>
                                            <th scope="col"><span *ngIf="data">PI To be Call from Supplier: {{data.lc_to_be_given | number :
                                                    '1.0-3'}}</span>
                                            </th>
        
                                        </tr>
                                    </ng-template>
            
                                    <ng-template pTemplate="body" let-item>
            
                                        <tr class="ui-selectable-row">
                                            <td scope="row" (click)="getDetailUnsold(item.main_godown_id, item.port)"
                                            style="cursor: pointer; font-weight: bold;" > 
                                                <span class="ui-column-title">Port</span>
                                                    {{ item.port }}
                                            </td>
        
                                            <td scope="row">
                                                <span class="ui-column-title">LC not Issue</span>
                                                {{ item.lc_not_issue === 0 ? null : item.lc_not_issue | number : '1.0-3'}}
                                            </td>
        
                                            <td scope="row">
                                                <span class="ui-column-title">Non Docs Pending</span>
                                                {{ item.non_pending === 0 ? null : item.non_pending | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Material Under Clearance</span>
                                                {{ item.reg_arrival === 0 ? null : item.reg_arrival | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Material In Bond</span>
                                                {{ item.bond_arrival === 0 ? null : item.bond_arrival | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Stock Trasfer Intransite Import</span>
                                                {{ item.stock_transfer_intransite_import === 0 ? null : item.stock_transfer_intransite_import | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Godown Inventory Import</span>
                                                {{ item.godwon_stock_import === 0 ? null : item.godwon_stock_import | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Total Quantity</span>
                                                {{ (item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                                    +item.stock_transfer_intransite_import
                                                    +item.godwon_stock_import ) === 0 ? null : (item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                                    +item.stock_transfer_intransite_import
                                                    +item.godwon_stock_import ) | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Order Pending Import</span>
                                                {{ item.sales_pending_import === 0 ? null : item.sales_pending_import | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Total Unsold</span>
                                                {{ ((item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                                    +item.stock_transfer_intransite_import
                                                    +item.godwon_stock_import ) - (item.sales_pending_import)) === 0 ? null : ((item.lc_not_issue + item.non_pending + item.reg_arrival + item.bond_arrival
                                                    +item.stock_transfer_intransite_import
                                                    +item.godwon_stock_import ) - (item.sales_pending_import)) | number : '1.0-3'}}
                                            </td>
                                        </tr>
                                    </ng-template>
            
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td></td>
                                            <td>{{ all_godown_lc_not_issue | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_non_pending | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_reg_arrival | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_bond_arrival | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_stock_transfer_intransite_import | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_godwon_stock_import | number : '1.0-3'}}</td>
                                            <td>{{
                                                (all_godown_lc_not_issue +
                                                all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite_import+all_godown_godwon_stock_import
                                                )
                                                | number : '1.0-3' }}</td>
                                            <td>{{all_godown_sales_pending_import | number : '1.0-3' }}</td>
                                            <td>{{ (data.lc_to_be_given +
                                                (all_godown_lc_not_issue +
                                                all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite_import+all_godown_godwon_stock_import)
                                                - all_godown_sales_pending_import ) | number : '1.0-3' }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan='8'></td>
                                            <td>Total Unsold </td>
                                            <td> <span *ngIf="data">{{ (data.lc_to_be_given +
                                                    (all_godown_lc_not_issue +
                                                    all_godown_non_pending+all_godown_reg_arrival+all_godown_bond_arrival+all_godown_stock_transfer_intransite_import+all_godown_godwon_stock_import)
                                                    - all_godown_sales_pending_import ) | number : '1.0-3' }}</span></td>
                                        </tr>
                                    </ng-template>
            
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="14" class="text-center">No Data found.</td>
                                        </tr>
                                    </ng-template>
            
                                </p-table>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Local Unsold">
                    <div *ngIf='detailView_unsold' #screen id="table" style="overflow: scroll;">
                        <!-- <h4>Unsold Summary As on {{todayDate | date: 'EEEE, MMMM d, y'}}</h4>

                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Port</th>
                                    <th scope="col">Stock Trasfer Intransite Local</th>
                                    <th scope="col">Local Purchase In Transite</th>
                                    <th scope="col">Godown Inventory Local</th>
                                    <th scope="col">Total Quantity</th>
                                    <th scope="col">Order Pending Local</th>
                                    <th scope="col">Total Unsold</th>
                                </tr>

                            </thead>
                            <tbody *ngIf="data">

                                <tr *ngFor="let item of data.port_wise_details">
                                    <th scope="row"> <span (click)="getDetailUnsold(item.main_godown_id, item.port)"
                                            style="cursor: pointer;">{{
                                            item.port}}</span>
                                    </th>

                                    <td scope="row">
                                        <span *ngIf="item.stock_transfer_intransite_local">
                                            {{ item.stock_transfer_intransite_local | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.local_purchase">
                                            {{ item.local_purchase | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.godwon_stock_local">
                                            {{ item.godwon_stock_local | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        {{ (
                                        item.stock_transfer_intransite_local
                                        +item.local_purchase
                                        +item.godwon_stock_local ) | number : '1.0-3' }}
                                    </td>
                                    <td scope="row">
                                        <span *ngIf="item.sales_pending_local">
                                            {{ item.sales_pending_local | number : '1.0-3'}}
                                        </span>
                                    </td>
                                    <td scope="row">
                                        {{ (( item.stock_transfer_intransite_local
                                        +item.local_purchase
                                        +item.godwon_stock_local ) - (item.sales_pending_local)) | number : '1.0-3'}}
                                    </td>
                                </tr>







                                <tr>
                                    <th></th>

                                    <th>{{ all_godown_stock_transfer_intransite_local | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_local_purchase | number : '1.0-3'}}</th>
                                    <th>{{ all_godown_godwon_stock_local | number : '1.0-3'}}</th>
                                    <th>{{
                                        (all_godown_stock_transfer_intransite_local+all_godown_local_purchase+all_godown_godwon_stock_local)
                                        | number : '1.0-3' }}</th>
                                    <th>{{all_godown_sales_pending_local | number : '1.0-3' }}</th>
                                    <th>{{ (
                                        (all_godown_stock_transfer_intransite_local+all_godown_local_purchase+all_godown_godwon_stock_local)
                                        - all_godown_sales_pending_local ) | number : '1.0-3' }}</th>
                                </tr>

                                <tr>
                                    <th colspan='5'></th>
                                    <th>Total Unsold </th>
                                    <th> <span *ngIf="data">{{ (
                                            (all_godown_stock_transfer_intransite_local+all_godown_local_purchase+all_godown_godwon_stock_local)
                                            - all_godown_sales_pending_local ) | number : '1.0-3' }}</span></th>
                                </tr>
                            </tbody>
                        </table> -->
                        <div class="card-body overflow-auto">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <p-table #dt3 [value]="data.port_wise_details" dataKey="id" styleClass="ui-table-cons" [rowHover]="true"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                    [loading]="isLoading" [scrollable]="false" [globalFilterFields]="['port']">
            
                                    <ng-template pTemplate="caption">
                                        <div class="captionTopDiv">
                                            <div class="ui-table-globalfilter-container">
                                                <input pInputText type="text" class="form-control"
                                                    (input)="dt3.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Global Search" />
                                            </div>
                                            <div class="ui-helper-clearfix" style="text-align: left;">
                                                <!-- <div class="card-header"> -->
                                                <h4 style="margin-right: 0.5em; font-weight: bold;">Unsold Summary As on {{todayDate | date: 'EEEE, MMMM d, y'}}</h4>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </ng-template>
            
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th scope="col">Port</th>
                                            <th scope="col">Stock Trasfer Intransite Local</th>
                                            <th scope="col">Local Purchase In Transite</th>
                                            <th scope="col">Godown Inventory Local</th>
                                            <th scope="col">Total Quantity</th>
                                            <th scope="col">Order Pending Local</th>
                                            <th scope="col">Total Unsold</th>
                                        </tr>
                                    </ng-template>
            
                                    <ng-template pTemplate="body" let-item>
                                        <tr class="ui-selectable-row">
                                            <td scope="row" (click)="getDetailUnsold(item.main_godown_id, item.port)"
                                            style="cursor: pointer; font-weight: bold;">
                                                 <span class="ui-column-title">Port</span>
                                                    {{ item.port }}
                                            </td>
        
                                            <td scope="row">
                                                <span class="ui-column-title">Stock Trasfer Intransite Local</span>
                                                {{ item.stock_transfer_intransite_local === 0 ? null : item.stock_transfer_intransite_local | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Local Purchase In Transite</span>
                                                {{ item.local_purchase === 0 ? null : item.local_purchase | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Godown Inventory Local</span>
                                                {{ item.godwon_stock_local === 0 ? null : item.godwon_stock_local | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Total Quantity</span>
                                                {{ (
                                                    item.stock_transfer_intransite_local
                                                    +item.local_purchase
                                                    +item.godwon_stock_local ) === 0 ? null : (
                                                        item.stock_transfer_intransite_local
                                                        +item.local_purchase
                                                        +item.godwon_stock_local ) | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Order Pending Local</span>
                                                {{ item.sales_pending_local === 0 ? null : item.sales_pending_local | number : '1.0-3'}}
                                            </td>
                                            <td scope="row">
                                                <span class="ui-column-title">Total Unsold</span>
                                                {{ (( item.stock_transfer_intransite_local
                                                    +item.local_purchase
                                                    +item.godwon_stock_local ) - (item.sales_pending_local)) === 0 ? null : (( item.stock_transfer_intransite_local
                                                    +item.local_purchase
                                                    +item.godwon_stock_local ) - (item.sales_pending_local)) | number : '1.0-3'}}
                                            </td>
                                        </tr>
                                    </ng-template>
            
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td></td>
        
                                            <td>{{ all_godown_stock_transfer_intransite_local | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_local_purchase | number : '1.0-3'}}</td>
                                            <td>{{ all_godown_godwon_stock_local | number : '1.0-3'}}</td>
                                            <td>{{
                                                (all_godown_stock_transfer_intransite_local+all_godown_local_purchase+all_godown_godwon_stock_local)
                                                | number : '1.0-3' }}</td>
                                            <td>{{all_godown_sales_pending_local | number : '1.0-3' }}</td>
                                            <td>{{ (
                                                (all_godown_stock_transfer_intransite_local+all_godown_local_purchase+all_godown_godwon_stock_local)
                                                - all_godown_sales_pending_local ) | number : '1.0-3' }}</td>
                                        </tr>
        
                                        <tr>
                                            <td colspan='5'></td>
                                            <td>Total Unsold </td>
                                            <td> <span *ngIf="data">{{ (
                                                    (all_godown_stock_transfer_intransite_local+all_godown_local_purchase+all_godown_godwon_stock_local)
                                                    - all_godown_sales_pending_local ) | number : '1.0-3' }}</span></td>
                                        </tr>
                                    </ng-template>
            
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="14" class="text-center">No Data found.</td>
                                        </tr>
                                    </ng-template>
            
                                </p-table>
    
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>