<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>
						<div class="col-md-6 text-right">
							<strong>{{selected_tds_type.name}} TDS Date: {{tds_start_date}} - {{tds_end_date}}</strong>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt dataKey="id" styleClass="employee_investment_table" [value]="data" [rows]="10"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								[globalFilterFields]="filter"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">
												<a class="btn btn-success text-white mb-1 mr-2"
													(click)="exportData('Excel')" data-toggle="tooltip"
													data-placement="top" title="Excel">
													<i class="fa fa-file-excel-o"></i>
													<span class="export-text d-none">Excel</span>
												</a>
												<a class="btn btn-danger text-white mb-1 mr-2"
													(click)="exportData('PDF')" data-toggle="tooltip"
													data-placement="top" title="PDF">
													<i class="fa fa-file-pdf-o"></i>
													<span class="export-text d-none">PDF</span>
												</a>
												<div class="form-group mb-1">
													<p-dropdown [options]="financial_year_list"
														[(ngModel)]="selected_financial_year"
														optionLabel="financial_year" (onChange)="getData()">
													</p-dropdown>
												</div>
												<div class="form-group mb-1 mr-2">
													<p-dropdown [options]="tdsTypeList" [(ngModel)]="selected_tds_type"
														optionLabel="name" (onChange)="onChangeTDSType($event)">
													</p-dropdown>
												</div>
												<div class="form-group mb-1">
													<button type="button" class="btn btn-primary"
														(click)="onAction(null, 'Date', null)">
														<i class="fa fa-calendar"></i> Change TDS Date
													</button>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											{{col.header}}
											<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
										</th>
									</tr>
									<tr>
										<th *ngFor="let col of columns">
											<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
												defaultLabel="All"
												(onChange)="customFilter($event.value, col.field, 'in')">
											</p-multiSelect>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData>
									<tr class="ui-selectable-row">
										<td *ngFor="let col of cols">
											<div *ngIf="col.field != 'action'">
												<span class="ui-column-title">{{ col.header }}: </span>
												<div *ngIf="col.type == null">
													{{ rowData[col.field] }}
												</div>
												<div *ngIf="col.type == 'ID'">
													<i class="fa fa-check text-success" *ngIf="rowData.is_tick"></i>
													{{ rowData[col.field] }}
												</div>
												<div *ngIf="col.type == 'Name'">
													{{ rowData[col.field] }}
													<a class="fa fa-share-square text-primary" data-toggle="tooltip"
														data-placement="left" title="View Profile"
														(click)="onAction(rowData, 'View_Profile', null)"></a>
												</div>
												<div *ngIf="col.type == 'Amount' && col.tds_type == null">
													{{ rowData[col.field] | currency:'INR' }}
												</div>
												<div *ngIf="col.type == 'Amount' && col.tds_type == 'Old' && (rowData.right_tds == rowData.annual_tds_old)"
													class="bg-success p-1">
													{{ rowData[col.field] | currency:'INR' }}
												</div>
												<div *ngIf="col.type == 'Amount' && col.tds_type == 'New' && (rowData.right_tds == rowData.annual_tds_new)"
													class="bg-success p-1">
													{{ rowData[col.field] | currency:'INR' }}
												</div>
												<div *ngIf="col.type == 'Amount' && col.tds_type == 'Old' && (rowData.right_tds != rowData.annual_tds_old)"
													class="bg-danger p-1">
													{{ rowData[col.field] | currency:'INR' }}
												</div>
												<div *ngIf="col.type == 'Amount' && col.tds_type == 'New' && (rowData.right_tds != rowData.annual_tds_new)"
													class="bg-danger p-1">
													{{ rowData[col.field] | currency:'INR' }}
												</div>
												<div *ngIf="col.type == 'Date'">
													{{ rowData[col.field] | date:'dd-MMM-yyyy' }}
												</div>
											</div>
											<div *ngIf="col.field == 'action'">
												<a class="btn btn-outline-dark btn-sm custom-action-btn"
													data-toggle="tooltip" data-placement="left" title="View Investments"
													(click)="onAction(rowData, 'View', null)">
													<i class="fa fa-eye"></i>
												</a>
												<a *ngIf="rowData.right_tds == rowData.annual_tds_new && !rowData.is_tick"
													class="btn btn-primary btn-sm text-white" mwlConfirmationPopover
													[popoverTitle]="popoverTitle2" [popoverMessage]="popoverMessage2"
													[confirmText]="confirmText2" [cancelText]="cancelText2"
													[placement]="placement" [closeOnOutsideClick]="closeOnOutsideClick"
													confirmButtonType="success" cancelButtonType="danger"
													(confirm)="onAction(rowData, 'Apply_New', null)"
													(cancel)="cancelClicked = true" data-toggle="tooltip"
													data-placement="left" title="New Regime">
													<i class="fa fa-check"></i> Proceed
												</a>
											</div>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #employeeTDSDetailsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Employee TDS Details" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Employee TDS Details - {{selected_tds_type.name}}</h4>
				<button type="button" class="close" (click)="employeeTDSDetailsModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th class="text-center">Section</th>
									<th class="text-center">Description</th>
									<th class="text-center" *ngIf="selected_tds_type.id == 0">Budget Amount</th>
									<th class="text-center" *ngIf="selected_tds_type.id == 1">Actual Amount</th>
									<th class="text-center" *ngIf="selected_tds_type.id == 0">Budget Status</th>
									<th class="text-center" *ngIf="selected_tds_type.id == 1">Actual Status</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of empTDSDetails">
									<td class="text-center">{{item.id}}</td>
									<td class="text-left">Section {{item.section}}</td>
									<td class="text-left">{{item.description}}</td>
									<td class="text-right" *ngIf="selected_tds_type.id == 0">
										{{item.budget_amount | currency:'INR'}}
										<a *ngIf="item.budget_amount > 0 && item.budget_attachment != null"
											class="btn btn-outline-success btn-sm action-btn ml-2" data-toggle="tooltip"
											data-placement="top" title="Download Attachment"
											[href]="item.budget_attachment" target="_blank" download>
											<i class="fa fa-download"></i>
										</a>
									</td>
									<td class="text-right" *ngIf="selected_tds_type.id == 1">
										{{item.actual_amount | currency:'INR'}}
										<a *ngIf="item.actual_amount > 0 && item.actual_attachment != null"
											class="btn btn-outline-success btn-sm action-btn ml-2" data-toggle="tooltip"
											data-placement="top" title="Download Attachment"
											[href]="item.actual_attachment" target="_blank" download>
											<i class="fa fa-download"></i>
										</a>
									</td>
									<td class="text-center" *ngIf="selected_tds_type.id == 0">
										<a *ngIf="item.budget_status == 0" class="btn btn-outline-warning btn-sm"
											mwlConfirmationPopover [popoverTitle]="popoverTitle"
											[popoverMessage]="popoverMessage" [confirmText]="confirmText"
											[cancelText]="cancelText" [placement]="placement"
											[closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="success"
											cancelButtonType="danger" (confirm)="onAction(item, 'Status', 1)"
											(cancel)="cancelClicked = true; onAction(item, 'Status', 2);"
											data-toggle="tooltip" data-placement="left" title="Approve Investment">
											<i class="fa fa-info-circle"></i> Pending
										</a>
										<a *ngIf="item.budget_status == 1"
											class="btn btn-success text-white btn-sm action-btn">
											<i class="fa fa-check"></i> Approved
										</a>
										<a *ngIf="item.budget_status == 2"
											class="btn btn-danger text-white btn-sm action-btn">
											<i class="fa fa-remove"></i> Rejected
										</a>
									</td>
									<td class="text-center" *ngIf="selected_tds_type.id == 1">
										<a *ngIf="item.actual_status == 0" class="btn btn-outline-warning btn-sm"
											mwlConfirmationPopover [popoverTitle]="popoverTitle"
											[popoverMessage]="popoverMessage" [confirmText]="confirmText"
											[cancelText]="cancelText" [placement]="placement"
											[closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="success"
											cancelButtonType="danger" (confirm)="onAction(item, 'Status', 1)"
											(cancel)="cancelClicked = true; onAction(item, 'Status', 2)"
											data-toggle="tooltip" data-placement="left" title="Approve Investment">
											<i class="fa fa-info-circle"></i> Pending
										</a>
										<a *ngIf="item.actual_status == 1"
											class="btn btn-success text-white btn-sm action-btn">
											<i class="fa fa-check"></i> Approved
										</a>
										<a *ngIf="item.actual_status == 2"
											class="btn btn-danger text-white btn-sm action-btn">
											<i class="fa fa-remove"></i> Rejected
										</a>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th></th>
									<th class="text-left">Total:</th>
									<th class="text-right" *ngIf="selected_tds_type.id == 0">{{total_budget_amount |
										currency:'INR'}}</th>
									<th class="text-right" *ngIf="selected_tds_type.id == 1">{{total_actual_amount |
										currency:'INR'}}</th>
									<th *ngIf="selected_tds_type.id == 0"></th>
									<th *ngIf="selected_tds_type.id == 1"></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div bsModal #changeTDSDateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Change TDS Date" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<form [formGroup]="changeTDSDateForm" novalidate (ngSubmit)="submitChangeTDSDateForm()" autocomplete="off"
				class="needs-validation">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-calendar"></i> Change TDS Date</h4>
					<button type="button" class="close" (click)="changeTDSDateModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<p-radioButton name="budget_actual_flag" value="0" label="Budget"
									formControlName="budget_actual_flag"
									(click)="onAction(null, 'Budget_Actual_Flag', 0)">
								</p-radioButton>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<p-radioButton name="budget_actual_flag" value="1" label="Actual"
									formControlName="budget_actual_flag"
									(click)="onAction(null, 'Budget_Actual_Flag', 1)">
								</p-radioButton>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="from_date">From Date</label>
								<input type="text" id="from_date" class="form-control" formControlName="from_date"
									placeholder="Select From Date" [bsConfig]="datePickerConfig" readonly bsDatepicker>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="to_date">To Date</label>
								<input type="text" id="to_date" class="form-control" formControlName="to_date"
									placeholder="Select To Date" [bsConfig]="datePickerConfig" readonly bsDatepicker>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" [disabled]="changeTDSDateForm.invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>