<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt dataKey="id" styleClass="billing_table" [value]="data" [rows]="10"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								[globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
								(onLazyLoad)="onFilter($event, dt)"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">
												<a class="btn btn-success text-white mb-1 mr-2"
													(click)="exportData('Excel')" data-toggle="tooltip"
													data-placement="top" title="Excel">
													<i class="fa fa-file-excel-o"></i>
													<span class="export-text d-none">Excel</span>
												</a>
												<a class="btn btn-danger text-white mb-1 mr-2"
													(click)="exportData('PDF')" data-toggle="tooltip"
													data-placement="top" title="PDF">
													<i class="fa fa-file-pdf-o"></i>
													<span class="export-text d-none">PDF</span>
												</a>
												<div class="form-group">
													<input pInputText [(ngModel)]="selected_date_range"
														(ngModelChange)="getCols()" [bsConfig]="datePickerConfig"
														#dp="bsDaterangepicker" [maxDate]="maxDate" bsDaterangepicker
														placeholder="Choose Date Range" class="form-control page-filter"
														readonly style="padding: 19px 5px !important" />
													<app-dropdown-daterange (dateEvent)="receiveDate($event)"
														[uploadSuccess]="uploadSuccess"
														style="margin-left: 10px;padding: 19px 5px !important"></app-dropdown-daterange>
												</div>
												<div class="form-group mb-1" *ngIf="company_wise_billing">
													<p-dropdown [options]="companyList" [(ngModel)]="selected_company"
														optionLabel="name" defaultLabel="All"
														(onChange)="onChangeCompany($event)">
													</p-dropdown>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											{{col.header}}
											<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
										</th>
									</tr>
									<tr>
										<th *ngFor="let col of columns">
											<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
												defaultLabel="All"
												(onChange)="customFilter($event.value, col.field, 'in')">
											</p-multiSelect>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData>
									<tr class="ui-selectable-row"
										[ngClass]="{'font-weight-bold': rowData.is_payment_pending}">
										<td *ngFor="let col of cols">
											<div *ngIf="col.field != 'action'">
												<span class="ui-column-title">{{ col.header }}: </span>
												<div *ngIf="col.type == null">
													{{ rowData[col.field] }}
												</div>
												<div *ngIf="col.type == 'Quantity'">
													{{ rowData[col.field] }} {{ rowData.unit_type }}
												</div>
												<div *ngIf="col.type == 'Amount'">
													{{ rowData[col.field] | currency:'INR' }}
												</div>
												<div *ngIf="col.type == 'Date'">
													{{ rowData[col.field] | date:'dd-MMM-yyyy' }}
												</div>
												<div *ngIf="col.type == 'Date_Time'">
													{{ rowData[col.field] | date:'dd-MMM-yyyy hh:mm a' }}
												</div>
											</div>
											<div *ngIf="col.field == 'action'">
												<a class="btn btn-outline-dark btn-sm action-btn mb-2 mr-1"
													data-toggle="tooltip" data-placement="top" title="View Order"
													(click)="onAction(rowData, 'View')">
													<i class="fa fa-eye"></i>
												</a>
												<a class="btn btn-warning btn-sm action-btn mb-2 mr-1"
													data-toggle="tooltip" data-placement="top"
													title="Update Acknowledgment"
													(click)="onAction(rowData, 'Edit_Acknowledgment')">
													<i class="fa fa-plus"></i>
												</a>
												<a *ngIf="rowData.invoice_copy != null"
													class="btn btn-outline-success btn-sm action-btn mb-2 mr-1"
													data-toggle="tooltip" data-placement="top" title="Download Invoice"
													(click)="onAction(rowData.invoice_copy, 'Download_Invoice')">
													<i class="fa fa-download"></i>
												</a>
												<a *ngIf="rowData.acknowledgment_copy != null"
													class="btn btn-primary btn-sm action-btn mb-2 mr-1"
													data-toggle="tooltip" data-placement="top"
													title="Download Acknowledgment"
													(click)="onAction(rowData.acknowledgment_copy, 'Download_Invoice')">
													<i class="fa fa-download text-white"></i>
												</a>
											</div>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="footer" let-columns>
									<tr>
										<td *ngFor="let col of columns">
											<strong *ngIf="col.type == 'Quantity'">
												Total: {{ col.total | number }} MT
											</strong>
											<strong *ngIf="col.type == 'Amount'">
												Total: {{ col.total | currency:'INR' }}
											</strong>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #acknowledgmentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="Edit Dispatch Billing Acknowledgment" aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form [formGroup]="acknowledgmentForm" novalidate (ngSubmit)="submitAcknowledgmentForm()"
				class="needs-validation" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-file-text-o"></i> {{add_edit}} Acknowledgment</h4>
					<button type="button" class="close" (click)="acknowledgmentModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row" *ngIf="!isLoading">
						<div class="col-md-12">
							<div class="form-group">
								<label for="acknowledgment_date">
									Acknowledgment Date <sup class="text-danger"><strong>*</strong></sup>
								</label>
								<input type="text" class="form-control" id="acknowledgment_date"
									formControlName="acknowledgment_date" placeholder="Acknowledgment Date"
									[bsConfig]="datePickerConfig" [maxDate]="max_date" bsDatepicker readonly>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="acknowledgment_no">
									Acknowledgment No <sup class="text-danger"><strong>*</strong></sup>
								</label>
								<input type="text" id="acknowledgment_no" class="form-control"
									formControlName="acknowledgment_no" placeholder="Acknowledgment No"
									style="text-transform: uppercase;">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="acknowledgment_copy">
									Acknowledgment Copy <sup class="text-danger"><strong>*</strong></sup>
								</label>
								<input type="file" id="acknowledgment_copy" class="form-control form-control-file"
									formControlName="acknowledgment_copy" placeholder="Acknowledgment Copy"
									(change)="onFileChange($event)" multiple>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"
						[disabled]="acknowledgmentForm.invalid || isBtnLoading">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div bsModal #viewDealModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="View Deal"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content" *ngIf="selected_deal != null">
			<div class="modal-header">
				<h4 class="modal-title">
					<i class="fa fa-eye"></i> Order Details - #{{ selected_deal.id }} - {{ selected_deal.d_grade_name
					}}
				</h4>
				<button type="button" class="close" (click)="closeModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-bordered table-hover invoice-table">
					<tr>
						<td>
							<strong>Supplier:</strong> {{ selected_deal.supplier }}
						</td>
						<td>
							<strong>Supplier GST:</strong> {{ selected_deal.godown_gst_no }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Customer:</strong> {{ selected_deal.customer }} ({{ selected_deal.location_vilage
							}})
						</td>
						<td>
							<strong>Customer GST:</strong> {{ selected_deal.gst_no }}
							<br>
							<strong>Virtual Account No.:</strong> {{ selected_deal.virtual_acc_no }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Logistic Person:</strong> {{ selected_deal.added_by_name }}
						</td>
						<td>
							<strong>Zone:</strong> {{ selected_deal.zone }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Transporter:</strong> {{ selected_deal.transporter }}
						</td>
						<td>
							<strong>Transporter GST:</strong> {{ selected_deal.transporter_gst_no }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>LR No.:</strong> {{ selected_deal.lr_no }}
						</td>
						<td>
							<strong>LR Date:</strong> {{ selected_deal.lr_date | date: 'dd-MMM-yyyy' }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Truck No.:</strong> {{ selected_deal.truck_no }}
						</td>
						<td>
							<strong>Dispatch Date:</strong> {{ selected_deal.dispatch_date | date: 'dd-MMM-yyyy' }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Delivery Term (Booking): </strong> {{ selected_deal.so_delivery_term }}
							<br>
							<strong>Delivery Term (Dispatch): </strong> {{ selected_deal.d_delivery_term }}
						</td>
						<td>
							<strong>Payment Term: </strong> {{ selected_deal.payment_term_label }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Transition Type: </strong> {{ selected_deal.transition_type_label }}
						</td>
						<td>
							<div *ngIf="selected_deal.company_id == 2">
								<strong>N.B.: </strong> {{ selected_deal.nb }}
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Bill From: </strong> {{ selected_deal.bill_from }}
						</td>
						<td>
							<strong>Dispatch From: </strong> {{ selected_deal.dispatch_from }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Bill To: </strong> {{ selected_deal.bill_to }}
						</td>
						<td>
							<strong>Ship To: </strong> {{ selected_deal.ship_to }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Grade (Booking): </strong> {{ selected_deal.so_grade_name }}
							<br>
							<strong>Grade (Dispatch): </strong> {{ selected_deal.d_grade_name }}
						</td>
						<td>
							<strong>Godown (Booking): </strong> {{ selected_deal.so_godown_name }}
							<br>
							<strong>Godown (Dispatch): </strong> {{ selected_deal.d_godown_name }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Dispatch Quantity: </strong> {{ selected_deal.total_quantity }}
							{{ selected_deal.unit_type }}
						</td>
						<td>
							<div *ngIf="selected_deal.company_id == 1">
								<strong>Rate: </strong> {{ selected_deal.final_rate |
								currency:selected_deal.currency }}
							</div>
							<div *ngIf="selected_deal.company_id == 2">
								<strong>Bill Rate: </strong> {{ selected_deal.final_rate }}
								<br>
								<strong>Deal Rate: </strong> {{ selected_deal.deal_rate }}
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<strong>E-Way Bill: </strong> {{ selected_deal.e_way_status }}
						</td>
						<td>
							<strong>HSN Code: </strong> {{ selected_deal.hsn_code }}
						</td>
					</tr>
					<tr>
						<td colspan="2" class="bg-warning text-dark">
							<strong>Remark: </strong> {{ selected_deal.remark }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Freight Rate: </strong> {{ selected_deal.freight_rate |
							currency:selected_deal.currency }}
							<br>
							<strong>Total Freight (Inc. Load/Cross): </strong> {{
							selected_deal.total_freight_with_load_cross |
							currency:selected_deal.currency }}
						</td>
						<td>
							<strong>GST Amount: </strong> {{ selected_deal.gst_amount |
							currency:selected_deal.currency }}
							<br>
							<strong>{{selected_deal.tds_tcs_label}} Amount: </strong> {{ selected_deal.tds_tcs_amount |
							currency:selected_deal.currency }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Total Amount: </strong> {{ selected_deal.total_amount |
							currency:selected_deal.currency }}
						</td>
						<td>
							<strong>Total Amount (Without TDS/TCS): </strong> {{ selected_deal.total_amount_without_tds
							|
							currency:selected_deal.currency }}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Invoice No.: </strong> {{ selected_deal.invoice_no }}
						</td>
						<td>
							<strong>Invoice Date: </strong> {{ selected_deal.invoice_date | date: 'dd-MMM-yyyy' }}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>