<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-file"></i> {{page_title}}

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label" for="template">Template</label> 
                                
                                <ng-select id="template" 
                                    placeholder="Select" [searchable]="true"
                                    [clearable]="true" bindLabel="template" bindValue="id"
                                    [items]="template" [(ngModel)]="templateType"  (change) = 'getSubTemplate($event)'>
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label" for="template_content">Select Template Content</label> 
                                <ng-select id="template_content" 
                                    placeholder="Select" [searchable]="true"
                                    [clearable]="true" bindLabel="template_name" bindValue="id"
                                    [items]="templateSubType" [(ngModel)]="templateContent"   (change) = 'getFormFeilds($event)'>
                                </ng-select>
                            </div>
                        </div>


                        <div class="col-md-12" *ngIf="selectedTemplate" >
                             <form [formGroup]="addForm" novalidate class="needs-validation">
                                 <div class="row">
                                    <ng-container *ngFor="let field of fields">
                                       
                                            <div class="col-md-4" *ngIf="field.field_type=='dropdown'">
                                                <div class="form-group">
                                                    <label class="col-form-label" [for]="field.field_name">{{field.label}}</label> <span
                                                        style="color: red ; font-size:6px"><i
                                                            class="fa fa-asterisk "></i></span>
                                                    <ng-select id="zone" [formControlName]="field.field_name"
                                                        [placeholder]="field.label" [searchable]="true"
                                                        [clearable]="true" [bindLabel]="field.option_label" [bindValue]="field.option_value"
                                                        [items]="getItems(field.variable_name)">
                                                    </ng-select>
                                                </div>
                                            </div> 
                                       
                                            <div class="form-group col-6 col-md-4" *ngIf="field.field_type=='text'">
                                                <label class="col-form-label" [for]="field.field_name">{{field.label}}</label> <span
                                                style="color: red ; font-size:6px"><i
                                                    class="fa fa-asterisk "></i></span>
                                                <input type="text" [id]="field.field_name" [placeholder]="field.label"
                                                    [formControlName]="field.field_name" class="form-control">
                                            </div>
        
                                        
                                        </ng-container>
                                

                                </div> 

                                <div class="row">
                                    <div class="form-group col-6 col-md-4">
                                        <label for="imported_data" class="col-form-label">Imported Data Contacts</label>
                                        <div>
                                            <p-inputSwitch id="" formControlName="imported_data" onLabel="Yes"
                                            offLabel="No">
                                        </p-inputSwitch>
                                        </div>
                                      
                                    </div>


                                    <div class="form-group col-12 col-md-12 mt-4">

                                        <button class="btn btn-success mr-1" type="button" (click)="preview()"
                                            [disabled]="addForm.invalid ">
                                            <i class="fa fa-eye"></i> Preview</button>


                                    </div>

                                </div>



                            </form> 
                        </div>

                     
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Preview Data </h4>
                <button type="button" class="close" aria-label="Close" (click)="onClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div *ngIf="isLoading" style="text-align: center;">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                    <div class="col-12 col-md-6">
                        <p [innerHTML]='preview_data'></p>
                    </div>
                    <div class="col-md-6"  *ngIf="template_type && template_type==1">
                        <img width="200px" height="200px" *ngIf="imageUrl" [src]="imageUrl" class="image">
                    </div>
                    <div class="col-md-12">
                        <div class="row" >
                            <div class="col-md-4"*ngIf="!imported" >
                                <div class="form-group">
                                    <label class="col-form-label" for="zone">Division</label> <span
                                        style="color: red ; font-size:6px"><i class="fa fa-asterisk "></i></span>
                                    <ng-select id="zone" placeholder="Select Division Name" [searchable]="true"
                                        [(ngModel)]="company_id" [clearable]="true" bindLabel="name" bindValue="id"
                                        [items]="division" (change)="getMarketingPerson() ; getContactNo()">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="col-md-4" *ngIf="!imported">
                                <div class="form-group">
                                    <label class="col-form-label" for="zone">State</label>
                                    <ng-select id="zone" placeholder="Select State Name" [searchable]="true"
                                        [(ngModel)]="state" [clearable]="true" bindLabel="name" bindValue="id"
                                        [items]="states" multiple=true (change)="getContactNo()">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="col-md-4" *ngIf="!imported">
                                <div class="form-group">
                                    <label class="col-form-label" for="zone">Marketing Person</label>
                                    <ng-select id="zone" placeholder="Select  Name" [searchable]="true"
                                        [(ngModel)]="marketing" [clearable]="true" bindLabel="first_name" bindValue="id"
                                        [items]="marketingList" (change)="getContactNo()">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="col-md-4" *ngIf="imported">
                                <div class="form-group">
                                    <label class="col-form-label" for="company_id">Division</label>
                                    <ng-select id="company_id" placeholder="Select  Division" [searchable]="true"
                                        [(ngModel)]="company_id" [clearable]="true" bindLabel="name" bindValue="id"
                                        [items]="division" (change)="getImportedContacts()">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="col-md-4 " >
                                <label>Upload </label>
                                <input type="file" id="attachment" (change)="addDocs($event)"
                                    [accept]="accept" class="form-control">
                                <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"
                                    *ngIf="loadingImage"></p-progressBar>

                            </div>

                        
                            
                          
                        </div>

                        <div class="row">
                           


                        </div>
                        <div class="row">
                          

                            <div class="col-md-12 mt-4">
                                <label>See All Contact No</label>
                                <p-inputSwitch id="" (onChange)="onChangeToggle($event)" onLabel="Yes" offLabel="No">
                                </p-inputSwitch>
                            </div>
                            <div class="col-md-12" *ngIf="show_mail_list">
                                <button class="btn btn-sm btn-primary" (click)="clearAll()"><i
                                        class="fa fa-close"></i>Clear All</button>
                                <p-chips [(ngModel)]="contact_no_list" separator=",">
                                </p-chips>
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-12 col-md-12 mt-4">

                                <button class="btn btn-success mr-1" type="button" mwlConfirmationPopover
                                    [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                                    [confirmText]="confirmText" [cancelText]="cancelText" [placement]="placement"
                                    [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                                    cancelButtonType="success" (confirm)="sendWhatsapp()"
                                    (cancel)="cancelClicked = true"
                                    [disabled]="company_id == null || company_id == 0 || company_id==undefined ">
                                    <i class="fa fa-whatsapp"></i> Send Whatsapp</button>


                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
