<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="!addBeFlag">
        <div class="card-header">
          <h4><i class="fa fa-file"></i> Bill Of Entry of {{non_invoice}}
            <span class="pull-right"><button *ngIf="be_add" class="btn btn-primary" (click)="addBe()"><i
                  class="fa fa-plus"></i> BE</button>&nbsp;<button class="btn btn-primary" (click)="onBack()"><i
                  class="fa fa-arrow-left "></i> Back</button></span>
          </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <p-table #dt [value]="be_list" dataKey="id" styleClass="ui-table-non " [rowHover]="true" [rows]="10"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [columns]="cols"
                currentPageReportTemplate="Showing &#123;currentPage&#125;   of &#123;totalPages&#125; entries"
                [filterDelay]="0" [globalFilterFields]="[]">


                <ng-template pTemplate="header" let-columns>
                  <tr>

                    <th style="width: 90px;">#</th>
                    <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" [style.width.px]='col.style'>
                      {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                    <th *ngIf="be_edit" style="width: 90px;">Edit </th>
                    <th *ngIf="be_del" style="width: 90px;">Del </th>
                    <th *ngIf="be_license_utilization" style="width: 90px;">Utilize </th>

                  </tr>

                </ng-template>
                <ng-template pTemplate="body" let-expanded="expanded" let-item let-columns>
                  <tr class="ui-selectable-row">

                    <td> <a href="#" [pRowToggler]="item">
                        <i [ngClass]="expanded ? 'pi pi-angle-down' : 'pi pi-angle-right'"></i>
                      </a>
  
                      <span class="badge badge-success" *ngIf="item.shipment_status_master">{{item.shipment_status_master.type}}</span>
                    
                    </td>
                    <td [pRowToggler]>
                      <span class="ui-column-title">BE Date</span>
                      {{item.be_dt | date: 'dd-MM-yyyy'}}


                    </td>

                    <td [pRowToggler]>
                      <span class="ui-column-title">BE Number</span>
                      {{item.be_no}}
                    </td>

                    <td [pRowToggler]>
                      <span class="ui-column-title">BL Number</span>
                      {{item.bl_no}}
                    </td>
                    <td [pRowToggler]>
                      <span class="ui-column-title">Total BL Quantity</span>
                      {{item.bl_qty}}
                    </td>


                    <td [pRowToggler]>
                      <span class="ui-column-title">Covered BL Quantity</span>
                      {{item.covered_bl_qty}}
                    </td>



                    <td >
                      <span class="ui-column-title">BE Copy</span>
                      <span *ngIf="item.be_copy">
                        <div *ngFor="let doc of getDocsArray(item.be_copy)">
                          
                          <a href="{{doc}}"><em class="fa fa-file"></em> {{doc|fileName}} &nbsp;</a>
                        </div>
                      </span>

                    </td>

                    <td>
                      <span class="ui-column-title">TR6 Copy</span>

                      <span *ngIf="item.tr6_copy">
                        <div *ngFor="let doc of getDocsArray(item.tr6_copy)">
                          <a href="{{doc}}"><em class="fa fa-file"></em> {{doc|fileName}} &nbsp;</a>
                        </div>
                      </span>

                    </td>

                    <td *ngIf="be_edit" [pRowToggler]>
                      <span class="ui-column-title">Edit </span>
                      <button class="btn btn-primary btn-sm" (click)="editBe(item)"><i
                          class="fa fa-pencil"></i></button>
                    </td>

                    <td *ngIf="be_del" [pRowToggler]>
                      <span class="ui-column-title">Delete</span>
                      <button class="btn btn-danger btn-sm" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                        [popoverMessage]="popoverMessage" [confirmText]="confirmText" [cancelText]="cancelText"
                        [placement]="placement" [closeOnOutsideClick]="closeOnOutsideClick" confirmButtonType="danger"
                        cancelButtonType="success" (confirm)="deleteBe(item.id)" (cancel)="cancelClicked = true"><i
                          class="fa fa-trash"></i></button>
                    </td>
                    <td *ngIf="be_license_utilization" [pRowToggler]><button class="btn btn-primary btn-sm" (click)="LicenseKnockOff(item)">Utilize
                        License</button></td>

                  </tr>
                </ng-template>

                <!-- <ng-template pTemplate="footer">

              </ng-template> -->

                <ng-template pTemplate="rowexpansion" let-item let-columns='columns'>
                  <tr>
                    <td [attr.colspan]="columns.length + 4">
                      <div class="ui-g ui-fluid" style="font-size:14px;padding:5px">
                        <div class="ui-g-12 ui-md-12">
                          <table class="table table-bordered">
                            <tbody>

                              <tr>
                                <th>Exchanges Rate</th>
                                <td>{{item.exchange_rate}}</td>
                                <th>Insurance</th>
                                <td>{{item.insurance}}</td>

                              </tr>

                              <tr>
                                <th>High Seas Commission</th>
                                <td>{{item.high_seas_commision| nullReplace | currencyInr }}</td>
                                <th>Accessable Val</th>
                                <td>{{item.accessable_val| nullReplace | currencyInr}}</td>

                              </tr>

                              <tr>
                                <th>BCD License Val</th>
                                <td>{{item.bcd_license_val| nullReplace | currencyInr}}</td>

                                <th>BCD Cash Val</th>
                                <td>{{item.bcd_cash_val| nullReplace | currencyInr}}</td>

                              </tr>
                              <tr>
                                <th>SWS Val</th>
                                <td>{{item.sws_val| nullReplace | currencyInr}}</td>
                                <th>Anti Dumping Value</th>
                                <td>{{item.anti_dumping_val| nullReplace | currencyInr}}</td>


                              </tr>

                              <tr>
                                <th>Custom Interest Amount</th>
                                <td>{{item.custom_interest_amt | nullReplace| currencyInr}}</td>
                                <th>Custom Fine Amount</th>
                                <td>{{item.custom_fine_amt | nullReplace| currencyInr}}</td>

                              </tr>
                              <tr>
                                <th>IGST Amount</th>
                                <td>{{item.igst_amt| nullReplace | currencyInr}}</td>
                                <th>Custom Duty Amount</th>
                                <th>{{item.custom_duty_amt| nullReplace | currencyInr}}</th>

                              </tr>

                            </tbody>
                          </table>

                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="11" style="text-align:left">No Data found.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>



      <div class="card" *ngIf="addBeFlag">
        <div class="card-header">
          <h4><i class="fa fa-file"></i> Bill of Entry
            <span class="pull-right"><button class="btn btn-primary" (click)="onBackList()"><i
                  class="fa fa-arrow-left "></i> Back</button></span>
          </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="addBeForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">


                <div class="row">

                  <div class="col-md-12" style="overflow: auto;" *ngIf="addMode">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width: 100px;">BL NO</th>
                          <th style="width: 100px;">Original Qty</th>
                          <th style="width: 100px;">Covered Qty</th>
                          <th style="width: 100px;">Pending Qty</th>
                          <th style="width: 100px;">Now to Cover</th>
                        </tr>

                      </thead>
                      <tbody>
                        <tr formArrayName="blDetails" *ngFor="let item of bl_list  ; let i = index">
                          <ng-container [formGroupName]="i">
                            <td>{{item.bill_lading_no}}</td>
                            <td>{{item.bl_qauntity}}</td>
                            <td>{{item.covered_qty}}</td>
                            <td>{{item.bl_qauntity - item.covered_qty}}</td>
                            <td>
                              <input type="text" class="form-control" formControlName="covered_bl_qty"
                                (change)="checkQty($event,item , i)">
                              <input type="hidden" class="form-control" formControlName="bl_id">
                              <input type="hidden" class="form-control" formControlName="n_id">
                              <input type="hidden" class="form-control" formControlName="original_qty">

                            </td>
                          </ng-container>
                        </tr>


                      </tbody>
                    </table>
                  </div>


                  <div class="form-group col-md-2">
                    <label for="">BE Date</label>
                    <input type="text" class="form-control" formControlName="be_dt"
                      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                      bsDatepicker placeholder="BE Date " style="background-color: white;">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="">BE Number</label>
                    <input type="text" formControlName="be_no" class="form-control" placeholder="BE Number ">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Invoice Value (USD)</label>
                    <input type="text" formControlName="invoice_val" class="form-control" placeholder="Invoice Value"
                      numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Load Charge (USD)</label>
                    <input type="text" formControlName="load_charge" class="form-control" placeholder="Load Charge" (change)="calculateCustomDuty()"
                      numbersOnly>

                  </div>



                  <div class="form-group col-md-2">
                    <label for="">Freight</label>
                    <input type="text" class="form-control" formControlName="freight" (change)="calculateCustomDuty()"
                      numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Insurance</label>
                    <input type="text" class="form-control" formControlName="insurance" (change)="calculateCustomDuty()"
                      numbersOnly>

                  </div>




                  <div class="form-group col-md-2">
                    <label for="">Ex-change Rate</label>
                    <input type="text" class="form-control" formControlName="exchange_rate"
                      (change)="calculateCustomDuty()" numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">High Seas Commission</label>
                    <input type="text" class="form-control" formControlName="high_seas_commision"
                      (change)="calculateCustomDuty()" numbersOnly>

                  </div>



                  <div class="form-group col-md-2">
                    <label for="">Accessable Value</label>
                    <input type="text" formControlName="accessable_val" class="form-control" numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">BCD Percent</label>
                    <input type="text" formControlName="bcd_percent" class="form-control"
                      (change)="changePercent() ;calculateCustomDuty()" numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">BCD License Value</label> <span><input type="checkbox" formControlName="license_val"
                        [checked]="licence_val" (change)="calculateCustomDuty()"></span>
                    <input type="text" formControlName="bcd_license_val" (change)="calculateCustomDuty()"
                      class="form-control" numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">BCD Cash Value</label><span><input type="checkbox" formControlName="cash_val"
                        [checked]="cash_val" (change)="calculateCustomDuty()"></span>
                    <input type="text" formControlName="bcd_cash_val" (change)="calculateCustomDuty()"
                      class="form-control" numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">SWS Value</label>
                    <input type="text" formControlName="sws_val" class="form-control" numbersOnly>

                  </div>



                  <div class="form-group col-md-2">
                    <label for="">Custom Interest Amount</label>
                    <input type="text" formControlName="custom_interest_amt" class="form-control" (change)="calculateCustomDuty(); openRmk($event ,'interest')"  numbersOnly >

                  </div>

                  <div class="form-group col-md-2" *ngIf="int_rmk">
                    <label for="">Custom Interest Remark</label>
                    <input type="text" formControlName="custom_interest_rmk" class="form-control" >

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Custom Fine Amount</label>
                    <input type="text" formControlName="custom_fine_amt" class="form-control" (change)="calculateCustomDuty(); openRmk($event ,'fine')"  numbersOnly>

                  </div>

                  <div class="form-group col-md-2" *ngIf="fine_rmk">
                    <label for="">Custom Fine Remark</label>
                    <input type="text" formControlName="custom_fine_rmk" class="form-control" >

                  </div>



                  <div class="form-group col-md-2">
                    <label for="">Anti Dumping $PMT</label>
                    <input type="text" formControlName="anti_dumping_rate" class="form-control"
                      (change)="calculateCustomDuty()" numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Anti Dumping Value</label>
                    <input type="text" formControlName="anti_dumping_val" class="form-control" numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Anti Dumping Value IGST</label>
                    <input type="text" formControlName="anti_dumping_val_gst" class="form-control" numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Total IGST Amount</label>
                    <input type="text" formControlName="igst_amt" class="form-control" numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Custom Duty Amount</label>
                    <input type="text" formControlName="custom_duty_amt" class="form-control" numbersOnly>

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Custom Duty Date</label>
                    <input type="text" formControlName="custom_duty_date" class="form-control"
                      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" #dp="bsDatepicker"
                      bsDatepicker style="background-color: white;">

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Safe Guard Duty</label>
                    <input type="text" formControlName="safe_guard_duty" class="form-control" placeholder="Safe guard duty"
                      >

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Bill of Entry Copy</label>
                    <input type="file" formControlName="be_copy" class="form-control" placeholder="BE Copy"
                      [multiple]=true (change)="addBeCopy($event)">

                  </div>

                  <div class="form-group col-md-2">
                    <label for="">TR6 Copy</label>
                    <input type="file" formControlName="tr6_copy" class="form-control" placeholder="TR6 Copy"
                      [multiple]=true (change)="addTr6Copy($event)">

                  </div>



                  <div class="form-group col-md-2">
                    <label for="">Mode of Payment</label>
                    <ng-select placeholder="Select" [searchable]="true" [clearable]="true"
                      formControlName="mode_of_payment" bindLabel="value" bindValue="id" [items]="mode_of_payment">
                    </ng-select>


                  </div>

                  <div class="form-group col-md-2">
                    <label for="">Material in Type</label>
                    <ng-select placeholder="Select" [searchable]="true" [clearable]="true"
                      formControlName="be_shipment_status"   bindLabel="type"
                      bindValue="id"
                      [items]="material_type">

                    </ng-select>


                  </div>


                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div *ngIf="docs1.length > 0">
                      <div *ngFor="let doc of docs1 ; let i = index ">
                          <div>
                              <span> <a href="{{doc}}"><em class="fa fa-file"></em>&nbsp;&nbsp; {{getFileName(doc)}}</a></span> <span
                                  style="cursor: pointer;" (click)="deleteFile(i,1)"><em
                                      class="fa fa-trash"></em></span>
                          </div>
                      </div>
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div *ngIf="docs2.length > 0">
                      <div *ngFor="let doc of docs2 ; let i = index ">
                          <div>
                              <span> <a href="{{doc}}"><em class="fa fa-file"></em> &nbsp;&nbsp; {{getFileName(doc)}}</a></span> <span
                                  style="cursor: pointer;" (click)="deleteFile(i,2)"><em
                                      class="fa fa-trash"></em></span>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-12">
                    <button class="btn btn-primary mr-1" type="submit"
                      [disabled]="addBeForm.pristine || addBeForm.invalid">
                      <i class="fa fa-dot-circle-o"></i>Submit</button>

                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<toaster-container [toasterconfig]="toasterconfig"></toaster-container>