<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-3">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>
						<div class="col-md-9 text-right">
							<button type="button" class="btn btn-primary" (click)="onAction(null, 'Add Deal')">
								<i class="fa fa-plus"></i> Add Deal
							</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt dataKey="id" styleClass="sales_orders_table" [value]="data" [rows]="10"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								[globalFilterFields]="filter" (filter)="onFilter($event, dt)"
								(onLazyLoad)="onFilter($event, dt)"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-10">
											<div class="form-inline">
												<a class="btn btn-success text-white mb-1 mr-2" data-toggle="tooltip"
													(click)="exportData('Excel')" data-placement="top" title="Excel">
													<i class="fa fa-file-excel-o"></i>
													<span class="export-text d-none">Excel</span>
												</a>
												<a class="btn btn-danger text-white mb-1 mr-2" data-toggle="tooltip"
													(click)="exportData('pdf')" data-placement="top" title="PDF">
													<i class="fa fa-file-pdf-o"></i>
													<span class="export-text d-none">PDF</span>
												</a>
												<div class="form-group mb-1 mr-1">
													<p-multiSelect [options]="cols" [(ngModel)]="cols"
														optionLabel="header" selectedItemsLabel="{0} columns selected"
														defaultLabel="Choose Columns">
													</p-multiSelect>
												</div>
												<div class="form-group mb-1 mr-2">
													<input pInputText [(ngModel)]="selected_date_range"
														(ngModelChange)="clearDropdown(); getData()"
														[bsConfig]="datePickerConfig" #dp="bsDaterangepicker"
														bsDaterangepicker placeholder="Choose Date Range"
														class="form-control page-filter" readonly />
													<app-dropdown-daterange (dateEvent)="receiveDate($event)"
														[uploadSuccess]="uploadSuccess"></app-dropdown-daterange>

												</div>

											</div>
										</div>
										<div class="col-md-2">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of cols"
											[style.width]='col.style'>
											{{col.header}}
											<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
										</th>
									</tr>
									<tr>
										<th *ngFor="let col of cols" [style.width]='col.style'>
											<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
												defaultLabel="All"
												(onChange)="customFilter($event.value, col.field, 'in')">
											</p-multiSelect>
										</th>
									</tr>
								</ng-template>

								<ng-template pTemplate="body" let-rowData let-expanded="expanded">
									<tr class="ui-selectable-row ">
										<td *ngFor="let col of cols" [style.width]='col.style'
											[ngClass]="(rowData.is_open == 0) ? 'font-weight-bold' : ''">
											<div *ngIf="getColumnPresent(col.field)">
												<div *ngIf="col.field != 'id' && col.field != 'action'">
													<span class="ui-column-title">{{ col.header }}: </span>
													<div *ngIf="col.type == null">
														<div *ngIf="col.field != 'days_left'">
															{{ rowData[col.field] }}
														</div>
													</div>
													<div *ngIf="col.type == 'Quantity'">
														{{ rowData[col.field] }} MT
													</div>
													<div *ngIf="col.type == 'Amount'">
														{{ rowData[col.field] | currency:rowData.currency }}
													</div>
													<div *ngIf="col.type == 'Date'">
														{{ rowData[col.field] | date:'dd-MMM-yyyy' }}
													</div>
												</div>
											</div>
											<div *ngIf="col.field == 'action'">
												<a class="btn btn-outline-info btn-sm action-btn mr-1 mb-1"
													data-toggle="tooltip" data-placement="top" title="Edit/Renew Offer"
													(click)="onAction(rowData, 'Edit')">
													<i class="fa fa-pencil"></i>
												</a>
												<a class="btn btn-outline-danger btn-sm action-btn mr-1 mb-1"
													data-toggle="tooltip" data-placement="top" title="Delete Offer"
													mwlConfirmationPopover [popoverTitle]="popoverTitle"
													[popoverMessage]="popoverMessage" [confirmText]="confirmText"
													[cancelText]="cancelText" [placement]="placement"
													closeOnOutsideClick="true" confirmButtonType="success"
													cancelButtonType="danger" (confirm)="onAction(rowData, 'Delete')"
													(cancel)="cancelClicked = true">
													<i class="fa fa-trash"></i>
												</a>
											</div>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="footer" let-columns>
									<tr>
										<td *ngFor="let col of cols">
											<strong *ngIf="col.type == 'Quantity'">
												Total: {{ col.total | number }} MT
											</strong>

										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length" class="text-center">
											No Data Found
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>