<div class="animated fadeIn">


    <form [formGroup]="supplierDealForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
     <div class="row">
       <div class="col-md-12">
         <div class="card">
           <div class="card-header">
             <i class="fa fa-handshake-o"></i> Edit {{box_title}}
           </div>
           <div class="card-body">

                 <div class="row">

                     <div class="col-6 col-md-6">
                         <div class="form-group">
                             <label class="col-form-label" for="sub_org_id">Suppliers</label>
                             <ng-select
                             id="sub_org_id"
                             formControlName="sub_org_id"
                             placeholder="Select Organization Name"
                             [searchable]="true"
                             [clearable]="true"
                             bindLabel="sub_org_name"
                             bindValue="sub_org_id"
                             [items]="sub_org"
                             (ngModelChange) = "get_org_address($event,sub_org)"
                             [readonly]=true

                             >
                             </ng-select>
                           </div>
                           <p>{{org_address}}</p>
                     </div>
                     <div class="col-6 col-md-2">

                             <div class="form-group">
                               <label class="col-form-label" for="deal_dt">Deal Date</label>
                               <i class="fa fa-calendar"></i>
                               <input type="text"
                               class="form-control"
                               id="deal_dt"
                               formControlName="deal_dt"
                               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                               #dp="bsDatepicker"
                               bsDatepicker
                               [maxDate]="today"
                               placeholder="Enter Deal Date ">
                             </div>

                     </div>
                     <div class="col-6 col-md-2">

                             <div class="form-group">
                               <label class="col-form-label" for="deal_quantity">Deal Quantity</label>
                               <div class="row">
                                   <input type="text"
                                   class="form-control"
                                   id="deal_quantity"
                                   formControlName="deal_quantity"
                                   placeholder="Enter Deal Quantity " numbersOnly>
                                 </div>


                             </div>

                     </div>

                     <div class="col-6 col-md-2">

                      <div class="form-group">
                          <label class="col-form-label" for="deal_rate">Deal Rate</label>
                          <input type="text"
                          class="form-control"
                          id="deal_rate"
                          formControlName="deal_rate"
                          placeholder="Enter Deal Rate " numbersOnly>
                        </div>

                  </div>
                     <div class="col-6 col-md-2">

                       <label class="col-form-label" for="currency_id">Currency</label>
                               <ng-select
                               id="currency_id"
                               formControlName="currency_id"
                               placeholder=" Currency"
                               [searchable]="true"
                               [clearable]="true"
                               bindLabel="name"
                               bindValue="id"
                               [items]="currency"

                               >
                               </ng-select>

                   </div>



                     <div class="col-6 col-md-2">

                         <label class="col-form-label" for="unit_id">Unit</label>
                                 <ng-select
                                 id="unit_id"
                                 formControlName="unit_id"
                                 placeholder="Select Unit"
                                 [searchable]="true"
                                 [clearable]="true"
                                 bindLabel="name"
                                 bindValue="id"
                                 [items]="unit_list"

                                 >
                                 </ng-select>

                     </div>



                     <div class="col-6 col-md-2">

                         <label class="col-form-label" for="shipment_month">Month</label>
                                 <ng-select
                                 id="shipment_month"
                                 formControlName="shipment_month"
                                 placeholder="Select Shipment Month"
                                 [searchable]="true"
                                 [clearable]="true"
                                 bindLabel="name"
                                 bindValue="id"
                                 [items]="month"
                                

                                 >
                                 </ng-select>

                     </div>

                     <div class="col-6 col-md-2">

                         <div class="form-group">
                             <label class="col-form-label" for="shipment_year">Year</label>
                             <input type="text"
                             class="form-control"
                             id="shipment_year"
                             formControlName="shipment_year"
                             placeholder="Enter Shipment Year " [(ngModel)]="curr_year"    [textMask]="{mask: yearMask}">
                           </div>
                     </div>

                     <div class="col-6 col-md-2">

                         <div class="form-group">
                             <label class="col-form-label" for="deal_docs">Upload Deal Documents</label>
                             <input type="file"
                             class="form-control"
                             id="deal_docs"
                             formControlName="deal_docs"
                             placeholder="Enter Deal Docs " multiple (change)="dealDocs($event)">
                           </div>

                           <div [innerHtml]="docs"></div>

                     </div>

                     <div class="col-6 col-md-2">

                         <div class="form-group">
                             <label class="col-form-label" for="indent_quantity">Indent Quantity</label>
                             <input type="text"
                             class="form-control"
                             id="indent_quantity"
                             formControlName="indent_quantity"
                             placeholder="Enter Indent Quantity " numbersOnly>
                           </div>

                     </div>

                     <div class="col-2 col-md-2">

                      <div class="form-group">
                          <label class="col-form-label" for="transnational_sale_pi_qty">Transnational Sale Quantity</label>
                          <input type="text"
                          class="form-control"
                          id="transnational_sale_pi_qty"
                          formControlName="transnational_sale_pi_qty"
                          placeholder="Enter Transnational Quantity " numbersOnly>
                        </div>
                  </div>

                  <div class="col-2 col-md-2">

                    <div class="form-group">
                        <label class="col-form-label" for="forward_sale_pi_qty">Forward Sale Quantity</label>
                        <input type="text"
                        class="form-control"
                        id="forward_sale_pi_qty"
                        formControlName="forward_sale_pi_qty"
                        placeholder="Enter Forward Quantity " numbersOnly>
                      </div>

                </div>


                <div class="col-2 col-md-2">

                  <div class="form-group">
                      <label class="col-form-label" for="highseas_sale_pi_qty">HighSeas Sale Quantity</label>
                      <input type="text"
                      class="form-control"
                      id="highseas_sale_pi_qty"
                      formControlName="highseas_sale_pi_qty"
                      placeholder="Enter HighSeas Quantity " numbersOnly>
                    </div>

              </div>



                     <div class="col-12 col-md-3">

                         <div class="form-group">
                             <label class="col-form-label" for="remark">Remark</label>
                             <textarea
                             class="form-control"
                             id="remark"
                             formControlName="remark"
                             placeholder="Enter Remark " ></textarea>
                           </div>

                     </div>

                 </div>
             </div>

             <div class="card-footer">
                 <button class="btn btn-primary mr-1"
                 type="submit"  [disabled]="supplierDealForm.pristine || supplierDealForm.invalid"
                 >
                 <i class="fa fa-dot-circle-o"></i>Update</button>


                  <button class="btn btn-primary" type="button" (click)="onBack()"
                  ><i class="fa fa-undo"></i>Back</button>
               </div>
           </div>
         </div>
     </div>
   </form>
 </div>

 <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
