<div class="animated fadeIn" >
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header">
            <h4> <i class = "fa fa-file"></i> Bill of Exchange</h4>
          </div>

          <div class="card-body">
              <div class="row">
                <form [formGroup]="billOfExchangeForm" novalidate (ngSubmit)="onSubmitBOE()" autocomplete="off">
                  <div class="col-md-12">
                    <div class="row">

                      <div class="col-md-3 mb-2">
                        <label>Bill of Exchange Date</label>
                        <input type="text"
                        class="form-control"
                        id="be_date"
                        formControlName="be_date"
                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                        #dp="bsDatepicker"
                        bsDatepicker
                        placeholder="Bill of Exchange Date " [(ngModel)]="be_date" readonly (ngModelChange) = "calculateDueDate(be_date)">
                      </div>

                      <div class="col-md-3 mb-2">
                        <label>Bill of Exchage Number</label>
                        <input type="text"
                        class="form-control"
                        id="be_no"
                        formControlName="be_no"
                        placeholder="Bill of Exchange Number " [(ngModel)]="be_no" >
                      </div>

                      <div class="col-md-3 mb-2">
                        <label>Bank Reference Number</label>
                        <input type="text"
                        class="form-control"
                        id="bank_ref_no"
                        formControlName="bank_ref_no"
                        placeholder="Bank Reference Number" [(ngModel)]="bank_ref_no" >
                      </div>

                      <div class="col-md-3 mb-2">
                        <label>Bill of Exchange Due Date</label>
                        <input type="text"
                        class="form-control"
                        id="dut_dt"
                        formControlName="dut_dt"
                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                        #dp="bsDatepicker"
                        bsDatepicker
                        placeholder="Bill of Exchange Date " [(ngModel)]="dut_dt" readonly>
                      </div>


                      <div class="col-md-3 mb-3">
                        <label>Remark</label>
                        <input type="text"
                        class="form-control"
                        id="remark"
                        formControlName="remark"
                        placeholder="Remark" [(ngModel)]="remark" >
                      </div>



                      <div class="col-md-3 mb-2">
                        <label>Upload Copy</label>
                        <input type="file"
                        class="form-control"
                        id="be_copy"
                        formControlName="be_copy"
                        (change)="boe_copy($event)"
                        [multiple]= true
                        >
                      </div>

                    </div>


                    <div class="row" *ngIf='mode == "Add"'>

                      <div class="col-md-12">
                        <p-table [value]="boeArray" styleClass="ui-table-deal ">
                          <ng-template pTemplate="header">
                              <tr>
                                <th>Pi Invoice Number</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Amount Utilize</th>
                                <th>Amount Remaining</th>
                                <th>Payment Term </th>
                                <th>Bill of exchange amount</th>

                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-item let-i="index">
                              <tr>
                                <td>
                                  <span class="ui-column-title">Pi Invoice Number</span>
                                  <span style="font-weight:bold">{{item.proformarefno}}</span>
                                </td>
                                <td>
                                  <span class="ui-column-title">Quantity</span>
                                  <span style="font-weight:bold">{{item.pi_quantity}}</span>
                                </td>

                                <td>
                                  <span class="ui-column-title">Amount Utilize </span>
                                  <span style="font-weight:bold">{{item.pi_amount | currencyInr}}</span>
                                </td>
                                <td></td>
                                <td></td>

                                <td> <span class="ui-column-title">Payment Term </span>
                                  <span style="font-weight:bold">{{item.payment_term}}</span></td>

                                  <td></td>


                              </tr>

                              <tr  *ngFor="let sub_item  of item.deal_details ; let j = index">
                                <ng-container >
                                <td>
                                  <span class="ui-column-title">Deal Id</span>
                                  {{sub_item.con_id }}
                                </td>
                                <td>
                                  <span class="ui-column-title">Quantity</span>
                                  {{sub_item.qty_ingetPiArray_pi_lc}}
                                </td>

                                <td>
                                  <span class="ui-column-title"> Amount </span>
                                  {{sub_item.amt_in_pi | currencyInr}}
                                </td>


                                <td>
                                  <span class="ui-column-title"> Amount Utilize</span>
                                  {{sub_item.bex_amount_utilize | currencyInr}}
                                </td>


                                <td>
                                  <span class="ui-column-title"> Amount Remaining</span>
                                  {{ (sub_item.amt_in_pi - sub_item.bex_amount_utilize) | currencyInr}}
                                </td>

                                 <td>
                                  <span class="ui-column-title">Payment Term</span>
                                  {{sub_item.pay_term}}
                                </td>

                                <td>
                                  <input type="text "  #val (change) ="getPiArray (item, sub_item, val.value, $event ) "numbersOnly>
                                  <input type="hidden"

                                  >
                                </td>
                                </ng-container>

                              </tr>

                          </ng-template>



                      </p-table>
                      </div>
                    </div>

                    <div class="row mt-5">
                      <div class="col-md-12 ">

                        <button type="submit" class="btn btn-primary"  [disabled]="billOfExchangeForm.pristine || billOfExchangeForm.invalid">Submit</button>
                        <button type="button" class="btn btn-primary" (click)="onBack()" >Back</button>
                      </div>
                    </div>
                  </div>
                  </form>
              </div>
           </div>
      </div>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
