<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0" *ngIf="view_opt">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-list"></i> {{ page_title }}
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p-table #dt dataKey="id" styleClass="insider_list_table" [value]="insiderData" [rows]="10"
								[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true"
								[globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
								(onLazyLoad)="onFilter($event, dt)"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">
												<a class="btn btn-success text-white mb-1 mr-2"
													(click)="exportData('Excel')" data-toggle="tooltip"
													data-placement="top" title="Excel">
													<i class="fa fa-file-excel-o"></i>
													<span class="export-text d-none">Excel</span>
												</a>
												<a class="btn btn-danger text-white mb-1 mr-2"
													(click)="exportData('PDF')" data-toggle="tooltip"
													data-placement="top" title="PDF">
													<i class="fa fa-file-pdf-o"></i>
													<span class="export-text d-none">PDF</span>
												</a>
											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header">
									<tr>
										<th>ID</th>
										<th>Child Name</th>
										<th>Parent Name</th>
										<th>Action</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData>
									<tr class="ui-selectable-row">
										<td>{{rowData.id}}</td>
										<td>{{rowData.full_name}}</td>
										<td>
											<div *ngIf="rowData.editMode">
												{{rowData.insider_parent_name}}
											</div>
											<p-dropdown
												*ngIf="insiderParentData.length > 0 && (rowData.insider_parent_id == null || !rowData.editMode)"
												[options]="insiderParentData" optionValue="id" optionLabel="full_name"
												[filter]="true" placeholder="Select Parent Name"
												(onChange)="onAction(rowData, 'Insider_Parent', $event.value)">
											</p-dropdown>
										</td>
										<td>
											<button class="btn btn-dark btn-sm action-btn mx-2 mb-2"
												*ngIf="rowData.insider_parent_id != null">
												<i class="fa fa-pencil" (click)="editData(rowData.id)"></i>
											</button>
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>