<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-exchange"></i>Local Collections
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <p-table #dt dataKey="id" styleClass="middleware_table" [value]="data" [rows]="10"
                                [showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
                                [loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
                                [globalFilterFields]="filter" (onFilter)="onFilter($event, dt)"
                                (onLazyLoad)="onFilter($event, dt)"
                                currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-inline">
                                                <a class="btn btn-success text-white mb-1 mr-2"
                                                    (click)="exportData('Excel')" data-toggle="tooltip"
                                                    data-placement="top" title="Excel">
                                                    <i class="fa fa-file-excel-o"></i>
                                                    <span class="export-text d-none">Excel</span>
                                                </a>
                                                <a class="btn btn-danger text-white mb-1 mr-2"
                                                    (click)="exportData('PDF')" data-toggle="tooltip"
                                                    data-placement="top" title="PDF">
                                                    <i class="fa fa-file-pdf-o"></i>
                                                    <span class="export-text d-none">PDF</span>
                                                </a>

                                                <div class="form-group mb-1 mr-1">
                                                    <input pInputText [(ngModel)]="selected_date_range"
                                                        (ngModelChange)="clearDropdown (); getData()"
                                                        [bsConfig]="datePickerConfig" #dp="bsDaterangepicker"
                                                        [maxDate]="maxDate" bsDaterangepicker
                                                        placeholder="Choose Date Range" class="form-control page-filter"
                                                        readonly />&nbsp;
                                                    <app-dropdown-daterange (dateEvent)="receiveDate($event)"
                                                        [uploadSuccess]="uploadSuccess"></app-dropdown-daterange>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-5">
                                            <button class="btn btn-primary" (click)="getAllTransferPayment()"> Check
                                                Transfer Transactions</button>
                                            <!-- Transfer Amount : {{getTransferAmount(2)}} -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="w-100 mt-1 pull-right">
                                                <input pInputText type="text" class="form-control"
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Global Search" />
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
                                            {{col.header}}
                                            <p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            <p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
                                                defaultLabel="All"
                                                (onChange)="customFilter($event.value, col.field, 'in')">
                                            </p-multiSelect>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                                    <tr class="ui-selectable-row">
                                        <td *ngFor="let col of cols">
                                            <div *ngIf="col.field != 'action'">
                                                <span class="ui-column-title">{{ col.header }}: </span>
                                                <div *ngIf="col.type == null">
                                                    {{ rowData[col.field] }}
                                                </div>
                                                <div *ngIf="col.type == 'Amount'">
                                                    {{ rowData[col.field] | currency:'INR' }}
                                                </div>
                                                <div *ngIf="col.type == 'Date'">
                                                    {{ rowData[col.field] | date:'dd-MMM-yyyy hh:mm a' }}
                                                </div>
                                                <div *ngIf="col.type == 'Date_Time'">
                                                    {{ rowData[col.field] | date:'dd-MMM-yyyy hh:mm a' }}
                                                </div>
                                                <div *ngIf="col.type == 'Badge'">
                                                    <ng-container
                                                        *ngIf="rowData[col.field]=='RECIEVED' ||  rowData[col.field]== 'CREDIT NOTE'">
                                                        <span class="badge badge-success">{{ rowData[col.field] }}
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="rowData[col.field]=='DEBIT NOTE'">
                                                        <span class="badge badge-warning">{{ rowData[col.field]
                                                            }}</span>
                                                    </ng-container>
                                                    <ng-container *ngIf="rowData[col.field]== 'Import'">
                                                        <span class="badge badge-success">{{ rowData[col.field] }}
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="rowData[col.field] == 'Local'">
                                                        <span class="badge badge-warning">{{ rowData[col.field]
                                                            }}</span>
                                                    </ng-container>
                                                    <ng-container *ngIf="rowData[col.field] == 'Suspense / Advance'">
                                                        <span class="badge badge-danger">{{ rowData[col.field] }}</span>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer" let-columns>
                                    <tr>
                                        <td *ngFor="let col of columns">
                                            <strong *ngIf="col.type == 'Amount'">
                                                Total: {{ col.total | currency:'INR' }}
                                            </strong>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="cols.length" class="text-center">
                                            No Data Found
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div bsModal #viewPaymentTransferModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="View Deal" aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-eye"></i> Payment Transfer Details
                </h4>
                <button type="button" class="close" (click)="viewPaymentTransferModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="paymentTableData.length > 0">
                    <table class="table table-striped table-hover table-responsive-lg" [mfData]="paymentTableData"
                        #mf="mfDataTable" [mfRowsOnPage]="5">
                        <thead>
                            <tr>
                                <th style="width: 8%">
                                    <mfDefaultSorter by="srno">Sr.No.</mfDefaultSorter>
                                </th>
                                <th style="width: 25%">
                                    <mfDefaultSorter by="amount">Amount</mfDefaultSorter>
                                </th>
                                <th style="width: 25%">
                                    <mfDefaultSorter by="transfer_date">Transfer Date</mfDefaultSorter>
                                </th>
                                <th style="width: 25%">
                                    <mfDefaultSorter by="utr_no">UTR</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i">
                                <td>{{i+1}}</td>
                                <td>{{item.amount | currency: 'INR' }}</td>
                                <td>{{item.added_date | date: 'dd-MMM-yyyy hh:mm:ss a'}}</td>
                                <td>{{item.utr_no}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><strong> Total :</strong></td>
                                <td class="text-left" colspan="3"><strong> {{getSumOf(paymentTableData,'amount') |
                                        currency : 'INR' }}</strong></td>

                            </tr>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]">
                                    </mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

                <div *ngIf="paymentTableData==[]">
                    <strong>NO TRANSACTION FOUNT FOR THIS DATE RANGE</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>