<div class="animated fadeIn">

  <div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <h4><i class="fa fa-file"></i> {{mode}} PI For {{supplierName}} <span *ngIf="pi_id">( PI ID: {{pi_id}} )</span></h4>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12">

                    <form [formGroup]="generatePiForm" novalidate  autocomplete="off" (ngSubmit) = "onSubmit()">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="">PI Date</label>

                                <div class="form-group">
                                    <input type="text"
                                    class="form-control"
                                    formControlName="pi_date"
                                    id="pi_date"
                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                    #dp="bsDatepicker"
                                    [(ngModel)]="pi_date"
                                    bsDatepicker
                                    placeholder="PI Date " readonly>
                                </div>


                          </div>

                          <div class="col-md-2">
                            <label for="">PI Invoice No</label>

                            <div class="form-group">
                                <input type="text"
                                formControlName="pi_invoice_no"
                                id="pi_invoice_no"
                                class="form-control"
                                [(ngModel)]="pi_invoice_no"
                                placeholder="PI Invoice Number " >
                            </div>
                          </div>

                          <div class="col-md-2">
                            <label for="">Place Of Loading</label>

                            <div class="form-group">
                                <input type="text"
                                formControlName="place_of_loading"
                                id="place_of_loading"
                                class="form-control"
                                [(ngModel)]="place_of_loading"
                                placeholder="Place of Loading " >
                            </div>
                          </div>

                          <div class="col-md-2">
                            <label for="">Place Of Destination</label>

                            <div class="form-group">
                              <ng-select id="place_of_destination" formControlName="place_of_destination" placeholder="Place Of Destination "
										[searchable]="true" [clearable]="true" bindLabel="godown_name" bindValue="id"
										[items]="godownsList" (change)="onChangeValue($event, 'godown')" #selectGodown
										(close)="selectGodown.blur(); selectGodown.focus()">
									</ng-select>
                          
                            </div>
                          </div>
                          <div class="col-md-2">
                            <label for="">Upload Doc</label>

                            <div class="form-group">
                                <input type="file"
                                formControlName="pi_copy"
                                id="pi_copy"
                                class="form-control"
                                [multiple]= true
                                (change)="addDocs($event)"  >
                            </div>
                          </div>


                          <div class="col-md-3">
                            <label for="">Remark</label>

                            <div class="form-group">
                               <textarea class="form-control" placeholder="Remark" formControlName="remark"
                               id="remark"   [(ngModel)]="remark"></textarea>
                             </div>
                           </div>

                      </div>
                    <div class="row" style="overflow-x: scroll;">
                      <div class="col-md-12 mt-3">
                        <h5> Deals To Cover</h5>
                      <table class="table table-striped table-hover table-responsive-lg"
                      [mfData]="dealArray"
                      #mf="mfDataTable"
                      [mfRowsOnPage]="5"

                      >
                        <thead>
                          <tr>
                            <th>
                              <mfDefaultSorter by="sr_no">Sr.No.</mfDefaultSorter>
                            </th>
                            <th> Quantity</th>
                            <th> Rate</th>
                            <th>Total Amount</th>
                            <th>Remaining Amount</th>
                            <th>Amount to cover</th>
                            <th>Payment Term</th>
                            <th>Term</th>
                            <th>Quantity</th>



                          </tr>
                        </thead>
                        <tbody>
                          <tr formArrayName="dealDetails"  *ngFor="let item of mf.data; let i = index" [attr.data-index]="i" [attr.id]="item.sub_org_id">
                            <ng-container [formGroupName]="i">
                            <td>{{i+1}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.rate}}</td>
                            <td>{{(item.deal_value_gst) |currencyInr}} / +GST +TCS</td>
                            <td>{{item.RemainingAmount | currencyInr}}</td>
                            <td><input type="text"
                              formControlName="deal_value" style="width: 100px;" numbersOnly (keyup) ="checkAmount($event,item, i )"
                              ></td>
                              <td>
                                <select formControlName="payment_term" style="width: 200px;">

                                  <option *ngFor="let pay_term of paymentTerm " value = "{{pay_term.pt_id}}">{{pay_term.pay_term}}</option>
                                </select>

                                <input type="hidden"
                                formControlName="deal_id"
                                ></td>
                              <td> <select formControlName="payment_mode" style="width: 100px;">
                                <option *ngFor="let type of paymentMethod " value = "{{type.id}}">{{type.label}}</option>
                              </select> </td>

                              <td><input type="text"
                                formControlName="quantity" style="width: 90px;" numbersOnly (keyup) ="checkQuantity($event,item, i )"
                                > </td>
                            </ng-container>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="9">
                              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>


                      </div>
                    </div>


                    <div class="row mb-3 mt-5">
                      <div class="col-md-12 col-6 text-right">
                       <button type="submit" class="btn btn-primary" [disabled]=" generatePiForm.pristine || generatePiForm.invalid">Submit</button>

                       <button type="button" class="btn btn-primary" (click)="onBack()"  ><i class="fa fa-backward"></i> Back</button>


                      </div>

                    </div>

                </form>

                  </div>
              </div>
           </div>
         </div>
       </div>
     </div>
   </div>


   <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
