<div class="animated fadeIn mt-2">
	<div class="row">
		<div class="col-md-3 pl-1">
			<div class="form-inline">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><em class="fa fa-calendar"></em></span>
						</div>
						<input type="text" id="dateRange" class="form-control" bsDaterangepicker
							[(ngModel)]="bsRangeValue" placeholder="Date Range" [bsConfig]="datePickerConfig"
							(ngModelChange)="onDateChange($event)" placement="bottom">
					</div>
				</div>
			</div>
		</div>

        <div class="col-md-2">

            <ng-select placeholder="Company " [searchable]="true"
                [clearable]="true"  bindLabel="label"
                bindValue="id" [items]="company" [(ngModel)]="selectedCompany" (change)="onChangeCompany($event)"
                >
            </ng-select>
        </div>
	
	</div>
	<br>

	

    <div class="row" *ngIf="isLoading">
		<div class="col-md-2 offset-5">
			<app-loading-spinner></app-loading-spinner>
		</div>
	</div>

	<div *ngIf="!isLoading">
		<div class="row">
			<div class="col-md-12 p-0">
				<div class="card">

                    <div class="card-header">
						<div class="row">
							<div class="col-sm-7">
								<div class="btn-group btn-group-toggle float-left" data-toggle="buttons">
									<ng-container *ngIf="productList">
										<label class="btn btn-outline-secondary text-dark"
											*ngFor="let option of productList" (click)="onChangeProduct(option)"
											btnRadio="option.name" id="option.id">
											{{option.name}}
										</label>
									</ng-container>
								</div>
							</div>
							
						</div>
					</div>
			
					<div class="card-body">
						<div class="row">
							<div class="col-sm-2">
								<div class="callout callout-danger">
									<small class="text-muted">Total Orders</small><br>
									<strong class="h5">{{total_deals |number :
										'1.2-2'}} MT</strong>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="callout callout-danger">
									<small class="text-muted">Total Supplier Deals</small>
									<br>
									<strong class="h5">{{total_supplier |number :
										'1.2-2'}} MT</strong>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="callout callout-danger">
									<small class="text-muted">Total Manufacturer Deals</small>
									<br>
									<strong class="h5">{{total_manufacturer |number :
										'1.2-2'}} MT</strong>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="callout callout-warning">
									<small class="text-muted">Total Lifitng Pending</small>
									<br>
									<strong class="h5">{{lifting_pending |number :
										'1.2-2'}} MT</strong>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="callout callout-success">
									<small class="text-muted">Total Lifting Done</small>
									<br>
									<strong class="h5">{{lifting_done |number :
										'1.2-2'}} MT</strong>
								</div>
							</div>

                            <div class="col-sm-2">
								<div class="callout callout-success">
									<small class="text-muted">Average Rate Supplier</small>
									<br>
									<strong class="h5">{{average_rate_supplier |currencyInr}} </strong>
								</div>
							</div>

                            <div class="col-sm-2">
								<div class="callout callout-success">
									<small class="text-muted">Average Rate Manufacturer</small>
									<br>
									<strong class="h5">{{avg_rate_manufacturer |currencyInr}} </strong>
								</div>
							</div>
						</div>
					
					
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-md-6 col-sm-12 p-0 pr-1" >
				<div class="card">
					<div class="card-header">
						Supplier Average Report
						<div class="card-header-actions">
							<div class="card-header-actions" style="height: 21px;">
							  
							</div>
						</div>
					</div>
					<div class="card-body">
						<p-table #dt dataKey="id" styleClass="dashboard-table" [value]="data1" [rows]="10"
						[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
						[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols1" (onFilter)="onFilter($event, 'supplier')"
						currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
						<ng-template pTemplate="caption" >
					   
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
							
								<th pSortableColumn="{{col.field}}" *ngFor="let col of columns" >
									{{col.header}}
									<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
								</th>
							</tr>
							<tr>
								
								<th *ngFor="let col of columns">
									<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
										defaultLabel="All" appendTo ='body'
										(onChange)="customFilter($event.value, col.field, 'in' , 'supplier')">
									</p-multiSelect>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData let-expanded="expanded">
							<tr class="ui-selectable-row">
							
								<td *ngFor="let col of cols1" >
							   
										<span class="ui-column-title">{{ col.header }}: </span>
										
										<div *ngIf="col.type == null">
											{{ rowData[col.field] }}
										</div>
										<div *ngIf="col.type == 'Quantity'">
											{{ rowData[col.field] }} MT
										</div>
										<div *ngIf="col.type == 'Amount'">
											{{ rowData[col.field] | currency:'INR'  }} 
										</div>
										
						   
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="footer" let-columns>
							<tr>
								
								<td *ngFor="let col of columns" >
									
									<strong *ngIf="col.type == 'Quantity'">
										Total: {{ col.total | number }} MT
									</strong>
									<strong *ngIf="col.field == 'average_rate_supplier'">
										Total: {{avgSupplier | currency:'INR' }}
									</strong>
								</td>
							   
							</tr>
							
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								
								<td [attr.colspan]="cols1.length " class="text-center">
									No Data Found
								</td>
							</tr>
						</ng-template>
					</p-table>
					 
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-12 p-0 pr-1" >
				<div class="card">
					<div class="card-header">
						Manufacturer Average Report
						<div class="card-header-actions">
							<div class="card-header-actions" style="height: 21px;">
							  
							</div>
						</div>
					</div>
					<div class="card-body">
						<p-table #dt2 dataKey="id" styleClass="dashboard-table" [value]="data2" [rows]="10"
						[showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
						[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols2" (onFilter)="onFilter($event, 'manufacturer')"
						currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries">
						<ng-template pTemplate="caption" >
					   
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
							
								<th pSortableColumn="{{col.field}}" *ngFor="let col of columns" >
									{{col.header}}
									<p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
								</th>
							</tr>
							<tr>
								
								<th *ngFor="let col of columns">
									<p-multiSelect *ngIf="col.filter" [options]="col.dropdown"
										defaultLabel="All" appendTo ='body'
										(onChange)="customFilter($event.value, col.field, 'in' , 'manufacturer')">
									</p-multiSelect>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData >
							<tr class="ui-selectable-row">
							
								<td *ngFor="let col of cols2" >
							   
										<span class="ui-column-title">{{ col.header }}: </span>
										
										<div *ngIf="col.type == null">
											{{ rowData[col.field] }}
										</div>
										<div *ngIf="col.type == 'Quantity'">
											{{ rowData[col.field] }} MT
										</div>
										<div *ngIf="col.type == 'Amount'">
											{{ rowData[col.field] | currency:'INR'  }} 
										</div>
										
						   
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="footer" let-columns>
							<tr>
								
								<td *ngFor="let col of columns" >
									<strong *ngIf="col.type == 'Quantity'">
										Total: {{ col.total | number }} MT
									</strong>
									

									
									<strong *ngIf="col.field == 'avg_rate_manufacturer'">
										Total: {{ avgManufacturer | currency:'INR' }}
									</strong>
								</td>
							   
							</tr>
							
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								
								<td [attr.colspan]="cols2.length " class="text-center">
									No Data Found
								</td>
							</tr>
						</ng-template>
					</p-table>
					 
					</div>
				</div>
			</div>
	
	
		</div>
	
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>