<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<h4><i class="fa fa-money"></i> Forward Booking Charges List
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 offset-5" *ngIf="isLoading">
						<app-loading-spinner></app-loading-spinner>
					</div>
				 </div>
				 <div class="card-body">
				 <div class="row">
				<div class="col-md-12">
                 <p-table #dt [value]="ChargesList" styleClass="ui-table-forward-booking-charges" [rowHover]="true"
                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100,150,200]"
                    [paginator]="true"  [autoLayout]="true" [loading]="isLoading"                      
                    currentPageReportTemplate="Total Records : &#123;&#123;ChargesList.length&#125;&#125; "
                    [filterDelay]="0" [globalFilterFields]="['bank_name','forward_book.amount','total_system_charges','total_bank_charges','forwardBookChCreate.createdBy','created_date']"
                    [scrollable]="true" scrollHeight="400px" >
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-inline">
                                    <div class="form-group mb-1 mr-1">
                                        <input pInputText [(ngModel)]="selected_date_range"
                                            (ngModelChange)="clearDropdown(); getBankChargesList()"
                                            [bsConfig]="datePickerConfig" #dp="bsDaterangepicker"
                                            [maxDate]="maxDate" bsDaterangepicker
                                            placeholder="Choose Date Range" class="form-control page-filter"
                                            readonly />
                                        <app-dropdown-daterange (dateEvent)="receiveDate($event)"
                                            [uploadSuccess]="uploadSuccess" style="margin-left:3px">
                                        </app-dropdown-daterange>
                                    </div>

                                    <h6  style="margin-left:10px">Entered Charges:</h6>													
                                    <div class="col-md-2"  style="margin-top:6px"> 
                                        <div class="input-group">
                                            <h6>
                                            <ng-select placeholder="Entered By Status" [searchable]="true"
                                                [clearable]="true" bindLabel="name" bindValue="id"
                                                [items]="status" [(ngModel)]="complete_pending_status"
                                                (change)="onStatusChange($event)" >
                                            </ng-select>
                                        </h6>
                                        </div>
                                    </div>                                    

                                </div>
                            </div>
                            
                            <div class="col-md-2">
                                <div class="w-100 mt-1 pull-right">
                                    <input pInputText type="text" class="form-control"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Global Search" />
                                </div>
                            </div>

                        </div>
                    </ng-template>
                    
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:150px;" pSortableColumn="{{col.field}}" *ngFor="let col of cols"> {{col.header}}</th>
                        </tr>
                        <tr>
                            <th *ngIf=" getColumnPresent('bank_name')">
                                <div *ngIf="banks.length > 0 ">
                                    <p-multiSelect [options]="banks" placeholder="All"
                                    appendTo="body"
                                        (onChange)="onchange($event,'bank_name')" styleClass="ui-column-filter"
                                        optionLabel='bank_name'>
                                        <ng-template let-op pTemplate="item">
                                            <span>&#123;&#123;op.label&#125;&#125;</span>
                                        </ng-template>
                                    </p-multiSelect>
                                </div>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-ChargesList let-index="rowIndex">
                        <tr class="ui-selectable-row">

                            <td style="width:150px;">
                                <span class="ui-column-title">Bank Name</span>
                                {{ChargesList.spipl_bank.bank_name}}
                            </td>
                            <td style="width:150px;">
                                <span class="ui-column-title">Forward Booking Details</span>
                                {{ChargesList.forward_book.amount}}<br>
                                {{ChargesList.forward_book.booking_date | date:'dd-MM-y'}}
                            </td>
                            <td style="width:150px;">


                                <button class="btn btn-outline-primary"
                                    (click)="recalculateCharges(ChargesList.forward_book_id)" *ngIf="forward_book_recalculate">ReCalculate</button>

                                <button class="btn btn-outline-danger" (click)="generatePdf(ChargesList,1)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>



                            </td>
                            <td style="width:150px;">{{ChargesList.total_system_charges |currencyInr }}</td>

                            <td style="width:150px;">
                                <button class="btn btn-outline-primary" (click)="updateCharges(ChargesList)" *ngIf="forward_book_update_charges">Update</button>

                                <button class="btn btn-outline-danger" (click)="generatePdf(ChargesList,2)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>

                            </td>

                            <td style="width:150px;">{{ChargesList.total_bank_charges |currencyInr }}</td>

                            <td style="width:150px;">

                                <button class="btn btn-outline-warning" (click)="checkVoucher(ChargesList.id,1)" *ngIf="forward_book_checked_by">Check
                                     </button>
                                <p *ngIf="ChargesList.checked_date"><span
                                        class="badge badge-warning">{{ChargesList.checked_date | date: 'dd-MM-y
                                        HH:mm:ss'}} </span><br>
                                    <span class="badge badge-warning">{{ChargesList.forwardBookChChecked.checkedBy }} </span>
                                </p>

                            </td>

                            <td style="width:150px;">

                                <button class="btn btn-outline-success" (click)="checkVoucher(ChargesList.id,2)" *ngIf="forward_book_entered_by">Enter
                                     </button>

                                <p *ngIf="ChargesList.entered_date"><span
                                        class="badge badge-pill badge-success">{{ChargesList.entered_date | date:
                                        'dd-MM-y HH:mm:ss'}} </span><br>
                                    <span class="badge badge-pill badge-success">{{ChargesList.forwardBookChEntered.enteredBy
                                        }} </span>
                                </p>
                            </td>
                            <td style="width:150px;">
                                <p *ngIf="ChargesList.created_by">
                                    {{ ChargesList.forwardBookChCreate.createdBy}}
                                </p>
                            </td>
                            <td style="width:150px;">
                                <p *ngIf="ChargesList.created_date">
                                    {{ ChargesList.created_date | date:
                                    'dd-MM-y'}}
                                </p>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td style="text-align: right;width:150px;"></td>
                            <td style="text-align: right;width:150px;"></td>
                            <td style="text-align: right;width:150px;"></td>
                            <td style="text-align: right;width:150px;">{{totalSystemCharges == null? 0 : totalSystemCharges | currencyInr}}</td>
                            <td style="text-align: right;width:150px;"></td>
                            <td style="text-align: right;width:150px;">{{totalBankCharges == null? 0 : totalBankCharges | currencyInr }}</td>
                            <td style="text-align: right;width:150px;"></td>
                            <td style="text-align: right;width:150px;"></td>

                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr>

                            <td colspan="8" style="text-align:left">No Records found.</td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>



<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog modal-lg " role="document" *ngIf="editChargesDetails">
        <div class="modal-content">
            <form [formGroup]="updateChargesForm" novalidate (ngSubmit)="UpdateChargesSave()" autocomplete="off">

                <div class="modal-header">
                    <h4 class="modal-title">Update Charges</h4>
                    <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header">

                                    <b><i class="fa fa-university"></i>Forward Booking Details</b>
                                </div>
                                <div class="card-body">

                                    <div class="row">

                                        <div class="col-6 col-md-4">
                                            <label for="">Charges Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <input type="text" class="form-control" id="charges_date"
                                                formControlName="charges_date"
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                                                #dp="bsDatepicker" bsDatepicker [maxDate]="today" placeholder="Enter Date " 
                                                style="background-color: white;">
                                            </div>
                                            <!-- [(ngModel)]="invoice_date" -->
                                        </div>
                                        
                                        <div class="col-6 col-md-4">

                                            <label class="col-form-label" for="bank_id"> Forward Booking Charges :
                                                {{editChargesDetails.forward_booking_charges}}</label>
                                            <input type="text" class="form-control" id="update_forward_booking_charges"
                                                formControlName="update_forward_booking_charges"
                                                placeholder="Enter Charges ">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary mr-1" type="submit"
                        [disabled]="updateChargesForm.pristine || updateChargesForm.invalid">
                        <i class="fa fa-dot-circle-o"></i>Submit</button>
                </div>


            </form>
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>