
<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-4" *ngIf="add_opt">
        <div class="card">
          <div class="card-header">
            <i class="icon-list"></i> Godown Master
          </div>
          <form [formGroup]="godownMasterForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
          <div class="card-body">
           
               
                  <div class="row">
                    <div class="form-group col-md-6">
                    <label class="col-form-label" for="godown_name">Godown name</label>
                    <input class="form-control"
                           id="godown_name"
                           type="text"
                           formControlName="godown_name"
                           placeholder="Enter Godown"
                           autocomplete="given-name"
                           required
                           autofocus />
  
                          
                  </div>

                  
                    <div class="form-group  col-md-6">
                      <label class="col-form-label" for="port_id">Select Port</label>
                      <ng-select
                      id="port_id"
                      formControlName="port_id"
                      placeholder="Select Port"
                      [searchable]="true"
                      [clearable]="true"
                      bindLabel="port_name"
                      bindValue="id"
                      [items]="port_data"
                      >
                      </ng-select>
                    </div>

                    <div class="form-group  col-md-6">
                      <label class="col-form-label" for="main_godown_id">Select Main Godown</label>
                      <ng-select
                      id="main_godown_id"
                      formControlName="main_godown_id"
                      placeholder="Select Main Godown"
                      [searchable]="true"
                      [clearable]="true"
                      bindLabel="godown_name"
                      bindValue="id"
                      [items]="main_godown_list"
                      >
                      </ng-select>
                    </div>

                    <div class="form-group  col-md-6">
                      <label class="col-form-label" for="godown_type">Select Godown Type</label>
                      <ng-select
                      id="godown_type"
                      formControlName="godown_type"
                      placeholder="Select Godown Type"
                      [searchable]="true"
                      [clearable]="true"
                      bindLabel="name"
                      bindValue="id"
                      [items]="godownTypeList"
                      >
                      </ng-select>
                    </div>

                    <div class="form-group  col-md-6">
                    <label class="col-form-label" for="load_charges">Loading Charges</label>
                    <input class="form-control"
                            id="load_charges"
                            type="text"
                            formControlName="load_charges"
                            placeholder="Enter Loading Charges"
                            autocomplete="given-name"
                            
                            autofocus /> 
                      </div>
                
                      <div class="form-group  col-md-6">
                        <label class="col-form-label" for="cross_charges">Crossing Charges</label>
                        <input class="form-control"
                                id="cross_charges"
                                type="text"
                                formControlName="cross_charges"
                                placeholder="Enter Crossing Charges"
                                autocomplete="given-name"
                                
                                autofocus /> 
                        </div>

                        
                      <div class="form-group  col-md-6">
                        <label class="col-form-label" for="gst_no">GST No.</label>
                        <input class="form-control"
                                id="gst_no"
                                type="text"
                                formControlName="gst_no"
                                placeholder="Enter GST No."
                                autocomplete="given-name"
                                
                                autofocus /> 
                        </div>

                        <div class="form-group  col-md-6">
                            <label class="col-form-label" for="godown_address">Godown Address</label>
                            <input class="form-control"
                                    id="godown_address"
                                    type="text"
                                    formControlName="godown_address"
                                    placeholder="Enter Godown Address"
                                    autocomplete="given-name"
                                    
                                    autofocus /> 
                         </div>
                          
                      <div class="form-group  col-md-6">
                        <label class="col-form-label" for="godown_incharge_name">Godown Incharge Name</label>
                        <input class="form-control"
                                id="godown_incharge_name"
                                type="text"
                                formControlName="godown_incharge_name"
                                placeholder="Enter Godown Incharge name"
                                autocomplete="given-name"
                                
                                autofocus /> 
                        </div>

                        <div class="form-group  col-md-6">
                          <label class="col-form-label" for="godown_incharge_contact">Godown Incharge Contact</label>
                          <input class="form-control"
                                  id="godown_incharge_contact"
                                  type="text"
                                  formControlName="godown_incharge_contact"
                                  placeholder="Enter Godown Incharge Contact"
                                  autocomplete="given-name"
                                  autofocus /> 
                          </div>

                        <div class="form-group  col-md-6">
                            <label for="godown_incharge_sign">Godown Incharge Sign Photo</label>
                            <input type="file"
                            id="godown_incharge_sign"
                            name="godown_incharge_sign"
                            formControlName="godown_incharge_sign"
                            (change)="fileChangeEvent($event)">
                        </div>

                              
                      <div class="form-group  col-md-6">
                        <label class="col-form-label" for="mat_hand_charges">Material Handling Charges(PE,PP)</label>
                        <input class="form-control"
                                id="mat_hand_charges"
                                type="text"
                                formControlName="mat_hand_charges"
                                placeholder="Enter Material Handling Charges"
                                autocomplete="given-name"
                                autofocus /> 
                        </div>

                 
  
               
                </div>
               
           
           
          </div>
          <div class="card-footer">
            <div class="form-group">
              <button class="btn btn-primary mr-1" type="submit" [disabled]="godownMasterForm.pristine || godownMasterForm.invalid">Submit</button>
              <button class="btn btn-danger" type="reset" [disabled]="godownMasterForm.pristine && !submitted" (click)="onReset()">Reset</button>
            </div>
          </div>
        </form>
        </div>
      </div>
      <div class={{size}} *ngIf="view_opt">
      <div class="card">
        <div class="card-header">
          <i class="icon-List"></i>Godown  List &nbsp; &nbsp;
          <i class="fa fas fa-expand" style="text-align-last: right;" (click)="viewfullscreen()"></i>
        </div>
  
        <div class="card-body" style="overflow: auto;"> 
          <div class="row mb-3">
            <div class="col-md-4 offset-md-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search"/>
              </div>
            </div>
          </div>
          <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <table class="table table-striped table-hover table-responsive-lg"
          [mfData]="data | tableFilter : filterQuery:filterArray"
          #mf="mfDataTable"
          [mfRowsOnPage]="5"
          *ngIf="!error && !isLoading"
          >
            <thead>
              <tr>
                <th style="width: 8%">
                  <mfDefaultSorter by="sr_no">Sr.No.</mfDefaultSorter>
                </th>
                <th style="width: 25%">
                  <mfDefaultSorter by="godown_name">Godown Name</mfDefaultSorter>
                </th>
               
                <th style="width: 25%">
                    <mfDefaultSorter by="port">Port</mfDefaultSorter>
                </th>

                <th style="width: 25%">
                <mfDefaultSorter by="godown_address">Godown Address</mfDefaultSorter>
                </th>

                <th style="width: 25%">
                    <mfDefaultSorter by="loading_charges">Loading Charges</mfDefaultSorter>
                </th>

                <th style="width: 25%">
                        <mfDefaultSorter by="crossing_charges">Crossing Charges</mfDefaultSorter>
                </th>
                <th style="width: 25%">
                    <mfDefaultSorter by="gst_no">GST No.</mfDefaultSorter>
               </th>
               <th style="width: 25%">
                <mfDefaultSorter by="godown_incharge_name">Godown Incharge Name</mfDefaultSorter>
               </th>
               <th style="width: 25%">
                <mfDefaultSorter by="godown_incharge_name">Material Handling Charges(PE,PP)</mfDefaultSorter>
               </th>

                <th style="width: 10%" *ngIf="edit_opt">
                  <mfDefaultSorter by="edit">Edit</mfDefaultSorter>
                </th>
                <th style="width: 10%" *ngIf="del_opt">
                  <mfDefaultSorter by="delete">Delete</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i" [attr.id]="item.id">
                <td>{{i+1}}</td>
                <td>{{item.godown_name}}</td>
                <td>{{item.port_master.port_name}}</td>
                <td>{{ item.godown_address }}</td>
                <td>{{ item.load_charges }}</td>
                <td>{{ item.cross_charges }}</td>
                <td>{{ item.gst_no }}</td>
                <td>{{ item.godown_incharge_name }}</td>
                <td>{{ item.mat_hand_charges }}</td>
                
                
                
                <td *ngIf="edit_opt"><a style="cursor: pointer;" (click)="onEdit(item.id)"><i class="fa fa-pencil"></i></a></td>
                
                <td *ngIf="del_opt"><a style="cursor: pointer;"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  [confirmText]="confirmText"
                  [cancelText]="cancelText"
                  [placement]="placement"
                  [closeOnOutsideClick]="closeOnOutsideClick"
                  confirmButtonType="danger"
                  cancelButtonType="success"
                  (confirm)="onDelete(item.id)"
                  (cancel)="cancelClicked = true"
                  ><i class="fa fa-trash"></i></a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="10">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        </div>
      </div>
    </div>
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  </div>
  <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop:'static'}"> 
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form [formGroup]="updateGodownMaster"  (ngSubmit)="onUpdate()" >

        <div class="modal-header">
          <h4 class="modal-title">Update Godown Master</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="row">

            
              <div class="form-group col-md-3 col-6">
                <label class="col-form-label" for="update_godown_name">Godown</label>
                <input class="form-control"
                id="update_godown_name"
                type="text"
                formControlName="update_godown_name"
                placeholder="Enter Godown"
                autocomplete="given-name"
                required
                autofocus />
               
              </div>


                      
                <div class="form-group col-md-3 col-6">
                  <label class="col-form-label" for="update_port_id">Select Port</label>
                  <ng-select
                  id="update_port_id"
                  formControlName="update_port_id"
                  placeholder="Select Port"
                  [searchable]="true"
                  [clearable]="true"
                  bindLabel="port_name"
                  bindValue="id"
                  [items]="port_data"
                  >
                  </ng-select>
                </div>

                <div class="form-group col-md-3 col-6">
                  <label class="col-form-label" for="update_main_godown_id">Select Main Godown</label>
                  <ng-select
                  id="update_main_godown_id"
                  formControlName="update_main_godown_id"
                  placeholder="Select Main Godown"
                  [searchable]="true"
                  [clearable]="true"
                  bindLabel="godown_name"
                  bindValue="id"
                  [items]="main_godown_list"
                  >
                  </ng-select>
                </div>


                
                <div class="form-group col-md-3 col-6">
                  <label class="col-form-label" for="update_godown_type">Select Main Godown</label>
                  <ng-select
                  id="update_godown_type"
                  formControlName="update_godown_type"
                  placeholder="Select Godown Type"
                  [searchable]="true"
                  [clearable]="true"
                  bindLabel="name"
                  bindValue="id"
                  [items]="godownTypeList"
                  >
                  </ng-select>
                </div>

                <div class="form-group col-md-3 col-6">
                <label class="col-form-label" for="update_load_charges">Loading Charges</label>
                <input class="form-control"
                        id="update_load_charges"
                        type="text"
                        formControlName="update_load_charges"
                        placeholder="Enter Loading Charges"
                        autocomplete="given-name"
                        required
                        autofocus /> 
                  </div>
            
                  <div class="form-group col-md-3 col-6">
                    <label class="col-form-label" for="update_cross_charges">Crossing Charges</label>
                    <input class="form-control"
                            id="update_cross_charges"
                            type="text"
                            formControlName="update_cross_charges"
                            placeholder="Enter Crossing Charges"
                            autocomplete="given-name"
                            required
                            autofocus /> 
                    </div>

                    
                  <div class="form-group col-md-3 col-6">
                    <label class="col-form-label" for="update_gst_no">GST No.</label>
                    <input class="form-control"
                            id="update_gst_no"
                            type="text"
                            formControlName="update_gst_no"
                            placeholder="Enter GST No."
                            autocomplete="given-name"
                            required
                            autofocus /> 
                    </div>

                    <div class="form-group col-md-3 col-6">
                        <label class="col-form-label" for="update_godown_address">Godown Address</label>
                        <input class="form-control"
                                id="update_godown_address"
                                type="text"
                                formControlName="update_godown_address"
                                placeholder="Enter Godown Address"
                                autocomplete="given-name"
                                required
                                autofocus /> 
                    </div>
                      
                  <div class="form-group col-md-3 col-6">
                    <label class="col-form-label" for="update_godown_incharge_name">Godown Incharge Name</label>
                    <input class="form-control"
                            id="update_godown_incharge_name"
                            type="text"
                            formControlName="update_godown_incharge_name"
                            placeholder="Enter Godown Incharge name"
                            autocomplete="given-name"
                            required
                            autofocus /> 
                    </div>

                    <div class="form-group col-md-3 col-6">
                      <label class="col-form-label" for="update_godown_incharge_contact">Godown Incharge Contact</label>
                      <input class="form-control"
                              id="update_godown_incharge_contact"
                              type="text"
                              formControlName="update_godown_incharge_contact"
                              placeholder="Enter Godown Incharge Contact"
                              autocomplete="given-name"
                              required
                              autofocus /> 
                      </div>

                    <div class="form-group col-md-3 col-6">
                        <label for="update_godown_incharge_sign">Godown Incharge Sign Photo</label>
                        <input type="file"
                        id="update_godown_incharge_sign"
                        name="update_godown_incharge_sign"
                        formControlName="update_godown_incharge_sign"
                        (change)="fileChangeEvent($event)">
                    </div>

                    <div class="form-group  col-md-6">
                      <label class="col-form-label" for="update_mat_hand_charges">Material Handling Charges(PE,PP)</label>
                      <input class="form-control"
                              id="update_mat_hand_charges"
                              type="text"
                              formControlName="update_mat_hand_charges"
                              placeholder="Enter Material Handling Charges"
                              autocomplete="given-name"
                              autofocus /> 
                      </div>

         

          </div>
        </div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary" >Update</button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  