<div class="animated fadeIn custom_body">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-inr"></i> {{ page_title }}
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-3">
							<input type="text" class="form-control" [(ngModel)]="selected_month" name="selected_month"
								[maxDate]="maxDate" [minDate]="minDate" (ngModelChange)="getMonthlySalary()"
								[bsConfig]="monthPickerConfig" #dp="bsDatepicker" (onShown)="onOpenCalendar($event)"
								bsDatepicker placeholder="Select Month" readonly>
						</div>
						<div class="col-md-3">

						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<p-table #dt1 dataKey="id" styleClass="ui-table-salary" [value]="data" [rows]="10"
								[showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]"
								[loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
								currentPageReportTemplate="Showing &#123;currentPage&#125; of &#123;totalPages&#125; entries"
								[globalFilterFields]="filter">
								<ng-template pTemplate="caption">
									<div class="row">
										<div class="col-md-9">
											<div class="form-inline">
												<a class="btn btn-success text-white" (click)="exportExcel('Excel')">
													<i class="fa fa-file-excel-o"></i> Excel
												</a>
												<button *ngIf="enableSalaryProcessButton" class="btn btn-primary mx-2"
													mwlConfirmationPopover [popoverTitle]="popoverTitle"
													[popoverMessage]="popoverMessage" [confirmText]="confirmText"
													[cancelText]="cancelText" [placement]="placement"
													[closeOnOutsideClick]="closeOnOutsideClick"
													confirmButtonType="success" cancelButtonType="danger"
													(confirm)="salaryProcessDone()" (cancel)="cancelClicked = true">
													<i class="fa fa-check text-white"></i> Salary Process Done
												</button>
												<p-dropdown [options]="statusList" [(ngModel)]="selected_status"
													optionLabel="name" defaultLabel="All"
													(onChange)="onChangeStatus($event)">
												</p-dropdown>
											</div>
										</div>
										<div class="col-md-3">
											<div class="w-100 mt-1 pull-right">
												<input pInputText type="text" class="form-control"
													(input)="dt1.filterGlobal($event.target.value, 'contains')"
													placeholder="Global Search" />
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
											{{col.header}} <p-sortIcon field="{{col.field}}">
											</p-sortIcon>
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-item>
									<tr class="ui-selectable-row">
										<td>
											{{ item.id }}
											<i class="fa fa-check text-success" *ngIf="item.is_calculated == 1"></i>
											<i class="fa fa-check text-success" *ngIf="item.status == 1"></i>
										</td>
										<td>
											<button type="button" class="btn btn-dark btn-sm text-white"
												(click)="viewEmployee(item.emp_id)">
												{{ item.emp_id }}
											</button>
										</td>
										<td>
											<button type="button" class="btn btn-primary text-white"
												(click)="onClickEmployee(item)">
												{{item.emp_name}}
											</button>
										</td>
										<td>{{ item.net_salary }}</td>
										<td>{{ item.total_present }}</td>
										<td>{{ item.total_absent }}</td>
										<td>
											<input type="text" class="form-control w-auto" name="{{item.id}}"
												placeholder="Arrear (+)" value="{{item.arrear_plus}}"
												(change)="onChangeSalaryDetails($event.target.value, item, 'arrear_plus')"
												numbersOnly [readonly]="!enableCalculateButton || item.status == 1">
										</td>
										<td>
											<input type="text" class="form-control w-auto" name="{{item.id}}"
												placeholder="Arrear (+) Remark" value="{{item.arrear_plus_remark}}"
												(change)="onChangeSalaryDetails($event.target.value, item, 'arrear_plus_remark')"
												[readonly]="!enableCalculateButton || item.status == 1">
										</td>
										<td>
											<input type="text" class="form-control w-auto" name="{{item.id}}"
												placeholder="Arrear (-)" value="{{item.arrear_minus }}"
												(change)="onChangeSalaryDetails($event.target.value, item, 'arrear_minus')"
												numbersOnly [readonly]="!enableCalculateButton || item.status == 1">
										</td>
										<td>
											<input type="text" class="form-control w-auto" name="{{item.id}}"
												placeholder="Arrear (-) Remark" value="{{item.arrear_minus_remark}}"
												(change)="onChangeSalaryDetails($event.target.value, item, 'arrear_minus_remark')"
												[readonly]="!enableCalculateButton || item.status == 1">
										</td>
										<td>
											<input type="text" class="form-control w-auto" name="{{item.id}}"
												placeholder="Enter TDS" value="{{item.tds}}"
												(change)="onChangeSalaryDetails($event.target.value, item, 'tds')"
												[readonly]="!enableCalculateButton || item.status == 1">
										</td>
										<td>
											<input type="text" class="form-control w-auto" name="{{item.id}}"
												placeholder="Enter Bonus" value="{{item.bonus}}"
												(change)="onChangeSalaryDetails($event.target.value, item, 'bonus')"
												[readonly]="!enableCalculateButton || item.status == 1">
										</td>
										<td>
											<input type="text" class="form-control w-auto" name="{{item.id}}"
												placeholder="Enter Performance Bonus" value="{{item.performance_bonus}}"
												(change)="onChangeSalaryDetails($event.target.value, item, 'performance_bonus')"
												[readonly]="!enableCalculateButton || item.status == 1">
										</td>
										<td>
											<input type="text" class="form-control w-auto" name="{{item.id}}"
												placeholder="Enter Incentive" value="{{item.incentive}}"
												(change)="onChangeSalaryDetails($event.target.value, item, 'incentive')"
												[readonly]="!enableCalculateButton || item.status == 1">
										</td>
										<td>
											<input type="text" class="form-control w-auto" name="{{item.id}}"
												placeholder="Enter Incentive TDS" value="{{item.incentive_tds}}"
												(change)="onChangeSalaryDetails($event.target.value, item, 'incentive_tds')"
												[readonly]="!enableCalculateButton || item.status == 1">
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td [attr.colspan]="cols.length + 1" class="text-center">No Data
											found.
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>