<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-4" *ngIf="add_opt">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-plus"></i> Add Country
				</div>
				<div class="card-body">
					<form [formGroup]="countryForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
						<div class="form-group">
							<label class="col-form-label" for="country_name">Country Name</label>
							<input class="form-control" id="country_name" type="text" formControlName="country_name"
								placeholder="Enter Country Name" required autofocus />
						</div>
						<div class="form-group">
							<label class="col-form-label" for="country_code">Country Code</label>
							<input class="form-control" id="country_code" type="text" formControlName="country_code"
								placeholder="Enter Country Code" required autofocus />
						</div>
						<div class="form-group">
							<label class="col-form-label" for="phone_code">Phone Code</label>
							<input class="form-control" id="phone_code" type="text" formControlName="phone_code"
								placeholder="Enter Phone Code"  numbersOnly />
						</div>

						<div class="form-group">
							<button class="btn btn-primary mr-1" type="submit"
								[disabled]="countryForm.pristine || countryForm.invalid">Submit</button>
							<button class="btn btn-danger" type="reset" [disabled]="countryForm.pristine && countryForm.invalid">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-8" *ngIf="view_opt">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-eye"></i> View Countries
				</div>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-md-4 offset-md-8">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-search"></i></span>
								</div>
								<input type="text" class="form-control" [(ngModel)]="filterQuery"
									placeholder="Search by name" />
							</div>
						</div>
					</div>
					<div *ngIf="isLoading" style="text-align: center;">
						<app-loading-spinner></app-loading-spinner>
					</div>
					<table class="table table-striped table-hover table-responsive-lg"
						[mfData]="data | tableFilter : filterQuery:filterArray" #mf="mfDataTable" 
						[mfRowsOnPage]="5" *ngIf="!error && !isLoading">
						<thead>
							<tr>
								<th>
									<mfDefaultSorter by="sr_no">Sr. No.</mfDefaultSorter>
								</th>
								<th>
									<mfDefaultSorter by="country_name">Country Name</mfDefaultSorter>
								</th>
								<th>
									<mfDefaultSorter by="country_code">Country Code</mfDefaultSorter>
								</th>
								<th>
									<mfDefaultSorter by="phone_code">Phone Code</mfDefaultSorter>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i" 
							[attr.id]="item.id">
								<td>{{i+1}}</td>
								<td>
									<a (click)="onClick(item.id)" class="country_link">{{item.name}}</a>
								</td>
								<td>{{item.sortname}}</td>
								<td>{{item.phonecode}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6">
									<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,100]"></mfBootstrapPaginator>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>