<div class="animated fadeIn custom_body">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-list"></i> {{ page_title }}
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p-table #dt styleClass="import-data-table" [value]="data" [rows]="10"
                            [showCurrentPageReport]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
                            [loading]="isLoading" [autoLayout]="true" [paginator]="true" [columns]="cols"
                            [globalFilterFields]="filter"  (onFilter)="onFilter($event, dt)"
                            (onLazyLoad)="onFilter($event, dt)">
                                <ng-template pTemplate="caption">

                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-inline">
                                                <a class="btn btn-success text-white mb-1 mr-2"
                                                    (click)="exportData('Excel')" data-toggle="tooltip"
                                                    data-placement="top" title="Excel">
                                                    <i class="fa fa-file-excel-o"></i>
                                                    <span class="export-text d-none">Excel</span>
                                                </a>
                                                <a class="btn btn-danger text-white mb-1 mr-2"
                                                    (click)="exportData('PDF')" data-toggle="tooltip"
                                                    data-placement="top" title="PDF">
                                                    <i class="fa fa-file-pdf-o"></i>
                                                    <span class="export-text d-none">PDF</span>
                                                </a>&nbsp;


                                                <div class="form-group mb-1">

                                                    <button type="button" 
                                                        class="btn btn-primary " 
                                                        (click)="onAction(null, 'import', null)">
                                                        <i class="fa fa-download mr-2"></i> Import CSV
                                                    </button>
                                                </div>

                                                
                                                <span> <p-multiSelect  [(ngModel)]="selectedProduct"  placeholder="Select Product" [options]="products" (onChange) = 'getSelectedProduct($event)'  optionValue="product_name" optionLabel="product_name">
                                                </p-multiSelect></span> 

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="w-100 mt-1 pull-right">
                                                <input pInputText type="text" class="form-control"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Global Search" />
                                            </div>
                                        </div>
                                    </div>



                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th pSortableColumn="{{col.field}}" *ngFor="let col of columns">
                                            <div class="flex justify-content-between align-items-center">
                                                <div>
                                                    <p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
                                                    {{col.header}}
                                                </div>
                                            </div>
                                        </th>

                                    </tr>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            <p-multiSelect *ngIf=" col.filter" [options]="col.dropdown"
                                                placeholder=" Any" appendTo="body"
                                                (onChange)="customFilter($event.value, col.field, 'in')"
                                                [style]="{'width': '100%'}">
                                            </p-multiSelect>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData>
                                    <tr class="ui-selectable-row">
                                        <td *ngFor="let col of cols" [class]="col.align">
                                            <span class="ui-column-title">{{ col.header }}: </span>
                                            <div *ngIf="col.type == null">
                                                {{ rowData[col.field] }}
                                            </div>
                                            <div *ngIf="col.type == 'Date'">
                                                {{ rowData[col.field] | date:'dd-MMM-yyyy' }}
                                            </div>
                                            <div *ngIf="col.type == 'Date_Time'">
                                                {{ rowData[col.field] | date:'dd-MMM-yyyy hh:mm a' }}
                                            </div>

                                        </td>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="cols.length + 1" class="text-center">-
                                            No Data Found
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true" [config]="{backdrop:'static'}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Import Data </h4>
				<button type="button" class="close" aria-label="Close" (click)="onClose()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
                <div class="col-12 md:col-12">
                    <h5>Select File to import</h5>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="col-form-label" for="company_id">Seletct CSV</label>
                            <input accept=".csv" id="csv" type="file"
                                class="form-control"
                                (change)="uploadCSVFile($event)" name="myfile" #fileInput>
                        </div>
                        <div class="col-md-6">
                           
                                <div class="form-group">
                                    <label class="col-form-label" for="company_id">Division</label>
                                    <ng-select id="company_id" placeholder="Select  Division" [searchable]="true"
                                        [(ngModel)]="company_id" [clearable]="true" bindLabel="name" bindValue="id"
                                        [items]="division" >
                                    </ng-select>
                                </div>
                            
                        </div>

                        <div class="col-md-3">

                            <button  type="button" label="Import"
                                class="btn btn-success" (click)="importData()" [disabled]="(fileValue == '' || fileValue == null || fileValue== undefined || this.company_id ==null || this.company_id ==0)"><i class="fa fa-download"></i> Import</button>
                        </div>
                    </div>

                    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" *ngIf="isLoadingImport"></p-progressBar>

                </div>


		


			</div>



		

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<toaster-container [toasterconfig]="toasterconfig"></toaster-container>